[2019-09-05 17:36] heldmoritz commented on #1146
Monty Hall actually works for me. It's just the other two that I coincidentally edited that are not working. Maybe I did something wrong? There were definitely working before I made the edit

[2019-09-08 20:40] ankurankan commented on #1146
@heldmo I am not sure how but the notebooks are not valid jsons after your changes. How did you edit the notebooks?

[2019-09-08 20:59] #1146 closed, assigned to ankurankan

[2019-09-14 08:06] Maple961105 opened #1152 "ImportError: cannot import name 'MmhcEstimator' from 'pgmpy.estimators'"
### Subject of the issue
hi,I am a beginner.I want konw  how to do with this

### Your environment
* pgmpy version 0.1.6
* Python version 3.7
* Operating System windows

[2019-09-16 16:14] ankurankan commented on #1152
@Maple961105 The MMHC Estimator is not implemented yet. There is an open PR for it: https://github.com/pgmpy/pgmpy/pull/721 which you might be able to use.

[2019-09-17 12:03] #1120 closed, assigned to ankurankan

[2019-09-23 03:55] BitaFarkhad opened #1156 "Cannot create inter-time CPD in DBN"
### Subject of the issue
I tried creating the DBN using the example provided in the documentation, but I don't know why the inter-time CPDs do not connect to the model.

### Your environment
* pgmpy version: both v1.6.0, v0.1.8.dev42 tried.
* Python version: 3.7.3
* Operating System:Windows x86_64

### Steps to reproduce
[code]

### Expected behaviour
[<TabularCPD representing P(('D', 0):2) at 0x2

[2019-09-23 09:27] ankurankan opened #1157 "time_slice argument for DynamicBayesianNetwork.get_cpds doesn't work"
### Subject of the issue
The `time_slice` argument doesn't work for any value other than 0.

### Your environment
* pgmpy version: v0.1.8.dev42
* Python version: 3.6
* Operating System: linux

### Steps to reproduce
[code]

### Expected behaviour
Should return the `d_i_cpd`

### Actual behaviour
Returns an empty list

[2019-09-23 09:29] ankurankan commented on #1156
@BitaFarkhad It is actually adding both the cpds to the model. The `get_cpds` method by default only shows the CPDs in the 0th time slice, that why you are only seeing the CPD for `('D', 0)`. You can see all the CPDs using the `.cpds` attribute:
[code]
or can also access them by node names:
[code]

[2019-09-23 09:29] #1156 closed, assigned to nobody

[2019-09-23 09:52] ankurankan opened #1158 "Non-zero mean for SEMs"
### Subject of the issue
The current implementation of SEMs always considers the provided data to have 0 mean. Extend the implementation to handle data with non-zero means.

[2019-09-24 03:49] BitaFarkhad opened #1159 "Using Data to estimate CPDs in DBN"
### Subject of the issue
I have defined a DBN and now, I am trying to use MLE to fit the CPDs. I tried
`mle = MaximumLikelihoodEstimator(dbn, data_pre)`
but it raises an error that
`Maximum Likelihood Estimate is only implemented for BayesianModel`

Is there any alternative way of doing this?

### Your environment
* pgmpy version: v0.1.8.dev42
* Python version: 3.7
* Operating System: Windows

[2019-09-24 09:03] ankurankan commented on #1159
@BitaFarkhad pgmpy currently doesn't have an implementation for learning algrorithms for DBNs.

[2019-09-24 09:03] #1159 closed, assigned to nobody

[2019-09-24 20:08] yujianll commented on #1141
@ankurankan
I noticed you updated some code. I'm wondering are they regarding to any of above issues?

[2019-09-25 05:48] sunny-lazydazz commented on #1077
P.S: The requirements.txt file lists only a few packages:
networkx
numpy
scipy
pandas
pyparsing
pytorch
statsmodels
tqdm
joblib

Just install them using conda to avoid using pip in an anaconda version of python.

[2019-09-25 09:40] #1157 closed, assigned to nobody

[2019-09-25 10:07] #1064 closed, assigned to nobody

[2019-09-25 10:12] ankurankan opened #1162 "Refactor Constriant Based Estimator"
### Subject of the issue
- [x] New class for representing PDAGs.
- [x] Move `pdag_to_dag` to PDAG class
- [ ] Move `model_to_pdag` to DAG class
- [x] Move `skeleton_to_pdag`
- [x] Make `estimate` use conditional independence tests from `CITests.py`
- [x] Make sure it works for continuous data. Add tests for it.
- [ ] Edit the example notebook. Add examples for continuous data.
- [x] Rename Constri

[2019-09-27 12:40] ankurankan opened #1164 "Fix appveyor build"
### Subject of the issue
The appveyor build is failing because conda gets stuck at installing packages.

[2019-09-30 05:34] ayushchauhan opened #1165 "TypeError: 'NoneType' object is not iterable"
### Subject of the issue
The functions for the various sampling methods return the above error if not passed any 'evidence'. You need to change the default value of 'evidence' in these methods to '[]' instead of 'None'.

[2019-10-04 19:59] umutsen opened #1166 "Different results for VariableElimination and BeliefPropagation"
### Subject of the issue

I am testing with a 4-node network with 3 observations and 1 target. I get different results with VariableElimination and BeliefPropagation inferences. What am I missing here?

Code is below, thanks.

### Code

[code]

Results:
VariableElimination: `[0.34615385, 0.65384615]`
BeliefPropagation: `[0.02025, 0.00425]`

[2019-10-08 13:06] ikarthikng opened #1167 "Update existing bayesian model with new data"
### Subject of the issue
Is there a way to update existing bayesian model with new data without wiping out the old model

### Your environment
* pgmpy 0.1.8.dev45
* Python 3.6.8 :: Anaconda, Inc.
* Windows 8.1

### Steps to reproduce
1. I have 200 x 4 of data which I read from database. I successful created a model using the learning method. I saved the model to a XML file.

2. I have new row of d

[2019-10-08 16:05] R2h1 opened #1168 "File "G:\anaconda3\lib\site-packages\pgmpy\estimators\HillClimbSearch.py", line 60, in _legal_operations if nx.is_directed_acyclic_graph(nx.DiGraph(model.edges() + [(X, Y)])): TypeError: unsupported operand type(s) for +: 'OutEdgeView' and 'list'"
### Subject of the issue
Describe your issue here.

### Your environment
* pgmpy version
* Python version
* Operating System

### Steps to reproduce
Tell us how to reproduce this issue. Please provide the complete code if possible.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

[2019-10-08 16:07] R2h1 opened #1169 "unsupported operand type(s) for +: 'OutEdgeView' and 'list'"
### Subject of the issue
Describe your issue here.

### Your environment
* pgmpy version 0.1.7
* Python version 3.7
* Operating System

### Steps to reproduce
Tell us how to reproduce this issue. Please provide the complete code if possible.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

[2019-10-10 15:14] bpshaver commented on #1101
For some reason, this hasn't been fixed yet. For anyone else seeing this issue in the future, you may replace "pytorch" with "torch" in the `requirements.txt` like so:

[code]

(Written as one command for the purposes of a Dockerfile)

[2019-10-10 21:04] bpshaver commented on #993
@ankurankan Why don't you just put package versions in the requirements.txt? Wouldn't that solve this and related problems?

[2019-10-11 08:44] ankurankan commented on #1101
@bpshaver The problem is that pypi and anaconda have different package names for pytorch.

[2019-10-11 08:48] ankurankan commented on #1168
@R2h1 This could be happening because of older version of networkx. Try upgrading it to the latest version.

[2019-10-11 08:48] #1168 closed, assigned to nobody

[2019-10-11 08:48] #1169 closed, assigned to nobody

[2019-10-11 09:02] ankurankan commented on #1166
@umutsen Thanks for reporting this. It shouldn't be happening. I will look into it.

[2019-10-11 09:05] ankurankan commented on #1167
@ikarthikng ML Estimator can't be used for updating the model parameters. You should be able to use the Bayesian Estimator for this though. You will need to pass in the current learned parameters as prior to the estimator and run the fit on the new data.

[2019-10-12 22:20] hysoftwareeng opened #1170 "D-Separation Given by get_independencies() is Wrong"
### Subject of the issue
I am noticing that for many Bayes networks, pgmpy's method get_independencies() is not giving back the correct d-separation results. Please see this example:

![image](https://user-images.githubusercontent.com/7006810/66708288-25c44e00-ed1c-11e9-9cc6-f26bccf18d64.png)

### Your environment
* pgmpy version 0.1.7
* Python version 3.7.4
* Operating System: Windows 10

### Ste

[2019-10-14 07:47] ankurankan commented on #1170
@hysoftwareeng I think you are not finding the exact matches because pgmpy is combining multiple conditions in a single one. For the examples that you have mentioned:  `(F _|_ B, H, C, A)` implies `F _|_ A` and  `(F _|_ B, C, A | H)` implies `F _|_ A | H`.

[2019-10-14 14:16] ankurankan commented on #1165
@ayushchauhan Thanks for reporting this.

[2019-10-14 14:16] #1165 closed, assigned to nobody

[2019-10-14 21:41] Kwanikaze commented on #1025
I'm using the 'assignment' method which returns a list of assignments for the corresponding index.

[2019-10-16 07:40] ankurankan commented on #1025
@EricMibu Sorry about the super late reply. For checking the name-index assignments you can have a look at the `get_state_names` and `get_state_no` methods of `TabularCPD`. The `get_state_names` would return the name of the state corresponding to the index.

[2019-10-21 05:51] FANGOD commented on #1150
@ankurankan We have a lot of nodes in a model, and each node has a value of 0 or 1, and each node has 5w values.

[2019-10-21 14:23] ankurankan opened #1172 "Parallelize the predict methods of models"
### Subject of the issue
The predict methods iterate over all the given data and individually does inference for it. Related #511

[2019-10-21 14:55] NikTheGeek1 opened #1173 "can't learn model structure -returns no cpds"
### Subject of the issue
Trying to replicate the code from chapter 5 of your book: Learning bayesian model structure, page 190

### Your environment
* pgmpy version =  'v0.1.8.dev46'
* Python version = Python 3.7.4
* Operating System = Windows 10

### Steps to reproduce
[code]

### Expected behaviour
Expected to get cpds for P(X) and P(Y) as described in page 190 of the book (Mastering pgm using p

[2019-10-22 04:39] Kwanikaze commented on #1025
I receive an error:
AttributeError: 'TabularCPD' object has no attribute 'get_state_names'

[2019-10-22 13:07] #1170 closed, assigned to nobody

[2019-10-23 11:43] ankurankan commented on #1025
@Kwanikaze That shouldn't happen. Which version of pgmpy (`pgmpy.__version__`) are you using? You can also try updating to the latest dev branch.

[2019-10-23 11:52] ankurankan commented on #1173
@NikTheGeek1 There seems to be an error with the code. You need to specify the model structure to learn it's CPDs but here `coin_model` is an empty model. So, you will need to specify a model with something like this:
[code]
Then the rest of the code should work fine.

[2019-10-23 11:53] #1173 closed, assigned to nobody

[2019-10-23 17:10] Kwanikaze commented on #1025
Hi, the latest version using Conda (pgmpy                     0.1.7                    py37_0    ankurankan)
The object is of type: <class 'pgmpy.factors.discrete.CPD.TabularCPD'>

Edit:
Tried converting the object to a DiscreteFactor so it's type: <class 'pgmpy.factors.discrete.DiscreteFactor.DiscreteFactor'>

But still receive an error:
AttributeError: 'DiscreteFactor' object has no attribute 'g

[2019-10-24 07:57] ankurankan commented on #1025
@Kwanikaze The conda package is a bit outdated, that's why the method isn't there. You can try installing the latest dev branch from github and it should work.

[2019-10-24 07:57] #1025 closed, assigned to nobody

[2019-10-26 11:30] #1172 closed, assigned to nobody

[2019-10-29 08:21] drtianfenghao opened #1177 "MemoryError"
### Subject of the issue
I have  creare a BN.
model = BayesianModel([
                ("A","SD"),("DW","SD"),
                ('A', 'ES'), ('DW', 'ES'),('SD','ES'),
                ('IW', 'IE'), ('DNR', 'IE'),('G','IE'),
                ('DRW', 'LC'), ('DT', 'LC'), ('DRD', 'LC'),
                ('DW', 'C'),("LC","C"),
                ('ES', 'ELP'), ('IE', 'ELP'),("C","ELP"),
                ("ELP

[2019-10-29 13:32] ankurankan commented on #1177
@drtianfenghao Could you give me an idea of the number of states for the variables in the model? Since the model isn't that big, I think the MemoryError might be because of a large number of states for the variables.

[2019-10-29 13:34] #1150 closed, assigned to ankurankan

[2019-10-29 15:03] drtianfenghao commented on #1177
Thank you for your attention！The data in attachment
my code:
model = BayesianModel([
                ("A","SD"),("DW","SD"),
                ('A', 'ES'), ('DW', 'ES'),('SD','ES'),
                ('IW', 'IE'), ('DNR', 'IE'),('G','IE'),
                ('DRW', 'LC'), ('DT', 'LC'), ('DRD', 'LC'),
                ('DW', 'C'),("LC","C"),
                ('ES', 'ELP'), ('IE', 'ELP'),("C","ELP"),

[2019-10-31 10:03] ankurankan commented on #1177
@drtianfenghao I can't see the data. I don't think github allows to attach data to comments. Could you either email it to me or share a link?

[2019-11-02 09:49] ankurankan opened #1178 "BeliefPropagation query method should return a normalized distribution in case of Bayesian Networks"
### Subject of the issue
The current returned discrete factor from the query method of BeliefPropagation is not normalized (i.e the probabilities don't sum to 1). In the case of Bayesian Networks since these Factors are basically CPDs, the probability values should sum to 1.

[2019-11-03 18:36] CurtisRose commented on #927
How was this closed? You say you should be using networkx 2.x. Yet this bug persists? 2 years later? Fix the bug or set the required version of networkx to 1.x.

[2019-11-03 18:42] CurtisRose opened #1179 "TypeError: 'dict_keyiterator' object is not subscriptable"
### Subject of the issue
(base) C:\Users\TsNRe\School\Artificial_Intelligence>python dbn.py
[('D', 0), ('G', 0), ('D', 1), ('G', 1), ('I', 0), ('I', 1)]
[(('D', 0), 2), (('G', 0), 2), (('D', 1), 2), (('G', 1), 2), (('I', 0), 2), (('I', 1), 2)]
Traceback (most recent call last):
  File "dbn.py", line 42, in <module>
    dbn.initialize_initial_state()
  File "C:\Users\TsNRe\Anaconda3\lib\site-packag

[2019-11-04 23:07] ghtie opened #1180 "macOS conda install pgmpy error"
### MacOs conda install pgpmy error
I installed the anaconda version for python 3.7 and above, and tried to install pgmpy using:
conda install -c ankurankan pgmpy

I don't quite understand the error I am getting from the installation

### Your environment
* Python version: 3.7
* Operating System: macOs Mojave 10.14.6

### Error Message
UnsatisfiableError: The following specifications were found
to

[2019-11-05 17:34] ankurankan commented on #927
@CurtisRose It's fixed in the dev branch. The conda package hasn't been updated in a while, that's why you are getting the error. Try building it from the codebase.

[2019-11-05 17:36] ankurankan commented on #1179
Duplicate of #927

[2019-11-05 17:36] #1179 closed, assigned to nobody

[2019-11-05 17:38] ankurankan commented on #1180
@ghtie The conda package is quite old. We are working on getting it to the latest version. In the meanwhile, please try to install the dev branch from github.

[2019-11-05 18:40] Kwanikaze commented on #1141
Also have this KeyError issue when using VariableElimination's .query method and passing in an evidence dictionary.
Nevermind, it works when I pass the state_name instead of the state_no.
Does the evidence dictionary now take the state_name instead of the state_no now?
Using: pgmpy                     0.1.8.dev50

[2019-11-08 01:01] #1180 closed, assigned to nobody

[2019-11-08 15:05] ankurankan commented on #1141
@Kwanikaze It should accept both state names and state numbers. But it seems to be throwing an error at the moment. I will have a look at it.

[2019-11-08 15:44] ankurankan opened #1182 "Support for python 3.8"
Need to wait for all the dependencies to support 3.8 for this. Status of support:
- [x] numpy
- [x] scipy (#10927)
- [x] networkx
- [x] pandas
- [x] pyparsing
- [x] mock
- [x] nose
- [x] pytorch (expected: December #21741)
- [x] pystatsmodels
- [x] black
- [x] tqdm
- [x] joblib

[2019-11-11 04:53] kiennguyen1101 opened #1184 "ModuleNotFoundError: No module named 'torch'"
### Subject of the issue
ModuleNotFoundError: No module named 'torch'

### Your environment
* pgmpy version
0.1.9
* Python version
3.6.8
* Operating System
Debian Stretch
(Docker python:3.6-stretch)

### Steps to reproduce
Tell us how to reproduce this issue. Please provide the complete code if possible.
[code]
### Expected behaviour
Tell us what should happen
it runs
### Actual behaviour
Tell us

[2019-11-11 09:13] ankurankan commented on #1184
@kiennguyen1101 Did you install it using conda? In that case, seems like a problem with the build. I will fix it ASAP. In the meanwhile, you can just manually install pytorch (conda install pytorch) and it will work.

[2019-11-12 06:43] kiennguyen1101 commented on #1184
Hi @ankurankan ,
We have a file of dependencies called requirements.txt and once in a while we build the system
(using pip install -r requirements.txt). It looks like something like this:
[code]

I tested the library and both 0.1.8 and 0.1.9 causes ModuleNotFoundError. Switched back to 0.1.7 and my program works correctly
[code]

[2019-11-12 15:44] ankurankan commented on #1184
@kiennguyen1101 We have added support for Structural Equation Models in 0.1.9 which uses pytorch for training models. The previous versions of pgmpy didn't have a dependency on pytorch.

[2019-11-17 14:30] ankurankan commented on #1184
Fixed in latest conda builds. Closing.

[2019-11-17 14:30] #1184 closed, assigned to nobody

[2019-11-18 12:28] niyatham commented on #1184
I am unable to install torch or pytorch, I am using python environment to do it.
Do not have conda environment.
Can you please help me out?

[2019-11-18 12:38] ankurankan commented on #1184
@nishnik Have you tried installing using pip (`pip install torch`)?

[2019-11-19 15:34] tszumowski commented on #1072
@ankurankan:

I see there are continuous factors as shown [here](http://pgmpy.org/factors.html#continuous). To clarify the above. Is it that continuous models are not supported? Or is it that hybrid continuous-discrete models aren't supported?

If the latter, currently I work around hybrid discrete/continuous by discretiziing continuous features so they fit into a `TabularCPD`. Is that the suggest

[2019-11-19 16:55] nishnik commented on #1184
You meant @niyatham
cc @ankurankan
Also you can look at [https://pytorch.org/](https://pytorch.org/) for installation instructions specific to the OS.

[2019-11-20 09:44] ankurankan commented on #1072
@tszumowski Both continuous and hybrid models are not fully supported. We have some things implemented for continuous models (like ContinuousFactor, LinearGaussianCPD) but it is not yet fully supported in inference and learning algorithms. So, working with discretized values is a good idea for now. Also, if you give features related to continuous variables a try, suggestions/feature requests are m

[2019-11-20 10:23] zhp66 commented on #1152
Traceback (most recent call last):
  File "C:/Users/58413/PycharmProjects/topology/structure learning3.py", line 21, in <module>
    skeleton = mmhc.mmpc()
  File "C:\Users\58413\PycharmProjects\topology\MmhcEstimator.py", line 180, in mmpc
    new_neighbor, new_neighbor_min_assoc = max_min_heuristic(node, neighbors[node])
  File "C:\Users\58413\PycharmProjects\topology\MmhcEstimator.py", line 166

[2019-11-20 10:43] ankurankan commented on #1152
@zhp66 We have recently changed the `test_conditional_independence` method to only return a boolean based on the `p_value`. A simple hack to make this work would be to directly call `pgmpy.estimators.CITests.chi_square` with an additional `data` argument instead of the `test_conditional_independence`.

[2019-11-20 11:29] zhp66 commented on #1152
def assoc(X, Y, Zs):
            """Measure for (conditional) association between variables. Use negative
            p-value of independence test.
            """
            return 1 - self.test_conditional_independence(X, Y, Zs)[1]

How to use test_conditional_independence here？MMHC Algorithm cannot work

[2019-11-20 11:44] ankurankan commented on #1152
@zhp66 Try replacing return `1 - self.test_conditional_independence(X, Y, Zs)[1]` with `return 1 - CITests.chi_square(X, Y, Zs, self.data)[1]`. Also `is_independent` in https://github.com/pgmpy/pgmpy/pull/721/files#diff-5bb2593c4c7e6901df8bc572be120bb7R190 will need to be replaced with `self.test_conditional_independence(X, Y, Zs)`

[2019-11-20 12:28] zhp66 commented on #1152
Thank you, but after I did........

Traceback (most recent call last):
  File "C:/Users/58413/PycharmProjects/topology/3.py", line 9, in <module>
    model = est.estimate()
  File "C:\Users\58413\PycharmProjects\topology\MmhcEstimator.py", line 75, in estimate
    skel = self.mmpc(significance_level)
  File "C:\Users\58413\PycharmProjects\topology\MmhcEstimator.py", line 181, in mmpc
    new_neigh

[2019-11-20 14:30] ankurankan commented on #1152
@zhp66 I fixed all the errors in this branch: https://github.com/ankurankan/pgmpy/tree/pr/721. But I haven't checked if the algorithm is giving the correct outputs, so please verify that if you are using it.

[2019-11-20 14:57] zhp66 commented on #1152
Thank you very much. The problem has been solved

[2019-11-21 10:20] niyatham commented on #1184
Hey @ankurankan yes i had tried that.
It worked fine in 64bit python.
Thanks btw :)

[2019-11-25 12:48] ankurankan commented on #881
Update: We have an anaconda package now and can be installed using `conda install -c ankurankan pgmpy`

[2019-12-02 17:15] Sandy4321 opened #1190 "is it possible to use dependency between many features for learning from data"
### Subject of the issue
is it possible to use dependency between many features for learning from data
for example referencing to
model = BayesianModel([('D', 'G'), ('I', 'G'), ('I', 'S'), ('G', 'L')])
https://github.com/pgmpy/pgmpy/blob/dev/examples/Learning%20from%20data.ipynb

can it be
model = BayesianModel([('D', 'I', 'G', 'L', 'S'), ('I', 'G'), ('I', 'S'), ('G', 'L')])
or
model = BayesianMod

[2019-12-02 17:43] Sandy4321 opened #1191 "is it possible to use for classification when variables are not dependent at all so it will be just naive Bayesian"
### Subject of the issue
is it possible to use for classification when variables are not dependent at all so it will be just naive Bayesian
from this example
# Generating radom data with each variable have 2 states and equal probabilities for each state
import numpy as np
import pandas as pd

raw_data = np.random.randint(low=0, high=2, size=(1000, 5))
data = pd.DataFrame(raw_data, columns=['D', 'I

[2019-12-05 10:04] ankurankan commented on #1190
@Sandy4321 I am sorry but I am not sure what exactly do you mean by many features. In a Bayesian Network, each node is supposed to be a random variable and while initializing the network we specify the direction of effect. For example in the student model, the ('D', 'G') represents that the difficulty (D) of a course affects the grade (G) that the student gets. If you could give me details on what

[2019-12-05 10:12] ankurankan commented on #1191
@Sandy4321 I think you might be slightly mistaken about the assumptions that the Naive Bayes model makes. It doesn't assume all the variables to be independent of each other (in that case it would be impossible to predict anything as the correlation between any two variables would be 0). The assumption made by Naive Bayes is rather that the feature variables are independent of each other given the

[2019-12-05 10:12] #1191 closed, assigned to nobody

[2019-12-05 10:12] #1190 closed, assigned to nobody

[2019-12-05 10:51] ankurankan opened #1192 "Remove dependency on six"
### Subject of the issue
The `six` module was being used to make the code compatible between python 2 and 3. But since we only support python 3 versions now, it is no longer needed.

[2019-12-05 13:33] #1192 closed, assigned to ankurankan

[2019-12-05 16:16] ankurankan opened #1197 "Add checks to handle the case when there are common variables in evidence and variables in query method"
### Subject of the issue
Currently, if there are any common variables in `variables` and `evidence` in the `query` methods, it throws a `KeyError`. Add a check to handle this and output a more meaningful message.

### Steps to reproduce
Ref: https://stackoverflow.com/questions/59193949/variable-elemination-inference-map-query-error-for-bayesianmodel/59199179#59199179
[code]

### Expected behavior

[2019-12-10 13:58] ankurankan opened #1198 "Add github actions to deploy to pypi and conda when commit is tagged"
We are experimenting with moving the CI testing from travis and appveyor to github actions. If this works well also add actions to deploy to pypi and conda whenever a commit is pushed with a version tag.

- [x] Change config files to skip some tests only on some platforms (Maybe make copies of the config for each platform and skip tests where needed)
- [x] Add codecov action (https://github.com/co

[2019-12-11 13:13] yaowang1111 opened #1201 "Can the structure learning and parameter learning functions used to learn DBN?"
Hi~

I'm wondering if pgmpy can learn DBN structures and parameters?
I'm new to this field and i looked at the code and see no such sign.
I think it would be helpful if there are some example showing how to solve this problem.

Thanks

[2019-12-11 14:51] ankurankan commented on #1201
@yaowang1111 pgmpy currently only supports inference in DBNs. Parameter and Structure learning in DBN is not supported yet.

[2019-12-11 14:58] yaowang1111 commented on #1201
Thanks for the reply!
Do you know if there were packages that can do the job ?
And are there plans for supporting it in pgmpy?

[2019-12-11 15:08] ankurankan commented on #1201
@yaowang1111

To the best of my knowledge, there aren't any packages in python supporting that yet. But `bnlearn`(http://www.bnlearn.com/) in R has the functionality to learn dynamic networks, you can give it a try.

Yes, I would like to have algorithms for DBN but it is not a priority for me at the moment. But you are always welcome to contribute if you would like :)

[2019-12-11 15:17] yaowang1111 commented on #1201
Really useful information, thanks!
I'm really new to this field, will try~

[2019-12-11 15:17] #1201 closed, assigned to nobody

[2019-12-24 15:50] thomast8 opened #1205 "Inference fails for disconnected graphs in v0.19"
### Subject of the issue
Variable Elimination and Belief Propagation worked fine in v0.18 but are broken in v0.19 for a specific graph I am using.
I'm quite sure the issue is due to the fact that the graphs have disconnected components.
When running `query()` on the resulting object, I receive the following errors, if using VariableElimination or BeliefPropagation:
[code]
[code]

The DOT represent

[2020-01-02 16:39] Erotemic commented on #782
Any update here, or places where help is needed?

[2020-01-07 08:18] #1205 closed, assigned to nobody

[2020-01-07 08:19] ankurankan commented on #1205
@Tioz90 Thanks for reporting this. Has been fixed in the latest dev.

[2020-01-07 08:53] #1197 closed, assigned to nobody

[2020-01-07 09:49] ankurankan commented on #782
A lot has changed since our last discussion on this. Some really nice probabilistic programming tools are now available to work with complex distributions (like pymc4, edward) which majorly use sampling methods and variational inference. With these tools now available, I am not sure where exactly does Bayesian Networks fit in the scene because, from a purely computational perspective, they are jus

[2020-01-10 04:54] ksachdeva opened #1211 "Excellent library but still at release 0.1.9 ?"
This is not an issue. As a matter of fact I am quite impressed with the library.

I am relatively new to PGM and have been reading Daphne Koller's iconic book and have found this repository to be extremely helpful in seeing a lot of concepts being realized with s/w.

That said, it seems like the library is in development for 5 years or so and yet the version is at 0.1.9. Even the repo has 1.3K sta

[2020-01-10 14:09] ankurankan commented on #1211
@ksachdeva Thanks for the kind words. Well, we wanted to have a very stable core codebase for version 1, and we are quite far from it right now as the core things (including the API) still change quite frequently. Also, if you compare to something like sklearn, it is still at 0.22 and we are nowhere close to it in terms of stability.

[2020-01-10 14:09] #1211 closed, assigned to nobody

[2020-01-10 14:56] ksachdeva commented on #1211
Thanks @ankurankan.

Is there some sort of roadmap ? Identified list of features, test coverage etc that you envision or must have in order to reach 1.0.

Regards
Kapil

[2020-01-11 21:19] andreeairimia opened #1213 "ValueError: Values array must be of size: 72"
I'm creating a bayesian network using BayesianModel and trying to add the CPD for a child with two parents following the documentation:

[code]

The parents CPDs are:

[code]

However the `evidence` and `evidence_card` attributes trigger the following error:

[code]

I installed pgmpy using `pip3 install pgmpy` which takes version 0.1.9 and should be the most updated version.
I have tried both on

[2020-01-12 15:32] zekiblue commented on #949
It there any solution for this question, i am also having the same problem

[2020-01-13 12:19] ankurankan commented on #1213
@axi672 I think the error is correct (though should be clearer). Since variable C has two parents A and B both with a cardinality of 6. The CPD shape for C should be (2, 6*6) i.e. (2, 36) but the values specified in cpd for C is of shape (2, 6), hence the error.

I will improve the error message though to make it clearer.

[2020-01-13 18:00] ankurankan commented on #1211
@ksachdeva I don't have a very detailed roadmap towards 1.0 but for 0.2 we have a roadmap here: https://github.com/pgmpy/pgmpy/projects/4.

[2020-01-13 18:25] ankurankan opened #1214 "XML Belief Network writer class hardcoded for variables with cardinality 2"
The current implementation seems to be hardcoded to work only for the CPDs of variables having a cardinality of 2. The lines at: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/readwrite/XMLBeliefNetwork.py#L451. The `range` here makes the assumption of cardinality of 2.

[2020-01-13 19:40] #1213 closed, assigned to nobody

[2020-01-14 16:03] ankurankan opened #1218 "Robust tests for readwrite module"
The tests for `pgmpy.readwrite` modules are quite basic. More tests need to be added particularly to check the following:
- [ ] Different order of inputs results in the same model.
- [ ] Writing and reading a model back gives us the same exact original model.
- [ ] Changing the order in which evidence is defined gives the same model.
- [ ] Changing the order in which states are defined gives the s

[2020-01-14 17:03] #949 closed, assigned to nobody

[2020-01-14 17:03] ankurankan commented on #949
@gammazplaude This should be fixed now. There is a caveat though: If the state names for your CPDs are integers (if state names are not explicitly specified, pgmpy will automatically assign integers), when reading back from the file, they are read as strings. Since there is no way to distinguish whether the original state name was an int or str after being written to a file, right now it is always

[2020-01-14 19:03] Erotemic commented on #782
So I'm very much a beginner when it comes to probabilistic graphical models (computer-vision is my main topic area). I'm somewhat aware of the fact that computationally Bayes nets are equivalent to factorized distributions, but I wouldn't be able to explain the details.

Something that pgmpy brings to the table for me is that I find its interface to be very intuitive and it gives me the ability to

[2020-01-15 12:57] tomkovna opened #1220 "Updating already defined CPT for given model"
### Subject
Updating already defined CPT for given model, with new data points containing missing values gives error. Maybe it should be tested if it works with data without missing values.

### Your environment
pgmpy version - 0.1.9
Python version - 3.7
Operating System - macOS Catalina 10.15.2

### Steps to reproduce
[code]

### Expected behaviour
Previously defined conditional probabilities sho

[2020-01-16 11:51] ankurankan opened #1221 "Inconsistent reading and writing from files because of state names"
By default, pgmpy assigns an `int` type state name to variables if no state names are explicitly specified. This creates a problem when these models are written to a file and read back. Since there is no way to differentiate between an `int` type state or `str` type state (i.e whether the state was `0` or `'0'` when written) when reading from the file, it can lead to unexpected results. The reader

[2020-01-16 13:24] ankurankan commented on #782
@Erotemic Thanks for sharing your thoughts on this.

I see probabilistic programming (PP) tools (pymc4 and edward) to be broader than Bayes nets. Bayes nets are a specific way of specifying a distribution by factorizing it into smaller parts and the factorization can give us more insights into the distribution (like dependence structures, Causal inference). PP, on the other hand, allows us to repr

[2020-01-19 20:56] fborcic commented on #889
In my case, the error meant that I was trying to get the distribution for a variable appearing in the evidence dict. Judging by the description, I'd say OP might have had the same problem

[2020-01-20 12:16] andreeairimia opened #1222 "ValueError: No sepset found between these two edges"
I'm trying to do Belief Propagation on a BayesianModel, and get the following when running:

[code]

I'm working with the latest github version in google colab with python 3.6

I understand that BeliefPropagation is first creating the junction tree and that's the step where it fails. My network does not have paths between all nodes, however I've used another software on my network that does its be

[2020-01-20 16:02] ankurankan commented on #889
@fborcic I have recently added a more meaningful message in the case when any of the variables appear both in `variables` and `evidence`.

[2020-01-27 10:27] ankurankan commented on #1222
@axi672 I think this could be happening because of graph moralization not considering disconnected nodes. But I think I have already fixed that, are you using the latest version? Else, could you share your code, so that I can reproduce the error?

1. Yes, in the exact case they should give almost the same results. With BeliefPropagation, since it's an iterative algorithm, you can control how much

[2020-01-27 11:08] #1214 closed, assigned to nobody

[2020-01-27 21:31] axi672 commented on #1222
@ankurankan Thanks a lot for your reply! Just another question as I couldn't find resources for this, is there a way to define conditional probabilities using equations instead of the whole table?

[2020-01-27 21:48] andreeairimia commented on #1222
@ankurankan Thanks a lot for your reply! For the first part of my enquiry, I am cloning pgmpy directly from github so it's the latest version and this is the code giving the error:

[code]

I also tried using BeliefPropagation on a different network structure that doesn't have isolated nodes, which worked however not only it yields different results compared to Variable Elimination (in the exact s

[2020-01-28 07:32] ankurankan opened #1223 "Add an option in ConstraintBasedEstimator to control the max number of independence variables"

[2020-01-28 08:10] #1223 closed, assigned to nobody

[2020-01-28 08:33] ankurankan commented on #1222
@axi672 Could you also share the model that you are using?

That shouldn't be happening either. But again it's difficult to figure the reason without the code that you are running. So, if you can share that as well, I can check what's going wrong.

[2020-01-28 09:43] andreeairimia commented on #1222
@ankurankan This is for the first network structure, the one with disconnected nodes.

[code]

Next, I set up CPDs for all children to be 0.5 as priors using this function:

[code]

For the only child that has 2 parents, `sac`, I set up different probabilities just to test things out:

[code]

Here's how the network looks like https://i.imgur.com/d8YjMYR.png for which BeliefPropagation gives `Valu

[2020-01-28 10:36] andreeairimia commented on #1222
@ankurankan Unrelated question: since I have experimented with different network structures, I was wondering whether there's a way to define conditional probabilities using equations instead of the whole table? This would help especially for nodes with many parents and states.

Also, since pgmpy uses networkx, is there a way for a network to have weighted edges to somehow mimic the idea of some pa

[2020-01-30 09:19] ankurankan opened #1225 "Add more base structures for causal inference"
The current implementation of causal inference functionality is limited to DAGs but more generalized representations have been used in literature.

- [x] Ancestoral Graphs (directed mixed graphs)
- [ ] MAG (Maximal Ancestral graph)
- [ ] PAG (Partial Ancestral graph)

After the implementation of these, the current causal inference functionality can be extended to these.

Reference:
[1] Zhang, J. (

[2020-01-30 17:44] #1084 closed, assigned to nobody

[2020-01-30 17:45] ankurankan commented on #1222
@axi672 The no sepset error is a bug because of BeliefPropagation trying to find sepset in disconnected parts. I will try to fix that.

The values from the `BeliefPropagation` is different because it's not normalized. You can just call `.normalize` on the CPD and it would be the same as Variable Elimination. Although BeliefPropagation should automatically return normalized values, I will check why

[2020-01-31 08:10] joelkim opened #1226 "how to convert JointProbabilityDistribution from TabularCPD"
I implemented P(B|A) and P(A) using TabularCPD class and found P(B|A) * P(A) is also TabularCPD class. It has the values of P(A,B) = P(B|A) * P(A).
How can I this TabularCPD class object to JointProbabilityDistribution class object?

Thanks in advance.

[2020-01-31 09:24] ankurankan commented on #1226
@joelkim You can call the `to_factor` method of `TabularCPD` to convert it into a `DiscreteFactor` instance. `DiscreteFactor` is a generalized implementation of Joint distribution in the sense that the values don't need to sum to `1`. And therefore to get the probability values you will then need to normalize the factor. Something like this:

[code]

[2020-01-31 09:24] #1226 closed, assigned to nobody

[2020-02-02 13:06] andreeairimia commented on #1222
@ankurankan Thanks for your help!

It might be that `normalize` is the issue? When applied to the result, it returns None.

Looking at the SEM model I'm trying to figure out what can be done at the moment with it. I have tried `CausalInference`, since a comment in the code base mentions it works over SEM, and some other types of inference but with no luck. I also found it hard to understand how an

[2020-02-03 08:39] ankurankan commented on #1222
@axi672

It by default changes the object it's called on, that's why it's returning None. To get a new normalized object, you can pass `inplace=False` to `normalize`.

I will try to give a short structure of things in pgmpy. There are two main types of models, Bayesian and Markov (though most of the features implemented are for Bayesian Networks). The rest of them are either special cases of these

[2020-02-04 10:11] andreeairimia commented on #1222
I see, thanks a lot for your explanation!

[2020-02-10 12:15] gstephy commented on #1048
@here, This is a nasty one for me. I have a lot of nodes with children having the same CPD. Looks like this's been there for a while now, is there a known workaround?

[2020-02-10 18:13] pashen1190 opened #1227 "Import Error-cannot import name 'BDeuScore' from 'pgmpy.estimators.BDeuScore"
### Subject of the issue
Import Error-cannot import name 'BDeuScore' from 'pgmpy.estimators.BDeuScore

### Your environment
* pgmpy version -0.1.10
* Python version-3.7
* Operating System-windows x64

### Steps to reproduce
I just tried to access BayesianEstimator using pgmpy.estimators library

### Expected behaviour
Respective library should have been imported without errors

### Actual behaviou

[2020-02-11 12:28] dddpt commented on #1048
Hello @gstephy!

In our case we sadly had to find another solution for inference. What we did is that we build our Bayesian Network with pgmpy and then transfer it to a [Netica](https://www.norsys.com/netica_api.html) representation for inference (with C homecooked bindings): far from optimal. The upshot is that we gained an x80 speed boost.

Another option that seems more up to date that we found

[2020-02-11 12:50] gstephy commented on #1048
Thanks @dddpt !  Nice solution, I'll try it if I get into issues with the below workaround.

I my case, on a graph with couple hundred nodes, tiny jittering of probabilities on nodes, under each parent having children with the exact same CPDs, by say 0.001, gave me very close results. And of course I had to add few more rigorous tests to make sure the overall model stayed intact.

Hopefully this g

[2020-02-11 14:07] LienM opened #1228 "ImportError in v0.1.10"
### Subject of the issue
ImportError in pgmpy 0.1.10

### Your environment
* 0.1.10
* Python 3.7.4
* Mac OS

### Steps to reproduce
[code]

### Expected behaviour
Import should succeed.

### Actual behaviour
Import fails.

[2020-02-11 14:08] LienM commented on #1228
I've already fixed it for me locally, so I'll try to make a PR after I review the contribution guidelines ;-)

[2020-02-11 14:14] ankurankan commented on #1228
@LienM Thanks for reporting this. But could you please double-check which version of pgmpy you are using because the latest should be `0.1.10` not `0.10.1`? Also, I tried to do the import and it works for me.

[2020-02-11 14:20] LienM commented on #1228
@ankurankan Let me check that install again 🤔

[2020-02-11 14:23] LienM commented on #1228
Yeah I just messed it up in my title. Sorry, I do that a lot 😅 It was 0.1.10 that I installed.

It keeps failing for me though and I've tried several times
- First in my current active virtualenv
- Clean install in a new virtualenv with only pgmpy installed (original msg)

What's the difference between your environment and mine?

[2020-02-11 14:24] LienM commented on #1228
The fix for me is in in StructureScore.py, updating line 3:
`from pgmpy.estimators import BaseEstimator`
to
`from pgmpy.estimators.base import BaseEstimator`

[2020-02-11 14:30] LienM commented on #1228
I'll do some more testing because if I clone and install `dev` locally, without my "fix", it works as well.
I'll let you know if/when I figure out what went wrong with the version I installed from PyPi.

[2020-02-11 14:36] ankurankan commented on #1228
@LienM I am not exactly sure why this is happening for you. I just tested it in a new environment (using pip on both python 3.6 and 3.7) and it works fine for me.

[2020-02-11 14:37] LienM commented on #1228
I'm clueless. I tried another clean install from PyPi (not from my cache) and the import fails. I install the dev branch in a separate environment and the import works fine. 🤷‍♀

[2020-02-11 15:07] LienM commented on #1228
@ankurankan I enlisted two volunteers here at work :-), both encountered the exact same ImportError.
We're all on Mac OS. (Python 3.7.6, 3.7.4).
And they unconvered the real cause:
[code]

class BdeuScore(StructureScore): 🎉 -> The D was not capitalised.

Could it be that version 0.1.10 that was pushed to PyPi was an earlier commit that didn't include that update?

[2020-02-11 17:36] ankurankan commented on #1228
@LienM Not really. I just checked the source files on pypi and it uses `BDeuScore` everywhere. I also checked the commit tagged with version `0.1.10` and it also uses `BDeuScore`. I also verified the commit: https://github.com/pgmpy/pgmpy/commit/ad95205, and all the name changes have been done in this commit. So, I am not sure how some of the names are `BdeuScore` in your case.

Could you verify o

[2020-02-11 18:06] ankurankan commented on #1048
@dddpt @gstephy Sorry for so much delay on this. I tried running @dddpt 's code and it has been fixed now and I am able to get the same results as the reported Matlab one. Here's the code with some minor changes because of changes in API:
[code]
And the output:
[code]
I am not absolutely sure whether this was a problem in junction trees or inference because we have done some fixes in both.

@gstep

[2020-02-11 18:08] CrapsJeroen commented on #1228
Hi @ankurankan , the .whl file which gets installed by pip seems to be containing both BDeuScore.py and BdeuScore.py files. So it seems that the source files and the .whl are not consistent on the pypi currently.
![Capture](https://user-images.githubusercontent.com/7201454/74264934-da3da300-4d01-11ea-9b66-5bb11f7fe376.PNG)

[2020-02-11 18:08] dddpt commented on #1048
@ankurankan great! Good to now it's fixed ;-)

[2020-02-11 18:15] ankurankan commented on #1228
Hmm, this is very weird. It might be because of some caching on pypi or travis. But @LienM @CrapsJeroen thanks a lot for reporting this, I will try to get it fixed in next deployment.

[2020-02-11 18:38] LienM commented on #1228
@CrapsJeroen Thx, I never would have known to look there 😍 @ankurankan Thx for your help and patience 🙏

[2020-02-11 18:42] gstephy commented on #1048
Here you go.. I'm using 0.1.9 and python 3.5.2
[code]
Expected:
---------
(0.5,0.5)
(0.1,0.9)
(0.0122,0.9878)
(0.0014,0.9986)
![image](https://user-images.githubusercontent.com/44619872/74268035-2a524080-4cd5-11ea-85cf-3e2988ca9fe0.png)

Actual/Output:
--------
[code]

[2020-02-12 11:21] #1167 closed, assigned to nobody

[2020-02-12 11:21] ankurankan commented on #1164
Fixed

[2020-02-12 11:21] #1164 closed, assigned to nobody

[2020-02-12 12:40] #1152 closed, assigned to nobody

[2020-02-12 12:42] ankurankan commented on #1147
Closing because not able to reproduce

[2020-02-12 12:42] #1147 closed, assigned to nobody

[2020-02-12 12:48] #1139 closed, assigned to nobody

[2020-02-12 12:52] ankurankan commented on #1099
Fixed

[2020-02-12 12:52] #1099 closed, assigned to nobody

[2020-02-12 12:56] #1038 closed, assigned to nobody

[2020-02-12 13:05] #1031 closed, assigned to nobody

[2020-02-12 13:08] #1022 closed, assigned to nobody

[2020-02-12 13:09] ankurankan commented on #1018
Error because of networkx. Fixed now.

[2020-02-12 13:09] #1018 closed, assigned to nobody

[2020-02-12 13:11] ankurankan commented on #1017
Fixed.

[2020-02-12 13:11] #1017 closed, assigned to nobody

[2020-02-12 13:15] #1014 closed, assigned to nobody

[2020-02-12 18:01] Asferomo opened #1229 "cannot import MaximumLikelihoodEstimator"
### Subject of the issue
Get an error when I import MaximumLikelihoodEstimator from pgmpy.estimators

### Your environment
* pgmpy version 0.1.1
* Python version 3.7
* Operating System Mac OS

### Steps to reproduce
Tell us how to reproduce this issue. Please provide the complete code if possible.

`from pgmpy.estimators import MaximumLikelihoodEstimator`

Traceback (most recent call last):

  Fil

[2020-02-12 18:14] Asferomo commented on #1229
Just fixed it on my end:

I modified pgmpy/estimators⁩/__init__.py from
`from pgmpy.estimators.BDeuScore import BDeuScore
`
to

`from pgmpy.estimators.BDeuScore import BdeuScore`

[2020-02-13 12:29] ankurankan commented on #1229
@Asferomo Thanks for reporting this. Probably related to #1228

[2020-02-15 04:06] dliberat commented on #1166
Do we have any updates on this?
I've been doing some manual calculations that don't seem to square up with the results of either the `VariableElimination` or `BeliefPropagation` results. Are both inference methods suspect?

EDIT: Apologies, I just noticed it's been added to the milestone due by end of March.
If you have any information about the reliability of the different methods or whether the

[2020-02-17 11:33] garaud opened #1233 "Questions about the possibilities to apply different operators to inference algorithms (e.g. Belief Propagation)"
Hi,

### Subject of the issue
With @delhomer, we are working on a legacy code which uses a Probrabilistic Graph Model and depends on [opengm](https://github.com/opengm/opengm/) (the Python bindings). Unfortunately, this library is unmaintained and the Python bindings can compile only with old Boost::Python versions (and Python2).

We would like to use pgmpy and we have a few questions.

First, we

[2020-02-26 17:23] #1141 closed, assigned to ankurankan

[2020-02-26 17:50] ankurankan commented on #1166
@dliberat The results were different in some cases because Belief Propagation wasn't normalizing the results. I have fixed that now. You mentioned that there were some cases when both the results were wrong. Could you give me an example, so that I figure out the bug?

[2020-02-26 23:25] dliberat commented on #1166
@ankurankan Sure thing. It's just as likely my math was off, though. I'll put together a test case, but I might not be able to get around to it for another day or two.

[2020-02-27 09:04] ankurankan commented on #1233
@garaud The current implementation can only do sum-product and doesn't support energy minimization.

[2020-02-29 09:02] darksheng commented on #1229
ImportError: cannot import name 'BDeuScore' from 'pgmpy.estimators.BDeuScore'
i found this error  BDeuScore should change to BdeuScore
![image](https://user-images.githubusercontent.com/22118981/75604507-30894f00-5b14-11ea-8b1c-96576563edac.png)

[2020-03-01 03:19] dliberat commented on #1166
@ankurankan
After some digging around, it looks like my CPD construction was incorrect. Both `VariableElimination` and `BeliefPropagation` are now generating correct values for my queries. Sorry for the confusion!

[2020-03-02 09:23] ankurankan commented on #1166
@dliberat Thanks for checking. Hopefully both the methods now work as expected.

[2020-03-02 09:23] #1166 closed, assigned to ankurankan

[2020-03-04 02:43] jguan1 opened #1237 "Bugs in the constraint checking of HillClimbSearch"
### Subject of the issue
When specify black_list and white_list in the HillClimbSearch estimator, the "flip" operation does not correctly flip the two nodes in the edges of the constraint list. Therefore, the final results contain edges that are either inside the "black_list" or not in the "white_list"

### Your environment
* pgmpy  0.1.10dev
* python 3.7.6
* Operating System
Windows 10
### Steps

[2020-03-04 03:00] jguan1 commented on #1237
Here's a simple fix in the HillClimbSearch.py (line 104 and 105) (switching X and Y)
![image](https://user-images.githubusercontent.com/3431729/75840819-177be900-5e07-11ea-8bbf-5219e007edfd.png)

In the `dev` branch:
![image](https://user-images.githubusercontent.com/3431729/75840888-501bc280-5e07-11ea-989c-bc4923c8149b.png)

[2020-03-04 15:01] juweipku opened #1238 "Imputation of missing values of continuous data from Bayesian network？"
Hello, I am trying to impute the missing value of continuous data from Bayesian network using belief propagation or loop belief propagation algorithm. And the adjacency is known. Does pgmpy support this operation ？

[2020-03-07 11:38] ankurankan commented on #1237
@jguan1 Thanks for reporting this. Would you like to open a pull request for the fix?

[2020-03-07 11:41] ankurankan commented on #1238
@JuJuWei Sorry, I am not able to exactly understand what you are trying to do. Could you please explain in more detail or an example would also help?

[2020-03-07 12:33] ankurankan commented on #1058
Not a good idea anymore as we modify the graph structure in some of the algorithms and these methods give us an easy way to do this.

[2020-03-07 12:33] #1058 closed, assigned to nobody

[2020-03-07 12:48] juweipku commented on #1238
I'm sorry, maybe I did n' t make it clear.
Suppose there is  a design matrix X(N*d), N samples, d features, which each item is continuous. But some items are missing. Each sample follows the same known Bayesian network, that is, the adjacency matrix is known. I'm trying to impute these missing values using belief propagation or loopy belief propagation algorithm.
So I what to know that whether pgm

[2020-03-07 13:24] ankurankan commented on #1238
@JuJuWei Sorry, but this is not possible for __continuous data__ at the moment with pgmpy.

[2020-03-07 13:24] #1238 closed, assigned to nobody

[2020-03-07 15:23] ChuWen94 commented on #1177
@ankurankan, I would be interested if this issue has gotten resolved. I've had a similar issue - the model works fine until the number of nodes get increased.

[2020-03-08 13:45] ChuWen94 commented on #1013
Hi,
I would also be very interested in if there is such a feature.
Thank you!

[2020-03-09 19:11] ankurankan commented on #1177
@ChuWen94 I am working ( #1239 ) on some optimizations based on structure pruning based on the query. This should be able to decrease the memory usage of inference algorithms in sparse structures.

[2020-03-10 01:55] darksheng opened #1240 "hi, can give some books and papers about bayes network ,especially inference part"
### Subject of the issue
Describe your issue here.

### Your environment
* pgmpy version
* Python version
* Operating System

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a minimal reproducible code of
the issue you are facing if possible.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

[2020-03-10 01:59] darksheng commented on #1240
I want to study this field, but the Chinese books published in the field are always very cluttered. I would like to ask if there is a book with a clear enough system or some worthy thesis.

[2020-03-10 06:20] jguan1 commented on #1237
Yes, I'd be happy to do that. However, when I tried to do a `git push origin my-branch-name`, I got some permission errors, not sure if I need to apply for some permission to open a pull request.

[2020-03-10 10:10] ankurankan commented on #1240
Hi,

For probabilistic inference using Bayesian Networks, Probabilistic
Graphical Models by Koller and Friedman is a comprehensive guide to the
basic theory.
For Causal Inference, I would suggest Causality by Judea Pearl. For a more
practical approach, you can also refer to my book, Mastering Probabilistic
Graphical Models using python. But I don't think there are any detailed
comprehensive practi

[2020-03-10 10:14] ankurankan commented on #1237
@jguan1 Since you don't have permission to push to this repo directly, it wouldn't work. You will need to first fork the repository (which will create a copy of this repo in your account), push your changes to your repository, and then you can open a pull request to merge changes from your repo to this repo. We also have a contributing guide (https://github.com/pgmpy/pgmpy/blob/dev/Contributing.md

[2020-03-12 09:52] garaud commented on #1233
Thank you for your response.

* is a way to hack (monkey patch) this feature easily?
* Will you plan to implement this feature?

Thanks

[2020-03-13 00:24] darksheng commented on #1240
thans very much , this package give me some help ,i love this package.

[2020-03-13 01:15] darksheng opened #1241 "bug, ValueError: Must have equal len keys and value when setting with an iterable"
### Subject of the issue
when i use Hybrid Structure Learning in   9. Learning Bayesian Networks from Data.ipynb ,do some  test，Especially when I used 13,500 data, it ran for three days, and finally got this result, I felt very crash.

i hope i can get your help ,thanks very much.
### Your environment
* pgmpy 0.1.10
* Python 3.7
* numpy 0.18.1
* pandas 0.25.3
* Operating System:win10

### Steps to

[2020-03-13 13:55] ChuWen94 commented on #1177
@ankurankan awesome - thank you for the update!

[2020-03-15 10:39] #1240 closed, assigned to nobody

[2020-03-15 10:42] ankurankan opened #1242 "Add documentation listing the features/algorithms supported in the package"
https://github.com/pgmpy/pgmpy_notebook/issues/39

[2020-03-15 10:51] ankurankan commented on #1233
@garaud

I think it should be possible to implement it without a lot of changes. From a quick look, I think we will mostly need to change the `BeliefPropagation._update_beliefs` and `BeliefPropagation._is_converged` methods.

Sorry, but this is not a priority issue for me at the moment, so I won't be able to give a timeline for this.

[2020-03-15 11:09] ankurankan commented on #1241
@darksheng I am not sure why this is happening. Are you running the code in the notebook with a
larger simulated dataset? Else would it be possible for you to share you data and reproducible code?

[2020-03-15 11:13] darksheng commented on #1241
ok，i will give you data，but i am a newer  ，so i can  give my code and data by email，your email？ thanks you

[2020-03-15 11:22] ankurankan commented on #1241
@darksheng You can email me at: ankurankan@gmail.com

[2020-03-15 12:43] darksheng commented on #1241
i have send to you email and files ，thans very much.

[2020-03-16 18:04] garaud commented on #1233
Thanks @ankurankan

[2020-03-19 03:48] darksheng commented on #1241
i am sorry ,Because of my negligence caused this error, the data processed in pandas exists nan，now i fixed it.

[2020-03-19 03:48] #1241 closed, assigned to nobody

[2020-03-25 03:21] mjuarezm opened #1244 "Generate sample from categorical pandas dataframe"
### Subject of the issue
There seems to be an issue when using pandas dataframes to create a Bayesian model and then sample from it. It looks like `pgmpy` does not create the indices of the CPD tables correctly when the contents of the dataframe are categorical.

### Your environment
* pgmpy version: 0.1.10
* Python version: 3.6
* Operating System: arch

### Steps to reproduce
I have a dataframe w

[2020-03-25 11:10] ankurankan commented on #1244
@mjuarezm Thanks for reporting this. This should be working on the latest dev. There was a bug in the reduce method and has been fixed now. But the sampling method right now  returns the state numbers instead of state names.

[2020-03-25 14:15] Aleib89 opened #1245 "Undocumented sorting of state_names in BaseEstimator"
I am using the Bayesian estimator with pseudo_counts and have been trying to figure out, why the pseudo_counts are not added to the states I have specified in the state_names parameter. Turns out that the lists of names within the state_names dict are reordered when the state_names parameter is set for the estimator. Why is the user input actively dismissed here? Furthermore this leads to an incon

[2020-03-25 17:58] mjuarezm commented on #1244
Thanks for the quick reply. I confirm the issue is fixed in version: `0.1.10dev`

[2020-03-25 17:58] #1244 closed, assigned to nobody

[2020-03-25 18:16] mjuarezm opened #1246 "State names in samples are encoded"
### Subject of the issue
Samplers return a sample with the variable values encoded instead of the actual values.

### Your environment
* pgmpy version: 0.1.10dev
* Python version: 3
* Operating System: arch

### Steps to reproduce
Create a basic Bayesian Model, fit it to some data and sample it:

[code]

where `df` is:

type | sex
-- | --
manager | m
manager | f
manager | m
executive | m

### Expe

[2020-03-25 18:17] mjuarezm commented on #1246
At the moment I am recoding the output like this:

[code]

but this should be encapsulated in `pgmpy`, IMHO.

[2020-04-08 06:57] BrettWitty opened #1248 "reorder_parents documentation incorrect?"
My understanding was that reordering parents in a CPD should just reorder data. That is, be a permutation of the `values` data. The documentation does not reflect this:

https://github.com/pgmpy/pgmpy/blob/164b415df9bc74a34ddd807d0facfb41834a9133/pgmpy/factors/discrete/CPD.py#L419-L429

https://github.com/pgmpy/pgmpy/blob/164b415df9bc74a34ddd807d0facfb41834a9133/pgmpy/factors/discrete/CPD.py#L451-

[2020-04-14 06:17] drorata commented on #1228
FWIW: I can confirm I face the same issue with v0.1.10 when trying to `from pgmpy.estimators import HillClimbSearch, BicScore`. After downgrading to v0.1.9 I didn't get the problem.

[2020-04-14 08:19] ankurankan commented on #1248
@BrettWitty Thanks for reporting this. The documentation seems to be wrong. If you would like, please feel free to open a PR fixing this.

[2020-04-17 09:34] drorata opened #1251 "Broken dependencies when "pip install" of version 0.1.9"
### Dependencies broken when installing version 0.1.9 of `pgmpy` using pip

Due to #1228 I rolled back to version 0.1.9 after having version 0.1.10 installed. This worked smoothly. However, when rebuilding the environment from scratch I got broken dependencies (at least `torch`).

### Your environment
* pgmpy 0.1.9 and 0.1.10
* Python 3.8
* Operating System: macOS 10.15.4

### Steps to reproduce

[2020-04-18 09:35] #1248 closed, assigned to nobody

[2020-04-18 12:10] GabrielAzevedoFerreiraQB opened #1252 "Incorrect probabilities learnt for Nodes with one parent only"
## Description

If a Node has only one parent (e.g. A->B) this node is always assigned to the **flat distribution when we fit the probabilities.**

## Steps to Reproduce
[code]
## Expected Result

[code]

## Actual Result

[code]

## CAUSE:
This comes is from file `pgmpy/estimators/base.py`,  ~ line 125.

[code]
If the node has more than one parent, `state_count_data`  columns will be `MultiIndex`

[2020-04-18 12:29] GabrielAzevedoFerreiraQB commented on #1252
An observation:
I was going through the test cases made to test estimators. It seems you use a structure A-->C<--B a lot. In that case, C has 2 parents and A and B no parents. So I guess this may have been the reason why the "one single parent bug" might have skipped the attention.

[2020-04-21 07:17] ankurankan commented on #1252
@GabrielAzevedoFerreiraQB Thanks for reporting this. Could you please share which version of pgmpy are you using? Because when I run it on the latest codebase it gives the correct results.

[code]

[2020-04-21 07:30] ankurankan commented on #1251
@drorata This is happening because our installation process was different for 0.1.9 and we asked users to manually install all the dependencies. But the setup has been revamped for 0.1.10 and can now automatically install the dependencies.

[2020-04-21 08:02] #1251 closed, assigned to nobody

[2020-04-21 12:01] GabrielAzevedoFerreiraQB commented on #1252
Thanks for the quick reply, @ankurankan , I am using 0.1.6.
I believe this has been solved in the latest version ! Thank you!

[2020-04-21 12:20] #1252 closed, assigned to nobody

[2020-04-24 16:18] terodea opened #1254 "Importing BayesianModel raises ValueError"
### Subject of the issue
Import of the Bayesian Model raises ValueError. However, 0.1.9 release I could easily import without any error.

### Your environment
* pgmpy==0.1.10dev
* Python 3.5.2
* Operating System Ubuntu 16.04

### Steps to reproduce
`from pgmpy.models import BayesianModel`

### Expected behavior
The import of Bayseian Model shouldn't raise ValueError.

### Actual behavior
`>>> from

[2020-04-24 19:34] ankurankan commented on #1254
@terodea The error is because of the version of python you are using. pgmpy only supports python 3.6 or higher. Upgrading python would fix this.

[2020-04-24 19:34] #1254 closed, assigned to nobody

[2020-04-24 19:36] terodea commented on #1254
@ankurankan Thanks for the suggestion.

[2020-04-26 07:05] mithun0602 commented on #835
Is there any update on this. I did search the MarkovModel.py and it seems there is no fit method. Neither fit method available in MarkovChain.py. So how to fit model with data

[2020-04-28 20:11] loudly-soft commented on #1221
If I understand correctly, even if state names are explicitly specified, reading and writing using Bif  causes the same, if not, similar problem.  Perhaps this is the same issue as #38

For example, the code below throws this error:

[code]

[2020-04-28 20:34] loudly-soft commented on #1083
Yeah, I had the same issue with ProbModelXMLWriter as @pascal-schetelat

My workaround is to use Bip to save and load the model (see code below).  However, for that to work, I needed to:

1. patch the code suggested by @bramson in #38
2. changed my state values to string.  Numeric states seem to cause #1221

[code]

[2020-04-30 08:40] ankurankan commented on #835
@mithun0602 Unfortunately this is not implemented yet, and Markov model is not a priority for us at the moment, so I don't have a timeline for this.

[2020-04-30 09:17] ankurankan commented on #1221
@loudly-soft There are two problems here, the first is that the state names were not getting saved properly by the BIFWriter which has now been fixed #1255. The second is because of the int state name while saving and str when reading. For the time being, I would suggest using just str state names until the issue is fixed.

[2020-04-30 09:24] ankurankan opened #1256 "Remove support for ProbModelXML"
Remove support for ProbModelXML mainly because of maintenance issues.
1. Doesn't have API consistent with other file formats.
2. Not the cleanest file format, making it difficult to debug issues.
3. Not very popular among users, while being difficult to maintain.

Closes: #795 #1083

[2020-04-30 09:50] #1256 closed, assigned to nobody

[2020-04-30 09:50] #795 closed, assigned to nobody

[2020-04-30 09:50] #1083 closed, assigned to nobody

[2020-04-30 12:02] tomkovna opened #1258 "The data (discrete variables) are expected to be enumerated from 0 when learning BN parameters"
### Subject of the issue
It appears that if you do discretisation or binning of the data, the data is expected to be enumerated from 0 and you should have consecutive numbers when fitting the data i.e. for four categires 0,1,2,3 - otherwise for some reason sampling wont work.

### Your environment
* pgmpy version 0.1.10
* Python version 3.7.7
* Operating System macOS Catalina 10.15.4

### Steps to

[2020-04-30 12:08] tomkovna commented on #1258
Changing the line:
A = np.random.randint(1,4,10) to:
A = np.random.randint(0,4,10) solves the error, but not the problem :)

[2020-05-03 15:09] rballester opened #1261 "VariableElimination ignores identical factors"
### Subject of the issue
When VariableElimination generates several identical factors (same variables, same values) only one is considered and the rest are discarded. This is due to the use of sets (see e.g. "final_distribution = set()" in ExactInference.py), which do not admit repeated elements.

This can be fixed by switching to another data structure. I would have time, but which one? Python li

[2020-05-05 07:31] ankurankan commented on #1261
@rballester Thanks a lot for reporting this. You are right, using `sets` seems to be the culprit here. I think the main fix here would be to change the way `working_factors` is implemented right now. Currently, it's a dict of `{variable: set of all factors involving the variable}`, so it automatically removes all duplicate intermediate factors during the inference.

I would guess that Counter shou

[2020-05-05 19:29] rballester commented on #1261
@ankurankan Thank you for developing pgmpy! The Python community desperately needs good statistical tools, and this project is a ray of hope.

I will look into Counter and issue a PR.

[2020-05-10 18:22] KittyNatty opened #1263 "ValueError: No sepset found between these two edges."
### There is an error of "No sepset found between these two edges"
I would like to construct the Markov model and convert it to be the Bayesian Model later. According to my relationship among variables, I faced with ValueError: No sepset found between these two edges. when I run bm = mm.to_bayesian_model(). I have attached my source code in here

[code]

### Your environment
* pgmpy version  0.1.1

[2020-05-15 03:37] changjie98 commented on #848
Is this problem solved？ I think this function is great, it is necessary

[2020-05-15 11:37] ankurankan commented on #848
@changjie98 Yes, if the `query` methods now get the parameter `joint=True`, it will automatically compute the joint distribution over all the variables in the `variables` parameter. Here's an example:

[code]

[2020-05-15 11:37] #848 closed, assigned to ankurankan

[2020-05-15 18:34] BartekSzpak commented on #858
Hi, the question above is 3 years old, wonder if there were some changes in the meantime and if this is now possible?

[2020-05-16 09:06] ankurankan commented on #858
@BartekSzpak No, it hasn't been implemented yet. It's mostly stuck on having a functional representation of CPDs but I can't think of a way to implement a generic inference algorithm that could work for all cases.

Though in some cases, you should be able to define the CPD in a way that it behaves like a deterministic variable. For example if you want some fixed state, define it's probability to b

[2020-05-19 18:18] EvanOman commented on #1013
Just to clarify, there is a difference between "soft evidence" and "virtual evidence":

You can use "virtual nodes" for virtual evidence in `pgmpy`. For soft evidence you'd need to use something like [PyAgrum](https://agrum.gitlab.io/pages/pyagrum.html)

[2020-05-19 23:28] Ketki-Savle commented on #1150
Hello,

I am facing the same issue. It is taking forever for predicts to go through. I have also kept unique rows in test data as per this suggestion but no change. Could you please help.

Thanks & Regards

[2020-05-20 00:25] Ketki-Savle opened #1265 "IndexError: number of dimensions must be within [0, 32], indexing result would have 33"
### Subject of the issue
Describe your issue here.

### Your environment
* pgmpy version : latest
* Python version: 3.6
* Operating System: MacOS

### Steps to reproduce
length of tuple list is 885
length of nodes 410
length of input data columns 4211

### Expected behaviour
Model.predict does not return correct values.

### Actual behaviour
full trace:

"""
Traceback (most recent call last):
  Fi

[2020-05-20 01:27] FANGOD commented on #1150
@Ketki-Savle  you can do this.
[code]
If you need to reduce your time I have a more radical way to do it.

[2020-05-20 11:02] ankurankan commented on #1265
@Ketki-Savle Thanks for reporting this. I am guessing you are trying to do inference? In this case, the inference algorithm is creating intermediate factors that involve more than 32 variables. Since factors are represented using a n-dimensional array internally and numpy has a limit of max 32 dimensions, this throws an error. I would suggest reducing the complexity of your model structure or spec

[2020-05-21 17:08] Ketki-Savle commented on #1265
Hey Ankur,

Thank you for your quick response. Truly appreciate the open source support.

Yes this is for inference and for predict function. So I have 9 parents and 477 children nodes. If we want to  reduce the complexity, could you please throw some number, May be 9 parents with 32 children if I understood your point correct?

And I also checked another issue where latency in prediction has been

[2020-05-22 09:42] ankurankan commented on #1265
@Ketki-Savle If you have a structure with 9 parents and multiple children and edges only between parent and child, I think it should be computationally efficient if you provide the elimination order as: `[child nodes, parent nodes]`. This should avoid creating huge factors and should work for even 477 children. In general, for removing each non-query variable during inference (variable elimination

[2020-05-22 09:42] #1265 closed, assigned to nobody

[2020-05-22 20:09] Ketki-Savle commented on #1265
Where can I change this elimination order? Thank you.

[2020-05-25 09:08] AdeBC commented on #1016
Thank you very much, this is exactly what I need!

[2020-05-27 09:28] ankurankan opened #1267 "Structure learning based on genetic algorithms"
Genetic Algorithm: https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=537345
Ant Colony Optimization: https://www.sciencedirect.com/science/article/pii/S0888613X02000919
Review: https://www.cambridge.org/core/services/aop-cambridge-core/content/view/146D29D291B7393EF62BAFE1D47D4426/S0269888910000251a.pdf/learning-bayesian-networks-approaches-and-issues.pdf

[2020-05-28 14:21] johncalabrese opened #1268 ""Values array must be of size: 16384""
I'm getting the following error:

ValueError: Values array must be of size: 16384

With this code

[code]
The product of the evidence_card = 128, and the len(exceltable) is 128. Each element is an array of 4 objects = 512

I'm not sure where pgmpy is getting 16384.

### Your environment
* pgmpy version = 0.1.10
* Python version =3.7.7
* Mac OS

[2020-05-28 16:14] ankurankan commented on #1268
@johncalabrese Please have a look here: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/factors/discrete/CPD.py#L38 for the shape of the values array that pgmpy expects. In your example, the values array shape should be `(128, 2*4*2*2*2*2) = (128, 128)`, hence total of 16384.

[2020-05-28 16:14] #1268 closed, assigned to nobody

[2020-05-29 16:59] Ketki-Savle commented on #1150
Thank you @FANGOD  sorry I missed this reply. I will try this as well and yes it would be nice if you could share what you have done to speed up the prediction.

Regards,

Ketki

[2020-06-01 12:00] #1261 closed, assigned to nobody

[2020-06-03 08:29] ankurankan opened #1270 "Add type hinting in the codebase"
From python 3.4, type hinting feature has been added to specify the expected type of arguments in functions/methods/classes and their returns types. Modify our codebase to have type hintings as it makes the code much more readable.

Most user facing classes are in the following files:
- [ ] DAG.py
- [ ] DiscreteBayesianNetwork.py
- [ ] LinearGaussianBayesianNetwork.py
- [ ] FunctionalBayesianNetwo

[2020-06-03 09:15] ankurankan opened #1271 "Cache local_score method of structure learning scoring"
Currently, the `local_score` method is called quite often with the same arguments during Structure learning. Caching them should increase the performance by a lot.

- [x] BDeuScore
- [x] BicScore
- [x] K2Score

Also, combine all the scoring classes in a single file.

[2020-06-04 09:09] ankurankan opened #1272 "Rewrite tests for readwrite module"
The current tests for readwrite module compare the expected and generated string, which can be quite huge and really difficult to figure out any bugs. These tests can be written such that instead of comparing strings, we compare some other python structure which contains all the information that the strings have.

[2020-06-04 09:48] #1182 closed, assigned to nobody

[2020-06-06 08:22] #1246 closed, assigned to nobody

[2020-06-06 08:39] ankurankan commented on #1228
No reference Bdeu anymore in the current codebase, was probably a release error. Should be fixed in the next release.

[2020-06-06 08:39] #1228 closed, assigned to ankurankan

[2020-06-06 08:39] ankurankan commented on #1229
Ref #1228

[2020-06-06 08:39] #1229 closed, assigned to nobody

[2020-06-06 09:37] #1245 closed, assigned to nobody

[2020-06-06 09:44] ankurankan opened #1274 "Add python 3.8 to appveyor"
pytorch is currently not available for python 3.8 on Windows. Therefore, appveyor is currently only running tests for python 3.6 and 3.7. Add 3.8 also once the python whl is available.

[2020-06-06 11:08] #1271 closed, assigned to ankurankan

[2020-06-06 11:17] ankurankan commented on #1237
Fixed in dev.

[2020-06-06 11:17] #1237 closed, assigned to nobody

[2020-06-08 02:21] FANGOD commented on #1150
@Ketki-Savle  If your factors result in finite combinations, you can directly calculate their results and then concatenate the data for you.

[2020-06-08 13:47] feiwuu638 opened #1276 "[ValueError: sequence too large; cannot be greater than 32] when a Bayesian model fits to the data"
### Subject of the issue
When I built a Bayesian model and fits to the data, a **ValueError appears: sequence too large; cannot be greater than 32**. The model contains 99 nodes and 636 edges. The shape of data is (200, 99).
Another time I tried the model with 52 nodes and 365 edges to fit to a (200, 52) dataframe, and I succeeded. So I wondered what does `sequence` mean and what does its size dep

[2020-06-08 13:52] ankurankan commented on #1276
@feiwuu638 The error is because there is some node in your model that has more than 31 parents. Currently, with pgmpy we can't define a CPD with more than 32 variables, which is because of a limitation in numpy that it doesn't allow more than 32 axes in an array.

[2020-06-08 14:06] feiwuu638 commented on #1276
@ankurankan Copy that. Thank you very much for your quick response. I will try to simplify the model.

[2020-06-08 19:20] #1276 closed, assigned to nobody

[2020-06-08 22:21] ir0nt0ad opened #1277 "GPU acceleration / multiple CPU support"
### Subject of the issue
Does pgmpy use GPU acceleration if you have a GPU-enabled installation of PyTorch? Also, does it support multiple CPUs? Thank you!

[2020-06-09 05:40] ankurankan commented on #1277
@sh0gg0th Currently, GPU is only used for learning parameters in Structural Equation Models as it can be formulated as an optimization problem. Multi CPU is used for quite a few functionalities, and you can usually find a `n_jobs` argument for the methods that can use multi CPU.

[2020-06-09 05:40] #1277 closed, assigned to nobody

[2020-06-09 16:14] ir0nt0ad commented on #1277
@ankurankan thank you! One more question, is there a large number of operations that can potentially be moved to GPUs, i.e. will it be possible to dramatically improve overall performance in the future?

[2020-06-09 16:26] ankurankan commented on #1277
@sh0gg0th I am not very aware of research in that direction and will have to look into it. But of the top of my head and if I remember correctly, there is some work in the direction of formulating structure learning as an optimization problem. That I think could benefit from using GPUs.

I will also look into latest research and will add here if I find anything interesting.

[2020-06-09 16:33] ir0nt0ad commented on #1277
@ankurankan thank you, appreciate it.

[2020-06-09 20:06] loudly-soft opened #1278 "Implement the Chow-Liu algorithm for structure learning"
Feature request ticket for adding the [Chow-Liu algorithm](https://en.wikipedia.org/wiki/Chow%E2%80%93Liu_tree#:~:text=Chow%20and%20Liu%20provide%20a,information%20pair%20to%20the%20tree.&text=The%20main%20idea%20in%20the,in%20the%20pairwise%20marginal%20distribution.) to `estimators`.

[2020-06-09 20:08] loudly-soft commented on #1278
I'll try to pick this up when I have the chance.

[2020-06-12 15:01] ankurankan commented on #1258
Fixed in #1273

[2020-06-12 15:01] #1258 closed, assigned to nobody

[2020-06-12 15:40] ankurankan commented on #1086
Different junction trees are possible for the same model structure.

[2020-06-12 15:40] #1086 closed, assigned to ankurankan

[2020-06-12 15:41] #1048 closed, assigned to ankurankan

[2020-06-13 09:14] #1263 closed, assigned to ankurankan

[2020-06-15 12:36] ankurankan commented on #1277
@sh0gg0th Here's the paper on the optimization approach to structure learning: https://papers.nips.cc/paper/8157-dags-with-no-tears-continuous-optimization-for-structure-learning.pdf

[2020-06-15 16:20] ir0nt0ad commented on #1277
@ankurankan great, thank you so much!

[2020-06-15 18:11] kyle-pena-nlp commented on #1030
@pdeoude what have you found regarding this?

[2020-06-15 19:33] kyle-pena-nlp opened #1282 "Blacklist and whitelist logic in Hill Climb Search is mistaken"
pgmpy 0.1.10
Python 3.8.1
Windows 10

## Expected Behavior
The whitelist edge is in the final network, the blacklist edge is not in the final network

## Actual Behavior
The whitelist edge is *not* in the final network, the blacklist edge *is* in the final network

I've isolated the problem to the conditions related to the flip operation in the _legal_operations method of HillClimbSearch.

[code]

[2020-06-15 20:44] ankurankan commented on #1030
@kyle-pena-nlp Continuous Bayesian Networks and hybrid networks are not fully supported yet.

[2020-06-15 20:46] ankurankan commented on #1282
@kyle-pena-nlp Thanks for reporting this. It should be working fine in the latest dev branch. Will get fixed in the next release.

[2020-06-16 04:21] harikc456 opened #1283 "Weighted Likelihood Sampling assumes the values range from 0 to n"
### Subject of the issue
I'm getting a KeyError when I'm trying to perform a weighted likelihood sampling from BayesianModel. The model is fitted on a dataset where I have attribute age which is of range [3,18]. Going through the code in Sampling.py. I found out the `pre_compute_reduce()` assumes all the nodes have values ranging from 0 to the number of distinct values. In my case, the values gene

[2020-06-16 05:59] ankurankan commented on #1283
@harikc456 Thanks for reporting this. But I have fixed this recently (#1273), so it would work fine on the latest dev branch. And it will be out in the next release.

[2020-06-16 05:59] #1283 closed, assigned to nobody

[2020-06-16 06:00] #1282 closed, assigned to nobody

[2020-06-16 13:30] kyle-pena-nlp commented on #1282
@ankurankan --- I pulled dev/latest and ran some tests.  Something is still off with the whitelist.

## Description
For a HillClimbSearch, specifying an empty whitelist does not reuslt in the same behavior as specifying no whitelist.  More generally, I *think* what's going on is that specifying an empty whitelist will cause HillClimbSearch to never do any flip operations.

I found this issue while

[2020-06-16 19:48] kyle-pena-nlp opened #1284 "An empty whitelist produces different results than no whitelist for HillClimbSearch"
@ankurankan --- Posting as a new issue since the other issue got closed.  I pulled dev/latest and ran some tests.  Something is off with the whitelist functionality in the HillClimbSearch for Bayesian Networks.  I have a fix locally, happy to discuss first and then submit a PR.  I'm also fairly certain that this same bug makes it possible for whitelisted edges to get removed by a flip operation.

[2020-06-17 07:40] JanineCHEN commented on #825
Hi, I'm wondering if ClusterBeliefPropagation is supported by now or not??

[2020-06-17 09:00] ankurankan commented on #825
@JanineCHEN Sorry, but it's still not supported.

[2020-06-18 08:02] ankurankan commented on #1284
@kyle-pena-nlp Thanks for reporting this. This indeed looks like a bug, would be great if you could open a PR.

The `white_list` argument is supported to give a list of edges to which the search is limited to, so we don't need to guarantee that they are included in the final model. But seems like there is a bug in that as well, as passing an empty list as an argument for `white_list` still gives a

[2020-06-19 11:03] ankurankan commented on #1178
Fixed.

[2020-06-19 11:03] #1178 closed, assigned to nobody

[2020-06-19 12:09] #1221 closed, assigned to nobody

[2020-06-20 09:53] SrGrace commented on #1177
@ankurankan What is the limit for BayesianModel or any other model of pgmpy in terms of Nodes, Edges, level of the graphs and number of states etc?

[2020-06-20 10:10] ankurankan commented on #1177
@SrGrace It's very hard to give a number as all the factors (nodes, edges, no. of states) affect each other (non-linearly) in algorithms. And in this specific inference case, it is also quite dependent on how efficient the `elimination_order` is. If you are getting a memory error, I would suggest the following steps in order:
1. See if you can think of an efficient elimination order. If you have o

[2020-06-20 12:06] ankurankan commented on #1138
Doesn't seem to be needed, as there aren't many calls to `get_cpds` with an argument in the codebase.

[2020-06-20 12:06] #1138 closed, assigned to ankurankan

[2020-06-20 13:44] JanineCHEN opened #1286 "ImportError: cannot import name 'PseudoMomentMatchingEstimator'"
I am following the book Mastering Probabilistic Graphical Models Using Python, the section "Belief propagation and pseudo-moment matching" for Markov Model, the code `from pgmpy.estimators import PseudoMomentMatchingEstimator` throw out the error `ImportError: cannot import name 'PseudoMomentMatchingEstimator'`, so it seems like the 'PseudoMomentMatchingEstimator'` module hasn't been implemented a

[2020-06-20 17:52] ankurankan commented on #1286
@JanineCHEN No, it's not implemented yet. And the book is quite old now, so a lot of things would not work for the current version.

[2020-06-20 17:52] #1286 closed, assigned to nobody

[2020-06-21 08:44] ankurankan opened #1288 "Bug in Independencies.closure method"
### Subject of the issue
The closure method doesn't seem to give correct values in some cases.

### Your environment
* pgmpy version: dev
* Python version: 3.6
* Operating System: All

### Steps to reproduce
[code]

### Expected behaviour
Some of the outputs are not correct. For example A _ | _ B or A_ | _C shouldn't be there as they are independent only when conditioned on D.

[2020-06-30 08:44] ankurankan opened #1291 "Replace string.format with fstring"
Replace `format` with fstrings as it makes the code more readable (in most cases) and faster.

[2020-06-30 08:46] #1291 closed, assigned to nobody

[2020-06-30 09:57] #1274 closed, assigned to nobody

[2020-07-01 09:19] ankurankan commented on #1218
Related #1272

[2020-07-01 09:19] #1233 closed, assigned to nobody

[2020-07-02 10:00] 1021808202 commented on #1278
I see “from pgmpy.estimators import TreeSearch” in the Chow liu tree structure learning, but I cant import it in my lab.Can I use it now?

[2020-07-02 10:05] 1021808202 commented on #1278
I have to get the BN which have 600+ nodes,you know,the leaning speed of hillclimb method is too slow.Could you please add the Chow liu tree structure learning to pgmpy as soon as possible,I will appeciate it a lot.

[2020-07-03 20:30] Lostefra opened #1293 "KeyError in BayesianModel.get_markov_blanket method"
### Subject of the issue
The method ```get_markov_blanket``` of ```BayesianModel``` raise a KeyError on istruction ```blanket_nodes.remove(node)``` when invoked on a leaf node of the network.

### Your environment
* pgmpy version: 0.1.10, dev
* Python version: 3.6
* Operating System: Ubuntu 18.04

### Steps to reproduce
[code]
<img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAS0AAAFBCAYAAA

[2020-07-03 20:42] ankurankan commented on #1293
@Lostefra Thanks for reporting this. It is a bug, and I think your suggested solution should work. Would you like to open a PR fixing it? Else I will fix it.

[2020-07-03 21:24] Lostefra commented on #1293
Done :smiley:

[2020-07-03 22:57] #1293 closed, assigned to nobody

[2020-07-07 09:02] #1006 closed, assigned to nobody

[2020-07-07 09:03] #999 closed, assigned to nobody

[2020-07-07 09:03] #994 closed, assigned to nobody

[2020-07-07 09:04] #978 closed, assigned to nobody

[2020-07-07 09:24] #950 closed, assigned to nobody

[2020-07-08 01:04] sandeep-n opened #1296 "Missing `import` in `LinearGaussianBayesianNetwork.py`"
### Subject of the issue
The `logging` module is used (in the `add_cpds` method) without being imported. This causes an error when attempting to replace

### Your environment
* pgmpy version: 0.1.11
* Python version: 3.6 (but issue is version-agnostic)
* Operating System: macOS (but issue is OS-agnostic)

### Steps to reproduce
Using an example from `notebooks/Parameterizing with Continuous Variab

[2020-07-09 00:25] kyle-pena-nlp opened #1298 "get_markov_blanket produces error for node with no children"
### get_markov_blanket
get_markov_blanket on a node with no children produces an error.

### Your environment
* 0.1.11
* Python version 3.8.1
* Windows 10

### Steps to reproduce
[code]

### Expected behaviour
We should get the markov blanked of B, which is nodes A and C, in this case.

### Actual behaviour
We have an exception, a KeyError.

[2020-07-09 00:28] kyle-pena-nlp commented on #1270
Are you also interested in type checking, a la typeguard?: https://pypi.org/project/typeguard/

[2020-07-10 08:12] ankurankan commented on #1298
@kyle-pena-nlp Thanks for reporting this. It has been fixed recently in #1293. If you install the latest `dev` branch from github, it should work fine.

[2020-07-10 08:12] #1298 closed, assigned to nobody

[2020-07-10 08:42] ankurankan commented on #1270
@kyle-pena-nlp I had a quick look at typeguard but I don't think I would like that to be added yet. I expect some of our object types to be a bit complicated and I am not yet sure how easy would it be to define them using the `typing` module. So, as a first step, I would instead just like to see how well just the type hinting performs. And if it works reasonably well, we can add typeguard too.

[2020-07-15 12:40] ankurankan commented on #1296
Fixed in #1297

[2020-07-15 12:40] #1296 closed, assigned to nobody

[2020-07-16 10:05] ankurankan opened #1300 "Fix problem with cycles in PDAG."
Refer to TODOs in DAG.py:PDAG and test_PDAG.py for details.

[2020-07-16 10:25] #1162 closed, assigned to ankurankan

[2020-07-19 09:25] ankurankan commented on #1039
Does seem like a good idea anymore. Implementing this class would make things more difficult for users to extend pgmpy. The current implementation with functions for ci tests seem to be a better solution.

[2020-07-19 09:25] #1039 closed, assigned to ankurankan

[2020-07-19 09:26] #703 closed, assigned to nobody

[2020-07-20 15:43] FiorenzoParascandolo1 opened #1302 "Problem with BaseDiscretizer"
### Subject of the issue
Problem with BaseDiscretizer

### Your environment
* pgmpy version 0.1.11
* Python version 3.6
* Operating System Windows 10

### Steps to reproduce
`class ChildDiscretizer(BaseDiscretizer):
    def get_discrete_values(self):
        pass`
`CARDINALITY = 5
LOW = 36.5
HIGH = 40.5`

    normal_influence_temperature = ContinuousFactor(variables=['Temperature'],pdf=norm(37, 1)

[2020-07-20 20:39] ankurankan commented on #1302
@FiorenzoParascandolo1 I am really now sure what you are trying to do in this case. Could you add more details like some example data and expected output?

[2020-07-21 07:58] FiorenzoParascandolo1 commented on #1302
The problem is: given a Gaussian distribution (mean = 37, variance = 1) I would like to discretize it in the range [36.5, 40.5] with Cardinality = Number_of_steps = 5 which means i would like to extract the probability values associated to: [X = 36.5, X = 37.5, X = 38.5, X = 39.5, X = 40.5]. The expected output is a probability array with dimension = cardinality

[2020-07-21 09:29] ankurankan commented on #1302
@FiorenzoParascandolo1 Unfortunately, this seems to be broken at the moment. And I can't think of a clean way to fix it. But in the meanwhile you can directly use the rounding discretizer as follows:
[code]
[code]

[2020-07-26 18:16] loudly-soft commented on #1278
@1021808202  FYI, the Chow-Liu algorithm has been merged to `dev`.  Here's an example [notebook](https://github.com/pgmpy/pgmpy/blob/dev/examples/Structure%20Learning%20with%20Chow-Liu.ipynb) on how to use it.

[2020-07-26 20:27] ankurankan commented on #1278
Fixed in #1289

[2020-07-26 20:27] #1278 closed, assigned to nobody

[2020-07-27 10:22] ankurankan opened #1305 "Possible improvements for PC estimator"
- [x] Add progress bar: Since the learning can take quite some time, it would be nice to have a progress bar to track the progress.
- [x] Parallel implementation is quite slow. Figure out improvements
- [x] Check if there is a possible faster algorithm for edge orientation from skeleton (`skeleton_to_pdag`). Already quite fast compared to the learning algorithm.
- [x] Add arguments `black_list` an

[2020-07-31 21:31] sandeep-n opened #1307 "Unit test (`test_sampling/test_continuous_sampling.py`) fails on mac OS"
### Subject of the issue
Failing unit test on mac OS, stemming from differences in floating-point approximation.

### Your environment
* pgmpy version: `dev` branch
* Python version: 3.7.7
* Operating System: OSX

### Steps to reproduce
Run tests with `pytest` on Mac OSX

### Expected behaviour
Unit test passes

### Actual behaviour
Unit test fails with `AssertionError: False is not true`

[2020-08-01 09:24] #1307 closed, assigned to nobody

[2020-08-06 10:22] ankurankan commented on #1220
@tomkovna While trying to fix this, I just realized that this situation can be easily handled by passing the `state_names` argument. When `state_names` is provided, it doesn't need to be deduced from the dataset. Something like:
[code]

[2020-08-06 10:22] #1220 closed, assigned to ankurankan

[2020-08-06 10:23] ankurankan commented on #1220
Closed since the current solution is more clear and explicit than having pgmpy automatically do it.

[2020-08-08 10:32] loudly-soft opened #1311 "Prettify graph viz with daft in documentation"
@ankurankan What’s your take on the `daft` package?  I saw on the “Causal Games” notebook that it renders pretty nicely the DAG while other examples use static img or `networkx` for viz.  For a more uniform and polished look, perhaps everything could use `daft`?

[2020-08-08 10:48] ankurankan commented on #1311
@loudly-soft I agree, that's a good idea. I haven't personally tried out `daft` and am not sure what features it has but seems to work quite well at least for the simple cases.

[2020-08-08 10:54] loudly-soft commented on #1311
@ankurankan Okay, I’ll look into this.

[2020-08-08 12:47] ankurankan commented on #1284
After #1312
[code]

[2020-08-12 09:52] #1284 closed, assigned to nobody

[2020-08-13 10:57] ankurankan commented on #704
Fixed already in dev.

[2020-08-13 10:57] #704 closed, assigned to nobody

[2020-08-26 17:36] rachelglenn opened #1320 "For loop to create a Factor Graph"
### I am trying to create a Factor graph using a for loop to add the nodes and factors
I am trying to create a Factor graph using a for loop.
[code]
When I execute the loop, the issue is with the factor phi1. I get the error:
"Factors not associated for all the random variables

[2020-08-28 12:26] ankurankan commented on #1320
@rachelglenn I am not able to run your code as it has some errors. I tried fixing it and it works for me:
[code]

[2020-08-28 12:26] #1320 closed, assigned to nobody

[2020-09-07 10:54] nalanishada opened #1321 "ImportError: cannot import name 'TreeSearch'"
Working in GoogleColab

Tried to execute the following line

`from pgmpy.estimators import TreeSearch`

and the error is in Title.

[2020-09-07 12:49] MrYu001 opened #1322 "I think this is a bug for pgmpy of dbn_inference"
### Subject of the issue
this is my code:
[code]
####
And the error is that:ValueError: values must be of shape (2, 1). Got shape: (1, 2)
but i think my procedure of that adding the 'W' prior [[0.4],[0.6]] is right
so thank you very much for someone can help me resolve this problem

[2020-09-07 12:57] ankurankan commented on #1321
@nalanishada Could you try installing the dev version from github? TreeSearch was added recently and hasn't been released yet on pypi or conda.

[2020-09-07 12:57] #1321 closed, assigned to nobody

[2020-09-07 13:42] MrYu001 commented on #1322
i find out this problem  and the method is to add one more time-slice cpd  (like this  " W1_cpd = TabularCPD(('W',1),2,[[0.4],[0.6]])
"), for the 'W' Node int the 1 time_slice.

[2020-09-07 17:30] nalanishada commented on #1321
Yeah, working now. Previously I installed using pip.

[2020-09-15 05:49] ysgncss opened #1323 "Can I learn the structure and parameters of Bayesian networks at the same time？"
There are 2 way of learning Bayesian Networks : Parameter learning and  Structure learning. Can it learn a model consisting of paramater and structure from data?

[2020-09-15 06:40] ankurankan commented on #1323
@ysgncss Yes, it will be a two-step process. First would be to learn the network structure from the and then learn the model parameters. You can have a look at examples for structure learning: https://github.com/pgmpy/pgmpy/blob/dev/examples/Structure%20Learning%20in%20Bayesian%20Networks.ipynb and for parameter learning:https://github.com/pgmpy/pgmpy/blob/dev/examples/Learning%20Parameters%20in%2

[2020-09-15 06:40] #1323 closed, assigned to nobody

[2020-09-15 07:39] ankurankan commented on #1322
The error message should be clearer in this case.

[2020-09-16 09:08] basavarajuise commented on #881
Not working

[2020-09-16 09:33] ankurankan commented on #881
@basavarajuise What error are you getting?

[2020-09-17 06:25] basavarajuise commented on #881
Failed to find in  environment after executing the command in annoconda
prompt
And no module found error when I am using this in my program

On Wed, 16 Sep, 2020, 3:03 PM Ankur Ankan, <notifications@github.com> wrote:

[2020-09-22 06:29] MrYu001 opened #1324 "anyone meet this same error with me?"
### Subject of the issue
when i use pgmpy do the job that realize the causal inference by dynamic bayesian network,
and the method is the 'dbn_inference'.
and when the two values of the evidence_card are not same, like as follows:
z_trans_cpd = TabularCPD(('Z', 1), 2, [[0.4, 0.7 0.8 0.3],
                                              [0.6, 0.3 0.2 0.7]],
                              evidence=[('Z

[2020-09-22 07:15] ankurankan commented on #1324
@MrYu001 The `dbn_inference` method does probabilistic inference, causal inference for Dynamic Bayesian Networks is not supported yet. The error that you are getting is because of the shape of the values array. The CPD requires the values array to be of the shape (no of states/cardinality of variable, product of no of states/cardinality of parents). In the first case, this means that the shape sho

[2020-09-22 07:15] #1324 closed, assigned to nobody

[2020-09-22 11:54] MrYu001 commented on #1324
i don't undertand what you mean that the pgmpy can not support dbn now,  and my issue is about the situation that when the two parents nodes of a specified one get different Possible values, the forward_inference in dbn get error.

[2020-09-24 12:08] JZQ-Coder opened #1325 "I find a issue for pgmpy of LinearGaussianCPD"
### Subject of the issue
this is my code,I hope to build a GaussianBayesianNetwork,but i find model has no attribute 'scope'.
So please help me,how to solve it
[code]

### Your environment
* 0.1.11
* 3.7
* Win10

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a **minimal reproducible code** of
the issue you are facing if possible.

### Expected behaviour
Tell us what sh

[2020-09-25 11:51] JZQ-Coder commented on #961
I meet the same bug, so this bug has not been fixed in the current version(0.1.11) ?

[2020-09-25 13:06] ankurankan commented on #1324
@MrYu001 I meant that causal inference for DBN is not implemented yet. For doing causal inference for DBN, you will have to manually convert it to a BayesianModel and work with it. You are getting the error because you have specified a wrong CPD. The shape of the array that you have passed is not correct in the 1st case.

[2020-09-27 18:17] jovalie opened #1326 "Unable to run MMPC function in MMHC estimator"
### Subject of the issue
`estimators.mmhc.mmpc()` crashes regardless of dataset used.

### Your environment
* pgmpy version 0.1.11.dev0
* Python version 3.6.9
* Operating System macOS catalina

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a **minimal reproducible code** of
the issue you are facing if possible.

[code]

### Expected behaviour
Tell us what should happen

[2020-09-28 07:35] ankurankan commented on #961
@JZQ-Coder No, it's not fixed it.

[2020-09-29 02:57] theUltraMarine19 commented on #961
@JZQ-Coder The fix is simple and code changes are in this PR #962. I found it and sent out a PR to fix it 3 years ago

[2020-09-29 02:59] theUltraMarine19 commented on #1325
Cross linking the pull-request for fix : #962

[2020-09-29 05:51] JZQ-Coder commented on #961
Glad to hear from you，I changed the source code as you prompted

But there is another issuse,when i run the code

Then,I find predict method has not been implemented by&nbsp;LinearGaussianBayesianNetWork.

So can you tell me if pgmpy support Continuous variable Bayesian network in v 0.1.11?
If it can do it,please give me a example.
Looking forward to hearing from you

------------------&nbsp;原始邮件&

[2020-09-29 15:44] ankurankan commented on #961
@JZQ-Coder No, continuous variables are not completely supported. Continuous variables/ LinearGaussianCPDs are not completely integrated with all parts of the package, so you will run into errors.

[2020-09-30 01:42] ysgncss opened #1329 "automatic learning structure of Bayesian Networks"
Do I have to specify dependencies between variables when I learn network structure from data？When I annotate the relationship between variables, the output structure is empty. Here is my code:

    data = pd.DataFrame(np.random.randint(0, 3, size=(2500, 8)), columns=list('ABCDEFGH'))
    # data['A'] += data['B'] + data['C']
    # data['H'] = data['G'] - data['A']
    # data['E'] *= data['F']
    m

[2020-09-30 09:07] nihil21 opened #1331 "KeyError in DynamicBayesianNetwork.get_markov_blanket()"
### Subject of the issue
The method `get_markov_blanket()` in class `DynamicBayesianNetwork` (inherited from class `DAG`) raises a `KeyError` when the `node` passed is a leaf node. The faulty instruction is `blanket_nodes.remove(node)`.

### Your environment
* pgmpy version 0.1.11dev
* Python version 3.8.5
* Operating System Manjaro Linux x86_64

### Steps to reproduce
[code]

### Expected behavio

[2020-09-30 22:21] nihil21 opened #1334 "KeyError in DynamicBayesianNetwork.active_trail_nodes()"
### Subject of the issue
Invoking the `active_trail_nodes()` method of `DynamicBayesianNetwork` (inherited from `DAG`) raises a KeyError.

### Your environment
* pgmpy version 0.1.11dev
* Python version 3.8.5
* Operating System Manjaro x86_64

### Steps to reproduce
[code]

### Expected behaviour
Should return the active trails of the node.

### Actual behaviour
[code]

### Possible solution
I thi

[2020-10-01 16:24] MrLatter opened #1336 "Error with initialize_initial_state() in Dynamic Bayesian Network"
### Subject of the issue

model.initialize_initial_state() is showing errorValueError: values must be of shape (2, 1). Got shape: (1, 2)

### Your environment
* pgmpy version - Latest
* Python version - 3.7
* Operating System - Mac

### Steps to reproduce
from pgmpy.models import DynamicBayesianNetwork as DBN
from pgmpy.factors.discrete import TabularCPD

    model = DBN()
    # Add nodes
    mode

[2020-10-02 15:11] mjmt05 opened #1337 "Add MU+BDs for Bayesian network structure learning"
Add in the ability to use the Marginal Uniform and Bayesian Dirichlet sparse prior from http://proceedings.mlr.press/v52/scutari16.pdf for structure learning in Bayesian networks.

I think this will be fairly straightforward by adding in a class that inherits from the BDeuScore class in `pgmpy.estimators.StructureScore`.

[2020-10-02 17:30] nihil21 opened #1338 "KeyError in DynamicBayesianNetwork.get_independencies()"
### Subject of the issue
Calling `get_independencies()` method on a `DynamicBayesianNetwork` raises a KeyError, because it interprets the dynamic node, which is a tuple, as two distinct nodes.

### Your environment
* pgmpy version 0.1.11dev
* Python version 3.8.5
* Operating System Manjaro x86_64

### Steps to reproduce
[code]

### Expected behaviour
[code]

### Actual behaviour
[code]

### Possib

[2020-10-04 15:02] nihil21 commented on #1329
This affects me too

[2020-10-05 15:10] nihil21 opened #1339 "Print IndependencyAssertion of DynamicBayesianNetwork"
### Subject of the issue
I'm not able to print any `IndependencyAssertion` object created from nodes of a `DynamicBayesianNetwork`.

### Your environment
* pgmpy version 0.1.11dev
* Python version 3.8.5
* Operating System Manjaro x86_64

### Steps to reproduce
[code]

### Expected behaviour
[code]

### Actual behaviour
[code]

### Possible fix
Change `_return_list_if_str(event)` such that it takes

[2020-10-05 22:38] nihil21 opened #1340 "DynamicBayesianNetwork limitations"
### Subject of the issue
From what I've understood, in `pgmpy` it's possible to define `DynamicBayesianNetwork`'s edges only in the first time slice (as in #714); so, to define a DBN as the following:

![immagine](https://user-images.githubusercontent.com/15859553/95138716-3068c600-076b-11eb-8912-0ed8c3aa6863.png)

I would need to add the edges in the first time slice, like this:

![immagine](http

[2020-10-08 07:30] satishmp opened #1342 "[ENH] NOTEARS Algorithm"
### Subject of the issue
Requesting for adding a new structural learning algorithm (NOTEARS) for learning large networks.
This has been added to causalnex package.

Historically, structure learning has been a very hard problem. We are interested in looking for the optimal directed acyclic graph (DAGs) that describes the conditional dependencies between variables. However, the search space for this

[2020-10-08 14:06] #961 closed, assigned to nobody

[2020-10-08 15:58] #1326 closed, assigned to nobody

[2020-10-08 20:02] ankurankan commented on #1336
@MrLatter There is a missing CPD for the initial state of Umbrella. Something like:
[code]
And if you initialize the model after adding `umbrella_cpd_0` as well to the model, it should work.

[2020-10-08 20:02] #1336 closed, assigned to nobody

[2020-10-08 20:04] ankurankan commented on #1342
@satishmp Yes, this is already on priority for me. I will work on it as soon as I get time. Or if you would like to contribute, you are most welcome.

[2020-10-18 00:49] villamroland opened #1343 "Anomaly scoring the same structure during learning"
### Subject of the issue
The difference using two similar functions to score a structure with a dataframe

### Your environment
* pgmpy version: 0.1.10
* Python version: 3.7.6
* Operating System: ubuntu server

### Steps to reproduce
I would like to use the K2 score() function to get to score of a structure to my dataframe. Using the function:

[code]

I get the following result:
-19168.2362587328

[2020-10-19 07:41] ankurankan commented on #1343
Ref: https://gitter.im/pgmpy/pgmpy?at=5f8d427aea6bfb0a9a4449ef

[2020-10-19 07:41] #1343 closed, assigned to nobody

[2020-10-19 07:52] ankurankan commented on #1331
@nihil21 Sorry for the delay on this. I don't think `discard` solves the problem as the markov blanket would also contain children nodes (which would be in the next time slice) and their parents (which could be in the same time slice as the queried variable). I think the easiest way to fix this right now would be to unroll the dynamic network (the queried time slice and +-1) and then use the `get_

[2020-10-19 08:28] ankurankan commented on #1337
@mjmt05 Yes, this shouldn't be very difficult. If you would like to contribute this, you are most welcome else I will try to implement this :)

[2020-10-19 08:30] ankurankan commented on #1340
@nihil21 Yes, I agree with you. DBNs haven't been my main focus as you can see with the number of bugs. But if you would like to contribute something like this, you are most welcome and I think it would be very interesting and useful.

[2020-10-22 20:09] mjmt05 opened #1344 "Can no longer specify StructureScore in HillClimbSearch"
### Subject of the Issue
With the updates to the HillClimbSearch (#1312) class in estimators, bugs were introduced with specifying the scoring method. Documentation was also not updated to reflect changes.

### Steps to reproduce
The code that sets scoring method seems to have moved down to the function call `estimate` rather than being set when you initialize the class - this has not been reflect

[2020-10-23 08:29] #1344 closed, assigned to nobody

[2020-10-26 12:27] nihil21 commented on #1331
Actually I tested the modified `get_markov_blanket` method (with `discard`) on query variables in the first time slice and the result is as expected. Under-the-hood it relies on the `DAG.get_markov_blanket` method, and if I've understood correctly the `DAG` class does not make any assumption on the "dynamicity" of the network, it treats it as a generic directed acyclic graph, am I right?

[2020-10-27 18:32] ankurankan commented on #1331
@nihil21 Yes you are right that the `DAG.get_markov_blanket` assumes the model to be a simple Bayesian Network and that is also the reason why your fix doesn't give the expected result. The expected markov blanket for (IC1, 1) in your example should be: (IC1, 0), (IC4, 0), (IC1, 2), (IC4, 1). The problem is that the Dynamic Bayesian Network class represents the model as a 2-TBN (just stores the fi

[2020-10-27 18:59] nihil21 commented on #1331
I didn't think about the third time slice, you're right.

[2020-11-01 22:26] LikhithaNagahanumaiah commented on #1038
did not work for me

[2020-11-02 06:54] ankurankan commented on #1038
@LikhithaNagahanumaiah Could you share your code, so that I can see what's going wrong?

[2020-11-02 10:46] Siniara opened #1347 "Issues with DAG produced by Hillclimbsearch pgmpy-0.1.12"
### Subject of the issue
The DAG generated by the HillClimbSearch does not give the same results as stated in the pgmpy readme.
I'm new to Bayesian Networks so I may be missing something, but after some experimentation earlier versions of pgmpy seem to give results that align more with what I'd expect.

### My environment
* pgmpy version 0.1.12
* Python version 3.6.9 (Google Collab) and 3.8 (local

[2020-11-02 16:05] ankurankan commented on #1347
@Siniara Thanks for reporting this. I am looking into it, will let you know once it's fixed.

[2020-11-03 15:39] ankurankan commented on #1347
@Siniara I think the difference you are seeing is because of using different scoring methods. There was an API change in 0.1.12 and the `scoring_method` argument was moved to the `estimate` method instead of specifying it while initializing. So, your code is using `K2Score` (the default scoring method) for v0.1.12 and `BicScore` for v0.1.11. If you change your code and specify the scoring_method i

[2020-11-03 15:39] #1347 closed, assigned to nobody

[2020-11-08 20:00] sangam-r commented on #1024
@ankurankan I had the same problem. Followed the instructions as explained above, I can import bnlearn but when I try to use the methods of bnlearn such as bnlearn.import_DAG, bn.structure_learning.fit it gives an error as

AttributeError: module 'bnlearn' has no attribute 'import_DAG'
AttributeError: module 'bnlearn' has no attribute 'structure_learning'

![Screen Shot 2020-11-08 at 1 59 28 PM](h

[2020-11-08 20:19] Pipe-Runner commented on #1024
Let me try to help you out with this. I'll have to recreate the problem on my end first, so could you please tell me how exactly u ended up installing pgmpy and jupyter notebook?
Did you install both on a fresh conda env ?

[2020-11-08 20:26] sangam-r commented on #1024
Ok.

These are the steps:

conda create -n env_bnlearn python=3.8
conda activate env_bnlearn
conda install -c ankurankan pgmpy

Then I deactivated this env and again activated the env_bnlearn

Then I installed bnlearn as- pip install bnlearn

Then installed jupyter as conda install jupyter

Deactivated the env_bnlearn and activated again and opened jupyter typing jupyter-notebook. Then I opened ne

[2020-11-08 20:52] sangam-r commented on #1024
Ok.

These are the steps:

conda create -n env_bnlearn python=3.8
conda activate env_bnlearn
conda install -c ankurankan pgmpy

Then I deactivated this env and again activated the env_bnlearn

Then I installed bnlearn as- pip install bnlearn

Then installed jupyter as conda install jupyter

Deactivated the env_bnlearn and activated again and opened jupyter typing
jupyter-notebook. Then I opened ne

[2020-11-09 08:00] Pipe-Runner commented on #1024
@sangam-r Hi, I followed the exact steps that u did and everything worked fine for me. Please check if you have installed things in the correct env.

![screenshot-localhost_8888-2020 11 09-13_29_36](https://user-images.githubusercontent.com/19551058/98514616-c07cbc80-228f-11eb-94ed-099b54459e57.png)

[2020-11-09 08:55] ankurankan commented on #1024
@sangam-r If the installation of packages went through without any errors, this mostly happens because of jupyter not using the correct environment. There are two common reasons for that: 1) jupyter wasn't installed in the current environment and it's falling back to the system one 2) jupyter has selected the python kernel to be something other than the current environment. You can fix this simply

[2020-11-11 07:57] Kuril951 opened #1348 "ValueError in HillClimbSearch().estimate()"
### Subject of the issue
It raises ValueError when estimating the graph with the HillClimbSearch model.

### Your environment
* pgmpy version : 0.1.12
* Python version : 3.7.7
* Operating System : Ubuntu 18.04.2 LTS

### Steps to reproduce
[code]

### Expected behaviour
1. return model with fixed edges
or
2. return model with fixed_edges and white_list edges

### Actual behaviour
![image](https://

[2020-11-11 10:13] #1348 closed, assigned to nobody

[2020-11-11 10:13] ankurankan commented on #1348
@Kuril951 If you install the latest `dev` branch this should work now.

[2020-11-13 01:16] wadenash1 opened #1350 "About BN's Incremental update’"
### Subject of the issue
 If we had an established Bayesian Network, Now we have some datas about it, Can we use this datas update the established Bayesian Network, instead of re-learning all the datas(the original datas and the datas we just mentiond) to Caculate the Bayesian Network's parameters?

### Your environment
* pgmpy version
* Python version
* Operating System

### Steps to reproduce
Te

[2020-11-13 11:56] ankurankan commented on #1350
@wadenash1 There is no direct method to do this but a workaround can be to use the `BayesianEstimator` with `dirichlet` prior. Also, the values might be slightly different when compared to fitting the whole dataset at the same time because of numerical differences because of the `psuedo_counts` computation.Here's an example:
[code]

[2020-11-14 06:55] wadenash1 opened #1351 "@wadenash1 There is no direct method to do this but a workaround can be to use the `BayesianEstimator` with `dirichlet` prior. Also, the values might be slightly different when compared to fitting the whole dataset at the same time because of numerical differences because of the `psuedo_counts` computation.Here's an example:"
@wadenash1 There is no direct method to do this but a workaround can be to use the `BayesianEstimator` with `dirichlet` prior. Also, the values might be slightly different when compared to fitting the whole dataset at the same time because of numerical differences because of the `psuedo_counts` computation.Here's an example:
[code]

_Originally posted by @ankurankan in https://github.com/pgmpy/pgm

[2020-11-14 06:56] #1351 closed, assigned to nobody

[2020-11-17 17:49] bruce0715 commented on #825
I just wonder when there will have approximated inference method for pgmpy? Thanks

[2020-11-18 13:11] ankurankan commented on #825
@bruce0715 Sorry, I don't have a timeline on this. I personally won't have time to work on this for the coming few months at least.

[2020-11-19 15:03] sangam-r commented on #1024
Hi Ankur,

I installed jupyter after activating the bnlearn environment and it works.
Uh hu. thank you very much for your help.

On Mon, Nov 9, 2020 at 2:55 AM Ankur Ankan <notifications@github.com> wrote:

[2020-11-20 08:57] wadenash1 opened #1352 "About BN's incremental Learning's follow-up Question"
As your mentioned in https://github.com/pgmpy/pgmpy/issues/1350#issuecomment-726724566，my projects worked very well, thank u very much.

But I've encountered another problem as follows:
ValueError: The shape of pseudo_counts for the node: A must be of shape: (1, 1)

Base on my experiment，I this might be casued by the missing status number.

For example:
      If the node A has tow status numbers:

[2020-11-20 09:32] ankurankan commented on #1352
@wadenash1 In case of missing states, you can specify a `state_names` argument to the `fit` method and when initializing the `BayesianEtimator`. Here's an extension to the last example with the state number `2` missing this time in the data but I have used the `state_names` parameter to specify that:
[code]

[2020-11-20 09:32] #1352 closed, assigned to nobody

[2020-11-27 08:00] lwgkzl opened #1353 "[Question] Can I use gradient descent for parameter learning of Bayesian networks through pgmpy?"
As shown in the question, the structure of the Bayesian network has been determined, and I want to update the parameters of the Bayesian network using a negative log likelihood as loss.
Does pgmpy now support this implementation? Or how do I implement this function on top of pgmpy?
Thanks for any help!

[2020-11-28 10:25] ankurankan commented on #1353
@lwgkzl Yes, we currently have an implementation for optimization based parameter learning but only for the case of SEMs (which are equivalent to gaussian Bayesian networks with linear relations) here: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/estimators/SEMEstimator.py#L193. You can specify the optimizer you want to use for the optimization (the default is adam).

[2020-11-28 10:25] #1353 closed, assigned to nobody

[2020-11-30 09:47] hejunqing opened #1355 "How to combine BayesianNetwork and NoisyOR ?"
### Subject of the issue
I want to build a 3-layer BN with the last layer being the NoisyOR nodes, how could I accomplish that?
I constructed a BayesianNetwork and found that I could not customize the computation of the NoisyOR nodes. All I can do is to assign CPDs.

### My environment
* pgmpy version 0.1.12
* Python version 3.6.5
* Operating System: Centos 7.4

### my code
from pgmpy.models impor

[2020-11-30 10:12] ankurankan commented on #1355
@hejunqing The `NoisyOrModel` isn't complete and there is no direct way to combine it with `BayesianModel` yet. But since the `NoisyOrModel` is just a special case of Bayesian model, in which you specify the CPDs to have high probabilities for some specific causes, and the other probabilities are very small (or 0). So, you can basically define the CPDs in Bayesian Model which will be able to simul

[2020-11-30 10:12] #1355 closed, assigned to nobody

[2020-11-30 10:16] MathijsPost opened #1356 "Structure learning with start/initial DAG"
### Subject of the issue
I am trying to estimate the structure of a DAG representing a dataset. Initially, this took quite long so I created quite an extensive model myself to minimize the search space (so I thought). I am running into runtime issues, but the syntax in my code does not match the documentation.

### Your environment
* pgmpy version = 0.1.11
* Python version = 3.7.4
* Operating Syst

[2020-11-30 10:33] ankurankan commented on #1356
@MathijsPost The online documentation is for v0.1.12, that's why some of the arguments are different/not working. A lot of things in Hill Climb were changed in the last release, and should also be faster now. Could you give the new version a try and let me know if you face the same issues?

Also, just a pointer that the `scoring_method` argument has also been moved to the `estimate` method now, so

[2020-11-30 11:55] MathijsPost commented on #1356
@ankurankan Thank you for your clear and swift reply. I will try to do so! I am having some difficulties, have you ever run into a similar issue using Anaconda prompt?

InvalidArchiveError('Error with archive C:\\Users\\TUDelft SID\\Anaconda3\\pkgs\\pgmpy-0.1.12-py37_0.tar.bz2.  You probably need to delete and re-download or re-create this file.  Message from libarchive was:\n\nCould not unlink')

[2020-11-30 12:07] ankurankan commented on #1356
@MathijsPost Maybe you have already tried this but running `conda clean -a` before installing might fix it. Another thing you can try is to completely remove the previous version and do a fresh install instead of trying to update it. If this doesn't fix it, please let me know as I have updated the conda package this morning, so there might be some problem with the actual uploaded package.

[2020-11-30 12:17] MathijsPost commented on #1356
@ankurankan I just tried that, but no luck. The download/extraction bar stays at 0%

Downloading and Extracting Packages
pgmpy-0.1.12         | 9.6 MB    |                                                                              |   0%

InvalidArchiveError('Error with archive C:\\Users\\TUDelft SID\\Anaconda3\\pkgs\\pgmpy-0.1.12-py37_0.tar.bz2.  You probably need to delete and re-download or r

[2020-11-30 12:23] ankurankan commented on #1356
@MathijsPost Not sure why this is happening. But you can also try installing through pip using: `pip install pgmpy`

[2020-11-30 12:30] MathijsPost commented on #1356
@ankurankan Thanks! While anaconda doesn't show it, it seems updated as start_dag works! Much appreciated!

[2020-11-30 12:38] Cyx123hn commented on #1356
how to use it in multi-label learning @ankurankan

[2020-11-30 12:49] ankurankan commented on #1356
@Cyx123hn Sorry, I am not sure what exactly do you mean by multi-label learning. If you mean variables with multiple classes, everything should work as it is. Also, if it's unrelated to this issue, can you please create a new issue for your question.

[2020-11-30 12:56] Cyx123hn commented on #1356
Yes, that's what I mean. If I use this for multi label learning, how to deal with it's feature? Is the input of structural learning just classes？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "pgmpy/pgmpy"

[2020-11-30 13:05] ankurankan commented on #1356
@Cyx123hn The structure learning algorithms take dataset as input and based on the dataset it will automatically infer the number of labels.

[2020-12-01 09:01] MathijsPost commented on #1356
@ankurankan I have a follow-up question, everything seems to work, however by using either a `start_dag` or `fixed_edges` iterations do not seem to happen. I am using roughly 25 variables as input, and as initial DAG/edges I add about 30. After one hour no iterations are finished. First I assumed that adding so many edges could speed up the process, however this does not seem to be the case. Is my

[2020-12-01 09:17] MathijsPost commented on #1356
I used `bicscore` at first, `k2score` does seem to work!

[2020-12-01 09:23] MathijsPost commented on #1356
`bdeuscore` seems to work too! Any reason why `bicscore` does not start the iterations?

[2020-12-03 11:38] ankurankan commented on #1356
@MathijsPost I can't think of a reason for this. Would it be possible for you to share some minimal reproducible code, so that I can try it on my end?

[2020-12-07 14:43] MathijsPost commented on #1356
Hi @ankurankan , apologies for the late reply. Today I changed some values and value-types. At first the dataset was a combination of categorical values and integers, but today I changed everything to integers which works much faster. However, this does raise the question, does pgmpy interpret integers the same way as categorical values? That is, is 2 always larger than 1, or does pgmpy interpret

[2020-12-07 14:55] ankurankan commented on #1356
@MathijsPost Interesting, I expected the runtime to be the same for both integers or strings. HillClimb considers everything as unordered categorical. So, if you provide it with integral values, it will consider each value to be a category, and the value itself wouldn't matter (i.e. changing the value for the category wouldn't make any difference).

[2020-12-07 15:09] MathijsPost commented on #1356
@ankurankan What could have caused the issue, was that I used pandas qcut() to discretize the data in bins. However, such a bin/category is still a float, which could have led to the issue. If anything comes up I will keep you posted.

[2020-12-07 15:21] ankurankan commented on #1356
@MathijsPost Since you mentioned that you discretized your variables, were you using continuous data before? Because in that case, the algorithm assumes each value to be a category which would result in a huge number of categories and slow down the algorithm.

[2020-12-07 15:36] MathijsPost commented on #1356
@ankurankan I discretized the variables before I opened this issue. As far as I know I never used continuous data. I just tried the structure learning with a dataset of 500 rows and a maximum of 10 iterations which worked flawless. However, more iterations and at some point more rows in the dataset leads to my RAM memory being used to the maximum. Spyder says it uses 99% of my memory. Possibly the

[2020-12-07 18:04] ivanDonadello commented on #1172
Dear all,

is there any progress about this?

Thanks

Ivan

[2020-12-07 18:18] ankurankan commented on #1172
@ivanDonadello Yes, this has already been implemented. You can specify `n_jobs` parameter in the `predict` method to specify the number of concurrent processes to run. The default is `-1` which uses all CPU cores. But one of the things to keep in mind is that parallelization has overhead costs, so it will only be faster when the models are complex. In simpler cases, a single process might be faste

[2020-12-07 18:21] ivanDonadello commented on #1172
Thank you very much @ankurankan! Is there anything similar also for the map_query method? I would like to pass a matrix/batch of evidences to the method instead of iterating over each row.

[2020-12-07 18:25] ankurankan commented on #1172
@ivanDonadello The predict method uses `map_query` internally as it's predictions are the categories with the highest probability. If you are looking to get the probability values, you can checkout the `predict_probability` method: http://pgmpy.org/models.html#pgmpy.models.BayesianModel.BayesianModel.predict_probability

[2020-12-07 20:06] ivanDonadello commented on #1172
@ankurakan thanks for the link. In the prediction method the adopted `map_query` is the one of the `VariableElimination` algorithm. If I wanted to use the one of the `BeliefPropagation` algorithm should I modify the source code? Is there a way for switching one for another?

[2020-12-07 20:32] ankurankan commented on #1172
@ivanDonadello Currently, there is no way to use BeliefPropagation with the predict method. So, you will have to either modify the code or use the map_query directly from BeliefPropagation. Also, I think it would be a nice feature to have the option to select the inference method in the predict method, so in case you modify the source code, please consider opening a pull request for it. :)

[2020-12-08 14:11] yzh211 opened #1359 "Some bugs in PC -> skeleton_to_pdag"
### Some bugs in PC -> skeleton_to_pdag
When I debug the module `PC`, I found that `node_pairs` in `skeleton_to_pdag` is defined as a `combination` iterator. So after first iteration, it will not yield any more. Check this answer:

https://stackoverflow.com/a/25336739

In another words, steps 2, 3, and 4 in `skeleton_to_pdag` are not performed in all circumstances. In addition, all codes inside of

[2020-12-08 14:42] ankurankan commented on #1359
@yzh211 Thanks a lot for pointing out this bug. A PR fixing this would be great :)

[2020-12-10 13:09] ivanDonadello commented on #1172
Thank you very much! I'll do it! :)

[2020-12-10 13:21] ivanDonadello opened #1361 "Strange Behavior HillClimbSearch"
### Subject of the issue
I want to reproduce the example [here](http://pgmpy.org/estimators.html?highlight=hillclimbsearch#pgmpy.estimators.HillClimbSearch)

### Your environment
* pgmpy version: 0.1.12
* Python version: 3.6.9
* Operating System: Ubuntu 18.04.5 LTS

### Steps to reproduce
[code]

### Expected behaviour
`[('B', 'J'), ('A', 'J')]`

### Actual behaviour
`[('A', 'B'), ('J', 'A'), ('J'

[2020-12-10 17:10] ivanDonadello commented on #1177
Dear @ankurankan, I also have a memory error. My network has 22 nodes, 21 edges, all the nodes have 5 states/values except one that has only 2 states/values. The values are discrete. I have memory problems (both on my desktop with 32Gigas and on Colab) with this simple query:

[code]

I also tried with n_jobs=6. I don't have variables with many parents. How can I solve this? Here the error:

[code

[2020-12-13 14:25] ankurankan commented on #1177
@ivanDonadello In the example that you have shown, the problem is that `values` is defined on only 2 variables, hence the predict method will try to compute a joint probability distribution (and return the most likely state) on the rest 20 variables which will have 5^20 values, and hence the memory error. I am not sure if you actually wanted to predict 20 variables or were expecting something else

[2020-12-13 14:28] ankurankan commented on #1361
@ivanDonadello The API for HillClimbSearch was changed in the last release, and now it expects the scoring method to be specified in the `estimate` method. So, in the example that you have posted above, it uses the default `K2Score`. If you use `BicScore`, you should get the expected results:
[code]

Also, if your code is based on an example from the pgmpy documentation, could you please point me

[2020-12-14 10:14] MathijsPost commented on #949
@ankurankan Hi, I am running into the exact same issue with the `BIFReader`, however for me the issue still arises, I am using pgmpy version 0.1.12 with python 3.7. The `XMLBIFWriter` takes such a long time that I terminate the process after 15 minutes or so with no results. `UAIWriter` also works, but the `UAIReader` doesn't work either for me. Any thought or solutions?

[2020-12-14 15:39] MathijsPost commented on #949
@ankurankan I checked, I am able to read a file with strings as states with `BIFReader`. However, I use integers as states, but judging from your last comment I assumed this is not an issue, or is it?

[2020-12-14 16:00] ankurankan commented on #949
@MathijsPost I would suggest using BIF as much as possible as it's one of the most tested formats and is quite consistent. You can now actually specify a parameter `state_name_type=int` in the `get_model` method for BIFReader and it will automatically convert the state name to int.

Also, could you tell me more about your network size? Because I just tried XMLBIFWriter on the munin2 network (1k no

[2020-12-14 16:00] ankurankan commented on #949
Also if possible could you please open a separate issue for the error that you are getting with UAIReader?

[2020-12-14 16:47] MathijsPost commented on #949
@ankurankan Thank you for your quick response. Currently, I have 31 edges for 27 variables, I fit the model on a dataset with 3000 rows of data (ideally I will try to use all 500.000 rows someday). Attached you can find the bif-file, possibly you could give it a try?

I will open the issue for the UAIReader shortly!

[2020-12-14 20:48] ankurankan commented on #949
@MathijsPost I had a quick look at the BIF file that you shared. The error in BIFReader is because of the special characters in the variable names. Right now the reader class expect only alpha numeric, `-`, and `_` characters for the variable names. I will try to fix it.

[2020-12-15 09:18] MathijsPost commented on #949
@ankurankan Thank you! That makes sense. Really appreciate your help and the work you are doing!

[2020-12-15 10:31] ivanDonadello commented on #1177
@ankurankan thanks for the answer. I tried different numbers of variables for the evidence and the minimum working number of evidence variables is 11. Actually, I need to predict 17 variables with an evidence of 5 variables. Why? This evidence comes from user answers to a questionnaire therefore I cannot pose all 22 questions as evidence. So my problem is how to select the smallest number of varia

[2020-12-15 10:43] ivanDonadello commented on #1361
@ankurankan thanks for your answer. I use the chow-liu, tan and PC estimators in this way:

[code]
[code]
[code]

Then I estimate the parameters:
[code]
Finally, I query the model
[code]

My idea is to find a structure that best predicts the values of the evidence. Now I can also use HillClimbSearch.

[2020-12-15 12:40] ankurankan commented on #1361
@ivanDonadello A better method to verify your model structure could be to test the implied conditional independencies against the dataset. This will avoid any additional noise due to parameter learning. The R package `dagitty` has a neat function to do it easily: https://rdrr.io/cran/dagitty/man/localTests.html

[2020-12-15 12:40] #1361 closed, assigned to nobody

[2020-12-15 12:55] ankurankan commented on #1177
@ivanDonadello I am sorry but I am not able to understand your usecase. Could you possibly give me more details? I don't think it would be possible to predict 17 variables together with a Bayesian Network. To do inference on 17 variables together (with 5 states each) would need at least 1 TB of memory and quite a lot of computation time. And if you care just about the prediction accuracy (and not

[2020-12-15 13:21] ivanDonadello commented on #1177
@ankurankan thanks for your answer, I think that maybe another ML algorithm would better fit my usecase.

To answer your question. I have 22 variables about demographic information of users and their preferences. 5 of them are evidence (sex, age, school, etc), the other 17 are preference scores (I like fish, I could try white meat instead of red one, I like legumes) from 0 to 4. Once I have traine

[2020-12-15 13:43] ivanDonadello commented on #1361
Thank you very much!

[2020-12-19 13:39] #1359 closed, assigned to nobody

[2020-12-21 05:31] mghanava opened #1363 "installation error on windows 64"
Have been using pgmpy previously on Ubuntu with no issue. But now, I can't get it installed in windows. I have tried all three methods of conda, pip and even downloading direct source codes. When I go thru the conda path, I get this error:

Downloading and Extracting Packages
pgmpy-0.1.12         | 9.6 MB    |

[2020-12-21 14:09] ankurankan commented on #1363
@mghanava I don't think this is related to the package and seems to be a problem with conda or your env. Have you already tried this: https://stackoverflow.com/questions/59657306/invalidarchiveerror-when-executing-conda-install-notebook? Or maybe installing in a new conda environment?

[2020-12-21 16:49] mghanava commented on #1363
Thanks Ankurankan

I followed your link. A little bit of improvement as you can see, but again it does not install the specific pgmpy package. I have removed/create the environment several times. It is just a separate environment for this package to assure compatibility. I do not have any other issue with other environments that I am working, so I am not sure if it is related to conda. any other s

[2020-12-22 06:06] 576774572 opened #1364 "DBNInference ValueError: Self loops are not allowed"
Hi!
when I try to construct model with DBN like this:

![20201222145647](https://user-images.githubusercontent.com/76466183/102854491-fce23180-4465-11eb-98af-44c0ee74deec.png)

`from pgmpy.models import DynamicBayesianNetwork as DBN`
`from pgmpy.factors.discrete import TabularCPD`
`from pgmpy.inference import DBNInference`
`dbn = DBN()`
`dbn.add_edges_from([(('a', 0),('b', 0)),(('a', 0),('a', 1)),

[2020-12-24 12:16] ankurankan commented on #1041
Ref #1358

[2021-01-01 09:48] #1305 closed, assigned to nobody

[2021-01-01 09:49] #1105 closed, assigned to nobody

[2021-01-01 10:12] ankurankan opened #1365 "Add support for python 3.9"
Dependencies supporting 3.9:

- [x] Networkx
- [x] numpy
- [x] scipy
- [x] scikit-learn
- [x] pandas
- [x] pyparsing
- [x] pytorch (alpha0 version only on conda)
- [x] statsmodels
- [x] tqdm
- [x] joblib

[2021-01-01 11:27] #1365 closed, assigned to nobody

[2021-01-01 13:07] ankurankan opened #1367 "Bug in conditional Instrumental variable computation for SEM"
### Steps to reproduce
[code]

The model has a conditional IV `I | W` but the method doesn't return any IVs.

[2021-01-04 11:22] 1589864500 opened #1369 "get_example_model ConnectionRefuseError"
### Subject of the issue
Describe your issue here.

I installed pgmpy via pip (no other packages were installed).
A connection timeout problem was encountered while using the get_example_model function.(from pgmpy.utils import get_example_model)
Do I need to open the service in the console or download other third-party packages?
Or maybe it's because I have a bad Internet connection (which I perso

[2021-01-04 12:10] ankurankan commented on #1369
@1589864500 The bnlearn.com website seems to be down. `get_example_model` fetches the model file from there, and that's the error. I think you will just have to wait or if you have a model file downloaded you can always load it using `pgmpy.readwrite` module.

[2021-01-04 12:10] #1369 closed, assigned to nobody

[2021-01-04 14:13] ankurankan commented on #1369
@1589864500 bnlearn.com seems to be back up again. The code should work now.

[2021-01-04 15:25] 1589864500 commented on #1369
@ankurankan Thank you very much. bnlearn.com is actually working

[2021-01-04 15:36] ankurankan opened #1370 "Include the bif files for example models in the package"
The `pgmpy.utils.get_example_models` function fetches the model file from the bnlearn repository when called. Change this such that the package includes the model files and doesn't depend on a working internet connection or bnlearn.com

[2021-01-04 16:09] #1370 closed, assigned to nobody

[2021-01-09 16:06] delvh opened #1372 "Bug in BayesianModel#getIndependencies(latex=True)"
### Subject of the issue
When calling `BayesianModel#getIndependencies(latex=True)` on such a model, an empty dependency separator will be displayed at the end of a latex string, even if there is no variable behind it.
This problem does not appear when using the normal representation.
To showcase this, please refer to the code below.

### Your environment
* pgmpy version: 0.1.13
* Python version 3

[2021-01-09 17:26] #1372 closed, assigned to nobody

[2021-01-09 17:27] ankurankan commented on #1372
@delvh Thanks for reporting the bug. It should be fixed now on the latest dev branch.

[2021-01-09 19:39] delvh opened #1374 "Displaying the independency symbol directly instead of using a workaround"
### Subject of the issue
Currently, `_|_` gets displayed instead of the actual symbol, `⟂` (U+27C2), when calling for example `<BayesianModel>.getIndependencies()` (I don't know if the `Independencies` object gets called anywhere else).
As far as I know, Python supports printing UTF-8 characters natively.
The only question is: Is there any reason that speaks against using `⟂` instead of `_|_` ?
Be

[2021-01-10 10:55] ankurankan commented on #1374
@delvh Except for being easier to write there is no real reason for using the ascii characters. But I tested the UTF character and I think it looks much better in the rendered documentation. I can go ahead and replace it unless you would like to open a PR for it?

[2021-01-10 11:05] delvh commented on #1374
Yeah, go ahead :+1: .

[2021-01-10 11:36] #1374 closed, assigned to nobody

[2021-01-10 13:01] schaafjs commented on #1363
I had the same issue and fixed it by using `pip` instead of `conda` to install `pgmpy` in my anaconda environment.
You can install `pgmpy` with the following command (using Anaconda Prompt): `pip install pgmpy`.

If you don't have `pip` installed in your anaconda environment, you have to install it first using Anaconda Prompt: `conda install pip` (may require a reboot before it can actually be use

[2021-01-11 22:59] mghanava commented on #1363
thanks

[2021-01-11 22:59] #1363 closed, assigned to nobody

[2021-01-20 09:53] MathijsPost commented on #945
Hi Ankur, does this mean that when `joint=True` it returns P(A,B,C | D) and when `joint=False` it return the dict for every variable in the form of: P(A|D), P(B|D) and P(C|D)? Additionally, I am not sure how to interpret the result of the query when `joint=True`.

[2021-01-20 10:05] ankurankan commented on #945
@MathijsPost Yes, that's correct. The difference between joint=True, and False is just how the `variables` argument is treated. So, when joint=True, it returns a joint distribution over the variables, and when it's false it treats each variable in `variables` as a separate query (but saves some computation by reusing intermediate results) and hence returns a distribution for each of them.

[2021-01-20 10:10] MathijsPost commented on #945
@ankurankan Thank you so much once again for your fast and clear reply! You are really helping my thesis getting along, thank you!

[2021-02-01 18:15] mjmt05 opened #1376 "BayesianEstimator get_parameters default arg for pseudo_counts produces warning when calling estimate_cpd"
### Subject of the issue
In the BayesianEstimator class when using the get_parameters function the default arg for `pseudo_count` is None, but the default arg in estimate_cpd is `[]` causing a warning when it reaches the if statement on line 155.

### Your environment
* pgmpy version: 0.13
* python version: 3.7.5
* Ubuntu

### Steps to reproduce
[code]

### Expected behaviour
Code should complete

[2021-02-02 14:05] #1376 closed, assigned to nobody

[2021-02-02 21:02] lewisscola opened #1378 "cannot import name 'ConstraintBasedEstimator'"
### Subject of the issue
Can't import ConstraintBasedEstimator in this example: https://github.com/pgmpy/pgmpy_notebook/blob/master/notebooks/9.%20Learning%20Bayesian%20Networks%20from%20Data.ipynb.

### Your environment
* pgmpy version 0.1.13
* Python version 3.8.3
* Operating System windows 10

### Steps to reproduce
[code]

When I run the line 10 code, I encounter this error:
![image](https://u

[2021-02-02 21:08] ankurankan commented on #1378
@lewisscola That notebook is a bit outdated and needs to be updated. In the meanwhile, you can have a look at this one: https://github.com/pgmpy/pgmpy/blob/dev/examples/Structure%20Learning%20in%20Bayesian%20Networks.ipynb for examples on structure learning.

[2021-02-03 12:41] MathijsPost commented on #1361
But can variable prediction be used as a measure to find the accuracy of a model? I had the same idea, but I cannot really find the reasoning behind variable prediction. It uses variable elimination if I'm not mistaken, but how does it pick the state of the missing variable? Does it always pick the state with the highest percentage? Or can the other states be chosen as well?

[2021-02-15 14:45] mahmoudibrahim98 opened #1379 "predict probability of a new sample"
I want to calculate the probability of a sample under a Bayesian network( as the product of the probability of each variable given its parents, if it has any). So to do that, I'm making inference with no variables and all the attributes with their values are considered evidence.  My attributes are continuous
`evidence_dict={var1:val1,var2:val2,var3:val3}`
`infer.query(variables=[],evidence=evidenc

[2021-02-17 15:27] ankurankan commented on #1379
@mahmoudibrahim98 This is happening because the joint distribution is too huge. The joint distribution is exponential in the number of variables (and their cardinality), so I would suggest reducing the number of variables or their cardinalities.

[2021-02-17 15:27] #1379 closed, assigned to nobody

[2021-02-17 15:39] ankurankan commented on #1361
@MathijsPost Sorry for the late reply. Model prediction can certainly help where you can compare the accuracy (or some other metric) of the predictions. But a point to keep in mind is that in that case, we are optimizing for a conditional distribution (P(Y | X)) which is what most of the general machine learning algorithms are built for. They usually optimize an error term which is computed by the

[2021-02-23 02:11] Cby19961020 opened #1381 "query evidence unable to have more than one possibility"
### query evidence unable to have more than one possibility
Hi there, hope you and your loved ones are safe during this time. I am trying to perform variable elimination for inference and for my evidence I would like to have a few possibility(example, given yesterday's weather is sunny, rainy or windy, what is the probability of electricty consumption = High tomorrow?) But I could not perform such

[2021-02-23 07:28] ankurankan commented on #1381
@Cby19961020 Currently, I don't think there is a way to specify multiple states of evidence. A simple solution, for now, could be to just run multiple inferences with one state of the evidence variable each and then combine the results together. So, in your example, you will need to do two inferences P(J, Q | A=0, R=0, G=0, L=1) and P(J, Q | A=1, R=0, G=0, L=1).

[2021-02-24 02:43] Cby19961020 commented on #1381
Hi @ankurankan,

Thank you very much for your prompt reply. Like you said this is what I plan to do. I tried to look up literature that talks about having more than one possibilities but could not find too many revelant information. I do think this is a very useful information to obtain and it doesn't seen to have a difficult derivation behind it (it might be lengthy but pretty straight forward).

[2021-02-24 13:07] sj67076 opened #1382 "Predicting values using Bayesian model and getting error"
### Subject of the issue
I am predicting no_of_people values using bayesian model in python. I am using this dataset given in picture.my error is also attached in picture.
![ycRSz](https://user-images.githubusercontent.com/79547954/109004631-d1c8c800-76ca-11eb-8e21-2f196d16f2ad.png)
![7w48v](https://user-images.githubusercontent.com/79547954/109004649-d7bea900-76ca-11eb-8f2c-f9e7b7aab2f5.png)
 my

[2021-02-24 14:07] qmeeus opened #1383 "model.predict fails because of indexing error"
### Subject of the issue
Error encountered with pgmpy.models.BayesianModel.BayesianModel when trying to predict unseen data.
The error message is similar to https://github.com/pgmpy/pgmpy/issues/1044 and https://github.com/pgmpy/pgmpy/issues/1110.

### Your environment
* pgmpy version: 0.1.13
* Python version: 3.7.9
* Operating System: Linux (but same error on Windows)

### Steps to reproduce
You

[2021-02-24 14:10] ankurankan commented on #1383
@qmeeus It's because pgmpy currently works only with discrete variables (mostly). The data that you are using is continuous.

[2021-02-24 14:10] #1383 closed, assigned to nobody

[2021-02-24 14:11] qmeeus commented on #1383
Yes I understand. May I suggest to include PGMs with continuous states in a future release?

[2021-02-24 14:13] ankurankan commented on #1383
@qmeeus Yes, that's definitely the plan. Currently, we can only do structure learning on continuous data.

[2021-02-24 14:17] qmeeus commented on #1383
OK good to know! Thank you very much

[2021-02-24 20:18] ankurankan commented on #1382
Duplicate #1383

[2021-02-24 20:18] #1382 closed, assigned to nobody

[2021-02-26 14:02] ankurankan commented on #1381
@Cby19961020 I don't think you need to do any weighting in this case as the inference algorithm has already marginalized out all the other variables, hence you have the true probability values now. In this example, you want to compute:
[code]
where E = Electricity, W=Weather, S=Sunny, R=Rainy, T=Temperature, T1=25 and above. Here the first step assumes that W=S, and W=R are mutually exclusive. The

[2021-03-01 15:17] MathijsPost commented on #1361
Thank you @ankurankan ! What do you think is the best method to test statistical independence on a structure learned Bayesian Network? Is there a build-in function in pgmpy? I am looking for a slightly more intuitive metric other than the BIC, K2 or BDeu scores.

[2021-03-02 05:45] Anboboer opened #1384 "can't install pgmpy in anaconda:FileNotFoundError(2, 'No such file or directory')"
package                    |            build
    ---------------------------|-----------------
    statsmodels-0.12.2         |   py36h2bbff1b_0        10.6 MB  defaults
    pgmpy-0.1.13               |           py36_0        19.0 MB  ankurankan
    openssl-1.1.1j             |       h2bbff1b_0         5.8 MB  defaults
    ------------------------------------------------------------

[2021-03-02 05:53] ankurankan commented on #1384
@Anboboer It seems to be a conda problem and not related to pgmpy. You can try these maybe:
1. https://stackoverflow.com/questions/57026355/conda-gives-no-such-file-or-directory-although-i-added-path-in-my-bash-prof
2. https://stackoverflow.com/questions/51524934/anaconda-bin-conda-no-such-file-or-directory

[2021-03-02 05:53] #1384 closed, assigned to nobody

[2021-03-02 20:47] ankurankan commented on #1361
@MathijsPost I don't know of any single metric to test the model structure. But a common way is to test the conditional independence implied by the network structure using statistical tests in the dataset. pgmpy doesn't have a method to do it directly yet, but you can use the R package dagitty for it: https://rdrr.io/cran/dagitty/man/localTests.html. Can also have a look at this: https://currentpr

[2021-03-02 20:53] ankurankan commented on #1361
Also, @mbaak recently contributed this method: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/inference/bn_inference.py for computing the likelihood of data given model structure with parameters. It can also be used as a metric.

[2021-03-03 20:23] mbaak commented on #1361
@MathijsPost With the log_probability(X) method now in https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/inference/bn_inference.py
one can calculate the G-test statistics of how well the model fits the dataset (https://en.wikipedia.org/wiki/G-test).
This can be interpreted as Pearson's chi-squared test formula (with a bit of work), giving a null p-value of how well the model describes the dataset - in

[2021-03-04 05:31] Cby19961020 opened #1385 "Max number of nodes/states for Bayesian Network?"
### Subject of the issue
Hi there, I have a silly question about the scalability of pgmpy. I am planning to construct a Bayesian Network with 360 features, each feature can have around 1000 states. The structure of my model is shown below. Kind of like a Markov Model but it has multiple layers.

![image](https://user-images.githubusercontent.com/44323738/109918950-d589bb00-7c85-11eb-8b48-7b040a465

[2021-03-04 10:34] MathijsPost commented on #1361
Hi @mbaak , that sounds very interesting! If it is not too much to work, an example would be nice :)

[2021-03-04 23:04] ankurankan commented on #1385
@Cby19961020 Since, the model structure, in this case, is a grid, I think it should be possible by specifying an efficient elimination order. The idea would be to make sure that the intermediate factors aren't on more than 32 variables. I think the elimination order of A1, B1, C1, ..., A2, B2, C2, ... should work.

[2021-03-04 23:11] Cby19961020 commented on #1385
Thank you for your confirmation! I am looking forward to testing this out using the package.

I am not 100% sure on what you mean by no more than 32 variables. Do you mean that there can not be more than 32 variables(to be eliminated) using variable elimination or given evidence for more than 32 variables? Because my model contains around 360 variables and all I am interested in really is P(C120 |

[2021-03-04 23:20] ankurankan commented on #1385
The 32 variable limit is on any factor object that gets created when doing variable elimination. For eliminating any variable, the algorithm multiplies all the CPDs containing that variable for example to eliminate A1, it will multiply P(A1), P(A2|A1), and P(B1|A1) to get a joint factor object on the 3 variables A1, A2, and A3. So, if the elimination order is random it can lead to the creation of

[2021-03-04 23:28] Cby19961020 commented on #1385
Thank you for your kind elaboration. I know that there is a function in pgmpy called inference.EliminationOrder which allows me to determine the most efficient elimination order.

If I use such function to obtain my elimination order, then perform variable elimination based on the calculated order, can I still possibly perform P(C120 | A1 = state59). with 360 variables or is this a definite no? (I

[2021-03-09 05:45] nickpuntoforhof opened #1386 "Using NoisyOr as CPDs of BayesianNetwork"
### Subject of the issue
The TabularCPD class is baked into the BayesianEstimator class.  For our research, we are looking to use Noisy-Or models as the conditional probability distributions for each node in a bayesian network.  While a Noisy-Or model class exists in pgmpy, it cannot be used as the CPD for a network model, along with all the functionality this requires.

I have forked the pgmpy re

[2021-03-09 08:02] ankurankan commented on #1386
@nickpuntoforhof Thanks for working on adding this feature. I have a few suggestions for the implementation:

- I would suggest keeping the model structure and parameterization code separate as it helps in keep things modular. So, instead of creating a `NoisyOr` class in `pgmpy.factors.discrete.CPD`, I would suggest creating a simpler `NoisyOrCPD` class that inherits the `TabularCPD` class and add

[2021-03-11 20:26] mbaak opened #1387 "Bug: structure-learned Bayesian Network samples incorrect frequencies"
### Subject of the issue
When one learns the structure of a Bayesian Network from data and fits the model parameters, then
the sampled frequencies of data points generated using forward_sampling are incorrect. The observed
frequencies deviate significantly from the expected frequencies of a model. I see this with BNs constructed
using HillClimbSearch and TreeSearch (and it may hold for more search

[2021-03-11 20:44] mbaak commented on #1361
Hi @MathijsPost,
I tried to make an example for you but while doing this ran into a pgmpy sampling issue that I just posted here:
https://github.com/pgmpy/pgmpy/issues/1387
This needs to be resolved in order to make the example. Once it is, I will get back to this.

[2021-03-12 06:34] mbaak commented on #1387
One more thing: the probabilities found with model2 match the frequencies in the fitted "sample" dataset very well. So the problem must indeed be in the sampling.

[2021-03-14 12:01] MathijsPost commented on #1361
Hi @mbaak ,

That's alright, take your time!

[2021-03-14 12:04] MathijsPost commented on #1361
@ankurankan , is there a way to make the prediction process more stochastic? Such that it not always picks the state with the highest probability but occasionally other states as well according to the distribution?

[2021-03-14 16:36] MathijsPost commented on #1361
@ankurankan what are your thoughts on the following:

I see that predict calls the `map_query` function. In the `map_query` I replaced:

`argmax = np.argmax(final_distribution.values)`

by:

[code]

This way it picks the index based on the weights. It is no longer officially a MAP query, but it can pick values with smaller probabilities as well.

[2021-03-14 18:43] Jamesfox1 opened #1389 "Bug: Error when using belief propagation's Query method with state names different from the state numbers"
### Subject of the issue
We can't use Belief Propagation's query method with different state names (ie strings or numbers that aren't the state numbers)

### Your environment
* pgmpy commit: [e52f836](https://github.com/pgmpy/pgmpy/commit/e52f836769cea5ef5928eb5094670e31fb189ce2) or pgmpy version: 0.1.13
* Python version:  3.8.8
* Operating System: Ubuntu 20.04

### Steps to reproduce

This exampl

[2021-03-16 07:38] ankurankan commented on #1361
@MathijsPost I would suggest adding something like this in the `predict` method as modifying the MAP behavior to stochastic would be incorrect. We could add a new argument to the `predict` method which the user can use to specify whether they want a stochastic prediction or a simple MAP one. What do you think?

[2021-03-16 07:43] ankurankan commented on #1387
Fixed in #1388

[2021-03-16 07:43] #1387 closed, assigned to nobody

[2021-03-16 08:09] ankurankan commented on #1389
@Jamesfox1 The problem, in this case, is that the `state_names` for `cpd_j` isn't specified. Currently, the state names between the CPDs aren't shared, so `cpd_a` uses the state names `[a, b]` for `A` but since it's not specified in `cpd_j` it automatically assigns the state names for `A` to be `[0, 1]`. And hence when we try to reduce `cpd_j` on `A: a`, it can't identify the state name. A simple

[2021-03-16 08:42] MathijsPost commented on #1361
Hi @ankurankan I think that sounds like a better solution! I agree that it is incorrect to modify the MAP behavior. Do you think that is a lot of work? For my application it is sometimes incorrect to always pick the state with the highest probability but I suppose it depends on the application.

[2021-03-18 13:41] ankurankan commented on #1361
@MathijsPost It should be very straightforward. For getting stochastic results, we will just need to replace the `map_query` call in the `predict` method with `query` and then just sample the predictions (something like what you suggest above) from the returned distribution.

[2021-03-18 15:24] RyanCarey commented on #1389
Would it make more sense for:
1. the state_names argument to accept a list (which could be called "domain") rather than a dictionary (since the values of the dictionary seem to always duplicate with the "variable" argument)
2. to automatically update a "state_names" dictionary in __init__, that it includes the list for each previous variable
?

(We're following [this approach](https://github.com/c

[2021-03-18 16:48] ankurankan commented on #1361
@MathijsPost The stochastic `predict` should work now in the latest dev version.

[2021-03-19 05:50] Cby19961020 commented on #1385
Hi @ankurankan  I performed the analysis mentioned above and received the following error.

Like I mentioned previously I had around 360 varaibles in my model, when I reduce the variable ~60 the model can output values.

Please let me know what your thoughts. Thank you for your attention!

---------------------------------------------------------------------------
ValueError

[2021-03-19 22:49] Cby19961020 opened #1391 "Variable elimination failed when working with large number of nodes"
### Subject of the issue

Carry on from issue https://github.com/pgmpy/pgmpy/issues/1385, when I shrink everything by:
1. Reducing the number of states (from 1000) to 2 for each node
2. Reduce the number of variables (from 360) to ~60
I can then perform variable elimination. However, when performing print(model_infer.query([Some Variable], elimination_order = elimination_list, evidence = evidence_

[2021-03-20 15:17] MathijsPost commented on #1361
@ankurankan Cool man! Thankyou

[2021-03-24 13:21] ankurankan commented on #1389
I am a bit divided on this issue. Currently, the `state_names` require the dictionary for state names of both the variable and evidence variables. The problem is that if we relax this and only ask for variable's state names, it makes it dependent on other CPDs (as it will require parent CPDs to be defined as well), which results in a loss of modularity. But at the same time, it will make it easier

[2021-03-24 20:32] ankurankan commented on #1391
@Cby19961020 Could you also tell me what elimination order did you use? Or if possible, could you post a minimal reproducible code, so that I can check in detail what's happening?

[2021-03-24 23:23] Cby19961020 commented on #1391
Hi @ankurankan Thank you for your attention, please take a look at the elimination order selection process below for more information:

#List of all the nodes
master_list = list_1.copy()

#Remove the node that we want to predict
master_list.remove('ID60_t+31_Good')

#Remove all the nodes that is given as evidence
for item in evidence_dict.keys():
    master_list.remove(item)

#Calculate the most o

[2021-03-31 07:26] ankurankan opened #1393 "Installing pgmpy using pip requires pytorch to be installed"
### Subject of the issue
Installing pgmpy using pip and import pgmpy throws an error that torch not found. This shouldn't be the case as pytorch is an optional dependency and should only throw an error if some relevant function gets called.

[2021-03-31 19:38] MathijsPost commented on #1177
Can I ask an additional question regarding variable elimination? I'm working with some random samples and often the query returns NaN values. When or why would this happen?

[2021-04-04 13:41] #1122 closed, assigned to ankurankan

[2021-04-05 16:21] ankurankan commented on #1177
@MathijsPost I can't think of a reason why that might happen. Do you by any chance have a reproducible code that I can look at?

[2021-04-05 16:22] #1378 closed, assigned to nobody

[2021-04-05 16:30] MathijsPost commented on #1177
Hi @ankurankan I looked into it, I was creating random samples for every variable, which led to combinations of variable states that never happened in my case. For example, I have a variable that includes the hour of the day (0-23) and another variable that indicates the moment of the day (morning, afternoon, evening, night). There were combinations that said it was 07:00 AM for hour of the day an

[2021-04-07 12:44] FatPandao opened #1397 "BeliefPropagation's map_query method use operation="marginalize""
`map_query` in `BeliefPropagation` is calling `self._query` with `operation="marginalize"`, should it be `operation='maximize'`?

[code]

[2021-04-07 20:29] FatPandao commented on #1397
When reading `map_query`, I think the code is computing the joint MAP assignment. For example, X = (A, B, C), then result = argmax_X P(X). But it seems that the code is computing argmax_A P(A),  argmax_B P(B) and argmax_C P(C) which are marginal MAPs.

[2021-04-09 17:52] #1117 closed, assigned to nobody

[2021-04-10 08:11] ankurankan opened #1399 "Data Files not getting included in the package"
The datafiles for the example models are not getting included in the package resulting in an error when `get_example_model` is called. If installed through pip or conda, this throws an error:

[code]

[2021-04-10 08:45] #1399 closed, assigned to nobody

[2021-04-10 16:05] ankurankan commented on #1397
@FatPandao Yes, that's correct. It's currently mentioned in the docstring here: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/inference/ExactInference.py#L349. But we need to fix this behavior to allow the user to specify whether they want a joint assignment or individual.

[2021-04-10 16:12] ankurankan commented on #1391
@Cby19961020 I pushed some optimizations for Variable Elimination (https://github.com/pgmpy/pgmpy/pull/1398) today which should automatically reduce the size of your network based on the query and evidence variables. Maybe you can install the dev branch and give it another try?

[2021-04-10 19:54] Cby19961020 commented on #1391
Hi @ankurankan,

Thank you for your attention. I installed the dev version and tried one more time and received the following error:

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-38-71cb121dd0a9> in <module>
      7
      8 elimination_list = WeightedMinFill(model).get_eliminat

[2021-04-10 21:02] ankurankan commented on #1391
@Cby19961020 Thanks for checking, and I missed the use case of manually specifying the elimination order. I will have to fix that. But since you are using one of the implemented heuristics to compute the elimination order, you can just do something like:
[code]

[2021-04-10 21:07] ankurankan opened #1401 "Manually specified elimination order throws an error"
Since network pruning has now been added, if the elimination order is specified over all the variables in the model, it throws an error as some of the variables don't exist in the model anymore as a result of pruning. To fix this, add a check for manually specified elimination order after pruning such that it removes all the variables which are no longer in the model.

Ref #1391

[2021-04-10 22:59] Cby19961020 commented on #1391
Hi @ankurankan, I've attempted the method mentioned above and the error still exists:

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-43-941ef82d104d> in <module>
      7
      8 elimination_list = WeightedMinFill(model).get_elimination_order(master_list)
----> 9 print(model_infe

[2021-04-11 07:13] ankurankan commented on #1391
@Cby19961020 The only way I can think of making this work would be to reduce the number of states of the variables. With 1000 states for each variable, a multiplication of just 4 factors would need around 7 TBs of memory.

[2021-04-11 08:55] #1401 closed, assigned to nobody

[2021-04-11 15:08] Cby19961020 commented on #1391
Hi @ankurankan , thank you for your kiind clarification. I did attempt using all 1000 states to begin with but obviously failed. I then discretized the states from 1000 to 2 states only(i.e. bigger than 2, and smaller or equal to 2) and still failed. All the error shown above are done using 2 states only for each variable for a total number of variables of ~60.

[2021-04-11 15:41] MathijsPost commented on #1177
Hi @ankurankan , just a quick follow-up. If I enter a query with a certain combination of evidence variables that never occurred in the data on which the model is fitted, say I change one variable in the evidence to test sensitivity, can pgmpy handle this? It seems that the query returns NaN values.

[2021-04-11 16:10] ankurankan commented on #1177
@MathijsPost Yeah, I don't think it can handle such situations right now. But one workaround to this could be to manually specify the state names (including the ones that do not occur in the dataset) while learning the parameters: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/estimators/MLE.py#L26

[2021-04-11 16:18] MathijsPost commented on #1177
Hi @ankurankan, all state names do occur in the dataset, it is just that the specific combination of evidence never occurred in the dataset. Or should this be done for every combination?

[2021-04-11 16:49] ankurankan commented on #1177
@MathijsPost Do you by any chance have a reproducible code, so that I can try to debug it? My best guess is that because of some missing combination of states, some of the CPDs (which are on this combination of variables) have that specific combination of states missing, which might be resulting in a NaN. I think providing the `state_names` manually might also be able to fix it.

[2021-04-11 18:27] MathijsPost commented on #1177
Here is the code:
[code]

I'll send you the .pkl and .bif file via e-mail.

[2021-04-12 10:38] MathijsPost commented on #1177
@ankurankan one addition: it doesn't always return NaN when I enter an evidence combination that did not occur in the data

[2021-04-15 20:15] MathijsPost commented on #1361
Hi @mbaak , was it possible to resolve this issue? I would be very helpful if you could provide me an example for the G-test statistic. Thank you :)

[2021-04-16 07:35] MathijsPost commented on #1361
Hi @mbaak, what I tried yesterday was the following:
[code]
This resulted in the following error:
[code]

[2021-04-19 09:28] SageSeven opened #1403 "Wrong order of return values in function CITests.power_divergence"
### Subject of the issue
The docstring in function `power_divergence()` (line 570) in file pgmpy.estimators.CITest.py says the returns where boolean=False should be `(chi, p_value, dof)`, but it in fact returns `(chi, dof, p_value)` (line 653).

This bug will affect other functions calling `power_divergence()`, such as `MmhcEstimator` (line 159 in pgmpy.estimators.MmhcEstimator.py), making the PC

[2021-04-19 11:00] ankurankan commented on #1403
@SageSeven Thanks for reporting the bug. The power_divergence tests are also getting used in PC algorithm, so instead of modifying the return order of power_divergence, I think we should modify the value getting used in Mmhc. We will just need to change this line: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/estimators/MmhcEstimator.py#L159 to select the index `2` instead of `1`. Would you like t

[2021-04-19 11:31] SageSeven commented on #1403
@ankurankan I found that all calls in PC algorithm are setting `boolean=True` (which is the default value). They are not affected by the return values of `power_divergence` when setting `boolean=False`. In fact, I modified the return values and ran PC algorithm, and they perform well.
By the way, almost all docstrings in CITests put `p_value` before `dof`. If we do not change the order of return v

[2021-04-19 16:44] ankurankan commented on #1403
@SageSeven Yes, you're right. I think your original suggestion is the better solution here. Also, we might need to fix some of the tests after changing the return order.

[2021-04-22 23:26] thisiscam opened #1404 "Greedy heuristic of VE order is not really greedy"
### Subject of the issue
If I'm understanding the [code here](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/inference/EliminationOrder.py#L44) correctly, perhaps heuristic algorithms for VE order is not implemented correctly?
More specifically, I am thinking perhaps this line https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/inference/EliminationOrder.py#L101 is not sufficient? Don't one also need to

[2021-04-23 17:58] smithsophia1688 commented on #1393
I am running into the same issue. When I run:  `pip install pgmpy` I get the following error:

[code]

[2021-04-26 06:55] zoenguyentm commented on #1399
Hi, I installed the latest pgmpy and still see the same error. I've checked the pgmpy folder on my computer and see that the example_models is still missing.

[2021-04-26 07:15] ankurankan commented on #1399
@zoenguyentm Yeah, it's happening because this change will be included in the next release. In the meanwhile, you can install directly from the dev branch using: pip install git+https://github.com/pgmpy/pgmpy.git@dev

[2021-04-26 07:16] zoenguyentm commented on #1399
okay, thanks :):)

[2021-04-26 13:27] ankurankan commented on #1393
@smithsophia1688 This doesn't seem to be because of pgmpy. Could you maybe share the complete traceback of the error that you are getting?

[2021-04-26 14:28] #1403 closed, assigned to nobody

[2021-04-27 04:11] smithsophia1688 commented on #1393
Here is the full print out when I run: pip install pgmpy

[code]

The error print out to: conda install -c ankurankan pgmpy

[code]

[2021-04-27 07:10] ankurankan commented on #1393
@smithsophia1688 Seems like your pytorch installation is failing in the first case. And you have dependency problems when using conda. Some possible solutions:
1. Try installing with pip without using cache: `pip install pgmpy --no-cache-dir`
2. Create a new conda env and install into it. Something like:
[code]

[2021-04-27 07:10] #1393 closed, assigned to ankurankan

[2021-04-30 07:34] MathijsPost commented on #1361
@ankurankan Hi! Thanks again for implementing stochastic predictions. I am comparing MAP and stochastic predictions on the same dataset however, I ran into a small issue for the stochastic predictions. The MAP predictions work fine, but the stochastic predictions gave me the following error:

[code]

I am going to look into this my self as well, just so you are aware. It might have to do with the

[2021-05-05 14:53] ronikobrosly opened #1405 "Method for updating existing parameters with new set of data?"
Hello, thank you for putting together this fantastic package! I have a question related to parameter learning.

Let's say I have a fully-defined bayesian network with parameters / conditional probability tables that were generated by experts that I manually typed in (I didn't have any data initially). In the future I come across data, and I'd like to "update" the parameters with this new data. Tha

[2021-05-05 15:07] ankurankan commented on #1405
@ronikobrosly There is no direct method implemented to do this right now but there is a workaround using Bayesian Estimator. I have an example of doing that here: https://github.com/pgmpy/pgmpy/issues/1350#issuecomment-726724566. In your case, the sample size used in computing pseudo_counts can be interpreted as the relative weight of the initial parameters of the model.

[2021-05-05 15:17] CarolineMoreau opened #1406 "MMHC method returns empty skeleton"
### MMHC method returns empty skeleton even when executing the documentation example
Hello,
I was interested in using the MMHC method through pgmpy however it doesn't seem to work. When either running the documentation example or trying it on my data, the created skeleton is empty. It looks a bit like the code example of issue #1329, but at the first step of the method and not the second.

### My

[2021-05-05 15:24] ankurankan commented on #1406
@CarolineMoreau This was a bug in the last release and has been fixed now (Ref https://github.com/pgmpy/pgmpy/issues/1403). If you install the latest `dev` branch from github, the code example should work.

[2021-05-05 15:24] #1406 closed, assigned to nobody

[2021-05-05 15:25] #1405 closed, assigned to nobody

[2021-05-05 15:27] CarolineMoreau commented on #1406
@ankurankan Thank you so much, I didn't see that issue !

[2021-05-18 06:18] MKurthen opened #1411 "ValueError using BayesianEstimation with pseudo_counts after updating to 0.1.14"
### ValueError using BayesianEstimation with pseudo_counts after updating to 0.1.14
Passing pseudo_counts to BayesianEstimator.estimate_cpd() leads to an ValueError:

### Your environment
* pgmpy 0.1.14, numpy 1.20.2, pandas 1.2.4
* Python 3.8.0
* Operating System: Ubuntu 20.04

### Steps to reproduce
Minimal reproducible code:

### Expected behaviour
Bayesian Estimation should assign the pseudo_c

[2021-05-20 08:40] ankurankan commented on #1411
@MKurthen Thanks for reporting the bug. Would be great if you could open a PR fixing it.

[2021-05-20 15:42] ankurankan commented on #1311
I have added `pgmpy.base.DAG.to_daft` (https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/base/DAG.py#L830) method which can automatically generate a daft object from the current model. It also accepts parameters that are passed on to daft for creating the object.

[2021-05-20 15:42] #1311 closed, assigned to nobody

[2021-05-25 20:17] roy651 opened #1415 "Dimensionality error when initializing DynamicBayesianNetwork"
### Subject of the issue
Dimensionality error when initializing DynamicBayesianNetwork

### Your environment
* pgmpy_1617178903326
* Python 3.8.2
* Operating System OS X 11.3.1

### Steps to reproduce
[code]

### Expected behaviour
[code]

### Actual behaviour
[code]

[2021-05-25 20:22] roy651 commented on #1415
Possible workaround in file: `pgmpy/models/DynamicBayesianNetwork.py` Line 573 - Change from:
[code]
to:
[code]

[2021-05-26 08:19] ankurankan commented on #1415
@roy651 Thanks for the bug report. I think your suggested fix should work. I think this is happening because we changed the expected values shape in TabularCPD, but somehow missed changing it in this method. Would you like to open a PR fixing this and maybe also add some tests for this specific case?

[2021-05-26 21:35] roy651 opened #1417 "Problem with DynamicBayesianNetwork for networks which span beyond 2 time generations"
### Subject of the issue
I may be wrong in my understanding but I assumed the DynamicBayesianNetwork supports multiple generations (>2) and I assumed the way to implement it is to define a network with time indexes larger than 1 (see code sample).
However, it seems like the code inside DynamicBayesianNetwork squashes any time index greater than 1 and reduces those time generations to 0 and 1.  Eff

[2021-05-28 13:17] ankurankan commented on #1417
@roy651 If I am understanding your example code correctly, it should be supported. Currently, we only have support for 2-TBNs (i.e. there shouldn't be any edge skipping a time-slice and the inter-time slice CPDs should be constant for all time points), which seems to be the case in your example. You are getting the error because you only need to specify the first two time slices, and then pgmpy sh

[2021-05-29 22:15] roy651 commented on #1417
@ankurankan I understand now.
However, this raises a couple of other questions:
- Is it possible to model a kind of a root node - which is not replicated over the dynamic generations?
- Is it possible to model variable likelihood evidence - i.e. different probability tables on different layers?
- It might be an abuse of the model - but does it make sense to create a large dual-layer network coveri

[2021-05-31 10:34] ankurankan commented on #1417
@roy651

- Is it possible to model a kind of a root node - which is not replicated over the dynamic generations?

Yes, the current implementation does that. For specifying the model, we need to give all the values for the first two time slices. The first time slice is then considered constant (and it's CPDs), and the CPDs defining the inter timeslice edges (edges from time slice 0 to time slice 1)

[2021-05-31 10:36] #1415 closed, assigned to nobody

[2021-06-03 13:34] #1417 closed, assigned to nobody

[2021-06-03 16:22] ankurankan opened #1421 "Inference throws error in the case when any parent nodes are removed during network pruning"
[code]
Throws an error:
[code]

[2021-06-03 17:03] #1421 closed, assigned to nobody

[2021-06-10 06:02] MKurthen commented on #1411
PR at https://github.com/pgmpy/pgmpy/pull/1423

[2021-06-10 08:14] #1411 closed, assigned to nobody

[2021-06-15 14:38] mojtabaebadi commented on #1013
@EvanOman would you provide an example for using virtual nodes in pgmpy? like a code snippet

[2021-06-16 13:16] ankurankan commented on #1013
@mojtabaebadi I just added an option to specify virtual evidence in the inference methods. Have a look at the example here:https://github.com/pgmpy/pgmpy/blob/dev/examples/Inference%20in%20Discrete%20Bayesian%20Networks.ipynb ( Inference using virtual evidence section). Support for soft evidence still needs to be implemented.

[2021-06-18 14:07] ankurankan commented on #1142
Support for latent variables has been added to Bayesian Networks and DAG now. Estimation algorithms will be added soon.

[2021-06-18 14:07] #1142 closed, assigned to nobody

[2021-06-22 12:26] ankurankan opened #1428 "DiscreteFactor.__eq__ doesn't consider state name order"
In this example both the objects have the same values but with reversed state name order:

[code]
The `__eq__` method doesn't check for the state name order before doing the comparison right now.

[2021-06-22 14:53] #1428 closed, assigned to nobody

[2021-06-23 16:13] mjmt05 opened #1430 "Incorrect warning in BayesianEstimator"
### Subject of the issue
In the Bayesian Estimator class, line 166, `np.array(pseudo_counts).size = 1` when `pseudo_counts` is None. In line 86 `_pseudo_counts` can be set to `None` before calling estimate_cpd causing the warning to trigger regardless of the `prior_type`.

### Your environment
* pgmpy version - 0.1.14
* Python version - 3.8.5
* Operating System - Ubuntu 20.04.2 LTS

### Steps to r

[2021-06-27 10:13] #1430 closed, assigned to nobody

[2021-06-27 10:23] #1337 closed, assigned to nobody

[2021-07-01 14:47] ankurankan commented on #1080
Dup #1081

[2021-07-01 14:47] #1080 closed, assigned to nobody

[2021-07-01 15:29] #1350 closed, assigned to nobody

[2021-07-20 06:06] #1334 closed, assigned to nobody

[2021-07-20 06:10] #1338 closed, assigned to nobody

[2021-07-20 06:11] #1339 closed, assigned to nobody

[2021-07-20 06:11] #1331 closed, assigned to nobody

[2021-07-22 08:48] #299 closed, assigned to nobody

[2021-07-23 13:49] ankurankan commented on #1057
This seems to be working as expected. The number of edges increases with increasing significance level as less number of independence conditions would be true. The exact behavior of significance level would depend on the calibration and power of the test though. The graph is on alarm network with 1000 samples.

![Figure_1](https://user-images.githubusercontent.com/1461453/126791221-42288539-7645-4

[2021-07-23 13:49] #1057 closed, assigned to ankurankan

[2021-07-23 14:56] ankurankan commented on #1329
This seems to be happening because of the preference of structure scoring methods to choose simpler models. As in the case of completely random data, there is no information of dependence, hence it chooses the simplest model with no edges. But if we add some data dependency it starts to learn edges:
[code]

[2021-07-23 14:56] #1329 closed, assigned to ankurankan

[2021-07-23 15:50] ankurankan commented on #1367
The method for conditonal IVs is `get_conditional_ivs`. `get_ivs` only returns non-conditional IVs.
[code]

[2021-07-23 15:50] #1367 closed, assigned to nobody

[2021-07-27 14:05] ankurankan opened #1443 "Bug in UAIReader"
[code]

[2021-07-28 04:24] nyck33 opened #1444 "Is there a way to show all interim calculations when inferring on Bayes network"
### Subject of the issue
I have a Bayes network like the one described here:  https://github.com/nessalauren5/OMSCS-AI/blob/master/assignment_3/README.ipynb with nodes temp, faulty gauge, gauge, faulty alarm and alarm.  Alarm is the sink node so the bottom of the causal direction.  The question asks for a diagnostic inference of probability of it being hot (source node) given alarm=True, faulty ga

[2021-07-28 05:44] ankurankan commented on #1444
@nyck33 It's not possible to get the intermediate states of the algorithm in the current implementation. But if you are trying to understand the implementation better, you can also check out the code (https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/inference/ExactInference.py). The code does have comments specifying the different steps the algorithm takes. Also, if you are looking to dive deeper you

[2021-07-28 05:46] #1444 closed, assigned to nobody

[2021-07-30 12:53] FelipeGiro opened #1446 "DynamicBayesianNetwork model function get_cdps does not gets all TabularCDPs"
### Subject of the issue

Apparently, the model `pgmpy.models.DynamicBayesianNetwork` function `get_cpds(*)` ignores all `TabularCDP` with time index 1, for example:

`cdp_T  = TabularCPD(('s', 1), 1000,  T.T, [('s', 0)], [1000])`

### Your environment
- pgmpy version: 0.1.15
- Python version: 3.7.10
- Operating: System Microsoft Windows 10 Pro

### Steps to Reproduce

Example from the code:

[cod

[2021-07-30 13:33] FelipeGiro commented on #1446
Just a note.

There is a TODO (line 488 in in `DynamicBayesianNetwork.py`) that indicating that the error in related to `get_cdps` only. But the error go further if you try to infer through DBN:

[code]
The output is:

[code]

[2021-07-30 15:45] FelipeGiro commented on #1364
I think I got the problem.

The issue is related to the function `get_interference_nodes ` of `DynamicBayesianNetwork` model.

If we run `dbn.get_inter_edges()` you get `[(a_0, a_1), (a_0, b_1)]`.Which is in, fact, correct. Although, when using `dbn.get_interface_nodes(0)` and `dbn.get_interface_nodes(0)`, we get `[a_0, a_0]` and `[a_1, a_1]`, and then the program accuses wrongly a self loop.

Goi

[2021-07-30 15:57] FelipeGiro commented on #1364
@576774572 Keep in mind that perhaps your model is not completely correct, despite the bug. I would say that it would be more correct like this:

[code]

Because first, all 4 nodes in all time slices are represented by a CPD; second, all 4 edges are represented; and third, the CDP of `b_1` receive two edges, from `a_0` and `a_1`, having a "longer" table.

[2021-08-02 10:10] ankurankan commented on #1446
@FelipeGiro I think this is happening because of the `time_slice` parameter in `get_cpds` method which is by default set to `0` and hence returns only the CPDs from 0th time slice. In the first example that you have mentioned:
[code]

[2021-08-03 11:52] FelipeGiro commented on #1446
Indeed, it is clearly documented.

Is there any interest to return all CPDs when no `time_slice` is inputted? Would it impact any dependencies?

Another question: in `get_cpds` function, there is a `TODO: fix bugs in this` (line 488, `DynamicBayesianNetwork`). What are these bugs?

[2021-08-03 16:18] ankurankan commented on #1446
@FelipeGiro Yes, I think we should change the default behavior to return all CPDs. It will make it consistent with other get_cpds methods and is a bit confusing currently. I don't think it will impact anything else as long as it has the same behavior when time_slice is specified.

I am sorry, I have no recollection of what that TODO is referring to. git blame does show that it was added by me thou

[2021-08-07 08:04] ankurankan commented on #1364
This doesn't seem to be fixed yet. Another example:
[code]

[2021-08-10 13:14] ankurankan commented on #1009
Parameter estimation has been implemented now. Closing.

[2021-08-10 13:14] #1009 closed, assigned to nobody

[2021-08-10 13:15] ankurankan commented on #1033
Parameter learning is supported for DBNs now. Closing.

[2021-08-10 13:15] #1033 closed, assigned to nobody

[2021-08-10 19:47] FelipeGiro commented on #1364
Ok, my tests were not so good to check the networks.

I think the issue is linked to this part, specially with `combinations_slice_0` and `combinations_slice_1`.

https://github.com/pgmpy/pgmpy/blob/ec7e5b46211cee2186a0c9b0cc8ad10584450373/pgmpy/inference/dbn_inference.py#L67-L73

@ankurankan You can assign me to this issue to remember me to solve it in the following weeks, if you want.

[2021-08-12 05:57] #1446 closed, assigned to nobody

[2021-08-13 12:21] ankurankan opened #1453 "Causal Inference throws error when adjustment set isn't found"
The query method of CausalInference currently throws an error when there are no parents (leading to empty adjustment set) of the do variables. In such cases a normal inference should be done.

[code]

[2021-08-15 16:50] FelipeGiro commented on #1340
@ankurankan I can work on this. Could you assign me?

[2021-08-15 16:52] FelipeGiro commented on #1322
I could not get this error with the given code. Is it possible that previous release already fixed that?

[2021-08-15 17:03] FelipeGiro commented on #922
I can work on this. @ankurankan Could you assign me to this, please?

[2021-08-16 08:18] ankurankan commented on #1322
Yeah, I think this is fixed now. This was related to a bug in TabularCPD. Closing.

[2021-08-16 08:18] #1322 closed, assigned to nobody

[2021-08-16 08:26] #1364 closed, assigned to FelipeGiro

[2021-08-16 15:52] ankurankan commented on #1453
Fixed in 3f54db35743cb888fee610f202d4c569c5590a99

[2021-08-16 15:52] #1453 closed, assigned to nobody

[2021-08-18 11:30] frMitola commented on #1080
Hello @ankurankan, I see that the issue was solved, so is the update of `GibbsSampling` available before the release? I need it for my project

[2021-08-20 10:21] ankurankan commented on #1080
@fmitola4 Unfortunately, this hasn't been fixed yet. The other duplicate issue is still open. Although, the simplest way to do sampling with evidence is to just select the samples which satisfy your evidence. For example, let's say you have some samples `df` (without any evidence) from a network on variables: `A`, `B`, `C`, and `D`,  If you would like to get samples from this network with the evid

[2021-08-20 11:10] frMitola commented on #1080
@ankurankan ok nice thank you, eventually I choose likelihood weighting that allows to insert the evidence. I have another question: GibbsSampling or other sampling methods for Bayesian Network technically allow to do inference, i.e. to calculate the posterior probability P(Q|E) where Q is conjuction of query variables (e.g. X,Y) and E is set of evidence, and that would be another thing that inter

[2021-08-20 11:47] ankurankan opened #1455 "Add a wraper class over the sampling method to output probability values"
Currently, all the sampling methods output just the samples which can then be further used for computing the probabilities. Add a wrapper class over the sampling methods with methods for directly querying different probability values (similar to how exact inference methods work).

[2021-08-20 11:50] ankurankan commented on #1080
@fmitola4 Yes, you are right. Methods to directly compute the probabilities from the samples are missing right now. It should be a wrapper class over the Sampling module and should directly output the probabilities of queries. I have created a new issue for adding that: #1455.
I think your method of computing the probabilities from the likelihood-weighted samples is correct. You can follow the sam

[2021-08-21 13:19] PARODBE opened #1457 "TREE AUGMENTED NAIVE BAYES DOUBT"
Hi everyone!

I need some of help. I new with this library, and I have a dataset with 70 categorical variables. I would like to apply TAN and FAN, build a model and obtain predictions with my test set, also i would like to obtain my networkx graph. But in the examples I see the relationships between variable adding the weights manually, but I would prefer that the model learns the relationships.

[2021-08-21 13:58] ankurankan commented on #1457
@PARODBE Here's an example using the `alarm` model:
[code]
If you are not using the `dev` branch, you can use `BayesianModel` instead of `BayesianNetwork` in the example.

[2021-08-21 14:34] PARODBE commented on #1457
Uoooo thank you very much @ankurankan !!! I have two questions. The first, what it would be the difference between bayesianmodel or bayesian network? As It bayesian model its assumption is the independence of variables regarding to target variable. And bayesian network has some correlation, no?

By the way, this tree search would be a tree augmented Naive Bayes, but Forest Naive Bayes? Are there a

[2021-08-23 09:34] ankurankan commented on #1457
@PARODBE BayesianModel and BayesianNetwork are exactly the same right now. In the older versions, we were using the name BayesianModel, but I am trying to change it to BayesianNetwork in the future as BayesianModel is a slightly misleading name.

That's correct, TreeSearch has two estimator types implemented TAN and Chow-Liu. There's no estimator for learning a forest currently but for learning mo

[2021-08-28 14:06] #1457 closed, assigned to nobody

[2021-08-28 14:12] #1381 closed, assigned to nobody

[2021-09-01 11:05] JarvisIsFriday commented on #724
so pgmpy support DBNs learning now?
I noticed  the fit function in DBN class, I use the fit function , unfortunately, I got this:

`AttributeError                            Traceback (most recent call last)
<ipython-input-17-a29840b75f9f> in <module>()
     19     colnames.extend([("A", t), ("B", t), ("C", t), ("D", t)])
     20 df = pd.DataFrame(data, columns=colnames)
---> 21 model.fit(df)

Att

[2021-09-01 11:09] ankurankan commented on #724
@JarvisIsFriday The fit method was implemented recently and isn't available in the released version. If you would like to use it, you can install the `dev` branch using: `pip install git+https://github.com/pgmpy/pgmpy.git@dev`

[2021-09-02 02:21] JarvisIsFriday commented on #724
Thank you very much!  I have installed it and the fit method can work!

[2021-09-02 02:22] JarvisIsFriday commented on #724
@ankurankan Thank you very much! I have installed it and the fit method can work!

[2021-09-02 03:24] SachiniEMSPE opened #1458 "How to check I-equivalent graphs ?"
Hi @ankurankan ,
I installed the latest dev version of pgmpy and tried to check the I-equivalent of 3 simple graphs (this time a different graph) using `is_iequivalent`.  But, I'm getting an unexpected result again for my example. I was expecting G2 to be **not an I-equivalent graph of G**, **because of different v-structure** (instead here I'm getting True). I'm following the rule: t_he same skel

[2021-09-02 06:41] #724 closed, assigned to nobody

[2021-09-02 06:57] ankurankan commented on #1458
@SachiniEMSPE I think the results are correct. Even though the v-structure is different in the two models, there are no implied independencies in either of G, G1, and G2 because of the additional edge (R -> S in G; S -> R in G1; G -> R is G2)  between the parents of the collider variable. Hence they are i-equivalent. G3 does have the implied independence of `R _|_ S`, hence it returns false. You c

[2021-09-03 15:58] SachiniEMSPE commented on #1458
Oh I see... yeah now it's clear! Thank you so much! 😀

[2021-09-03 15:58] #1458 closed, assigned to nobody

[2021-09-09 14:09] FelipeGiro commented on #922
There isn't a test for `remove_cdps `explicitly, but it is called several times inside some tests:

https://github.com/pgmpy/pgmpy/blob/6bf4b35dacad88bab2a1be3e394dfdbdd39e53ae/pgmpy/tests/test_models/test_DynamicBayesianNetwork.py#L544-L546
https://github.com/pgmpy/pgmpy/blob/6bf4b35dacad88bab2a1be3e394dfdbdd39e53ae/pgmpy/tests/test_models/test_DynamicBayesianNetwork.py#L579-L581

and etc.

And t

[2021-09-09 14:18] ankurankan commented on #922
@FelipeGiro In my opinion, it would be nice to have explicit tests for `remove_cpds` for both `BayesianNetwork` and `DynamicBayesianNetwork`. It will help us in quickly identifying the problem in case something breaks because of a bug in `remove_cpd`.

[2021-09-09 15:15] FelipeGiro commented on #1340
### The code.

A DBN with functional loop:

[code]

### The error:

[code]

### Issue

`self.nodes()` returns `NodeView(())`  in:

https://github.com/pgmpy/pgmpy/blob/6bf4b35dacad88bab2a1be3e394dfdbdd39e53ae/pgmpy/models/BayesianNetwork.py#L257-L258

So, whatever the value for `cpd.scope()`, will always raise an error.

### Questions
@ankurankan

1. Where exactly `self.nodes()` is defined? I think

[2021-09-09 19:46] ankurankan commented on #1340
@FelipeGiro Are you using the latest `dev` branch? Because I am not able to reproduce the error. Your code snippet works fine on my machine.

The `nodes` method btw is from networkx.DiGraph.

[2021-09-10 13:00] FelipeGiro commented on #1340
My mistake, I forgot one line of code: `ie=DBNInference(bnet)`. I just updated my previous comment.

I did not notice `BayesianNetwork` is called by `DBNInference` instead of `DynamicBayesianNetwork`.

[2021-09-12 06:46] rokapre opened #1459 "CausalInference: Same Variables in Variables/Evidence Error when not the same?"
### Subject of the issue

Hi, I seem to be running into a bug where the CausalInference.query method complains that the variables in the "variables" and evidence arg are the same when they actually aren't. Below is the code:

### Your environment
* pgmpy version:  0.1.15
* Python version: 3.8
* Operating System:MacOS Catalina

### Steps to reproduce

Here is some simulated data

[code]

### Expect

[2021-09-12 11:15] ankurankan commented on #1340
@FelipeGiro I looked at this issue and I think if we replace the Bayesian model creation before inference here: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/inference/base.py#L104 with calls to  `DynamicBayesianNetwork.get_const_bn`, then it should work fine. What do you think?

[2021-09-12 11:26] ankurankan commented on #1459
@rokapre Thanks for reporting this, the error message should be clearer in this case. It is throwing an error because you are trying to compute `P(Y | do(X=1))` with evidence of `W=1`, but for computing `do(X=1)` we need to adjust on `W` and hence you can't specify any evidence on `W`. The error message that you are seeing is from VariableElimination as the CausalInference class isn't able to tran

[2021-09-12 13:50] rokapre commented on #1459
Thanks. From my understanding though (and I am still new to causal inference, especially the graphical framework) it should be possible to condition on W despite having the `do X=1` operator and essentially obtain the conditional average treatment effect  `(CATE)` right: `P(Y|do(X)=1,W=1)` ?

It would just be looking at the effect of setting X to 1 in the subgroup of `W=1`.  Which in this case (si

[2021-09-12 19:37] ankurankan commented on #1459
@rokapre Sorry, my bad. You are correct, I was thinking only in terms of average treatment effect. Let me see if I can quickly fix this.

[2021-09-13 08:54] ankurankan opened #1460 "DiscreteFactor.get_value throws an error when state names are int values"
[code]

[2021-09-13 09:59] ankurankan commented on #1460
Fixed in: 0af6feac332c66fa79f422e88397073366575ff4

[2021-09-13 09:59] #1460 closed, assigned to nobody

[2021-09-13 10:13] #1459 closed, assigned to nobody

[2021-09-13 10:16] ankurankan commented on #1459
@rokapre This should be fixed now in the latest dev branch.
[code]
Forgot to mention before but you can also get the same results using simulations:
[code]

[2021-09-13 16:39] rokapre commented on #1459
@ankurankan

Thanks! Didn’t know about the sampling either. I was also wondering, is there any way to get uncertainty estimates for the ATEs estimated by CausalInference on the BayesianModel fit to the data? Or would this be possible through the sampling approach?

Or do the Inference methods in pgmpy assume that the PGM is “fixed” (ie not parameters that have been derived from data—like as if the

[2021-09-13 17:27] ankurankan commented on #1459
@rokapre Yeah, currently is assumes the parameters to be fixed and doesn't have any uncertainty measure.

[2021-09-13 20:17] rokapre commented on #1459
@ankurankan

Oh ok, hmm I was wondering since you mentioned the sampling if the following approach may be ok for now:

1) Fit a “null” BN without the X->Y edge
2) Simulate data from this BN
3) Fit a BN with the X->Y edge of interest to this null data
4) Perform the causal inf queries and get ATE of the treatment
5) Compare the observed ATE to the “null” ATE and obtain a p-value

Essentially in sta

[2021-09-14 08:53] ankurankan commented on #1459
Just to check if I am understanding your method correctly, you would be using the simulated datasets to estimate the ATE distribution under null and then use this estimated distribution to get the p-value for the observed ATE? From my understanding, this method should work. Another idea could be to use bootstrapping to estimate the distribution of observed ATE using sub-sampling and then maybe rep

[2021-09-17 16:19] PARODBE opened #1462 "Node not in graph"
### Subject of the issue
Hi, I am using a tree augmented naive bayes to solve a problem. And when I go to do inference it tells me that there is not a variable in the node, however when I use the get_cpd function, if I see it. Can you help me to interpret this error, please? Is there any option to force the algorithms to have in does a variable count that has been removed by the model?

### Your e

[2021-09-17 16:26] ankurankan commented on #1462
@PARODBE Would it be possible to share your dataset or the learned tree structure so that I can reproduce the error?

[2021-09-17 16:28] PARODBE commented on #1462
No...sorry is a private dataset...I understand the problem in order to resolve a problem without dataset....

[2021-09-17 16:34] ankurankan commented on #1462
Okay, my best guess is that this is probably a bug in network pruning: https://github.com/pgmpy/pgmpy/blob/de1265efcf35a5855ff5cac5a6abd709501b0ee5/pgmpy/inference/base.py#L117. Variable Elimination tries to reduce the size of the network for optimization by removing nodes that don't have any effect on the query. I am guessing it is somehow removing one/more nodes that are required for the query.

[2021-09-17 16:43] PARODBE commented on #1462
But with this function can you put the variables and the evidences? I am reading and only the evidence can be? And why you have to select the number of samples??? Could you show any example of this please using a tan method? And aren't there any more option instead of variable elimination in order to do a query? By the way, I am obtaining a different results than in bnlearn library using also a ta