[2016-01-26 09:26] pheman commented on #602
Something problems related to the random seed? @khalibartan

[2016-01-26 09:34] pheman commented on #602
Since the dataset is generated randomly, maybe the model can not learn any useful information from the dataset. It's not so terrible for the all zeros results.

[2016-01-26 09:45] khalibartan commented on #602
Yes. Random numbers generated are psudo random, there is covariance attached with them. So sometimes with high covariance , we might be able to learn a relation. But you cannot comment on the results to be correct or incorrect because we don't know whether there is something to learn or not.

[2016-01-26 14:39] yashu-seth commented on #602
@pheman I get the same error on my windows system. But I could not get a proper solution. Anyways we will be soon removing the pandas dependency.

[2016-01-26 15:53] pdoongarwal opened #603 "Bug in DynamicBayesianNetwork"
[code]

But the type returned by get_cpds() is a list of TabularCPD

[code]

I'm not able to find the reason for this bug. Any help would be appreciated
Thanks.!

[2016-01-26 15:56] pdoongarwal commented on #603
@ankurankan I was trying to create copy() method for DynamicBayesianModel.

[2016-01-26 18:37] khalibartan commented on #602
I'll run the example on a windows machine and let you know if I got the same error.

[2016-01-26 18:45] yashu-seth commented on #603
@pdoongarwal You will have to supply `b.add_cpds(*dbn.get_cpds())` and not `b.add_cpds(dbn.get_cpds())`.
Have a look at [what does start and double star do in python](http://stackoverflow.com/questions/36901/what-does-double-star-and-star-do-for-python-parameters)
Please close this issue.

[2016-01-26 18:51] yashu-seth commented on #603
@pdoongarwal Feel free to discuss your queries on [gitter](https://gitter.im/pgmpy/pgmpy).

[2016-01-26 19:56] #603 closed, assigned to nobody

[2016-01-27 01:05] pheman commented on #602
@yashu-seth  I suggest you re-run the same script in the same console, then it's supposed to get the proper solution. Or try to load a real dataset, since the dataset in my script is generated randomly. The model can not learn any useful information from the random dataset.

[2016-01-27 01:07] pheman commented on #602
@yashu-seth  Of course, you should first comment the Data Type check sentence which can be located according to the traceback information.

[2016-01-27 01:25] pheman commented on #602
You can check & test my fork version.

[2016-01-27 07:07] yashu-seth commented on #602
@pheman Thanks. I'll look into it.

[2016-01-27 08:13] khalibartan commented on #595
@anaviltripathi Updates on this.

[2016-01-27 12:54] khalibartan opened #607 "Bug in get_independencies in BayesianModel"
I was running BayesianModel on [cancer dataset](www.bnlearn.com/bnrepository/cancer/cancer.bif.gz),
and it gave wrong output. Here is the outputs.

[code]

From edges it can be seen that 'Smoker', 'Cancer', 'Pollution' is an active trail (given cancer) , so I believe it cannot be independent.

[2016-01-28 04:11] khalibartan commented on #607
As per my understanding d-separation implies independence and active-trail implies dependence , correct me if I'm wrong.

[2016-01-29 14:28] anaviltripathi commented on #607
I agree with @khalibartan

[2016-01-29 14:30] anaviltripathi commented on #595
@khalibartan I have been a little busy the past week. I have started working on this now.

[2016-01-29 14:58] anaviltripathi commented on #595
@ankurankan @khalibartan
I noticed that we are accepting `set` also as data type of `evidence` and `evidence_card`. I don't think that it is correct as there won't be any way to evidence and its corresponding cardinality due the unordered nature of set.
Should I remove this?

[2016-01-29 16:47] khalibartan commented on #595
@anaviltripathi You are right, there is ambiguity here. In my views you can remove but you can leave it till @ankurankan  gives his views.
Can you tell me, what implementation you have in your mind, about how you are going to tackle this issue ? I believe there will be some design issues to be taken.

[2016-01-30 02:37] anaviltripathi commented on #595
@khalibartan No, I think it is not that big change. I was considering of just removing the `set` support, it won't affect any other part of the code.
Other than this removing `evidence` and `evidence_card` as suggested by @ankurankan is a design choice which involves overhead of calculation in some methods that mostly deal with [representing](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/factors/C

[2016-01-30 04:28] khalibartan commented on #595
@anaviltripathi I haven't seen the code of CPD earlier. I don't there is a lot of overhead attached with these arguments (`evidence` and `evidence_card`) . And actually I didn't wanted to remove the `evidence` and `evidence_card` as input, because we would have to do changes in quite a few other places.
The condition mentioned by that line wouldn't be false, unless someone try to `reduce` the `sel

[2016-01-30 12:37] Ashutosh-Adhikari commented on #601
Hi , @pdoongarwal ..
I faced a similar problem..
Check whether you have the same version of Libraries(especially scipy) installed as per the "requirements.txt" ..
As a result , it will also fail some of the nosetests.

[2016-01-30 13:09] pdoongarwal commented on #601
@Ashutosh-Adhikari I switched to python3.4, installed all the dependencies once again including mock and pyparsing.
After that it installed successfully.

[2016-01-30 14:57] anaviltripathi commented on #595
@khalibartan I am not going forward on this then, until @ankurankan comments.

[2016-01-31 09:12] liquidmetal opened #615 "Unable to run `nosetests` inside a `virtualenv` because of missing dependencies in requirements.txt"
To enable running `nosetests` within virtual environments, we need to add new dependencies to requirements.txt. Here is the list:
- nose==1.3.1
- coverage==4.0.3 (if you want to generate coverage reports)

This would ensure that running `nosetests` will run nose from the current virtualenv.

However, I'm not sure if we should have dev dependencies within `requirements.txt`. I can see `mock==1.3.0`

[2016-01-31 11:11] liquidmetal commented on #352
Just to keep this issue updated, I'm seeing this error now. @ankurankan are you seeing the same error?

[code]

[2016-01-31 11:45] liquidmetal commented on #319
I tried this out and did not see the error mentioned here. Seems like it was fixed in PR #338 - (it includes a commit called `Fixed NoisyOrModel and its tests.`) @ankurankan could you please confirm?

[2016-01-31 17:49] khalibartan commented on #352
I'm also getting the same error.

[2016-01-31 23:52] liquidmetal commented on #587
@ankurankan What do you think about disconnecting landscape.io until it gets fixed?

[2016-02-01 00:48] liquidmetal commented on #581
+1 for this. Pgmpy has complex parameters (factors, models, edges, etc). It might be worth it to have these tests. New users would be able to copy-paste example code and get started. Also, we might be able to incorporate these into the docs (examples: [like here](https://clojuredocs.org/clojure.data/diff))

However, this may not be as straightforward as it seems. I ran a quick test to see the curr

[2016-02-01 01:14] liquidmetal commented on #318
Can this be closed? Seems like this was resolved in #317

[2016-02-01 01:17] liquidmetal commented on #259
Was this implemented? I tried looking at the gsoc 2015 wikipage but I couldn't find anything relevant (I could be wrong.)

[2016-02-01 01:20] liquidmetal commented on #183
Seems like this can be closed?
https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/tests/test_models/test_MarkovModel.py#L366

[2016-02-01 01:22] liquidmetal commented on #226
@ankurankan Do you have any spec in mind for this?

[2016-02-01 03:55] khalibartan commented on #581
That's what I'm talking about. Also a new contributor can work on this, and along get familiar with our code base. :)

[2016-02-01 07:27] mvnnn commented on #518
@ankurankan I am new contributor and i need some guidance. you mean to add tests for `JointProbabilityDistribution` and `BayesianModel` to check probability distribution.

[2016-02-01 08:28] yashu-seth commented on #226
@liquidmetal I have been studying this for some time now. I have asked @ankurankan about this before. He needs some time to look into this.

[2016-02-01 10:01] mvnnn commented on #601
check your mock version `mock==1.3.0`.if you install using `conda` env then it's very easy for you
because it's include all necessary dependency so you not need to install that dependency sepratly. any version of scipy (>0.16.0) are working fine.

[2016-02-01 12:11] mvnnn commented on #590
@khalibartan  i am new contributor. i like to work on this. should i do ?

[2016-02-01 13:10] khalibartan commented on #590
@mvnnn This is not an easy issue in my view, actually I wanted to work on this one, I haven't discuss things with @ankurankan .

[2016-02-01 13:18] khalibartan commented on #518
@mvnnn This will require a good background in PGM's . Actually it is about our [sampling algorithms](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/inference/Sampling.py) , we need new test cases for them on large samples. What you need to do is that, create some samples (manually, randomly or some datasets), then after applying the sampling algorithms check that the probability distribution obtain

[2016-02-01 13:23] khalibartan commented on #518
Also In my views this issue have to wait for some fixes in Sampling module. As far as I remember @ankurankan was working on it.
@ankurankan Can you refer to the issue, which needs some fixes before tests? I believe there was some redundant code in Sampling module.

[2016-02-01 13:47] mvnnn commented on #518
@khalibartan thanks, i try to fix #607

[2016-02-04 06:42] ankurankan commented on #518
@khalibartan @mvnnn This doesn't depend on any other issue. I was working on optimizing the sampling algorithms so that wouldn't affect the test in any way.

[2016-02-04 06:44] ankurankan commented on #590
@khalibartan You can go ahead with this. We need to clean up a lot of tests. Would be a good start.

[2016-02-04 06:58] ankurankan opened #620 "pgmpy examples"
Need to add examples on using pgmpy using some real data (something like what scikit has: https://github.com/pgmpy/pgmpy/tree/dev/examples).

[2016-02-04 06:58] #183 closed, assigned to nobody

[2016-02-04 07:00] ankurankan commented on #259
@liquidmetal This is done here: https://github.com/pgmpy/pgmpy/pull/488.

[2016-02-04 07:00] ankurankan commented on #318
@liquidmetal That PR wasn't merged.

[2016-02-04 07:01] khalibartan commented on #518
@ankurankan Okay.

[2016-02-04 07:01] khalibartan commented on #590
@ankurankan Will send a PR ASAP.

[2016-02-04 07:02] ankurankan commented on #587
@liquidmetal I don't think we need to. Not affecting us in any way.

[2016-02-04 07:04] ankurankan commented on #352
@liquidmetal @khalibartan I am also getting this error. Will look into this.

[2016-02-04 07:06] ankurankan commented on #319
@liquidmetal Yes this was fixed. Closing.

[2016-02-04 07:06] #319 closed, assigned to nobody

[2016-02-04 09:26] mvnnn commented on #518
:+1:

[2016-02-04 16:37] liquidmetal commented on #352
I suspect this is because the data is originally continuous. The data is then forced to be discrete and not all possible values are observed in the discrete data (for example, only 1, 5, 7 might be available). This causes the "Values array must be of size: X".

It seems like this isn't supported just yet. A workaround could be to fill in the missing values with zero probabilities (or epsilon).

[2016-02-05 00:44] viswaraavi commented on #620
Can I work on this?

[2016-02-05 00:53] yashu-seth commented on #620
@viswaraavi I think yes. Although get it confirmed with @ankurankan. You will need to have a sound knowledge of the inference algorithms and other parts of the library as well. So it might not be an easy issue if you are new to PGMs.

[2016-02-05 01:02] viswaraavi commented on #620
I am not new to PGMs but I am new to pgmpy. so I will give a try

[2016-02-05 01:04] yashu-seth commented on #620
@viswaraavi Fine.

[2016-02-05 07:31] #67 closed, assigned to ankurankan

[2016-02-05 07:32] ankurankan opened #622 "Add testing environment for windows"
Can look into [appveyor](https://www.appveyor.com/).

[2016-02-05 10:29] #359 closed, assigned to nobody

[2016-02-05 10:29] #112 closed, assigned to ankurankan

[2016-02-05 10:29] #68 closed, assigned to ankurankan

[2016-02-06 19:33] AMAN3003 commented on #620
@ankurankan  AND @yashu-seth  i have a good knowledge of algorithms can  I work on this issue

[2016-02-06 19:44] yashu-seth commented on #620
@AMAN3003 Yes, you can. Just check with @viswaraavi, if he has also started working maybe then you can work on separate examples.

[2016-02-06 19:51] viswaraavi commented on #620
I did not start working but I am thinking to work on example related to image segmentation

[2016-02-06 20:34] yashu-seth commented on #620
@AMAN3003 @viswaraavi You can discuss your example ideas with @ankurankan.

[2016-02-07 05:44] khalibartan commented on #590
Would someone like to work on it. It looks like I won't be able to give necessary time because of my mid-term examinations. I would be great if someone could finish it up. Otherwise I'll work on it after my mid-terms are over.

[2016-02-07 05:48] ankurankan commented on #590
Hi Developers,

I am a newbie here but would like to give this a shot. Can someone please
elaborate a bit on the issue?

Thanks
On 7 Feb 2016 11:14, "Utkarsh" notifications@github.com wrote:

[2016-02-07 05:52] khalibartan commented on #590
What we are trying to do is have new test for our Factor class objects. The current tests are not testing things to the boundary conditions. Also test don't test the factor class , where scope can be a list of immutable objects.

[2016-02-07 06:06] khalibartan commented on #620
There is kaggle dataset available for image denoising, https://www.kaggle.com/c/denoising-dirty-documents . It would be great if some can demonstrate an example using the dataset available.

[2016-02-07 11:59] AMAN3003 commented on #620
@ankurankan  here is the first application which I added from your case study please review it and merge it
https://github.com/AMAN3003/pgmpy/commit/ba336cee53113049e37ed2eb8833f6e435c08f6c
It getting coverage error could you suggest how to correct it

[2016-02-07 12:01] AMAN3003 commented on #620
@yashu-seth @khalibartan  provide me some documentation related to pgmpy application so that I can make real examples .and also how pgmpy can be used

[2016-02-07 13:13] khalibartan commented on #620
@AMAN3003   We have document at http://pgmpy.org/ you can go there and look at it.

[2016-02-08 06:47] ankurankan commented on #595
@anaviltripathi @khalibartan We shouldn't be supporting set.
I want to remove `evidence` and `evidence_card` because right now we have change 4 properties: `evidence`, `evidence_card`, `variables` and `variable_card` whenever there is some change in the variables and this adds unnecessary overhead. What do you guys think?

[2016-02-08 11:49] khalibartan commented on #537
@saketkc @kshitij10496 @pdoongarwal We finally have pgmpy on PyPI , https://pypi.python.org/pypi/pgmpy/0.1.2 :smile:

[2016-02-08 11:52] ankurankan commented on #537
Actually the latest link is https://pypi.python.org/pypi/pgmpy/0.1.2. And closing this.

[2016-02-08 11:52] #537 closed, assigned to ankurankan

[2016-02-08 14:04] anaviltripathi commented on #595
@ankurankan I am of the opinion that we should leave it as it is. As I said in a previous comment, it is a trade-off, in some methods you will need to calculate `evidence`, `evidence_card` and at others you need to update this. But, considering what a Tabular CPD represents in the real world, I think it makes more sense to have separate attributes `evidence` and `evidence_card`, even if they are r

[2016-02-10 04:40] shwetamore1295 commented on #473
@ankurankan I would like to take up this issue. What exactly is this issue about?

[2016-02-10 04:42] shwetamore1295 commented on #511
Is this issue resolved? If not, I would like to take this up.

[2016-02-10 04:49] shwetamore1295 commented on #369
@khalibartan @ankurankan if this issue is small enough, I would like to take it up.

[2016-02-10 05:31] ankurankan commented on #369
@shwetamore1295 No, it not. Wouldn't suggest you to start with this.

[2016-02-10 05:33] ankurankan commented on #511
@shwetamore1295 You can go ahead with this but will have to do some research on how to do this.

[2016-02-10 07:58] khalibartan commented on #369
@shwetamore1295 I won't recommend you to work on this. This will require a lot of efforts and good knowledge of code base .

[2016-02-10 17:06] nishnik commented on #581
Hey, I have started working on this, along with it I am taking care of pep8 errors.
I want you to look over this [line](https://github.com/pgmpy/pgmpy/pull/625/files#diff-db233cb5229ad26c8f3fc2773510a40eR176), As the output can varyt at run-time, is it fine to ignore it or is there any better way ?

[2016-02-10 18:51] nishnik commented on #548
@khalibartan @ankurankan Can you give me an example on what we have to extract from `policies`, `InferenceOptions` and `Evidence`. I would like to work on:
`readwrite/ProbModelXML.py: # TODO: add policies, InferenceOptions, Evidence`

[2016-02-11 04:36] ankurankan commented on #595
@anaviltripathi Yes it makes it more clearer but we are hardly using these attributes directly (used 4 times directly in our whole current codebase) but we are adding the overhead to update these in `marginalize` and `reduce` methods which are used much more often than that. So, I strongly feel like we should remove both `evidence` and `evidence_card`.  What do you think?

[2016-02-11 04:37] ankurankan opened #627 "Bug in TabularCPD 's marginalize and reduce methods"
[code]

The attributes `evidence` and `evidence_card` are not being updated after the operation.

Should be automatically fixed if changes proposed in #595 are implemented.

[2016-02-11 04:44] khalibartan commented on #627
Yeah I saw this behaviour.

[2016-02-11 04:47] khalibartan commented on #548
Sorry @nishnik I haven't seen the semantics of ProbeModelXML, so I cannot comment. This link might help you http://leo.ugr.es/pgm2012/submissions/pgm2012_submission_43.pdf

[2016-02-11 04:55] khalibartan commented on #572
Updates.

[2016-02-11 04:56] ankurankan commented on #572
@khalibartan Haven't started working on this. But I want to work on this, have many minor changes in mind.

[2016-02-11 05:25] anaviltripathi commented on #595
@ankurankan Alright then. I will work on this. Also, I had noticed that error in #627 but as these parameters will be removed that issue be implicitly resolved along with this right?

[2016-02-11 06:05] ankurankan commented on #595
@anaviltripathi Yes, have mentioned it there.

[2016-02-14 14:57] yashu-seth commented on #226
@ankurankan Did you get time to have a look at this? Please tell how should I proceed with this for now. Or maybe I should wait for some time.

[2016-02-15 05:53] chrisittner commented on #607
Yeah, the method seems to do quite the opposite of what it should :D
Out of six possible conditional independencies in this example, it picked exactly the false ones:

[code]

`A` is obviously not independent from `B` no matter what, there is an edge between them. Instead `A_|_C | B` and `C_|_A | B`, which are not in the list.

[2016-02-15 06:04] khalibartan commented on #607
Yes actually , code is considering active trail nodes, as independent nodes, it should be other way around.

[2016-02-15 06:26] chrisittner commented on #529
See PR #629, this can be closed i think.

[2016-02-15 06:29] ankurankan commented on #529
Fixed in #629

[2016-02-15 06:29] #529 closed, assigned to nobody

[2016-02-15 06:35] chrisittner commented on #525
See #607. Once the d-seperation check in `get_independencies` works as it should, local independencies will be included automatically. This issue can possibly be closed already.

[2016-02-16 04:29] chrisittner opened #631 "Independencies() == Independencies(['X','Y','Z'])"
[code]

[2016-02-16 22:43] harrywang opened #632 "Questions on TabularCPD"
Hi guys, I bought your book and I have two questions as follows:
- how can I add labels instead of 0, 1, 2 for nodes, such as easy for 0 and hard for 1:
  `cpd_difficulty = TabularCPD('difficulty', 2, [[0.6], [0.4]])`

![screenshot 2016-02-16 17 38 03](https://cloud.githubusercontent.com/assets/595772/13093571/1058073c-d4d4-11e5-8e01-9781636786fb.png)

Given the CPDs as follows:

[code]

![screens

[2016-02-17 05:51] ankurankan commented on #615
Fixed.

[2016-02-17 05:51] #615 closed, assigned to nobody

[2016-02-17 09:30] satrana42 commented on #631
@chrisittner Is this closed now?

[2016-02-17 10:01] pwaila opened #633 "Page 97 example error"
From the book mastering Probablistic model using python

when i am running following program

`import numpy as np
import pandas as pd
from pgmpy.models import BayesianModel

data = np.random.uniform(low=0, high=2, size=(1000, 4)).astype('float')
data

data = pd.DataFrame(data, columns=['cost', 'quality',
'location',
'no_of_people'])

train = data[:750]
test = data[750:].drop('no_of_people', axis=1

[2016-02-17 12:39] chrisittner commented on #631
PR #634, @satwantrana i think yes.

[2016-02-17 12:47] chrisittner commented on #607
Fixed in PR #630

[2016-02-17 13:18] #607 closed, assigned to nobody

[2016-02-17 13:29] chrisittner commented on #523
There are some tests for `get_independencies` since PR #630.

[2016-02-17 13:32] #631 closed, assigned to nobody

[2016-02-17 14:30] satrana42 commented on #353
@anaviltripathi What's the status on this? I am looking for a first patch. Is this open? There have been multiple PRs which had not been merged on this thread.

[2016-02-17 14:33] ankurankan commented on #353
@satwantrana #628 is a blocker for this.

[2016-02-17 18:16] anaviltripathi commented on #353
@satwantrana Work for this is done.
Just working on #628, once it is done, this will be merged.

[2016-02-17 18:58] yashu-seth commented on #232
+1 for @khalibartan 's suggestion. @ankurankan  What do you think about this?

[2016-02-17 18:59] yashu-seth commented on #632
@harrywang Unfortunately, we do not support adding labels to variables for now. It is a feature that we would like to have in the near future. You can have a look at [Add feature for storing the state name of the random variables.](https://github.com/pgmpy/pgmpy/issues/232)

[2016-02-17 19:01] harrywang commented on #632
Thanks @yashu-seth , any idea on my second question above?

[2016-02-17 19:02] harrywang commented on #632
FYI, there is gRain package for R https://cran.r-project.org/web/packages/gRain/index.html and I am trying to use pgmpy to do what gRain can do in R.

[2016-02-17 19:27] yashu-seth commented on #632
@harrywang
This has to be done by assuming particular states for particular variable types.
In the example above, I will assume that lower states represent lesser intensity features. Which means difficulty_0 is the least difficult and difficulty_1 is the most. Similarly, for intelligence, sat, letter and grade variables too. (Of course you might have assigned representation differently.  Any initi

[2016-02-17 20:17] ibrahim5253 commented on #489
Which classes/models are remaining that I can work on?

[2016-02-17 20:38] yashu-seth commented on #489
@ibrahim5253 I think FactorGraph and DynamicBayesianNetwork are left but @Pratik151 and @pdoongarwal are working on it.
I guess you can look into some other issue if you want to contribute, this is almost done.

[2016-02-17 20:39] yashu-seth commented on #489
@ankurankan Please update the issue.

[2016-02-17 20:54] ibrahim5253 commented on #263
I am a newbie here. What does adding tests mean?

[2016-02-17 20:54] ibrahim5253 commented on #305
Is it still open?

[2016-02-17 22:38] anaviltripathi commented on #263
@ankurankan I think this can be closed now. #577 fixes this.

[2016-02-17 23:13] anaviltripathi opened #635 "Repeated use of reduce and marginalize on same TabularCPD produces errors"
If I repeatedly call reduce or marginalize on the same tabular CPD using different variables I get an error. I don't think this behavior is expected as I think reducing a CPD in one single call to reduce by providing all the variables and repeatedly calling reduce separately for each variable should produce the same output.

[code]

It is the same case with `marginalize` method.

[2016-02-18 05:36] khalibartan commented on #633
@pwaila Are you on windows platform, same error has been reported, when user were using windows platform, PR #604 is dealing with it.

[2016-02-18 05:37] yashu-seth commented on #635
[code]

[2016-02-18 05:43] khalibartan commented on #635
Any leads on this. Is it because we are not updating the things or any other reasons. I am also getting same error as mentioned by @yashu-seth . We like if someone keeps me updated about this issue on this thread.

[2016-02-18 05:44] yashu-seth commented on #635
@khalibartan I haven't looked into it yet. @anaviltripathi Did you find some reason behind this?

[2016-02-18 06:49] ankurankan commented on #305
@ibrahim5253 You can come up with some edge cases and add tests for that.

[2016-02-18 06:50] anaviltripathi commented on #635
@yashu-seth @khalibartan I will update you on this tomorrow. In the meanwhile think about that other issue #628 of whether to allow reduce and marginalize for variable itself.

[2016-02-18 06:51] ankurankan commented on #232
@yashu-seth @khalibartan Yeah, even I want to keep this completely separate. I was thinking of a writing a decorator for this which would do all the mapping for the arguments passed to a method or returned result.

[2016-02-18 06:51] #263 closed, assigned to nobody

[2016-02-18 07:10] yashu-seth commented on #263
@ibrahim5253 We write tests for automatically checking if everything is working fine. So, basically its like running some method and then comparing the results with the expected output. You can Google unittests for more information on this.

In pgmpy, all the tests are in the 'tests' folder. You can have a look at them to get a general idea of writing tests.

[2016-02-18 08:28] khalibartan commented on #232
@ankurankan  Yeah cool. +1 Decorator will keep things much cleaner.

[2016-02-18 08:37] ibrahim5253 commented on #263
@yashu-seth Thanks of your patience and explanation.

[2016-02-18 08:55] pwaila commented on #633
yes i am on windows platform

[2016-02-18 09:43] ankurankan commented on #633
@pwaila This should be fixed now. Please try installing the latest version.

[2016-02-18 10:40] satrana42 commented on #548
@khalibartan What exactly needs to be done in 'models/MarkovModel.py: # TODO : Convert factor into CPDs' ? I have some understanding of PGMs and I'm looking for a first patch.

[2016-02-18 12:50] khalibartan commented on #548
@satwantrana As per my knowledge someone was working on it. Check if there is a patch for it or not. Otherwise, this issue is about having a method to convert our factor representation to our `TabularCPD` representation , I recommend that you discuss it with @ankurankan over the thread #595 , there is some work to be done in `TabularCPD class`, if there is some API change decision taken then you h

[2016-02-18 15:52] anaviltripathi commented on #635
@yashu-seth @khalibartan Bug is actually in `normalize` method of TabularCPD. It is flattening the values array but not reshaping according to cardinalities. Both `reduce` and `marginalize` call `normalize` so this bug appears in both.
Fix is easy and I will do it once other things are finalized.

[2016-02-18 16:14] khalibartan opened #637 "Update README.md"
Since we now have pgmpy at PyPI , https://github.com/pgmpy/pgmpy/blob/dev/README.md#download , https://github.com/pgmpy/pgmpy/blob/dev/README.md#installation these sections needs updated. Also [ Dependencies ](https://github.com/pgmpy/pgmpy/blob/dev/README.md#dependencies) section doesn't show pyparsing as our dependency . We need to update that too.

[2016-02-18 18:47] aelnouby opened #638 "Making IndependenceAssertion Hashable"
Hi all,

I am a newbie here , I was going through the TODOs in #548 , i started investigating the first issue
 independencies/Independencies.py: # TODO: write reduce function.

I think making the IndependenceAssertion hashable would be a good idea , it will solve this issue by storing the objects in a set eliminating any duplication from the beginning , also making it hashable can be useful in the

[2016-02-19 00:10] chrisittner opened #639 "IndependenceAssertion('X','Y','Z') == IndependenceAssertion('X','Z','Y')"
[code]

This should evaluate to `False`.

[2016-02-19 02:02] khalibartan commented on #638
@aelnouby Yeah you are right. But there is a PR that deals with this issue and issue #531

[2016-02-19 02:07] khalibartan commented on #639
Yeah, bug is at here https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/independencies/Independencies.py#L209 , we should only consider `self.event1` and `self.event2` in unordered form, not `self.event3` too. Can you fix it. Fix is fairly easy.

[2016-02-19 03:07] chrisittner commented on #639
Yep :).

[2016-02-19 03:19] chrisittner commented on #638
Now there are two :D (Also, this issue is duplicate of #531 )

[2016-02-20 14:08] khalibartan commented on #383
@ankurankan This issue can be closed , we now have support .

[2016-02-20 23:36] Geof11061 opened #642 "Issue with the simple example in Mastering PGMs with Python - check_independence"
Hi there

I have just got down pgmpy and am trying out the examples from this book.

In the example that uses JointProbabilityDistribution, I run the following code

`In [16]: from pgmpy.factors import JointProbabilityDistribution as Joint
In [17]: distribution = Joint(['coin1', 'coin2'],
                              [2, 2],
                              [0.25, 0.25, 0.25, 0.25])`

this is fine a

[2016-02-21 08:18] khalibartan commented on #642
@Geof11061 Actually we don't allow events to be of string type. Try this
`distribution.check_independence(['coin1'], ['coin2'])`
This will work fine. Here is the output that I got

[code]

Also use the updated version of pgmpy, your pycharm version of pgmpy is really old, we don't use that implementation any more. IPython is giving the correct error.

[2016-02-21 17:21] Geof11061 commented on #642
Thanks so much @khalibartan ! That works, and indeed it works in pycharm after updating!

Thanks again!!!!

[2016-02-22 03:18] khalibartan commented on #642
@Geof11061 If issue is fixed, then you can close this thread.

[2016-02-22 05:54] #642 closed, assigned to nobody

[2016-02-22 06:18] #633 closed, assigned to nobody

[2016-02-22 06:23] yashu-seth commented on #232
@ankurankan I would like to work on this.
From what I infer we will have to give an optional parameter that stores variable state names in Factor. Then we can have an attribute that stores a one to one mapping which could be used by the decorator that replaces state names to internal representation and vice versa.

[2016-02-22 06:45] ankurankan commented on #232
@yashu-seth Sure go ahead. Yes, but I don't want any part of code related to state names in any of the existing classes. So, I would suggest you to come up with exact implementation details and discuss it before starting to writing code.

[2016-02-22 06:49] khalibartan commented on #639
Close this issue.

[2016-02-22 06:54] khalibartan commented on #602
@ankurankan Fixed, can be closed now.

[2016-02-22 06:55] khalibartan commented on #534
@ankurankan Updates on this.

[2016-02-22 06:55] #602 closed, assigned to nobody

[2016-02-22 06:55] #639 closed, assigned to nobody

[2016-02-22 12:08] yashu-seth commented on #232
@ankurankan Okay. Here is what I have planned.
I will add the functionality to store the state names in the base classes i.e. `UndirectedGraph` and `DirectedGraph` as a dictionary attribute, with nodes as keys and a list of state names for each node as values. Mapping would be the index number of each state name in the state names list for each key in the dictionary attribute.
Now, I will write a

[2016-02-22 12:09] yashu-seth commented on #232
@ankurankan The decorators should be in the same file as their respective methods. Shouldn't they?

[2016-02-22 12:51] khalibartan commented on #232
I believe we can have two things separate mapping , for nodes to state name I believe list of strings is better, and for state name to node, we can have a dictionary. And we can add in a argument whether user wants to define state name, depending upon the argument decorator can do mapping or not. This will also save time in updating docstrings, past API will remain in workable state. Also I don't

[2016-02-22 14:09] yashu-seth commented on #232
@khalibartan I have the following mapping implementation in mind.

Suppose the user wants to have 'easy', 'medium' and 'hard' states for the variable 'diff'.
Then the base class will have a dictionary attribute with the following values -

[code]

Now for mapping the state names to the previous numerical values I think we can use the index of each state in the list. This would save us from having

[2016-02-22 15:20] khalibartan commented on #232
@yashu-seth  Yeah I was thinking of something like that. Or we can have something like
[code]
to get `diff_0` we can use `state_names['diff'].keys()[0]`
and to get  node value of `diff easy` we can use `state_names['diff']['easy']`

[2016-02-22 15:49] khalibartan commented on #638
@ankurankan Fixed. Can be closed now and #531 too.

[2016-02-22 15:51] yashu-seth commented on #232
@khalibartan Indexing won't work directly on `state_names['diff'].keys()`, it has to be converted to an iterable.
Both the methods would take O(n) in one case and O(1) in the other with respect to the cardinality of the variable. If we want O(1) for both, then maybe we can have two separate dictionaries.

[2016-02-22 16:22] khalibartan commented on #232
@yashu-seth My bad, I just forgot it, and also it would be unordered too in python2.

[2016-02-23 03:08] #638 closed, assigned to nobody

[2016-02-23 03:08] #531 closed, assigned to nobody

[2016-02-23 06:06] yashu-seth commented on #232
@ankurankan Should I proceed with this?

[2016-02-24 02:15] anaviltripathi commented on #627
@ankurankan Can be closed now. PR #643 fixes this.

[2016-02-24 02:58] #627 closed, assigned to nobody

[2016-02-24 02:59] #353 closed, assigned to nobody

[2016-02-24 06:21] anaviltripathi commented on #489
@ankurankan I can't find `copy` method for TabularCPD but it is check marked here. It is quite straight forward, should I add it?

[2016-02-24 06:24] anaviltripathi commented on #595
@ankurankan Can be closed.

[2016-02-24 06:32] ankurankan commented on #489
@anaviltripathi Yes please.

[2016-02-24 06:32] #595 closed, assigned to nobody

[2016-02-24 07:10] yashu-seth commented on #232
@ankurankan I am beginning work on this. Please notify me if you feel something needs to be changed or should have a different implementation whenever you are free.

[2016-02-24 19:20] Ashutosh-Adhikari commented on #489
Hi , may I start working on adding copy for DBN , if anyone is not yet assigned for it??

[2016-02-25 02:45] #635 closed, assigned to nobody

[2016-02-25 07:54] pdoongarwal commented on #489
@Ashutosh-Adhikari I have already send a PR for DBN, #613 .

[2016-02-26 18:37] yashu-seth commented on #489
@Ashutosh-Adhikari You can work on copy method for DBN. @pdoongarwal is currently busy.

[2016-02-26 18:55] Ashutosh-Adhikari commented on #557
Hi @khalibartan , did you mean that the networkx ' s add_edge() treats ('b',1) and ('b',0) as different nodes??
And hence we need to add_nodes() so as to not have any problem ,when one is concerned with the same variable but at a different time instant....!!

[2016-02-26 18:56] Ashutosh-Adhikari commented on #557
Y because I believe , networkx is not able to identify that 'b' is the same node that we have expected from DBN...

[2016-02-26 19:09] khalibartan commented on #557
@Ashutosh-Adhikari It should treat them as different because they are in different time slices. Problem is that the `add_nodes_from` in case of DBN adds them in first time slice but this doesn't happen in `add_edges_from` . If you would like to work on this please fix the bug in #452 along with it. As far as I understand problem is in else part of initialize_initial_state.

[2016-02-26 19:09] Ashutosh-Adhikari commented on #557
And as a solution for this, won't it be easier and less complex (wrt time-complexity) to add a check in the add_edge() of  DirectedGraph class , so that it will treat them as we want it to ??

[2016-02-26 19:15] Ashutosh-Adhikari commented on #557
Yes @khalibartan , i agree we need to treat them differently, but what i meant was the variable is just getting replicated over time(in DBN) and the error is probably thrown only because networkx feels that there's no existing node....
Am I making sense ??

[2016-02-26 19:27] khalibartan commented on #557
@Ashutosh-Adhikari  I'm not able to catch you here. Particularly

[2016-02-27 03:57] anaviltripathi opened #651 "Marginalize and reduce can be improved using new copy method of CPD"
@ankurankan This is very easy and I would like to add this.

[2016-02-27 04:07] anaviltripathi opened #652 "Another Marginalize and reduce issue."
As I have mentioned this particular issue in some other PRs. I think marginalize and reduce should not be allowed to modify the CPD inplace if the user wants to reduce/marginalize with respect to the main variable itself.
I think so because after such operation I am not able to comprehend the meaning of the new CPD. Also, it would give errors on further operations if this allowed. I think @khaliba

[2016-02-27 05:58] Ashutosh-Adhikari commented on #557
@khalibartan ,I meant that the nodes arent getting replicated successfully and hence there is no node at slice = 0 for the variable 'b'..
And hence the error!!

[2016-02-29 06:21] ghost opened #653 "Error during installation"
I have install the `requirement.txt` successfully, but failed during the installation of the package. Here is the full traceback:

[code]

[2016-02-29 06:31] ghost commented on #653
After installing `mock` separately, I install the `setup.py` again but another error about the clang generated. But the nosetest has been passed. So does it mean that the model can be successfully implemented?

[2016-02-29 07:02] ankurankan commented on #652
@anaviltripathi Yes you are right we shouldn't allow operations on the variable on which it's defined as it makes no sense. Please go ahead with this.

[2016-02-29 07:05] ankurankan commented on #651
@anaviltripathi Please go ahead with this.

[2016-02-29 07:39] ankurankan commented on #653
Can you please share the error that you got the second time?
On Feb 29, 2016 12:01 PM, "rylanchiu" notifications@github.com wrote:

[2016-02-29 07:43] ghost commented on #653
@ankurankan

[code]

[2016-02-29 08:10] ankurankan commented on #653
@rylanchiu Looks like a numpy issue. Can you try reinstalling numpy ? And also I would really suggest you to use anaconda if you are not using.

[2016-02-29 08:17] ghost commented on #653
@ankurankan  I once used anaconda before but the independence are messed up finally and I had to reinstall the os. But i will try to reinstall the numpy, thanks.

[2016-02-29 08:21] ghost commented on #653
@ankurankan  The error still exists after I reinstall the numpy. But I can import numpy and pgmpy successfully.

[2016-02-29 19:43] Ashutosh-Adhikari commented on #452
Hi @khalibartan , the problem here is that initialize_initial_state() method is correct as far as it is concerned with replicating only the cpds, but it is definitely not taking care of the edges...And when we look at the case of the add_edges_from or add_edge methods, they will only be replicating the internal edges(edges within a time slice) , and hence the nodes which are not involved in any of

[2016-03-01 09:20] khalibartan commented on #452
Yeah bug happens to be fairly easy to track. You can surely go ahead. #557 references to that error.

[2016-03-01 13:45] abhilashrj commented on #565
@ankurankan I would like to work on this.

[2016-03-02 08:33] sandeepkrjha commented on #653
[code]

This error is showing after I have installed all the dependencies. I upgraded numpy but still error is as it is .

[2016-03-02 09:12] khalibartan commented on #653
Can you give details of environment , if you are using conda env then use `conda list`. I just freshly installed pgmpy as to check issues, but I got none.

[2016-03-02 09:48] sandeepkrjha commented on #653
@khalibartan I am using virtual environment in conda.

[code]

installing requirements using conda gives this error.

[code]

[2016-03-02 09:55] khalibartan commented on #653
@sandeepkrjha the `-f` option is meant for force , use `--file` instead.

[2016-03-02 10:51] sandeepkrjha commented on #653
@khalibartan  thanks. Its working fine now.

[2016-03-03 05:51] anaviltripathi commented on #565
@abhi95 Now that I have sorted out some other CPD issues, I will be working on this. Can you please work on some other issue?

[2016-03-03 07:33] abhilashrj commented on #565
@anaviltripathi Fine you can work on this.

[2016-03-03 10:51] #651 closed, assigned to nobody

[2016-03-03 11:09] #652 closed, assigned to nobody

[2016-03-03 14:30] abhilashrj commented on #590
@anaviltripathi Are u working on this right now?

[2016-03-03 14:41] ankurankan commented on #590
@abhi95 I don't think anyone is working on this right now. So, you can go ahead with this if you like.

[2016-03-03 18:45] anaviltripathi commented on #590
@abhi95 No, I am not working on this. You can go ahead with, and make sure to include some asymmetric cases whenever you write tests. Currently many tests use symmetric factors/CPDs.

[2016-03-03 18:52] abhilashrj commented on #590
@anaviltripathi by asymmetric factors do you mean variables with different cardinality

[2016-03-03 18:55] anaviltripathi commented on #590
@abhi95 Yes, and different values too at different places in the table. Some of the current tests have the same set of numbers for all the places.

[2016-03-03 19:07] abhilashrj commented on #590
@anaviltripathi Regarding variables being tuples instead of lists, these tests are just to verify that methods are not altering provided data right. What other immutable objects I can consider while writing tests?

[2016-03-03 19:37] aelnouby commented on #564
Any updates on this ?

[2016-03-04 01:50] anaviltripathi commented on #590
@abhi95 Which tests are you talking about in particular?

[2016-03-04 02:33] anaviltripathi commented on #565
@ankurankan In `to_bayesian_model` method of Markov model we are first creating a junction tree from Markov model and then using this to create bayesian model. Wouldn't it be better if we added a method `to_bayesian_model` to Junction Tree and then just call it appropriately here?

[2016-03-04 03:19] khalibartan commented on #590
@abhi95 Variables name can be any hashable object, by mistake I might have written immutable.

[2016-03-04 06:45] abhilashrj commented on #590
@anaviltripathi I was talking about variables being hashable objects such as numbers, strings, tuples, etc. anyway @khalibartan cleared my doubt. I think you were right about immutable objects, as only built in immutable objects are hashable in python.

[2016-03-05 08:38] aelnouby opened #657 "Adding a score method for BayesianModel"
@ankurankan  I am thinking of adding a score method for the BayesinModel class.

It may be like this `def score(self, X, y,):`

Where `y` is the correct targets (the column we usually drop)
and `X` is the data with  one variable missing (the one dropped to be predicted)

[2016-03-05 09:37] aelnouby commented on #489
@yashu-seth Is anybody working on the DBN copy method right now or should i start working on it ?

[2016-03-05 09:47] aelnouby opened #658 "Adding cross-validation for Bayesian Networks"
I was exploring other PGM libraries as suggested by @khalibartan in #588 , i have found [this](http://www.bnlearn.com/documentation/man/bn.cv.html) in bnlearn.

I was wondering about the possibility of adding such an important method to pgmpy's learning framework ?

[2016-03-05 09:53] khalibartan commented on #658
@aelnouby I don't think currently pgmpy needs this. Also if you think of adding something new or proposing something new first discuss it over gitter channel.

[2016-03-05 10:11] aelnouby commented on #658
@khalibartan Ok , it is just i have been asking similar questions on the mailing list for a while now and i was getting no answers. Could you please check #657 as well. Sorry for any inconvenience

[2016-03-05 10:17] khalibartan commented on #658
@aelnouby If you ask questions at mailing list, you have to be patient, it is not regular that we open mailing list, that's why I suggested gitter channel not mailing list. You are more likely to get reply there.

[2016-03-05 10:19] khalibartan commented on #657
I cannot really say for this. But for me particularly its not that useful.

[2016-03-05 10:22] aelnouby commented on #657
@khalibartan it is just it is very convenient for any one who has been using scikit-learn or similar libraries. after `fit` and `predict` someone usually would want to check `score` , i felt that way personally when i was trying the examples.

[2016-03-05 10:24] aelnouby commented on #658
@khalibartan Great, i will be using Gitter from now on , thanks for your feedback.

If i may ask , why do you think this is not needed , due to that it is not that useful , or the learning framework is not ready for it yet ?

[2016-03-05 10:38] khalibartan commented on #657
Yes indeed, but when I'm using bayesian models it is very rare that I have the correct output values. Also till now I have only used pgmpy for inference purpose on some data sets, but never for learning purpose, so for now it is not useful for me. Let see @ankurankan find it useful for not.

[2016-03-05 11:00] khalibartan commented on #489
@aelnouby You can start working on it. No one is working on it right now.

[2016-03-06 18:35] aelnouby commented on #548
@khalibartan  What are the bugs exactly in this ?

[2016-03-06 18:36] khalibartan commented on #548
I don't know myself.

[2016-03-07 17:17] ankurankan opened #660 "Bug in Gibbs Sampling"
[code]

[2016-03-08 11:23] abhilashrj opened #661 "Bug in hash method of Factor"
In test_Factor.py, the following test gives the error.

[code]

The error:

[code]

[2016-03-08 11:27] ankurankan commented on #661
@abhi95 Can you please add what `Test` is ?

[2016-03-08 12:02] abhilashrj commented on #661
[code]

[2016-03-08 12:06] abhilashrj commented on #661
@ankurankan I have the following implementation in mind.
Sort the variables based on their datatype first, later sort them based on values they have. Something like this.

[code]

But this wont work if two custom hashable objects have not implemented cmp method.

[2016-03-08 12:10] abhilashrj commented on #661
@ankurankan What can be done regarding custom objects of same class which cannot be ordered?

[2016-03-08 12:13] ankurankan commented on #661
@abhi95  We are sorting all the variables here: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/factors/Factor.py#L783. One possible solution can be convert everything into a string before doing the sort. And for a custom object we can use it's hash value. Just think if this fails in some case.

[2016-03-08 12:29] khalibartan commented on #661
It will fail if our tuples are like `(1, '1')` and `('1', 1)` , but since its not gonna happen, I think this will work fine

[2016-03-08 13:08] abhilashrj commented on #661
@khalibartan I don't see how it fails in the case u mentioned, I checked by altering positions of those two tuples seems to work fine.
@ankurankan Thanks for the input.
Regarding distinguishing objects as built in or custom. Can I use the following output
`type(custom-obj) = <class  '__main__.class_name'`
`type(built-in) = <class 'class_name'>`
I mean the extra `__main__`  part can be used.

[2016-03-08 13:24] khalibartan commented on #661
@abhi95 `(1, '1')` and `('1', 1)` are two different things and should return a different hash value. Consider if you convert everything to string , than it should be `('1', '1')` and `('1', '1')` (both of them will have same hash values), or I'm thinking wrong here, did you guys mean `'('1', 1)'` and `'(1, '1')'` things will be fine like this.

[2016-03-08 13:36] abhilashrj commented on #661
@khalibartan They do return different hash values. Since `'('1', 1)'` and `'(1, '1')'` are different.

[2016-03-08 13:37] khalibartan commented on #661
Yes they are different. Read the first line of comment. I was confused of how things are being impelemented

[2016-03-08 13:38] khalibartan commented on #661
@ankurankan I believe better thing would be get hash value of everything, and sort these hash values.
Am I right or wrong here. It will be collision free, and also no need of typecasting, and since our variables are any hashable objects. I don't see any issues.

[2016-03-08 13:44] abhilashrj commented on #661
@khalibartan That seems to be a good idea. I agree here.

[2016-03-08 14:24] khalibartan commented on #660
Sending in a PR.

[2016-03-08 16:37] saivig commented on #660
@khalibartan change similarly in self.generate_sample method also at [L391](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/inference/Sampling.py#L391) even though logically it's not necessary as we are generating sample only for once but will be better if we follow as in self.sample method

[2016-03-08 18:33] aelnouby commented on #489
@khalibartan is there any model or factor that still need a copy method ?

[2016-03-08 18:45] khalibartan commented on #489
@aelnouby  @Pratik151 Isn't able to add commits to his PR for factor graph. Maybe you can talk to him and continue the work.

[2016-03-08 19:25] aelnouby commented on #452
I want to work on this but i just have a question, right now i understand the problem is that for variables with no intra-edges and only inter-edges with the previous time slice , we fail at getting the parents of this variable at 0th time slice.

Now what should replace the parent, some constant or what.
Finally i don't understand the logic of such a network , for the network mentioned above
![5a

[2016-03-09 00:12] aelnouby opened #664 "DBN Bug: multiple CPDs for the same varaiable"
I found this problem while working on #452

[code]

Here the 2 CPDs are for the same variable , when `self.check_model()` is done in [here](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/models/DynamicBayesianNetwork.py#L517)
This error will be raised

[code]

Because the number of parents will be more than the number of evidences.

If you confirmed that this is a problem, i think it can be solved

[2016-03-09 07:15] ankurankan commented on #664
@aelnouby I think you misunderstood how we define CPDs in pgmpy. So for the variable `('b', 1)` the CPD should look something like this (considering both `('a', 0)` and `('c', 0)` have 2 states:

[code]

And you will have to define separate CPDs for `('a', 0)` and `('c', 0)`.

[2016-03-09 07:16] ankurankan commented on #664
Closing this.

[2016-03-09 07:20] ankurankan commented on #661
@khalibartan Yes, that's the simplest way I can think of. @abhi95 Please go ahead with this.

[2016-03-09 07:21] khalibartan commented on #452
@aelnouby

Now what should replace the parent, some constant or what.

No problem is not that. If you look at [here](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/models/DynamicBayesianNetwork.py#L514).

Yes , you are right they will produce a constant value (noise). But we are not taking care of this case while adding these nodes to the first time slice. I haven't think of a solution for this, bu

[2016-03-09 08:36] aelnouby commented on #664
@ankurankan No i actually know that, the example i wrote above is the one written in #452 and it caused problems,
Now a user defined two separate CPDs , one for each evidence, i think we should do one of two things , either we handle it internally as i suggested, or we print an error message that informs the user of what he did wrong (if we decided that this will be wrong and we shouldn't handle i

[2016-03-09 10:24] aelnouby commented on #664
@ankurankan Should i start working on handling this internally, with a product over CPDs with the same variable ?

[2016-03-09 11:08] khalibartan commented on #664
I think error message is better. A user should use our API properly. Also adding overhead for handling such situations is not necessary. Error message will stop user from making such mistakes in future also.

[2016-03-09 11:09] ankurankan commented on #664
@aelnouby @aelnouby I am still not getting the use case of this. Can someone explain please ?

[2016-03-09 11:17] khalibartan commented on #664
@ankurankan Look we are adding two different cpds instead of one according to API provided by us

[code]

If look at this line https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/models/DynamicBayesianNetwork.py#L517 , we are doing this wrong. We will get two parents instead of one according to the cpd. It is just for user helpfulness that we should raise an proper error.

[2016-03-09 11:20] aelnouby commented on #664
@khalibartan In order to catch this error particularly we will need to search over all variables to know if there is two (or more) CPDs for the same variable. So i think there will be overhead either way, so why not to fix it as well.

[2016-03-09 11:25] khalibartan commented on #664
@ankurankan Why did we kept cpds as list not as node(key) and cpd (value) dictionary. Since our variable names are hashable objects , we could have kept them as dictionary rather than list. And with each node I believe we can associate a single cpd. So dictionary would work fine.

[2016-03-09 11:27] khalibartan commented on #664
@aelnouby Overheads attached with product is quite large as compared to just searching. But let @ankurankan decide what needs to be done here.

[2016-03-09 11:47] khalibartan commented on #601
@ankurankan This can be closed now.

[2016-03-09 20:03] piyushsoni27 commented on #546
@ankurankan @yashu-seth @khalibartan Hello, I am a new developer. I would like to work on this.Is this still open?

[2016-03-09 20:22] khalibartan commented on #546
@piyushsoni27 Sure go ahead. But before committing anything read the this [comment](https://github.com/pgmpy/pgmpy/issues/546#issuecomment-166850200)

[2016-03-13 17:13] chrisittner commented on #579
What is the status here? I agree with @yashu-seth that this `get_parameters` should be fixed. The second bug isn't hard to fix, it just requires a decision.

I'll try to summarize the issues again. I think @yashu-seth pointed to two independent bugs with `get_parameters()`:
- Some exception that wasn't easy to reproduce. I think this is the windows issue #602 with pandas, and it is addressed in #6

[2016-03-13 17:53] yashu-seth commented on #579
@chrisittner I agree the case is arbitrary. And I also think assigning uniform probabilities is the best way to deal with it.
So +1 for the PR.
I feel may be we can issue a warning for data sets missing particular configurations of parents.

[2016-03-13 18:16] chrisittner commented on #579
Thanks, good. I'll propose a fix tomorrow. I don't know how we could warn the user? (It's not worth an exception, because for nodes with several parents and higher cardinality such cases will occur regularly)

[2016-03-13 18:36] yashu-seth commented on #579
@chrisittner Yes certainly not an exception. We can issue warnings using [this](https://docs.python.org/2/library/warnings.html) in python.
I think you should go ahead with the PR and figure out if a warning is required or not later.

[2016-03-14 02:29] chrisittner commented on #579
@yashu-seth :D Ahh, that is where warnings come from.
OK, I didn't include a warning; on second thought the behavior isn't very unexpected.

[2016-03-15 01:21] chrisittner commented on #352
[The first error](https://github.com/pgmpy/pgmpy/issues/352#issue-64903149) is fixed since [this](https://github.com/pgmpy/pgmpy/commit/b455ca2fd04d28bf53f83c8928b622d93b7016f7) commit. [The 2nd error](https://github.com/pgmpy/pgmpy/issues/352#issuecomment-177468505), is fixed in #667.

[2016-03-16 09:12] yashu-seth opened #668 "Add tests for estimators"
We support maximum likelihood estimation in estimators but we don't have robust tests for it.  The `MaximumLikelihoodEstimator` is used in the `fit` method but tests for it also do not cover all the required cases.

[2016-03-17 21:39] abhi95 commented on #526
@ankurankan @Erotemic
I think this bug is because of the code in MarkovModel.to_junctiontree() line number 502.
[code]
This line
[code]
should be inside the for loop as for each clique node we have to multiply by all factors whose scope is subset of variables in node. What do you guys think?

[2016-03-25 06:37] #546 closed, assigned to nobody

[2016-03-27 21:34] chrisittner commented on #573
Fixed in #667.

[2016-03-27 21:36] chrisittner commented on #579
This can be closed, I think. Fixed in #667.

[2016-03-28 02:59] #579 closed, assigned to nobody

[2016-03-28 02:59] #573 closed, assigned to nobody

[2016-03-30 18:31] yashu-seth commented on #423
@khalibartan Can you tell me what was the problem you faced with the inplace argument? Were you trying to write a generic decorator for this?

[2016-03-31 03:03] khalibartan commented on #423
@yashu-seth Yes, I was trying to write a generic decorator for this. I cannot remember what was issue with the inplace argument. here is the link to pull https://github.com/pgmpy/pgmpy/pull/598

[2016-04-07 18:35] yashu-seth commented on #423
@khalibartan Do you still plan to work on this or should I look into this?

[2016-04-08 03:43] khalibartan commented on #423
@ankurankan Told me to leave this issue, as it is of no use now.

[2016-04-08 04:46] yashu-seth commented on #423
@khalibartan @ankurankan But wouldn't this save a lot of extra calls?

[2016-04-09 03:56] ntanmayee opened #676 "Causal Bayesian Networks"
Are there any plans for implementing causal Bayesian networks?

[2016-04-09 14:08] ankurankan commented on #676
We don't have any plan for implementing causal networks in our current
roadmap. But I think it should be fairly easy to work with causal networks
using BayesianModel class. Let me know if you have any doubts.

[2016-04-09 16:58] ntanmayee commented on #676
Thanks for your quick response!

Yes, BayesianModel class does seem to give some basic functionality of causal Bayesian Networks. However, I was referring to algorithms specifically for causal discovery and for estimating intervention effects.

Would it be okay if I worked on these features independently? Do let me know!

[2016-04-10 02:45] ankurankan commented on #676
Yeah, that would be great to have in pgmpy. Please let me know if you need
any help.

Ankur

On Sat, Apr 9, 2016 at 11:58 PM, Tanmayee notifications@github.com wrote:

[2016-04-11 17:54] anapinkg opened #677 "fit(data) exemple throws TypeError: ('Values: Expected type int or type float, got ', dtype('int64'))"
From the pgmpy API reference, I tried the example under `fit(data)`:

[code]

and I got the error

[code]

I found the same problem [ Page 97 example error #633 ](https://github.com/pgmpy/pgmpy/issues/633) and it seems to be fixed (the issue is closed), at least for windows users.

I am using debian (virtual machine on a windows host).

[2016-04-11 18:30] khalibartan commented on #677
@anapinkg Are you using the latest version of pgmpy. If not please update the version, and report if the issues persists over the thread.

[2016-04-11 18:40] anapinkg commented on #677
I installed the pgmpy this afternoon (following the instructions [here](http://pgmpy.org/install.html) so i guess i am using the latest version.

[2016-04-11 18:53] khalibartan commented on #677
Okay. @yashu-seth Can you check this issue. I guess you use a windows platform?
@anapinkg We will try to look into things.We are working on removing pandas support so, this will be fixed anyways. And on my debian platform it ran just fine without error.

 A simple fix I can guess, is convert the pandas data frame values to np.float . I guess it should run fine.

[2016-04-11 19:37] yashu-seth commented on #677
@khalibartan @anapinkg I will look into this as soon as possible.

[2016-04-11 22:30] anapinkg commented on #677
@khalibartan @yashu-seth  So, it is probably a plataform dependent issue...
In my case, the default int value is int64.

I did some debug and around line 79 of MLE.py there is this command:
`cpd = TabularCPD(node, var_card, np.array(values), evidence=parents, evidence_card=parent_card.astype('int'))`

In my execution, the problem starts with `np.array(values)` as this will assume the default int t

[2016-04-14 09:54] khalibartan opened #679 "Updating read-write modules to work with state_names"
Since pgmpy is supporting feature for variable state names, we need to update our read-write modules to take this into account, currently we are not storing the states of the variables while parsing the files, and while writing the states are being labelled as `var_1` etc.

[2016-04-22 16:49] khalibartan commented on #423
@yashu-seth Now I remember what was the issue with `inplace` argument . If `inplace = True` than hash value would be changed and we will not be able to use the cached value.

[2016-04-25 00:05] ghost opened #680 "learning network structure"
Is there an API to learn the structure of a bayesian network, given the variables?

[2016-04-25 02:49] khalibartan commented on #680
@rpagliarix We are working on getting this done. We have accepted a GSOC project that deals with it , so you can expect it to be in working condition by august. For any other API, there might be some in R but I don't know about them, you can search for them.

[2016-04-26 09:22] khalibartan opened #681 "Capability of saving and loading a session"
Since inference tasks really take a lot of time, It would be great to have functionality where user can save the results of half-run, save them and load these back then run the remaining calculation later. This functionality is provided in tensorflow, so I think we can also add it.  Basically what I was thinking that user can add a time parameter, and we will save results at each multiple of the t

[2016-05-01 07:43] eran-str commented on #677
I'm a windows user too, ran into the same problem.
I think that Pandas in window, the method values_count() is returning now a dtype.int64 and not  int,
After changing the estimator\base.py base class to cast int in line 22:
self.node_card = {_node: int (get_node_card(_node, data)) for _node in self.model.nodes()}
and fixed another line of check error about dtype !=dtype.int64,
It seems to work pr

[2016-05-01 08:22] eran-str commented on #680
There is a python library called libpgm,  having pgmlearner, implementing the structure learning as well as parameter learning. A good starting point ...

[2016-05-02 13:22] khalibartan commented on #677
@yashu-seth Can you look into this bug. It had been already reported more than once. I cannot debug it as I'm not able to reproduce the bug.

[2016-05-02 15:46] yashu-seth commented on #677
I'll look into this today most probably, was busy with my end semesters.
But I'm free now.

On Mon, May 2, 2016 at 6:52 PM, Utkarsh notifications@github.com wrote:

[2016-05-04 02:24] ankurankan opened #683 "Inconsistent behavior of query method in Variable Elimination"
[code]

Returns a set when `variables` is `None`. Otherwise returns a `dict`.

[2016-05-04 14:52] yashu-seth commented on #683
@ankurankan What do you think should be the expected behavior? Shouldn't this return an empty dict for no variables specified?

[2016-05-04 17:34] khalibartan commented on #683
@ankurankan Yes, I agree with @yashu-seth . it should return an empty dictionary, because in case of variables not being an empty list we return marginal distrbution w.r.t that variable, so makes much sense to return a empty dict

[2016-05-06 12:32] Aakanksha-B opened #684 "Error using belief propagation"
I tried running the following example given in chapter 3 of your book.

[code]

And I am getting this error -

[code]

[2016-05-06 13:04] Aakanksha-B opened #685 "Flaws in Bayesian parameter estimation"
I wanted to do Bayesian parameter estimation for Bayesian networks. I found that section in your book in  chapter 5. But it seems there are some flaws in it.

1.) I do not find a way to specify priors i.e. the initial counts for discrete nodes or mu, sigma for continuous nodes. Please help.

2.) Another trivial one is that if we give too few training examples, your system gives an error.
E.g. Runn

[2016-05-06 15:28] yashu-seth commented on #685
@Aakanksha-B Currently, we do not support continuous random variables. So you cannot specify continuous nodes for now. However we will soon be extending support for it too, since we have a GSoC project specifically on support for continuous random variables. It won't include support for Hybrid Bayesian Networks but I am planning to work on it after my GSoC project.

[2016-05-08 23:04] dstuck opened #687 "Missing Values Crash ML"
I'm trying to get estimates for conditional probabilities for a completely observed graphical model with some missing data. I attempted to simply add the edges to the model and fit to my data in a pandas data frame, but it looks like the base estimator class attempts to coerce the columns to type int which crashes. Since in pandas integers with missing data (np.nan) are of type float and can't be

[2016-05-09 08:34] yashu-seth commented on #687
@dstuck Can you please share the exact steps so that we can reproduce the bug?

[2016-05-09 15:41] dstuck commented on #687
Sorry about that. Here's a basic case that will break. Removing the astype(int) in base.py allows it to run, but I'm not 100% sure it handles the missing data properly.

[code]

[2016-05-09 19:01] dstuck opened #688 "Wrong iPython Notebook Representation"
CPD headers are incorrectly displayed in ipython by _repr_html (and not displayed at all in with print) when there is more than one evidence variable.
Ex:

[code]

Displays:
TabularCPD for grade

[code]

but `cpd_table.variables` returns ['grade', 'intel', 'diff'] and `cpd[1,0,1]` returns 0.4 rather than 0.6 as indicated by the display.
Removing the list reversal in _repr_html gives the proper col

[2016-05-09 19:04] dstuck commented on #688
Oh, also wanted to see why not just return a pandas DataFrame and use its print functionality rather than rewriting their _repr_html? Having access to CPDs as data frames seems like it would be much more convenient.

[2016-05-11 06:27] Aakanksha-B commented on #685
@yashu-seth ok, but how do we specify priors for discrete nodes?

[2016-05-11 15:52] yashu-seth commented on #685
@Aakanksha-B Can you please elaborate about the specific example you have in mind?
@ankurankan Can you please look into the issue. Currently I have not been able to go through the book examples mentioned.
@Aakanksha-B It would be great if you can share the examples you are having problems with so that we can reproduce the error.

[2016-05-11 15:58] yashu-seth commented on #688
@dstuck There seems to be a bug in the CPD representation. It would be great if you can send a PR to fix this. Else we will look into this as soon as possible.
You can also discuss the specific changes you are proposing there.

[2016-05-12 02:27] chrisittner commented on #685
@Aakanksha-B @yashu-seth One cannot fix any priors when using the `fit` method.. It is only possible to specify priors if one uses `estimators.BayesianEstimator` directly; `fit` fails to pass them on.  (1) and (2) are both quite serious problems^^.  This concerns the `book/v0.1`-branch. Bayesian parameter estimation has since been removed in `dev` and currently only Maximum Likelihood estimation i

[2016-05-12 07:41] yashu-seth commented on #685
@chrisittner Thanks for the update. I was not aware that the `book/v0.1`-branch has Bayesian Parameter Estimation.

[2016-05-21 07:00] Harshvardhan1 commented on #489
@khalibartan  Is this issue open for grabs? If yes, I would like to start working on it

[2016-05-21 07:04] khalibartan commented on #489
@Harshvardhan1 Yes it is. You can create copy method for DynamicBayesian Network and FactorGraph . We did have pull requests for these two, but those developers aren't working on it anymore. Make sure that you go through other copy methods and there tests. That will help you a lot. If you face any issue ping me over your pull request.

[2016-05-21 16:25] ankurankan commented on #687
@dstuck I don't think the current code handles the case of missing values.

[2016-05-21 16:28] #680 closed, assigned to nobody

[2016-05-22 06:19] #688 closed, assigned to nobody

[2016-05-22 06:19] ankurankan commented on #688
@dstuck @yashu-seth I don't think we need `_repr_html` since tabulate is able to render the table in notebooks.

[2016-06-01 14:53] chrisittner opened #695 "Faster nosetests?"
Nosetests take more than 30s to run (on my machine), due to a few large test cases. One should check if the slow test cases need to be so slow or if they can be modified to work with smaller models.

[2016-06-02 06:35] khalibartan commented on #695
I don't think 30 sec is too much of time, I was once running theano tests and took me about an hour or so. We can specifically run tests which are relevant to the changes. Though one should write test cases which are not slow, but it can't be really helped in many places.

[2016-06-13 17:44] narinluangrath opened #697 "Installation on Ubuntu 14.04"
I'm running into errors installing pgmpy and unfortunately I don't have enough technical knowledge to understand what they mean. Below is the output from the terminal when I follow the installation guide on https://github.com/pgmpy/pgmpy

[code]

[2016-06-13 17:56] ankurankan commented on #697
@narinluangrath You need to install lapack/blas. Just google for installing them. Should work fine after that.

[2016-06-13 17:56] #697 closed, assigned to nobody

[2016-06-13 18:00] khalibartan commented on #697
@narinluangrath Apart from what @ankurankan mentioned, you have installed dependencies for python2.7 in your conda env, create a new env for python3 and install dependencies in it. Things will be much more hassle free this way.

[2016-06-13 18:52] yashu-seth opened #698 "Bug in BayesianModel.predict"
[code]

[2016-06-13 18:55] yashu-seth commented on #698
I hope I am using the predict method the in the correct fashion.

[2016-06-13 19:32] narinluangrath commented on #697
Hi @khalibartan,

I installed lapack/blas and I created a new environment and installed the dependencies using

[code]

But when I try installing again I get a new error:

[code]

[2016-06-13 19:42] yashu-seth commented on #698
I ran the same code again and got a different error.

[code]

[2016-06-15 01:31] chebee7i opened #699 "Incorrect display of CPD"
Hi all, the print out of a CPD seems to be missing one of the variables:

[code]

Notice that `intel` appears no where.  Anyone else seeing this?

[2016-06-15 03:23] ankurankan commented on #699
@chebee7i I am getting the correct output.

[code]

I am getting correct output on python 2.7.11 also. Which OS are you using and which python version you are on ?

[2016-06-15 03:44] chebee7i commented on #699
Looks like I'm on 2.7.5.  Linux.   Our output is definitely different though, even the lining of the table.  I'm sitting at `58ef0b51d` right now. Perhaps something has changed since then?

[2016-06-15 03:47] chebee7i commented on #699
Seems so (from current master):

[code]

[2016-06-15 03:47] #699 closed, assigned to nobody

[2016-06-16 15:19] chrisittner commented on #698
It is a state name issue. I also get the first error. If I replace the line

[code]

with

[code]

to get rid of non-int values, then I get the second error. If I again replace that line with

[code]

to make the "Pclass"-values `0`,`1`,`2` rather than `1`,`2`,`3`,  it appears to work.

The code tries to use the "external" statenames (that are currently managed via the decorators) rather than the

[2016-06-16 15:43] chrisittner commented on #698
More generally: I think the `state_name`-support is important for handling actual data, it is not just a convenience feature. So at first sight, the situation with "internal" names for variable states and "external" names that are added by decorators doesn't seem ideal, because it currently makes it difficult to understand which names are used when (at least for me).

[2016-06-16 15:55] chrisittner commented on #698
Why is it necessary to wrapper methods in the `/inference/`-folder with `@StateNameDecorator`? I thought the decorators only serve to transparently change the "row and column names" of `values` of `Factor`s, so can't it be such that they only appear in `/factors/`?

[2016-06-16 18:08] yashu-seth commented on #698
@chrisittner I think I found the problem, in the predict method -
[This](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/models/BayesianModel.py#L646) line ensures that evidence dict is passed with the actual state names ({'Sex': 'male', 'Pclass': 3}) but [here](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/models/BayesianModel.py#L644) there is no  state_names dict passed during the initializtion o

[2016-06-16 18:12] yashu-seth commented on #698
@chrisittner There are a lot of places where the internal architecture has been used for state names. I think we cannot get rid of this because forcing the users to provide a state names dict every time would not be very good. Do you have an idea of some other way to handle this?

[2016-06-16 18:14] yashu-seth commented on #698
@chrisittner I did not understand [your last comment](https://github.com/pgmpy/pgmpy/issues/698#issuecomment-226529613). Can you please elaborate it?

[2016-06-16 18:48] yashu-seth commented on #698
The way the state names feature has been implemented is that we need to pass a state names dict as input parameter while initializing an instance of either a `Factor`, `TabularCPD` or `Inference` class. If a state names dict is passed, all the methods can work on both internal state names or the custom state names. So we can pass the parameters either way for methods like `reduce`, `map_query` etc

[2016-06-19 17:38] ankurankan opened #703 "Move all internal pandas computation to recarrays"
Currently we accept and return pandas DataFrame wherever we need to deal with data. Also our internal computations use pandas. Replace these internal computations with recarray.

[2016-06-20 07:03] khalibartan commented on #594
@ankurankan I think we can close this issues as it is similar to #703

[2016-06-20 07:06] yashu-seth commented on #594
@ankurankan @khalibartan Yes. And I think #596 can be closed too.

[2016-06-20 07:08] #594 closed, assigned to nobody

[2016-06-20 07:13] ankurankan commented on #594
Ref #703

[2016-06-22 08:31] eran-str opened #704 "GibbsSampling on BayesianModel not working"
Hi,
I added to the example code for GibbsSampling one more node connection 'doc', and it fails,
The following code produce error:

[code]

The error:

[code]

[2016-06-24 17:19] khalibartan commented on #704
@eran-str

[code]

It is not a valid cpd,

[code]

Take a look at column `intel_1`, `doc_0` and `intel_1`, `doc_1`. They both don't sum to one.
After correction

[code]

Output is:

[code]

If your doubt is clear, you can close this issue than

[2016-06-24 17:33] yashu-seth commented on #704
@khalibartan I think we should have a `BayesainModel.check_model` call before Gibbs Sampling begins this would raise the required exception. Since, we have a method (`check_model`) to check such inconsistencies. What do you think?

[2016-06-24 17:39] khalibartan commented on #704
@yashu-seth Yes. I was about to make that point on our gitter channel. Though here error was clearly visible, but with large number of nodes it can be difficult to find the correct origin because error is really misguiding and lot of computational time will be spend even before this error is raised(here less number of nodes, so kernel was constructed in no time but with dense and big graphs things

[2016-06-24 17:44] khalibartan commented on #352
@ankurankan Close this issue. Fixed.

[2016-06-24 17:46] khalibartan commented on #677
@ankurankan Close this issue. Fixed in #682

[2016-06-25 01:46] ankurankan commented on #704
@khalibartan @yashu-seth Yes we should call `check_model` before doing sampling.

[2016-06-25 01:46] #352 closed, assigned to ankurankan

[2016-06-25 01:46] #677 closed, assigned to nobody

[2016-06-25 03:40] yashu-seth opened #705 "Cache UnbiasedDiscretizer._lim_moment"
In `UnbiasedDiscretizer.get_discrete_values` there are a lot of repetitive calls of `UnbiasedDiscretizer._lim_moment` for the same points. This can be optimized.

[2016-06-25 12:28] eran-str commented on #704
After updating and using `check_model` to verify correctness, I still get the same error,
It yields on the **reduce** procedure as before,

[code]

I'm working on a windows environment with the latest pgmpy,
I will get back to you soon, I want to check the reduction procedure against the book algorithm

[2016-06-26 05:46] ankurankan commented on #704
@eran-str Is the code that @khalibartan has posted in the above comment working for you ?

[2016-06-26 08:21] eran-str commented on #704
Hi Ankur Ankan,
The code from  @khalibartan is not working for me,I'm doing a copy paste of the exact code, but it fail on the same error, see log below.I tried to debug the problem,From the stack I see that the method _get_kernel_from_bayesian_model is being called (C:\python27\Lib\site-packages\pgmpy-0.1.0-py2.7.egg\pgmpy\inference\Sampling.py)
Basically it fails while trying to call a reduce pr

[2016-06-26 12:14] khalibartan commented on #704
@eran-str @ankurankan On latest dev  it is indeed not working. My system was using a different installation (don't know maybe 2 months old atleast, used pip installation) it was running fine on it,  but when I tried running on latest dev I also got an error.

[2016-07-11 10:18] khalibartan commented on #473
@ankurankan I'm not really sure for other sampling methods but in my views we cannot vectorize the gibbs sampling method. As per my understanding of algorithm we need to iterated over dimensions (conditional distribution of each variable in case of discrete models) and then sample separately for each of these dimension, which is what being done currently in gibbs sampling. I don't think we can vec

[2016-07-27 05:53] finnhacks42 opened #712 "XBIFReader incompatible with SAMIAM export (and spec?)"
The CPDs come in transposed - such that they are no longer valid, for example:

Z      |  Z_0  | Z_1 |           Z      |  Z_0  | Z_1 |
X_0  |  .8    |   .4   |     =>  X_0  |  .8    |   .2   |
X_1  |  .2    |   .6   |           X_1  |  .4    |   .6   |

According to the spec at http://www.cs.cmu.edu/~fgcozman/Research/InterchangeFormat/ the tables should be read:

"taking the GIVEN variables firs

[2016-08-01 11:54] jamieforth opened #714 "DBNInference error with minimal graph"
Hi,

I am trying to become familiar with the DBN inference capabilities of pgmpy, and have run into a problem that seems related to PR #663 (DBN initialze_intial_state method).

I am currently at commit e85706c9.

Based on the example in PR #663:

[code]

Results in `ValueError: ('CPD defined on variable not in the model', <TabularCPD representing P(('a', 0):2) at 0x7efe297007d0>)`

[code]

As I u

[2016-08-02 03:58] finnhacks42 opened #715 "Inconsistent behaviour of query in VariableElimination when passing a single variable"
If query is passed a single variable rather than a list, it works if the variable name is a single character and fails with an obtuse error otherwise.

The documentation does say to pass a list but there are many examples, ie in the notebooks where a single variable is passed.

Can we either handle passing single variables (ie check and insert them into a list) or check and throw an informative er

[2016-08-02 07:02] finnhacks42 opened #716 "TableCPD type checking too strict"
TableCPD init method requires variable_card to be an int. This makes it incompatible with model.get_cardinality(.), which returns a numpy.int64

The fix is trivial, replace

`if not isinstance(variable_card, int):`

with
`import numbers`
`if not isinstance(variable_card,numbers.Integral)`

should I create a pull request?

[2016-08-02 07:19] yashu-seth commented on #715
@finnhacks42 I think `query` should always take a list as an input parameter, even for queries on single variables.
@ankurankan @khalibartan What do you think?

[2016-08-02 07:30] yashu-seth commented on #716
@finnhacks42 model.get_cardinality calls self.get_cpds which looks for the cardinality attribute in the CPD object. I don't understand why it produces a numpy.int64 type.
It would be great if you can share a reproducible example. It would make things clearer.

[2016-08-02 09:42] finnhacks42 commented on #716
The following prints class 'numpy.int64' and then throws a TypeError

[code]

In general should we be doing instance checks explicitly against native python int? A numpy int works just as well. It would seem more pythonic to accept either.

[2016-08-02 09:54] finnhacks42 commented on #715
I would lean slightly towards allowing string (single-variable) or array-like as the input parameter for `query`. This would make it consistent with ie `TableCPD` which accepts string, list, tuple or np.array for the `evidence` parameter and would mean existing code & examples would continue to work.

The alternative of throwing a TypeError if the input is not a list would break existing examples

[2016-08-02 10:58] khalibartan commented on #716
@finnhacks42 Yes, indeed we should be allowing all type integers, native python and numpy integer types. You can send a pull request for that.

[2016-08-02 11:00] khalibartan commented on #715
I don't think we should be allowing both strings (for single variable) and list. We should only accept lists. Accepting strings is also adding unnecessary type checks. We can change the functionality and documentation too.

[2016-08-03 00:43] finnhacks42 commented on #715
Ok then, how about I throw a TypeError for string types and leave the rest to duck typing (eg sets, numpy arrays, lists, tuples should all work without issues - and we let whatever errors other random things generate bubble up).

[2016-08-03 08:27] yashu-seth commented on #715
@finnhacks42 That seems fine. I think you can go ahead with the PR.

[2016-08-11 03:01] #712 closed, assigned to nobody

[2016-08-14 19:00] #715 closed, assigned to nobody

[2016-08-15 07:58] ankurankan commented on #716
Fixed in #717

[2016-08-15 07:58] #716 closed, assigned to nobody

[2016-08-18 08:23] ankurankan commented on #714
@jamieforth Sorry for the late reply. I think you have misunderstood the way we define Dynamic Bayesian models in pgmpy. In pgmpy, we have to add all the edges in the first time slice. For example if you want to define this network:

![untitled drawing 1](https://cloud.githubusercontent.com/assets/1461453/17766522/ce82843e-652b-11e6-924a-32234effa5ae.png)

we will need to add 5 edges:

[code]

And

[2016-08-21 07:10] ankurankan opened #722 "Uniform arguments for similar methods [INCOMPLETE]"
- [ ] `active_trail_nodes` accepts single nodes as argument whereas `local_independencies` accept both node and iterables.
- [x] `local_independencies` in `BayesianModel` returns an `Independencies` object whereas in `NaiveBayes` it returns a list.
- [ ] `estimator_type` should be replaced by `estimator` in all the `fit`/`predict` methods.
- [ ] Should `get_cpds` accept multiple arguments ?
- [x]

[2016-08-23 17:31] chrisittner commented on #722
- [ ] Similar to 4.: I used `prior_type` several times as a keyword argument in `estimators/`, but just `prior` seems nicer. Also `tabu_length`->`tabu`. I'll soon make a PR with small changes for the estimators.

[2016-08-23 17:32] #695 closed, assigned to nobody

[2016-08-23 17:40] chrisittner commented on #687
@ankurankan This can be closed, fixed in #694:

[code]

Output:

[code]

[2016-08-24 07:03] ghost opened #724 "How to fit the parameters of DBNs?"
Hi, I found that the estimators can only handle BayesianModel, how could I estimate or learn the parameters for a DBNs.

Is there anyone know?
Thank you very much.

[2016-08-24 23:45] chrisittner commented on #724
Yes, learning is so far only implemented for `BayesianModel`s. I'm not sure if there is any python library that supports any learning for DBNs. Matlab's [BNT](https://github.com/bayesnet/bnt) should have it, at least [this](https://github.com/bayesnet/bnt/blob/master/BNT/learning/learn_params_dbn.m) and [this](https://github.com/bayesnet/bnt/blob/master/BNT/learning/learn_params_dbn_em.m) suggests

[2016-08-25 00:51] ghost commented on #724
Thanks for your reply. @chrisittner
I know Matlab's BNT and I am using it. However, I'd like use python to clean data and something others, and this makes the problem much more complicated using two different langue. So I want a python library that can learn the parameters of DBNs.

Will pgmpy support DBNs learning?

[2016-08-26 08:08] ankurankan commented on #724
@quantpy2016 Unfortunately pgmpy doesn't support learning DBNs right now. We will definitely work on implementing that but we currently don't have a timeline for that.

[2016-08-26 09:37] #232 closed, assigned to nobody

[2016-08-29 04:40] ankurankan opened #725 "Add method for doing inference using samples generated from the sampling algorithms"
Currently we have implementation of algorithms for generating samples but we don't have methods for doing inference using these samples.

[2016-08-29 04:48] ankurankan opened #726 "Inference in case of Continuous Nodes"
Add algorithms for inference when the model has continuous nodes.

[2016-08-29 06:22] ankurankan opened #727 "Add tests for Markov models with continuous factors"

[2016-08-29 13:21] ghost commented on #724
@ankurankan OK. Thanks.

[2016-08-30 06:29] yashu-seth opened #728 "Add support for Hybrid Networks"
Currently pgmpy deals with continuous and discrete variables separately. Hybrid networks are models that deal with both continuous as well as discrete random variables.
## Reference

Probabilistic Graphical Models: Principles and Techniques,
Daphne Koller and Nir Friedman,
Chapter 7, Chapter 14

[2016-08-30 10:33] ankurankan opened #729 "Directory structure change"
- [x] Create a new `discrete` dir in factors and move `CPD.py`, `Factor.py` and `JointProbabilityDistribution.py` in it. The idea is to separate things related to discrete and continuous into individual directories and keep the common things (like `FactorSet`) in the current factor dir.
- [x] Move `discretize.py` into `factors/continuous` dir
- [x] Remove `ContinuousNode.py`. I don't see the point

[2016-08-30 12:18] khalibartan commented on #729
@ankurankan I agree with the decision of separating discrete and continuous part. I had suggested it earlier. It is much needed. All points are nice and agree with them. But can you elaborate a bit what  you meant by this:

Yes sampling method doesn't belong to inference but where should we move them?

[2016-08-30 12:33] ankurankan commented on #729
@khalibartan I am thinking of having a `sampling` directory inside the main `pgmpy` directory.

[2016-09-02 06:09] ankurankan opened #732 "Tests for discretizing methods using ContinuousFactor"
Currently tests have been written using `ContinuousNode`.

[2016-09-02 06:16] ankurankan opened #733 "FactorSet should accept any type of Factor"
Currently `FactorSet` only accepts `DiscreteFactor`. Should accept any subclass of `BaseFactor`.

[2016-09-02 06:17] ankurankan opened #734 "Move discrete factor_product and factor_divide"
Move discrete factor_product and factor_divide to the main factor dir and it should work for any factor type.

[2016-09-02 08:41] #729 closed, assigned to nobody

[2016-09-08 13:11] ankurankan opened #736 "Implementation of Gaussian DBN"

[2016-09-08 13:12] ankurankan opened #737 "Approximate inference algorithms for DBN"
1. Boyen-Koller
2. Factored Frontier
3. Loopy Belief Propagation

Also refactor the current inference code. Looks too cluttered.

Ref: https://www.cs.ubc.ca/~murphyk/Thesis/thesis.pdf

[2016-09-08 13:32] ankurankan opened #738 "Add support for plate nodes"
https://en.wikipedia.org/wiki/Plate_notation

[2016-09-09 12:52] ankurankan opened #739 "Fix docstrings according to the new structure"

[2016-09-09 13:09] ankurankan opened #740 "Add tests for FactorSet using different Factors"
Currently the tests are written only considering `DiscreteFactor`.

[2016-09-09 14:00] ankurankan opened #742 "Fix the doctest of RoundingDiscretizer and UnbiasedDiscretizer"
Uses ContinuousNode which no longer exists

[2016-09-09 15:16] khalibartan commented on #738
@ankurankan  Description is required.

[2016-09-13 11:46] ankurankan commented on #739
Fixed in #743

[2016-09-13 11:46] #739 closed, assigned to nobody

[2016-09-14 12:21] yashu-seth opened #744 "Add Support for Parameter Learning in Continuous Networks"
## Reference

Probabilistic Graphical Models: Principles and Techniques,
Daphne Koller and Nir Friedman,
Section 17.2.4 and 17.2.5

[2016-09-14 16:46] jamieforth commented on #714
@ankurankan thank you for the helpful clarification.

For future reference I experimented a little further with minimal graphs and have created #745 which I believe addresses an issue I came across when trying to represent simple Markov Chains as DBNs.

[2016-09-14 16:48] #714 closed, assigned to nobody

[2016-09-15 09:41] ankurankan opened #746 "Fix discretizing methods to work with ContinuousFactor"
Were originally written to work with `ContinousNode` but now since it has been replace with `ContinuousFactor`, we need to update it accordingly.

[2016-09-15 09:47] #687 closed, assigned to nobody

[2016-09-17 14:30] ankurankan commented on #746
Related #742

[2016-09-20 23:28] ankurankan opened #748 "Markov Chain should also accept a transition matrix for the transition model."
Currently just accepts dict.

[2016-09-29 09:16] ankurankan opened #750 "Bug in print statement of GaussianLinearCPD"
[code]

The docstring here needs to be fixed also: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/models/LinearGaussianBayesianNetwork.py#L45
@yashu-seth Can you please have a look at this?

[2016-09-29 09:31] yashu-seth commented on #750
@ankurankan I will look into this.

[2016-09-29 09:40] ankurankan opened #751 "LinearGaussianBayesianNetwork class should be merged with BayesianModel"
The whole idea to keep the network structure and parameters separate from each other was to deal with these special cases. Since `LinearGaussianBayesianNetwork` is just a special case with `LinearGaussianCPD`,  so using `BayesianModel` we should be able to define the network structure and add `LinearGaussianCPD` to it.

[2016-09-29 09:43] yashu-seth commented on #751
@ankurankan Yes, but currently BayesianModel only supports discrete variables. I think we will have different classes for discrete and continuous variables for the Bayesian Models.

[2016-09-29 09:44] ankurankan opened #752 "Add methods for deleting nodes in model classes"
It should also delete the associated edges and parameters.

[2016-09-29 09:50] ankurankan commented on #751
@yashu-seth I don't think that we will need separate classes. But I haven't thought about the exact implementation details yet. Any reasons why you think we will need separate classes ?

[2016-09-29 09:57] yashu-seth commented on #751
@ankurankan I have also not figured out the exact details. Lets just keep it like this for now. It would be more feasible to first decide how we want to represent the continuous and discrete cases before we decide what needs to be done about `LinearGaussianBayesianNetwork`.

[2016-09-29 10:01] ankurankan commented on #751
@yashu-seth My idea of treating continuous and discrete case is to use the same model structure for both. The only difference would be for parameterization of the models and for that we have two separate directories in factors. And for inference we should handle both the cases internally, so that user has the same API/methods for both the cases.

[2016-09-29 10:06] yashu-seth commented on #751
@ankurankan That seems a feasible solution. Let me also think this through, I will be in a better position to comment then.

[2016-10-01 10:04] weijy026a opened #753 "install pgmpy in win10 with an error"
when I install pgmpy with `python3 setup.py install`, it reports error as below:

[code]

what should I do?

[2016-10-01 13:29] ankurankan opened #755 "Failing test on windows"
https://ci.appveyor.com/project/ankurankan/pgmpy/build/1.0.4

[code]

@khalibartan Any idea why this is failing ?
### Revert 83d2bdb3a2dd6f32e5f088a1b0174e91f742c90b after this is fixed.

[2016-10-01 13:31] ankurankan commented on #753
@weijy026a Seems like the issue is with `coverage` which is not required for using pgmpy. So, I have removed it from `setup.py`.  Can you please try to install the latest version of pgmpy again ? Also I would really recommend to use anaconda if you are not using it already.

[2016-10-01 13:57] khalibartan commented on #755
@ankurankan This got to be issue with randomness associated. It looks like it didn't converge to the target. One solution would be to increase the threshold(here 0.4) to value that it is not likely to fail (say 4).

[2016-10-01 14:15] ankurankan commented on #755
@khalibartan Okay. But the interesting thing is that it's only failing on windows.

[2016-10-01 15:17] khalibartan commented on #755
@ankurankan I think its the problem with seeding on windows platform. None of I can think otherwise. http://docs.scipy.org/doc/numpy-1.10.1/reference/generated/numpy.random.RandomState.html .

[2016-10-01 17:38] ankurankan opened #757 "Use keyword arguments everywhere in doctests"
Using keyword arguments helps in understanding the code.

[2016-10-01 20:26] weijy026a commented on #753
It can be installed now. Thank you.

[2016-10-01 21:49] #753 closed, assigned to nobody

[2016-10-03 21:53] ankurankan opened #759 "Links to notebooks wrong on pgmpy.org"

[2016-10-04 01:26] ankurankan commented on #759
Fixed in https://github.com/pgmpy/pgmpy.github.io/commit/05b84b71513c27c87a97505c9b4b5528a3147406

[2016-10-04 01:26] #759 closed, assigned to nobody

[2016-10-04 13:33] palashahuja opened #761 "Independency missing in get_independencies()"
For an example Bayesian network specified on page 4 of the book, Probabilistic Graphical Models by Daphne Koller which is as follows
![flu_bn](https://cloud.githubusercontent.com/assets/8504351/19075598/4012f460-8a63-11e6-9057-256d7ae25031.jpg)
Now as per the book, some of the conditional independencies are as follows.

[code]

Now if we use the `get_independencies` method of Bayesian network, we

[2016-10-07 22:16] ankurankan opened #763 "CPDs of models should be considered as prior in case of Bayesian Learning"
Currently we pass in the prior probabilities when we call the learning method. Using CPDs as the prior will make the API much cleaner and easier to use.

[2016-10-08 06:48] adamhaber commented on #755
This just happened to me on macOS as well.

[2016-10-08 07:35] ankurankan opened #764 "Support for Variational inference"
References:
http://papers.nips.cc/paper/2172-vibes-a-variational-inference-engine-for-bayesian-networks.pdf
http://www.jmlr.org/papers/volume6/winn05a/winn05a.pdf

[2016-10-08 08:03] khalibartan commented on #755
@ankurankan This is now getting wiered because on linux it ia running just fine. Also I'm now confused. Only seeding and random sampling routines are different on different machines, otherwise everything should run fine.

[2016-10-08 08:15] ankurankan commented on #755
@khalibartan @yashu-seth Do any of you guys have access to a windows machine ? If yes can you please run the debugger and check what's happening here.

[2016-10-08 10:03] khalibartan commented on #755
@ankurankan I don't have a windows machine. @yashu-seth used to have one

[2016-10-08 16:14] yashu-seth commented on #755
I use windows. I will look into this.

On 8 Oct 2016 15:33, "Utkarsh" notifications@github.com wrote:

[2016-10-08 19:58] ankurankan opened #765 "Add a new method for Continuous CPD"
Should be analogous to `ContinuousFactor` and should allow to define CPDs with pdf as a function. And `LinearGaussianCPD` should be special of case of this.

[2016-10-08 20:19] ankurankan opened #766 "Add maximize method to ContinuousFactor"
Check maximize method in `DiscreteFactor` for example.

[2016-10-08 20:38] #620 closed, assigned to nobody

[2016-10-08 20:41] ankurankan opened #767 "Change the API of GaussianLinearCPD"
Change the API to include the parameter `beta_0` into `beta`.

[2016-10-08 20:46] ankurankan opened #768 "Bayesian Parameter estimation shouldn't add Discrete CPDs"
Currently Bayesian parameter estimation adds `TabularCPD` to Bayesian Networks having the MAP values. But it should return a `ContinuousCPD` object.

[2016-10-08 20:51] ankurankan opened #769 "Add argument in predict method"
`predict` method should have an argument for specifying whether to do MAP prediction or bayesian prediction. And with bayesian prediction I mean the expectation value.

[2016-10-08 22:25] #750 closed, assigned to ankurankan

[2016-10-09 14:17] yashu-seth commented on #765
@ankurankan Currently `ContinuousFactor` does the same. What are the particular differences that you have in mind about the two (`ContinuousFactor` and `ContinuousCPD`) ?

[2016-10-09 14:17] yashu-seth commented on #768
@ankurankan Currently we do not support `ContinuousCPD` object. And what about the discrete cases? Are we planning to have a common class for both continuous and discrete cases as discussed earlier?

[2016-10-10 07:32] ankurankan commented on #765
@yashu-seth `ContinuousCPD` will have an extra attribute: evidence. And should add a few constraints on the marginalize and reduce methods.

[2016-10-10 07:34] ankurankan commented on #768
@yashu-seth I am thinking of having separate classes for discrete and continuous. But I am still thinking about how to implement it.

[2016-10-17 13:24] chrisittner commented on #761
This was fixed in the `dev` branch in #630.

Current output:

[code]

[2016-10-19 09:20] ankurankan opened #770 "Support for Boltzmann machines and Deep Boltzmann"
https://en.wikipedia.org/wiki/Boltzmann_machine
https://www.youtube.com/watch?v=p4Vh_zMw-HQ

[2016-10-19 10:39] ankurankan opened #771 "Investigate issue with Belief propagation"
Investigate why this happened (happens in v0.1.2 also: https://pypi.python.org/pypi/pgmpy/0.1.2):
http://stats.stackexchange.com/questions/240878/belief-propagation-using-pgmpy-lib-algorithm-understanding

And add tests for it.

[2016-10-20 09:18] ankurankan opened #772 "Parameter and Structure learning for continuous data"
Should let the user specify what kind of distribution the data should be assumed to be coming from.
So for Bayesian Learning we can have the API like:
[code]
We still need to figure out a way of doing something similar to this for Maximum Likelihood Estimates.

[2016-10-20 11:34] #761 closed, assigned to nobody

[2016-10-21 08:00] khalibartan commented on #770
@ankurankan  I can work on this. Do you have anything specific in your mind ?

[2016-10-21 08:41] ankurankan commented on #770
@khalibartan No, just the normal Boltzmann machine with fit and predict methods. Just keep in mind that you might have to implement a few things in Undirected models to implement this.

[2016-10-24 18:38] ankurankan opened #773 "Decorator for state names should preserve the actual method signature"
http://stackoverflow.com/questions/147816/preserving-signatures-of-decorated-functions

[2016-10-24 19:14] ankurankan opened #774 "ContinuousFactor should accept scipy.stats distributions"
Currently `ContinuousFactor` only accepts a function for the `pdf` argument. It should accept instances of distributions from `scipy.stats`.

API should look something like:

[code]

In case of strings:

[code]

[2016-10-27 07:04] yashu-seth commented on #755
@khalibartan I am getting the same error message. I looked into it and found that the value of `np.linalg.norm(sample_covariance - self.test_model.covariance)` comes out to be 0.557192037439 which is not less than 0.4.
Can you look into the values obtained on your linux machine? If these values are different then we will have to look at the `NoUTurnSamplerDA` generated samples.
I was looking for c

[2016-10-27 12:30] khalibartan commented on #755
@ankurankan @yashu-seth These are two values that I'm getting on Ubuntu LTS 16.x

[code]

Also while I was running test on my latest update conda env in python 3 a lot of error were raised by lxml and also couple of times numpy gave warnings.

I'm not able to understand the reason at all, because on linux it is converging by a good margin.

[2016-11-03 10:45] ankurankan commented on #755
@yashu-seth @khalibartan Can you guys have a meeting for this and check where the code is getting different values from ? You can run a debugger and check for the values at each line of the code and see where the values are differing.

[2016-11-04 17:09] khalibartan commented on #755
@ankurankan I might not be able to give update until the end of the month. I'm somewhat busy with end-semester and assignment stuffs. I'll to try to work on it as early as possible.

[2016-11-04 18:45] yashu-seth commented on #755
@khalibartan Let me know whenever you get time we will figure something out.

[2016-11-17 10:37] ankurankan opened #775 "Finish PR #721"
Finish #721

Needs some tests and examples.

[2016-11-19 10:19] qillbel opened #776 "VariableElimination error"
I tried to use VariableElimination(restaurant), but it gives me error
Traceback (most recent call last):

any idea how the error is? I tried to install from both dev and book-v0.1 branch, but still do not work. Thank you for the help.

[2016-11-19 11:02] khalibartan commented on #776
@qillbel Can you share the code snippet that gave this error so that we can look into. Also did you use `pip install pgmpy` for installation or installed it from latest dev branch on git using setup.py. Installation available at pip is stale one we changed at a lot of things since then. Directory structure shown in the error is old one. Please see to that.

[2016-11-19 12:05] qillbel commented on #776
@khalibartan
Here is the code I use. It takes from the book titled "Mastering Probabilistic Graphical Models using Python".

I use setup.py to install it because I run it on Windows machine (I assume pip install pgmpy can only be applied in Linux machine-correct me if I'm wrong). If the stable one is not in dev brach or book-v0.1, where can I download the sable version of pgmpy?

Thank you so much

[2016-11-19 12:09] khalibartan commented on #776
@qillbel I don't think you are using the current dev actually. Because this line
`from pgmpy.factors import TabularCPD`
should have raised an **import error**. The examples from the books will not work with current dev. Because we just changed our directory structure.

Our dev branch is stable and latest one.
please try install once again by cloning the repo or downloading the zip file.

[2016-11-19 12:13] qillbel commented on #776
@khalibartan
in that case, which version that works with the examples on the book?

[2016-11-19 12:18] khalibartan commented on #776
@qillbel Examples will work but you just have to import from right directory. API is pretty much same.
Like for this example the import statements must be

[code]

rest of the code should work fine.
Another solution is to go back in commit history and use any commit before may. Not recommended though.

[2016-11-19 12:54] qillbel commented on #776
@khalibartan Thank you so much. It works now. Btw, on remain question is where can I find the documentation about the changes that are being made? For instance, importing these modules (import TreeCPD, Factor, RuleCPD) seem produce an error as they are not in factors anymore (not in discrete and continuous folder).

Thank you very much @khalibartan

[2016-11-19 17:43] khalibartan commented on #776
@qillbel You should see our documentation. You can do this by seeing our code inside the directory or by generating the documentation locally using sphinx. See our README page for information about how you can generate the documentation , and you can ask us simple question anytime on our gitter channel.
Also if issue has been resolved you can close it now.

[2016-11-19 17:44] khalibartan commented on #776
@qillbel You should see our documentation. You can do this by seeing our code inside the directory or by generating the documentation locally using sphinx. See our README page for information about how you can generate the documentation , and you can ask us simple question anytime on our gitter channel.

[2016-11-19 20:20] ankurankan commented on #776
@qillbel You can see our API reference online at: http://pgmpy.org/

[2016-11-19 20:20] #776 closed, assigned to nobody

[2016-12-08 07:21] kris-singh commented on #774
Hi would like to work on this. Can you guide me.
I was thinking of adding list of all the multivariate distribution in scipy.stats to the ContinousFactor File and definig init constructor as follows
def __init__(self, variables, pdf_name, pdf_param):
    if pdf_name in mul_distb_list:
        pass
    else:
        raise 'error'
the only point is in checking the parameter list for the scipy distbr

[2016-12-08 09:58] ankurankan commented on #774
@kris-singh Yeah you will need to do something like that. I would suggest to define a dict instead of a list so that if you get a string as the parameter you can match it directly to the class using the dict. Also you will need to modify some of the methods to the class because there would be efficient methods for doing operations in case of standard distributions.

[2016-12-08 18:26] yashu-seth commented on #774
@ankurankan Are you thinking of having only scipy.stats distributions as valid parameters or also allow user defined pdfs?

[2016-12-08 18:40] ankurankan commented on #774
@yashu-seth Both.

[2016-12-09 15:31] yashu-seth commented on #773
@ankurankan I looked into the thread. Using ```functools.wraps``` seems an option, but it won't preserve the functions's arguments list. Should we use this for now and keep the issue open?

[2016-12-09 20:46] yashu-seth commented on #751
@ankurankan I think having a common class for handling continuous, discrete and hybrid models would be the best option. It will also give a common API to the users. Do you plan on working on this? Or should I look into this?
I will merge ```LinearGaussianBayesianNetwork``` into ```BayesianModel```. and will also figure out a way to keep a common API for inference and model fitting.

[2016-12-09 20:50] yashu-seth commented on #746
@ankurankan The discretization algorithms that I used worked only for uni-dimensional cases. One solution is to modify them for multivariate cases. Or we can look for multivariate discretization algorithms. What do you think?

[2016-12-09 20:55] yashu-seth commented on #772
## Reference

Probabilistic Graphical Models: Principles and Techniques,
Daphne Koller and Nir Friedman,
Section 17.2.4 and 17.2.5

[2016-12-09 20:55] yashu-seth commented on #744
This can be closed. Already mentioned in #772

[2016-12-10 10:08] #744 closed, assigned to nobody

[2016-12-10 10:10] ankurankan commented on #746
@yashu-seth Yes, I did find some algorithms which would be good for pgmpy but don't remember the papers. I will add those if I find them.

[2016-12-10 10:15] ankurankan commented on #751
@yashu-seth Yes, that's the best way (not sure how difficult would it be add hybrid models). Sure go ahead. Also since you are at it, you might also look into this: #763

[2016-12-10 10:16] ankurankan commented on #773
@yashu-seth Yes, we should wait for a better solution. There's no point in changing the current code if it doesn't get better.

[2016-12-10 13:34] kris-singh commented on #774
@ankurankan
1.You will need to modify some of the methods to the class because there would be efficient methods for doing operations in case of standard distributions. Can you explain this.

[2016-12-10 18:56] ankurankan commented on #774
@kris-singh So we want the `ContinuousFactor` to work with both user defined probability density functions (which we currently have) and standard probability densities (like multivariate gaussian which you need to add). For standard distributions you can find formulas for marginalization, reduce and product (these are the methods of `ContinuousFactor`). For example for a multivariate gaussian $ N(

[2016-12-10 19:06] kris-singh commented on #766
@ankurankan i checked the maximize method in DiscreteFactor. My question is since in the continuous distribution we do not have explicit values function so what should we maximize. If this not make sense i am sorry but i had trouble regarding this.

[2016-12-11 09:51] kris-singh commented on #774
I am doing something like this http://ideone.com/EKrDsh
Is there a better way to deal with isinstance(pdf,scipy.stats._multivariate.multivariate_normal_frozen)
I will make a pull request when i implement the marginalize and reduce for normal and dirichlet distribution.
Is reduce equivalent to the conditional distribution P(y|x).

[2016-12-11 10:29] ankurankan commented on #774
@kris-singh Just create a pull request. I will put my comments there (will be easier to track). Yes reduce is equivalent to conditional distribution.

[2016-12-11 10:31] #767 closed, assigned to nobody

[2016-12-11 16:21] ankurankan opened #779 "Query methods should be able to return probability values of specific states."
Currently query methods can only return a Factor/TabularCPD instance over a variable. It should also work in the case of queries like:

[code]
In this case it should return the probability value of `P(var=0 | evidence)`.

[2016-12-11 20:53] chriskamphuis opened #780 "Reducing a joint gaussian distribution created from a LinearGaussianBayesianNetwork shows unstable behaviour."
Reducing a joint gaussian distribution created from a linear gaussian bayesian network shows different outcomes when running the same program multiple times This [example](http://termbin.com/vzos) shows this behaviour.
I suspect that either the joint gaussian distribution is not created the same in all runs, or there is a small error in the reduce function. I checked the math with a book I have, a

[2016-12-11 21:09] yashu-seth commented on #780
@Chriskamphuis Can you reproduce the different outcomes you got? It would be easier to look into the bug.

[2016-12-11 21:15] ankurankan commented on #780
@yashu-seth Just try running it multiple times ( in different instances of python), it will give different results.

[2016-12-11 21:22] chriskamphuis commented on #780
@yashu-seth
I just ran it twice and got respectively: `[[ 1.052213]]` and `[[ 0.367078]]`

[2016-12-12 06:29] khalibartan commented on #780
@Chriskamphuis I'm not able to open the link. It is blocked for Indian users by Department of Telecommunications, Government of India. Maybe you can put that up in a github gist and post the link or comment it here.

[2016-12-12 06:34] ankurankan commented on #780
@khalibartan Here you go: https://gist.github.com/ankurankan/3077a0b0cffa7c733790d55eb83028b7

[2016-12-12 08:24] khalibartan commented on #780
Yes indeed, it gives different results each time, but one thing when I ran this in ipython (in same session) it gave same output. :/

[2016-12-12 10:36] yashu-seth commented on #780
@ankurankan @khalibartan @Chriskamphuis I get the same value for ```jgd.mean``` for different instances of python 2. ( ```[[ 0.960813]]```) . While it changes for python 3.  The ```jgd.covariance``` remains same throughout. I also noticed that ```nx.topological_sort``` gives different order of variables for different instances of python 3.

[2016-12-12 12:35] ankurankan commented on #780
@yashu-seth But all the different topological sorts are correct. And the algorithm ideally shouldn't be dependent on different topological sorts.

[2016-12-12 14:37] kris-singh commented on #774
@ankurankan  sorry for the late reply some nosetest are failing i will create a pull request as soon as figure them out
the pdf method arguments are not consistent in JGD pdf argument should be an list,but for continous factors we are using list . I think we should make this consistent

[2016-12-13 08:13] ankurankan opened #782 "Proposal for new architecture of ContinuousFactor class"
![class](https://cloud.githubusercontent.com/assets/1461453/21132332/ae2df6a2-c113-11e6-9cac-4a7a20151df9.png)

This structure will help us in keeping all the different distributions separate and the user will be able to use all the different distributions from ContinuousFactor only.

[2016-12-13 09:39] khalibartan commented on #782
@ankurankan I guess according to UML arrows should be in opposite direction :P, considering base class is being inherited in gaussian, drichlet, custom distribution class. Seems okay to me.

[2016-12-13 09:40] ankurankan commented on #782
@khalibartan Haha.. This was my first attempt at UML Diagrams. Didn't know it's supposed to be like that :P. I will fix that.

[2016-12-13 09:47] yashu-seth commented on #782
@ankurankan If the users have to provide an instance of the distribution to ```ContinuousFactor``` then why not use the individual distributions directly? If a particular method is unavailable in that distribution it will fall back to its parent class' (```ContinuousFactor```) implementation.

[2016-12-13 09:58] ankurankan commented on #782
@yashu-seth No, the users won't have to provide instances. They could just pass a string for the name of the distribution along with the parameters for the distribution and the `ContinuousFactor` would create the object accordingly. So the API would look something like this:

[code]
What do you think?

[2016-12-13 10:09] khalibartan commented on #782
@ankurankan I think for this kind of implementation we can look into scikit-learn for a reference. I agree with this kind of API, it is convenient this way.

[2016-12-13 10:13] yashu-seth commented on #782
@ankurankan This seems convenient. But it would require a number of if-else conditions in ```ContinuousFactor```.

@khalibartan Which module uses a similar implementation in scikit-learn?

[2016-12-13 10:17] khalibartan commented on #782
@yashu-seth All the modules that use kernel in back uses a similar kind of an API (I meant similar not same). Like SVM's etc. I think to some extend if-else conditions can be avoided using dictonaires key being the string and values being definition of appropriate pdf function corresponding to that string.

[2016-12-13 10:25] ankurankan commented on #782
@yashu-seth I don't think it will require a lot of if else. The only place where we will need an if-else would be the `__init__` method of `ContinuousFactor` for deciding which distribution to initialize but this can also be handled easily using a dict. For all the other methods we will just be calling `self.distribution.some_method`.

[2016-12-13 10:59] yashu-seth commented on #782
@ankurankan @khalibartan Cool. With this we can allow only ```ContinuousFactor``` to be associated with pgmpy.models for continuous cases.

[2016-12-13 15:13] kris-singh commented on #782
@ankurankan previously i had raised a question regarding what should be passed to assignment function a list of *args. Since the assignment function calls pdf which in case of scipy.stats distribution expects a string and in case of the present implementation of the continuous factor it accepts *args. Does this make sense to you guys?
I will start working on the given UML

[2016-12-13 15:18] kris-singh commented on #766
@ankurankan are you working on this if you are not then i would like to work on this.

[2016-12-13 18:50] kris-singh commented on #748
@ankurankan i just looked at this my idea is to convert the given numpy array to dict this would O(n^2) time but i think this would be simplest solution do you have anything better to suggest.
Can you look at this
https://github.com/pgmpy/pgmpy/pull/784
which tests should i add

[2016-12-14 12:32] jacowp357 opened #785 "MemoryError in Sudoku example (for small factors)"
An example of a Sudoku problem being solved by pgmpy is giving a memory error. It is strange since the factors are small. More specifically, it is a 4 x 4 Sudoku problem with 16 cells. I attached the code to a group discussion for specifics.

[2016-12-14 12:42] khalibartan commented on #785
@jacowp357 Can you give me the link to the code ?

[2016-12-14 12:46] ankurankan commented on #785
@khalibartan https://gist.github.com/ankurankan/d475c5972129989d30ff92ce41e16de8

[2016-12-14 16:41] chriskamphuis opened #786 "Running test fails"
Running the tests on code in the repository after the latest commit 25223044ed38a589d010de05197d9f6b1b992bf8 using `nosetests -v` gives me a failure. I get the following message:

https://gist.github.com/Chriskamphuis/3d70323e92809ff4dce7a6eb3dca6ad4

[2016-12-15 09:48] ankurankan commented on #782
@kris-singh I didn't get your first question. Can you please elaborate a bit?

Regarding working on this issue, I think this will require quite significant changes and I would really not suggest you to start contributing with this issue :D. But if you would still like to go ahead with this, I would like to split this into smaller parts or I can write the base framework and you can build up on that

[2016-12-15 09:51] ankurankan commented on #766
@kris-singh I think this depends on #782 now.

[2016-12-15 10:00] ankurankan commented on #748
@kris-singh Yes it would be `O(n^2)` in the number of states. But the number of states isn't going to be too huge, so it's okay. Your PR looks okay (I have a few comments though). Why did you close it ?

You will need to add tests in which you will need to pass numpy arrays instead of the dict. You can look at: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/tests/test_models/test_MarkovChain.py for

[2016-12-15 10:29] #786 closed, assigned to nobody

[2016-12-15 12:03] yashu-seth commented on #774
This depends on #782

[2016-12-15 18:50] kris-singh commented on #782
@ankurankan  Yes sure i would like to contribute to this. So lets go ahead with the your plan.

[2016-12-15 18:54] kris-singh commented on #748
@ankurankan Ya closed it by mistake. I would to PR tomorrow with updated code.

[2016-12-16 06:06] khalibartan commented on #748
@ankurankan Can we remove the tests that are using mock ? Tests using mock makes its difficult (at-least for me) to read the tests.

[2016-12-16 18:15] ankurankan commented on #748
@khalibartan Yeah I agree. @kris-singh Can you also see if you fix the tests using mock ?

[2016-12-17 16:29] raghavg7796 commented on #779
I am new here. Can I help to contribute ?

[2016-12-17 18:34] yashu-seth commented on #779
@raghavg7796 Yes. Just let us know if you face any problem.

[2016-12-17 21:09] ankurankan commented on #779
@raghavg7796 This should be fairly easy. Currently we return the whole `DiscreteFactor` object on calling `query`, you just need to modify it to return a specific value if the state is provided.

[2016-12-17 21:12] ankurankan commented on #782
@kris-singh Cool. I will create a new branch and put some basic structure and then you can take over it from there.

[2016-12-17 21:15] ankurankan opened #789 "Remove mock from tests"
Currently some tests in `MarkovChain` use mock. Remove it as it's not very readable.

[2016-12-18 05:25] khalibartan commented on #733
@ankurankan How can we create hash values for continuous case factors?

[2016-12-18 08:52] raghavg7796 commented on #779
Should we make a query method like value_query or something or it should be implicit in the query method only?

[2016-12-18 09:22] raghavg7796 commented on #779
And if implicit how we will distinguish between [A, B, C, D] and [A, 0, B, 2]

[2016-12-18 10:17] kris-singh commented on #789
@ankurankan i read about mock test. So my question is for something like the start_state_test it is in some cases intialized to random state. I think this things can only be checked by using a mock object.
So how would we check something like that

[2016-12-18 10:52] ankurankan commented on #733
@khalibartan We can create a string with type of distribution and arguments and then compute it's hash. For example for a gaussian with some mean and cov, we can do something like:
[code]

[2016-12-18 11:00] ankurankan commented on #779
@raghavg7796 I am sorry the original comment was wrong. So, there should be two possible ways of querying.
[code]
In general the first argument would either be a 1-D array of 2-D array/list of tuples.

[2016-12-18 11:10] ankurankan commented on #789
@kris-singh I don't think we can remove it then. I would suggest you to add some tests for the long term behavior of the `MarkovChain`.

[2016-12-18 12:05] kris-singh commented on #789
@ankurankan Can you explain the long term behaviour ?

[2016-12-18 18:54] raghavg7796 commented on #779
Should value given for a variable be its one of the state or value should be between [0, cardinality]

[2016-12-18 20:17] raghavg7796 commented on #779
And I am getting another confusion that what if ('A', 0) is itself a variable. We can have tuples as variables also??

[2016-12-18 21:11] yashu-seth commented on #779
@raghavg7796 It can be both. But for the time being you don't have to worry about this. Let us have a discussion on gitter and I'll explain it to you.

[2016-12-18 22:12] yashu-seth commented on #780
@ankurankan This can be closed now.

[2016-12-18 22:15] yashu-seth commented on #763
@ankurankan Which learning method do you have in mind?

[2016-12-18 22:34] #780 closed, assigned to nobody

[2016-12-19 06:44] kris-singh commented on #752
@ankurankan What do you mean deletion of parameters i did not add_parameters in Base.py file ?

[2016-12-19 08:47] ankurankan commented on #789
@kris-singh Read about the convergence of Markov Chains to stationary distributions.

[2016-12-19 08:50] kris-singh commented on #789
@ankurankan yes i know about it. What sort of test did you had in mind. Is is something like  the transition matrix had to ergodic or something else

[2016-12-19 08:51] ankurankan commented on #789
@kris-singh No, just run the chain for a while and see if it converges to the stationary distribution.

[2016-12-19 08:54] ankurankan commented on #779
@yashu-seth @raghavg7796  I didn't think of the case when the variable names are tuples like in the case of Dynamic Bayesian Networks. Wouldn't there be an issue because of the new query argument ?

[2016-12-19 08:54] yashu-seth commented on #752
@kris-singh
[code]

If you remove grades from the model it should also remove grades_cpd.

[2016-12-19 08:56] yashu-seth commented on #779
@ankurankan Yes I was also thinking about this. There could be issues with the state name architecture too with tuple variable names.

[2016-12-19 08:57] ankurankan commented on #763
@yashu-seth The current API accepts the prior as argument to the fit method for Bayesian Learning. So, I was thinking something like:

1. If there are no CPDs in the network and the user calls the fit method then we should learn using Maximum Likelihood.
2. If there are CPDs in the network and the user calls the fit method, use the Bayesian Learning and use the current CPDs as the prior for the le

[2016-12-19 09:00] ankurankan commented on #752
@kris-singh I have implemented this for the `BayesianModel`, you can have a look at it.

[2016-12-19 09:06] raghavg7796 commented on #779
@ankurankan @yashu-seth I think we can use this with Bayesian Model only as inference with Bayesian Model requires string.

[2016-12-19 10:13] raghavg7796 commented on #779
There can be 3 inputs:
1. infer.query(variables = [('A', ('A', 0), ('A', 2), 'B'...
2. infer.query(variables = [('A', 0), 'B'... i,e, one variable and only one value
3.infer.query(variables = [('A', 0), ('B', 0)  ...i,e, only 1 type either all strings or all tuples
I have added support for Case 1 in my PR..please review it....

[2016-12-19 13:13] raghavg7796 commented on #769
@ankurankan  Can you explain what you mean by bayesian prediction? Currently predict uses VariableElimination and map_query method.

[2016-12-19 15:31] yashu-seth commented on #763
@ankurankan Yes, it might simplify the API. But I as a user would want to fit using different methods available and pick the best suited for my case. And if I want to do this, I won't mind specifying the learning method every time. May be we can default to this behavior and allow specifying learning methods as well.

[2016-12-19 15:34] yashu-seth commented on #763
@ankurankan I was looking into the ```BayesianEstimator``` class. The priors given are of three types. But I could not figure out where prior probabilities are incorporated. Can you help me with this? Besides which paper was used to implement the ```BayesianEstimator```?

[2016-12-19 18:29] raghavg7796 commented on #740
@ankurankan Can I work on this?

[2016-12-19 19:13] raghavg7796 commented on #773
@ankurankan @yashu-seth How about this?
http://stackoverflow.com/questions/147816/preserving-signatures-of-decorated-functions

[2016-12-19 20:37] yashu-seth commented on #773
@raghavg7796 We looked into this but could not find anything feasible. Do you have any ideas?

[2016-12-20 06:20] kris-singh commented on #789
@ankurankan
prob_from_sample method returns a list of zeros which is strange when the expected output given in the docs is array([ 0.27,  0.4 ,  0.18,  0.23, ..., 0.29])

[code]

[2016-12-20 06:31] kris-singh commented on #752
rather than implementing it for all model classes i was thinking that i would rather implemete the remove nodes method in the directed graph and undirected model.

[2016-12-20 06:45] ankurankan commented on #779
@yashu-seth @raghavg7796 I can't think of any clear solution to this. Any ideas ?

[2016-12-20 06:55] ankurankan commented on #763
@yashu-seth Yes I meant something like that only. I should have been more clearer. The computation seems to be happening in `estimate_cpd` method. I don't think we followed any specific paper.

[2016-12-20 06:58] ankurankan commented on #740
@raghavg7796 Sure go ahead. But this might have some effects on other parts of the code and some tests might start failing.

[2016-12-20 07:01] ankurankan commented on #773
@raghavg7796 @yashu-seth Have you guys looked into wrapt: https://pypi.python.org/pypi/wrapt ? They mention something about preserving signatures here: http://wrapt.readthedocs.io/en/stable/decorators.html. But I haven't checked it out in detail.

[2016-12-20 07:12] ankurankan commented on #789
@kris-singh Can you try debugging and find what the problem is ?

[2016-12-20 07:15] ankurankan commented on #752
@kris-singh I don't think that would be a great idea. Since the base Directed and Undirected graphs aren't supposed to deal with the parameters of the model. Also different models might have different parameterization, so might be a bit difficult to handle in the base classes.

[2016-12-20 07:32] raghavg7796 commented on #779
@ankurankan @yashu-seth I have a idea. We can check for if a tuple is in list of variables. If it is we perform normal query, otherwise value query,

[2016-12-20 07:43] ankurankan commented on #779
@raghavg7796 But we can differentiate between a value query and a variable which is a tuple.

[2016-12-20 07:47] raghavg7796 commented on #779
@ankurankan if a tuple is recieved like ('A', 0), we'll check in list of variables if it is there we give normal query, otherwise we'll assume user wants to ask P('A'=0)

[2016-12-20 16:35] raghavg7796 commented on #779
@ankurankan @yashu-seth I have considered the case of tuple variables. Please review.

[2016-12-20 17:17] raghavg7796 commented on #769
@ankurankan Sorry, It may seem immature but I am not getting Bayesian prediction.I read in book, there are two types of queries Conditional Probability Queries and MAP Queries. Currently predict uses MAP Queries to give predictions. What you mean by Bayesian prediction? Condition Probability Query.

[2016-12-20 18:14] raghavg7796 commented on #740
@ankurankan Shouldn't first #733 be solved first?

[2016-12-20 18:19] yashu-seth commented on #782
@ankurankan I think we should begin work on this. A lot of other things depend on this.

[2016-12-21 07:11] kris-singh commented on #789
@ankurankan I think i figured it out. I will try to explain.If you look at the sample funciton in markovchain.
We pass a parameter size=k which indicates we should do a random walk k from the all the var and all the states but we do not do this k times we generate sample_discrete only var*cardinalities times which can be much less than say 1000. Hence we need to change this. I think this should be

[2016-12-21 07:56] raghavg7796 commented on #782
@ankurankan I would also like to work in the given UML.

[2016-12-21 08:40] raghavg7796 commented on #722
I would like to work on this. And in 1.: I think add_edges_from should continue having a list, while add_nodes_from can accept *args

[2016-12-21 08:49] yashu-seth commented on #782
@ankurankan I think we can rename the current ContinuousFactor class to BaseDistribution, such that it acts as a parent class for classes like JointGaussianDistribution, CanonicalFactor etc. Then have a separate class named ContinuousFactor in which users can provide instances, or strings etc. If you want I can create the base structure. Then I will look into #774.

[2016-12-21 09:09] raghavg7796 commented on #773
@ankurankan @yashu-seth I checked it out and it is giving perfect results. Should I make a PR adding the changes?

[2016-12-21 10:31] kris-singh commented on #770
@khalibartan @ankurankan  i would love to write the contrastive divergence code required to train the rbm.
I think we need to define this as follows we can have method adding_layer(self,hidden,visible) in the undirected model. The initialization of the weight matrix has to zeros i think and since both layers are always fully connected(i might be wrong assuming this). is this line of thinking corre

[2016-12-21 15:33] ankurankan commented on #779
@raghavg7796 I am not really sure if this is a good idea.

[2016-12-21 15:34] ankurankan commented on #769
@raghavg7796 Even I am not sure what I was thinking while writing this :P. I will update you if I figure it out what I meant.

[2016-12-21 15:59] ankurankan commented on #740
@raghavg7796 Yup shouldn't be too difficult. You will just need to change a few if conditions.

[2016-12-21 16:00] ankurankan commented on #789
@kris-singh Can you create an issue for it and maybe a PR ?

[2016-12-21 16:02] ankurankan commented on #722
@raghavg7796 Sure go ahead. But I don't think `add_edges_from` and `add_nodes_from` should have different arguments.

[2016-12-21 16:04] ankurankan commented on #782
@yashu-seth @raghavg7796 I have been really busy with school. But I will have time from tomorrow so I will do this the first thing. And hopefully will have a PR ready for this by tomorrow.

[2016-12-21 16:04] ankurankan commented on #773
@raghavg7796 Yeah sure.

[2016-12-21 16:06] ankurankan commented on #770
@kris-singh I would suggest you not to work on this as I already have the code for this (I recently wrote Boltzmann Machine for a course) so I will just modify it and push it.

[2016-12-21 16:07] kris-singh commented on #789
Okay i will do this

[2016-12-21 16:13] kris-singh commented on #770
@ankurankan  great................have you implemented the CD algorithm aslo

[2016-12-21 16:16] kris-singh opened #791 "Issue with Markov Chain Sampling Method"
from pgmpy.models.MarkovChain import MarkovChain as MC
from pgmpy.factors.discrete import State
model = MC(['intel', 'diff'], [3, 2])
intel_tm = {0: {0: 0.2, 1: 0.4, 2:0.4}, 1: {0: 0, 1: 0.5, 2: 0.5}, 2: {2: 1}}
model.add_transition_model('intel', intel_tm)
diff_tm = {0: {0: 0.5, 1: 0.5}, 1: {0: 0.25, 1:0.75}}
model.add_transition_model('diff', diff_tm)
model.prob_from_sample([State('diff', 0)])
t

[2016-12-21 16:18] kris-singh commented on #791
I will reimplement the sample method for markovchain network. I will create a PR soon

[2016-12-21 16:52] raghavg7796 commented on #779
@ankurankan But it is working fine. Can you please tell why or suggest any other change? Or if you want to hold it, lets hold it for a while till we have a better solution.

[2016-12-21 18:45] raghavg7796 commented on #773
@ankurankan @yashu-seth Although using wrapt gives proper documentation, it is failing nosetests because wrapt has different method of defining decorators. I am trying to look into this but still is getting problems. Please someone look.

[2016-12-21 20:00] raghavg7796 commented on #769
@ankurankan I think one method can be that we give probabilities for the predict_data rather than actual predictions, i.e, user can see what are the probabilities of getting different values of y given a predicion_data

[2016-12-21 20:56] raghavg7796 commented on #722
@ankurankan Should for 1.
add_nodes_from and add_edges_from accept *argv
or add_cpds should accept a iterable?
And changing anyone will require a lot of change in tests...How should I proceed?

[2016-12-21 21:05] yashu-seth commented on #773
@raghavg7796 Do you have a PR for this?

[2016-12-21 21:21] kris-singh commented on #752
@ankurankan @yashu-seth
1. For factor graphs we could do something like this that if we remove a factor we just delete it, but if we remove a node we have recalculate the factor nodes its associated with(which basically is marginalizing that factor node wrt the deleted node)
2. For LinearGaussianBayesian Model we could call the super class delete method to deal with deletion.
p.s I am thinking of

[2016-12-21 22:11] kris-singh opened #792 "Factor graph wrong edge creation"
Factor graph model add_edge presently accepts both (nodes, nodes) or (factors, factors) as input and creates a edge between them.
A factor graph is a bipartite graph and should only have edges between (nodes, factors). Hence i think we need to change this. I implemented this but  some test in the file test_factor_model.py have test cases like
`self.graph.add_edges_from([('a', 'phi1'), ('b', 'phi1'

[2016-12-21 23:26] kris-singh commented on #792
Should i  correct these test and create a PR

[2016-12-22 05:18] raghavg7796 commented on #773
@yashu-seth I have a PR but it is giving like 290 errors, i.e. wherever it is being called.

[2016-12-22 06:03] raghavg7796 commented on #792
@kris-singh I think that supplying add_edge_from([('a', 'b')]) will create two nodes 'a' and 'b' if not already present. add_edge_from is in base class and for Factor Graph it will just add two nodes but not create a factor out of them and create an edge between them and for other models, it will also create an edge between them.

[2016-12-22 06:30] yashu-seth commented on #773
@raghavg7796 I have not used the wrapt module before. Just make sure you have studied python decorators a bit.

[2016-12-22 06:47] raghavg7796 commented on #791
@kris-singh Running it first time, it gives [0, 0, 0, .....0] and second time it gives [0.99, 1, 1, .......1]. I think it somewhat depends on start_state which we have not initialized and is set to random. This is just a possible guess but I don't know what's the actual reason.

[2016-12-22 07:03] raghavg7796 commented on #752
@ankurankan @yashu-seth @kris-singh  For deleting factors in factor graph, there is already a method. And I think marginalize and delete should be two seperate methods. Deleting a node just deletes a node and all factors associated with it. While marginalize should marginalize with respect to a given variables. If you haven't worked a lot, I would like to implement the marginalize methods.

[2016-12-22 07:07] raghavg7796 commented on #773
@yashu-seth I studied the wrapt module and used it but it have some changed implementation like it doesn't allows *args, **kwargs in its wrapper but allows them as args and kwargs which are not editable then etc. So it is creating problems but I will still try to use it in our code.

[2016-12-22 07:08] raghavg7796 commented on #792
@ankurankan Please confirm.

[2016-12-22 07:09] raghavg7796 commented on #791
@ankurankan Please confirm.

[2016-12-22 07:26] yashu-seth commented on #752
@kris-singh The ideas seem feasible. If you want you can proceed with a PR.

[2016-12-22 07:31] yashu-seth commented on #752
@raghavg7796 Deleting a node should not delete all the factors associated with it, but it should marginalize the factors for that variable node. And marginalize methods are only for factors not for models. So there is no need to implement marginalize methods for this. Please feel free to clarify if you meant something else.

[2016-12-22 07:32] kris-singh commented on #752
@raghavg7796 there is no method for deleting a node in factor graph also, while you delete a node you dont delete its factors(unless the factors has no incoming edges from the nodes).  And while deleting a node you need to marginalize factors. For the present i think its best i implement this as having 2 people devlop the same thing would require a lot of co-ordination from both our ends.
@yashu-s

[2016-12-22 07:34] kris-singh commented on #792
@raghavg7796 it should not create a edge between nodes as a factor graph is bipartite graph.
So we need to add a check like if type(u) == type(v): raise ValueError('............something"). I have made the changes will

[2016-12-22 07:37] kris-singh commented on #791
@raghavg7796  the mehod is not correctly implemented you can look at #789 for a more clear explanation. @ankurankan I have made the changes and will create a PR today

[2016-12-22 07:40] raghavg7796 commented on #792
@kris-singh Yes, and check_model() will give an error if you create an edge between nodes. Check_model does that stuff to ensure bipartiteness of the Factor Graph.

[2016-12-22 08:46] raghavg7796 commented on #722
@ankurankan And in 2. Should active_trail_nodes now return a dict with keys as variables in the iterable given to it and values as sets of active_trail_nodes?

[2016-12-22 09:13] kris-singh commented on #789
@ankurankan i fixed the sampling method but even for something like this the output is something like this for
`diff_tm = {0: {0: 0.5, 1: 0.5}, 1: {0: 0.5, 1:0.5}}`
`print model.prob_from_sample([State('diff', 0)])`
the output with window size = 100 is
[ 0.51  0.51  0.5   0.51  0.5   0.52  0.43  0.53  0.57  0.5   0.47  0.43
  0.5   0.55  0.63  0.56  0.5   0.5   0.54  0.55  0.46  0.33  0.5   0.44

[2016-12-22 10:31] ankurankan commented on #770
@kris-singh No. Just a simple Boltzmann Machine.

[2016-12-22 10:38] ankurankan commented on #779
@raghavg7796 I would suggest to hold on till be find a good solution. Your solution for searching for the variables is kind of hackish and I don't like it.

[2016-12-22 10:41] ankurankan commented on #769
@raghavg7796 That's a good idea. Can you create an issue for that ? Also, I am sure that I wasn't thinking of that while creating this issue.

[2016-12-22 10:51] ankurankan commented on #792
@raghavg7796 @kris-singh I checked the doctests and there it seems to be correct. But the tests seem to be using strings. @abinashpanda Do you remember how this was supposed to be ?

Regarding the bipartite thing, `check_model` is supposed to be handling that. We don't put constraints on the models while creating it.

[2016-12-22 10:53] ankurankan commented on #773
@raghavg7796 I find Graham Dumpleton's blog series on decorators quite useful: http://blog.dscpl.com.au/search/label/decorators. Maybe have a look if you have any doubts.

[2016-12-22 17:20] kris-singh commented on #789
@ankurankan can you tell how to solve this. How should we say that in the long term the values of Markov chain converge.
should use something like the rabbes test for series cgt

[2016-12-22 18:07] raghavg7796 opened #794 "Method like predict that gives probabilities rather than predictions."
A method like predict which given the predict_data will give probabilities for the missing variables for user to see the actual probabilities.

[2016-12-22 18:07] michaelMinar opened #795 "Can't open a saved model"
I'm having trouble opening a previously saved model (saved via `ProbModelXMLWriter`).

Relevant sections of my script are pasted below - sorry for the length.

[code]

----- main running program-----

[code]

Later on in a separate script i run the following and get an error:

[code]

Thanks for any help you can offer.

[2016-12-22 18:07] raghavg7796 commented on #794
I am working on this and will create a PR tomorrow.

[2016-12-22 20:30] kris-singh commented on #795
@michaelMinar
instead of this
`reader_string = ProbModelXMLReader(fpath)`
can you try this
`path = os.path.join(REPO_ROOT, 'tmp', 'models')`
`file_name = 'BayesianWeb.pgmx' `
`reader_string = ProbModelXMLReader(path = path, string = file_name)`

[2016-12-22 22:30] michaelMinar commented on #795
Hi @kris-singh,

Unfortunately that doesn't work. I just get an error that path is a directory.

[code]

[2016-12-23 03:41] khalibartan commented on #795
@kris-singh

reader_string = ProbModelXMLReader(fpath)
can you try this
path = os.path.join(REPO_ROOT, 'tmp', 'models')
file_name = 'BayesianWeb.pgmx'
reader_string = ProbModelXMLReader(path = path, string = file_name)

I guess you understood it wrong. `string` argument is used when we want to give reader a string instead of file i.e when you have read the file and generated the buffered string. `

[2016-12-23 07:55] kris-singh commented on #770
@ankurankan then what about the inference from the model.

[2016-12-23 12:11] kris-singh commented on #748
@ankurankan we can close this now

[2016-12-23 12:15] raghavg7796 opened #798 "Added Test in model.predict"
In predict, we do not test for the condition when we try to predict for variable which are not in our model.

[2016-12-23 12:26] #798 closed, assigned to nobody

[2016-12-23 12:44] yashu-seth commented on #668
Fixed in #667

[2016-12-23 12:44] #668 closed, assigned to nobody

[2016-12-23 13:33] yashu-seth commented on #369
@ankurankan This can be closed.

[2016-12-23 13:53] yashu-seth commented on #661
@ankurankan This can be closed.

[2016-12-23 16:48] kris-singh commented on #752
@ankurankan @yashu-seth remove_factor method is wrongly implemented
[code]
for this `phi1` is removed from `G.factors` list but not from `G.nodes()` list. So it should be deleted from both places
I have remove_factor to
[code]

[2016-12-23 17:36] michaelMinar commented on #795
@khalibartan thanks for the comment. Updated the code blocks with syntax highlights.

[2016-12-23 17:37] yashu-seth commented on #752
@kris-singh The users are suppose to add factors separately and the ```check_model``` method ensures if factors are defined for each factor node or not. So I don't think this behavior is required. I think the only thing to be ensured should be that when you delete a node, the factors should appropriately be marginalized and when you delete a factor node that factor should be removed.
@ankurankan W

[2016-12-23 17:51] kris-singh commented on #752
@yashu-seth i am having a hard time getting this. Should the user call check_model after every operation.
That doesn't seem a good idea. After deletion of a factor it still present in the node of the graph that seems erroneous to me.
@ankurankan My PR is ready for the factors graph node_removal but it uses the change in remove_factors can you please suggest what to do?

[2016-12-23 19:24] raghavg7796 opened #802 "Add test for NaiveBayes._get_ancestors_of method"
I will file a PR but need to confirm that we need this method? And if, then if we need to create new tests.

[2016-12-23 20:29] raghavg7796 commented on #722
@ankurankan Please can you mention which method of the 2 will you prefer in each of the above mentioned issue. I will then create a PR for each of them and PR for 3. has already been created #801

[2016-12-23 21:11] yashu-seth commented on #802
@raghavg7796 You can rename this issue to "Add tests for NaiveBayes._get_ancestors_of method".
Coverage basically shows which parts of the code aren’t covered by the test suite.

[2016-12-24 05:22] raghavg7796 commented on #802
@yashu-seth Should I file a PR creating tests for this method

[2016-12-24 05:30] khalibartan commented on #795
@michaelMinar Can you add all the code(the model generation and saving part)  in a github gist, along-with the data? I'm not able to generate the proper results for debugging purpose.

[2016-12-24 06:18] yashu-seth commented on #802
@raghavg7796 Yes, you can go ahead.

[2016-12-24 14:32] kris-singh commented on #775
@ankurankan @yashu-seth i  read the mmhc paper what are tests are you thinking about.
 1. Could be generating samples from a bayesian network and then using these to learn the structure using     mmhc and then compare

2. For mmpc we can test for a basic graph if returns a the parent child list of nodes.

 3.Check for false positive correctness by the mmhc paper. We could use the example given in

[2016-12-24 20:47] raghavg7796 commented on #773
@ankurankan This can be closed now.

[2016-12-24 23:21] kris-singh commented on #791
@ankurankan
 For the stationarity condition i have implemented it as
[code]
I want to implement this as check_stationarity condition in MarkovChain.py what do you think? should i go ahead with that

[2016-12-25 10:15] kris-singh commented on #752
@yashu-seth @ankurankan
[code]
output:
[code]
Though we delete the factor the edge is not deleted between factor and node. This is consistent across all the remove_factor function in all the models

[2016-12-25 11:52] raghavg7796 commented on #779
@ankurankan I think a separate method will also allow us to calculate probabilities like P(a = 1, b = 2|evidences) because otherwise as @ValerioBiscione mentioned there is no method to do thing like this.

[2016-12-25 11:54] raghavg7796 opened #807 "No mention of FactorSet in docs"
Docs does not contain FactorSets and needs to be updated.

[2016-12-26 10:37] ValerioB88 commented on #779
Guys, I think you must clearly say somewhere in the doc that query(variables=['a','b']) does not correspond to p(a,b), but returns p(a) and p(b). I think this behavior should be changed (not by adding a new method!), so that query(variables=['a','b']) returns p(a,b).

[2016-12-26 17:18] ankurankan commented on #789
@kris-singh Just start with a converging Markov Chain and write tests according to that.

[2016-12-26 17:21] kris-singh commented on #789
@ankurankan please see https://github.com/pgmpy/pgmpy/pull/796

[2016-12-26 17:22] ankurankan commented on #770
@kris-singh I have implementation for inference.

[2016-12-26 17:23] ankurankan commented on #748
Fixed in #788

[2016-12-26 17:23] #748 closed, assigned to nobody

[2016-12-26 17:24] #369 closed, assigned to nobody

[2016-12-26 17:25] #661 closed, assigned to nobody

[2016-12-26 17:31] ankurankan commented on #775
@kris-singh I don't remember much about this. Will need time to read the paper. @yashu-seth Can you clear things for @kris-singh if you remember what you meant in your comments ?

[2016-12-26 17:38] yashu-seth commented on #775
@kris-singh I think there were tests missing for the method ```mmpc``` and the method ```is_independent``` should be moved to the base class, but I would need to go through the paper to discuss the exact details.

[2016-12-26 17:44] ankurankan commented on #773
@raghavg7796 This isn't merged. Right ?

[2016-12-26 18:27] ankurankan commented on #752
@kris-singh @yashu-seth I don't get where the whole conversation is going. Can someone give me a final gist ? Also @kris-singh please have a look at github markdown and try to use that to properly format your code.

[2016-12-26 18:32] ankurankan commented on #779
@raghavg7796 Both of these are two separate issues. Let's not mix them up. We can easily solve the issue with returning a joint factor.

And I would not like to have a new method for computing values for specific states.

[2016-12-26 18:34] kris-singh commented on #752
@ankurankan this about remove_factor method in the models. I was of the view that remove_factor should not only remove the factors from the factors list but also from the nodes list. As i have illustrated in the code it  that is not done the edges between the deleted factor and node will still remain in the model. I have also explained this in the PR if you can have look.

[2016-12-26 18:37] yashu-seth commented on #752
@ankurankan When we delete a node we need to delete/marginalize the factors for that node too. In factor graph, nodes can be factors. So when we delete a factor node, we should delete that factor. But if we remove a factor from a factor graph, should we also remove the corresponding factor node as well? This behavior will not be consistent with other models but now I think this does make sense for

[2016-12-26 19:25] kris-singh commented on #752
@yashu-seth not only for factor graphs but it should be done for every model that has the remove_factor method as my previous code clearly shows that in the markov model this would create a spurious edge which is also not detected by check_model method.

[2016-12-27 07:09] raghavg7796 commented on #733
@khalibartan @ankurankan I created hash for Gaussian and Canonical but how to create hash in case of continuous Factors with a given pdf. And also how to set factorset_divide in case of gaussian or canonical as it requires identity which raises Singular Error in case of Gaussian and Canonical.

[2016-12-27 07:16] raghavg7796 commented on #773
@ankurankan  You have merged the PR for this issue adding wrapt.

[2016-12-27 09:07] kris-singh opened #808 "Changes to LinearGaussianCPD"
i would like to make changes to the LinearGaussianCPD

1. It should accept JointGaussianDistribution or scipy.stats.normal Distribution

2. Should have the marginalize method that marginalizes the Gaussian Distribution

Also a question wont it make more sense to make LinearGaussianCPD to inherit from JointGaussianDistribution rather than ContinousCPD

[2016-12-27 09:24] yashu-seth commented on #808
@kris-singh A linear gaussian CPD defines a linear relationship between mean of parents and mean of variable. It does not always need a gaussain distribution to be defined.

Yes It should have a marginalize method. Do you have an implementable in mind?

Do you have any particular reasons to make it the child of ```JointGaussianDistribution```?

[2016-12-27 09:34] kris-singh commented on #808
@yashu-seth 7.2 Daphne Koller Book says that a Gaussian Bayesian network to be a Bayesian network whose variables are continuous and where all cpds are linear Gaussian. Look at Thm 7.3

[2016-12-27 09:41] yashu-seth commented on #808
@kris-singh That theorem discusses ```LinearGaussainBayesianNetwork``` which is equivalent to ```JointGaussianDistribution``` . Here, we are talking about ```LinearGaussianCPD```. Lets take this conversation to gitter.

[2016-12-27 09:50] yashu-seth commented on #752
@kris-singh Can you please reproduce that markov model example you are talking about.

[2016-12-27 10:01] kris-singh commented on #752
@ankurankan @yashu-seth please look at the following gist
https://gist.github.com/kris-singh/5b4fdfef4bb0bd589d255ae2d403a14d

[2016-12-27 18:32] karttikeya opened #809 "Floating point error in Hill climbing algorithm prevents the procedure from stopping."
Once the score gets low enough ( < e-10 ) sometimes the procedure gets stuck in a loop because of very slight change in score by an operation and again a perceived increase by reversing it or doing it again in case of flipping the edge.

[2016-12-27 19:53] ankurankan commented on #733
@raghavg7796 We don't have a standard form for `1 / Normal`. So, to implement that you will need to use the pdf function. But I don't think we will be needing this, so you can throw a `NotImplementedError` if someone calls divide on a factorset having gaussian distributions.

[2016-12-27 19:55] #773 closed, assigned to nobody

[2016-12-27 19:55] ankurankan commented on #773
Fixed.

[2016-12-27 20:24] ankurankan commented on #752
@yashu-seth @kris-singh I don't think we need the `remove_factor` method at all. There should be just one method `remove_node` and it should delete the nodes as well as the factors from the model.

And we will need to refactor a few things according to this. For example we won't be needing the add_factor method

[2016-12-27 20:25] yashu-seth commented on #752
@ankurankan How would we incorporate factors with models then?

[2016-12-27 20:26] ankurankan commented on #809
@karttikeya Can you please share your code? It will be easier for us to reproduce it.

[2016-12-27 20:34] ankurankan commented on #752
@yashu-seth Since in this case we really don't have a separate parameterization of the model. So, in simple terms we are just trying to create a model structure. And therefore it makes sense to remove the parts that deal specifically with model parameterization and only work with the model assuming that we are dealing with just the structure.

[2016-12-27 20:47] yashu-seth commented on #752
@ankurankan Are you talking about ```FactorGraph``` only?

[2016-12-27 20:49] ankurankan commented on #752
@yashu-seth Yes, I am sorry I wasn't clear before.

[2016-12-27 20:53] yashu-seth commented on #752
@ankurankan Okay. @kris-singh suggested [here](https://gist.github.com/kris-singh/5b4fdfef4bb0bd589d255ae2d403a14d) that there could be cases where we have a factor node in markov models. I don't think we need to change the remove_factor method for such cases because we have ```FactorGraph```. What do you think?

[2016-12-27 21:25] ankurankan commented on #752
@yashu-seth Why would we have a factor node in a Markov Model ?

[2016-12-28 03:27] raghavg7796 commented on #733
@ankurankan How to create hash for user defined pdfs.

[2016-12-28 05:27] yashu-seth commented on #752
@ankurankan @kris-singh There would not be. That is why I am also not in the favor of having such behavior.

[2016-12-28 05:40] kris-singh commented on #752
@yashu-seth @ankurankan then we would have to refactor the markov model and other classes that have add_factor method in them.

[2016-12-28 05:46] yashu-seth commented on #752
@kris-singh No, you have to do it only for ```FactorGraph```.

[2016-12-28 05:49] kris-singh commented on #752
@yashu-seth i mean to say that we would have to remove add_factor method in markov model if it dosen't make sense to have it as method if you are never going to use it.

[2016-12-28 06:06] yashu-seth commented on #752
@kris-singh We will use those methods in MarkovModel. Just not in FactorGraph. We will not have a factor node in markov model but we will have factors in it. remove_factor method removes the factors associated with a model.

[2016-12-28 06:36] pfzhan opened #810 "have installed pgmpy, but shows that "No module named wrapt""
I have cloned this project, and installed with "python setup.py install" on window10. Then, I went to cmd run python, and pasted "from pgmpy.models import BayesianModel", the result as seen below:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "pgmpy\models\__init__.py", line 1, in <module>
    from .BayesianModel import BayesianModel
  File "pgmpy\models\Bayesian

[2016-12-28 09:07] karttikeya commented on #809
Sure. I was trying to construct a DAG for feature selection using IAMB algorithm. Following is the snippet:

[code]

I have modified the `HillClimbSearch.py` to print the operation executed and the score achieved. I have attached the corresponding output and also the input file Print.csv .
[output.txt.txt](https://github.com/pgmpy/pgmpy/files/675281/output.txt.txt)

[Print.zip](https://github.com/

[2016-12-28 10:02] raghavg7796 commented on #810
@dethrive You need to run
`pip install -r requirements.txt  # or requirements-dev.txt if you want to run unittests`
or
`conda install --file requirements.txt  # or requirements-dev.txt if you want to run unittests
`
before actual setup. It will install wrapt.

[2016-12-28 15:33] raghavg7796 commented on #802
This can be closed now.

[2016-12-28 15:38] ankurankan commented on #733
@raghavg7796 The only way I can think of is to generate some values from the pdf and use that along with the variable names to compute the hash. So, like generating probability values for some fixed set of inputs and then converting it to a string and then using the `hash` function. But you will have to make sure to handle the case if the pdf is not defined at some values. Also you will need to co

[2016-12-28 16:05] ankurankan commented on #802
Fixed.

[2016-12-28 16:05] #802 closed, assigned to nobody

[2016-12-29 04:58] kris-singh commented on #752
@yashu-seth okay then i think a check needs to be added saying that edge between factor node and edge node is not allowed. This at present is not there. @ankurankan if this issue is resolved then i think you can review #804 as i had followed the same technique there that we have agreed upon.

[2016-12-29 05:59] raghavg7796 commented on #733
@ankurankan Can we use UnbiasedDiscretizer for creating hashes??

[2016-12-29 10:38] karttikeya commented on #809
I have submitted a simple patch for the problem; to break from the loop in case the score becomes too small.However, the patch shows a coveralls error which is to be expected due to the typical nature of the error and code. Kindly review.

[2016-12-29 14:45] yashu-seth commented on #752
@kris-singh I don't think that such a check is particularly required. Its not that such edges are incorrect its just that a user would not create such edges if dealing with models like the Markov model.

[2016-12-29 21:21] ankurankan commented on #733
@raghavg7796 Yes you should be able to do that. But I am not really sure about the it's status (if it works in case of multivariate distributions). @khalibartan @yashu-seth Opinion ?

[2016-12-30 05:35] raghavg7796 commented on #810
@ankurankan This can be closed.

[2016-12-30 06:36] yashu-seth commented on #733
@raghavg7796 ```UnbiasedDiscretizer``` works only for univariate distributions but user defined pdfs can be multivariate.

[2016-12-30 06:46] #810 closed, assigned to nobody

[2016-12-30 08:11] raghavg7796 commented on #733
@yashu-seth @ankurankan So to create hash, we will need to test on some pre-decided input. Is that the only way then ?

[2016-12-30 09:13] yashu-seth commented on #733
@raghavg7796 I think we can put a question on stackoverflow and see if we get some ideas from there.

[2016-12-30 12:00] yashu-seth commented on #722
@ankurankan I don't think we need to make the ```add_cpds```/```add_factors``` and ```add_nodes_from``` or ```add_edges_from``` accept the same type of input parameter.
Besides, ```add_nodes_from``` and ```add_edges_from``` behaves the same way in the ```networkx``` classes so don't you think we should leave it as it is?

[2016-12-30 15:44] ankurankan commented on #722
@yashu-seth Yes you are right. Plus it won't work in a lot of cases.

[2016-12-30 17:34] raghavg7796 commented on #733
@yashu-seth Please can you ask framing the question in a better way.

[2016-12-31 05:59] yashu-seth commented on #733
@raghavg7796 Okay. I will put a question and see if we get something.

[2016-12-31 08:31] kris-singh commented on #752
@yashu-seth if i understand this clearly we now will have no add_factor method and remove_factor method in FactorGraph. Instead, we will have just add_nodes. So for factor graph should we now create a new node and define a CPD on it (basically treat it as a factor). I am not in favor having no add_factor method in FactorGraph. As most of the function are dependent on the factors being present. May

[2016-12-31 08:33] kris-singh commented on #752
I think i can push the functionality of remove_factor inside of remove_node. Checking if the passed argument is a factor or a node.

[2016-12-31 08:52] kris-singh commented on #791
This can be closed

[2016-12-31 08:53] kris-singh commented on #789
This can be closed

[2016-12-31 13:02] yashu-seth commented on #752
@kris-singh For FactorGraph we can define factors and add it as nodes.
I don't think removing add_factor would be difficult. I don't find functions that are dependent on FactorGraph.add_factors. Could you please elaborate?

[2016-12-31 17:19] kris-singh commented on #752
@yashu-seth get_partition_function, to_markov_model, get_variable_nodes etc all use self.factors in one way or another. If we do away with factor nodes then all of these would have to refactor. But yes i think the above strategy that you suggest of adding factors as nodes would work, but we would have to keep a maintain a separate list for factors

[2017-01-01 00:43] ankurankan commented on #752
@kris-singh Yes we will need to maintain a list because our inference methods access those.

[2017-01-01 00:44] #789 closed, assigned to nobody

[2017-01-01 00:45] #791 closed, assigned to nobody

[2017-01-01 10:00] raghavg7796 commented on #794
@ankurankan This can be closed now.

[2017-01-01 16:28] #794 closed, assigned to nobody

[2017-01-01 20:57] kris-singh commented on #752
@ankurankan @yashu-seth just one more question should i overload the add_node function from the undirected graph for adding the factors to the factor graph as we need to check that factors should be defined on the variables in the model. I was thinking of not deleting the add_factor method otherwise, we would have to rewrite a lot of tests. I have removed the remove_factor method. And changed the

[2017-01-02 07:17] kris-singh commented on #752
@ankurankan @yashu-seth can you look at this gist and tell me what the problem is.
https://gist.github.com/kris-singh/8b89ae2ea40c6a966795556e788212bd
Did you get the problem

[2017-01-02 17:38] raghavg7796 commented on #722
@ankurankan @yashu-seth In first, I am planning to return a dictionary with keys as nodes. Is it Fine?

[2017-01-02 19:45] yashu-seth commented on #722
@raghav7796 In first, (active_trail_nodes accepts ...) you have to change the input parameter not the return type.

[2017-01-02 20:28] raghavg7796 commented on #722
@yashu-seth Currently active_trail_nodes returns a list of active trail but now we are accepting a list of nodes so we will need to return lists of active trails(active trail for each node). So I was asking about that, that how to return lists of active trail for each nodes

[2017-01-02 20:33] yashu-seth commented on #722
@raghavg7796 Sorry. I did not notice that. Yes, I think that would be the best way.

[2017-01-03 20:40] yashu-seth commented on #782
@ankurankan Any update on this? I am free these days so if you want I can take this up after discussing the exact details.

[2017-01-03 21:00] ankurankan commented on #782
@yashu-seth Sorry for the delay. Yes please go ahead with this if you have time.

[2017-01-04 11:15] Maryia-M opened #813 "Prediction don't work for small evidence set. IndexError: only integers, slices (`:`)..."
Hi, I'm sorry if similar question was already asked, I'm new to python and pgmpy.
My network consists of approximately 576 nodes. If I put almost all columns values to predict it works, but If set of known values is small IndexError appears. ( IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices)
notebook link: http://nbv

[2017-01-04 20:25] yashu-seth commented on #782
@ankurankan What do you think?

[2017-01-04 22:10] ankurankan commented on #782
@yashu-seth I got some time today and have started working on this. I am done with the Base class and the CustomDistribution class. Will open a PR in couple of minutes :).

[2017-01-05 06:57] raghavg7796 opened #816 "check_model for Markov Model does not check factors for all variables"
In Markov Model, get_cardinality is used to check if factors are defined for all variables but I think check_model should serve that purpose.

[2017-01-05 07:18] yashu-seth commented on #782
@ankurankan Okay :)

[2017-01-05 13:27] khalibartan commented on #816
@raghavg7796 Yes it is checking that, but I don't see any problem with that. `check_model` is also performing that check. On a side note `get_cardinality` doesn't mention return type in its docstring. Can you add this ?
@ankurankan I was thinking if model has both cardinality issue and inconsistency of discrete factor then we can raise both error together in check_model. But I'm also having second

[2017-01-05 16:57] raghavg7796 commented on #816
@khalibartan check_model is not checking whether factors for all nodes are defined.

1. from pgmpy.models import MarkovModel
2. from pgmpy.factors.discrete import DiscreteFactor
3. student = MarkovModel([('Alice', 'Bob'), ('Bob', 'Charles')])
4. factor = DiscreteFactor(['Alice', 'Bob'], cardinality=[2, 3], values=np.random.rand(6))
5. student.add_factors(factor)
6. student.get_cardinality(check_ca

[2017-01-05 17:12] khalibartan commented on #816
@raghavg7796 Sorry, my bad! Yeah check_model should check that. Can you create a PR that deals with the issue ?

[2017-01-05 17:16] raghavg7796 commented on #816
@khalibartan @ankurankan  I will add that in my current PR. Also I was thinking to remove that from get_cardinality and add that to check_model only. Will it be fine?

[2017-01-10 12:15] s1998 commented on #727
@ankurankan Is this still open ? I would like to work on it.

[2017-01-10 13:53] khalibartan commented on #727
@s1998 Yes! you can go ahead and work on this.

[2017-01-10 19:31] wqp89324 opened #818 "NoiseOr Model inference"
Is there any inference method associated with Noisy-Or Models? I have a Bayesian network model, but each child generally has lots of parents, but I have few data to train that many parameters, so I'd like to simply with Noisy-Or models.
![figure b1](https://cloud.githubusercontent.com/assets/8864839/21821220/5787619a-d738-11e6-9846-5da43ea5e221.png)
As a simple example, I'd like to make an inferen

[2017-01-11 15:56] sahithikilaru commented on #771
I would like to work on this.

[2017-01-11 18:14] yashu-seth commented on #771
@sahithikilaru This has bee fixed. Please check the second answer on the thread.
@ankurankan This can be closed.

[2017-01-12 09:55] #771 closed, assigned to nobody

[2017-01-12 11:33] #813 closed, assigned to nobody

[2017-01-12 14:28] ankurankan commented on #813
@Maria-MM Was this a bug ?

[2017-01-12 19:17] kris-singh commented on #752
Can anyone expalin the above problem.

[2017-01-12 20:06] kris-singh commented on #742
I create a PR for this.https://github.com/pgmpy/pgmpy/pull/820
Also shoudn't we add tests for these also or is that bad idea.

[2017-01-12 20:11] kris-singh commented on #732
@ankurankan can't find these tests.

[2017-01-13 08:12] Maryia-M commented on #813
I think it was because of memory. I can't predict if (net_size-evidence_size)>=15.

[2017-01-13 09:17] yashu-seth commented on #732
@kris-singh This will have to wait. We don't have working discretize methods for ```ContinuousFactor```.

[2017-01-13 09:21] kris-singh commented on #732
@yashu-seth yes i saw that. Though i think the univariate case works fine. I also submitted the PR for #742
that solves discretised the for the univariate Continous Factor

[2017-01-13 13:01] kris-singh commented on #738
@ankurankan can you explain the issue a little more. I looked into plate node model but din't get how you would implement this.

[2017-01-13 13:58] Mary-Kul opened #821 "distribution check_independence issue"
Can you help, please? I have a code from 1st chapter of  your book -

[code]

it gives me the following error :

[code]

example from your docs:
[code]

gives the same error

[2017-01-13 14:41] raghavg7796 commented on #821
@Mary-Kul I think you need to update the library. Mine is working fine.
[code]
gives True.

[2017-01-13 15:09] #821 closed, assigned to nobody

[2017-01-14 06:44] sahithikilaru commented on #703
I would like to work on this.

[2017-01-14 13:13] khalibartan commented on #703
@sahithikilaru You can reference my pr #719 to see how are we doing things in case of sampling algorithms. I think most of the work remains in estimator classes and its methods.

[2017-01-14 23:14] ankurankan commented on #752
@kris-singh Sorry, for the late reply. I am not able to figure out the issue. Can you post this on stackoverflow ? And please post the question's link here.

[2017-01-14 23:16] kris-singh commented on #752
@ankurankan okay i will do that now

[2017-01-14 23:18] ankurankan commented on #738
@kris-singh I am not really sure about it's implementation (haven't given much thought to it). By any chance have you referred to the chapter in Koller's book  ? That might give you some ideas.

[2017-01-15 00:03] ankurankan commented on #809
Fixed in #811

[2017-01-15 00:03] #809 closed, assigned to nobody

[2017-01-15 00:04] ankurankan commented on #818
@wqp89324 We currently don't have support for NoisyOr Models.

[2017-01-15 00:09] ankurankan opened #822 "[Discussion] Performance of pgmpy"
We have a lot of issues regarding the performance of the library. So, I am creating this issue to collect ideas for optimization.

1. We can look into theano and tensorflow. There's a comparison of the performance here: https://simplyml.com/linear-algebra-shootout-numpy-vs-theano-vs-tensorflow-2/
2. Cythonize/use numba for computationally expensive parts.
3. Look into other libraries to see if the

[2017-01-15 00:10] ankurankan commented on #808
@kris-singh @yashu-seth Do we need to keep this open ?

[2017-01-15 00:11] ankurankan commented on #795
@khalibartan Any idea why this is happening ?

[2017-01-15 05:17] khalibartan commented on #795
@ankurankan I'm not able to reproduce the result. So cannot really comment what is happening in model creation.

[2017-01-15 05:22] khalibartan commented on #822
We can also try our hands on Numba.

Other than that we can try to design plug-ins (like networkx has) of existing libraries like stan, bugs, vibes, java bayes.

[2017-01-15 06:05] sahithikilaru commented on #703
@khalibartan ok thanks!

[2017-01-15 07:56] ankurankan commented on #822
@khalibartan I am not in favor of adding wrappers for other libraries because with that we loose the extensibility of pgmpy. Rather than that we can look into these libraries and see if there is some possible way to optimize our code.

[2017-01-15 09:06] yashu-seth commented on #808
@ankurankan This can be closed.

[2017-01-15 13:56] raghavg7796 opened #823 "Bayesian model accepts any hashable object while docstring mentions it accepts only Strings."
Line number 30

[code]

[2017-01-15 19:58] kris-singh commented on #752
@ankurankan networkx/networkx#2349
i think we need to look at the hash function

[2017-01-15 21:11] ankurankan commented on #752
@kris-singh Try posting it to stackoverflow. And don't post the whole code. Just the relevant parts.

[2017-01-15 21:12] ankurankan commented on #823
@raghavg7796 Can you give the line no of where it mentions that ?

[2017-01-15 21:12] #808 closed, assigned to nobody

[2017-01-16 10:34] MarkPinches opened #824 "Cant install in anaconda python 2.7 due to pyparsing version mismatch"
I have had real troubles installing pgmpy in a python2.7 anaconda installation. It throws an error when installing the requiement.txt file, where pyparsing==2.1.8. However the latest version for this package available in anaconda is 2.1.4.

I am going to try installing on python 3.5 so hopefully that should work.

[2017-01-16 17:41] wqp89324 commented on #818
This is what I thought, so I manually created Tabular CPDs and used the regular Bayesian model. Thanks.

[2017-01-16 19:18] wqp89324 opened #825 "Support of approximate inference?"
I read in the book about ClusterBeliefPropagation, is it currently supported? I also found that Mplp only supports Markov models, but I have a Bayesian model.

In addition, my model works well with the variable elimination, but when I run BeliefPropagation, it shows the following error:
    No sepset found between these two edges.

Suggestions? Thanks!

[2017-01-17 08:28] Mary-Kul opened #826 "chapter"

[2017-01-17 12:51] khalibartan commented on #825
@wqp89324 Can you share the code and relevant data (if any)? We cannot understand the cause of error without the code.

[2017-01-17 13:25] khalibartan commented on #822
@ankurankan In between theano and tensorflow I'll favor tensorflow, I find its syntax to be much better and performance wise both have same performance. Also both will give us implementation of auto derivative which we can use in our NUTS and HMC implementation.

[2017-01-18 12:15] #826 closed, assigned to nobody

[2017-01-19 09:47] ankurankan commented on #824
@MarkPinches Yes, we are having issues with both pyparsing and networkx dependencies on anaconda. But you can always use pip to install those.

[2017-01-19 09:52] ankurankan commented on #755
@khalibartan @yashu-seth Can you guys resolve this please ?

[2017-01-19 10:06] ankurankan opened #828 "Separate state name features from the main code base"
We want the state name features to interact with the main codebase only by decorators. But there is one instance where we are using it explicitly in the code base: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/models/BayesianModel.py#L740.

We need to find a solution to move this out.

[2017-01-19 16:14] wqp89324 commented on #825
Please find attached my code, which contains a manually created Bayesian network from a Noise-Or model. Variable elimination works but not BeliefPropagation. However, what I'm really asking is how can I do **approximate** inference? I noticed that when I do lots of queries, it takes some time using exact inference. Thanks!
[forPgmpy.zip](https://github.com/pgmpy/pgmpy/files/717128/forPgmpy.zip)

[2017-01-20 10:54] raghavg7796 commented on #823
[code]

[2017-01-20 16:44] MarkPinches commented on #824
It installs fine on the anaconda version using python 3.5

[2017-01-21 08:58] raghavg7796 commented on #733
@yashu-seth Did you find a possible solution for this on stackoverflow ?

[2017-01-21 11:30] raghavg7796 commented on #828
@ankurankan But @StateNameInit requires state_names to be passed in kwargs. So we will need to pass state_names argument.
One method can be to use state_names as variable in model rather than inference. This will solve two problems:
1. Inference can take state_names directly from model on which they are applied.
2. State_names are property of models. So a user can see states of the variables in th

[2017-01-21 20:40] kris-singh commented on #746
@ankurankan can you post these papers here.

[2017-01-21 23:47] kris-singh commented on #752
@ankurankan https://stackoverflow.com/questions/41785811/networkx-hash-function-for-objects
Also there are not test for checking the hash and eq function in the test_factor_graph. I think we should look into it

[2017-01-23 07:40] yashu-seth commented on #733
@raghavg7796 No, I could not find anything. . And please hold this issue as there would be certain significant changes with the continuous module.

[2017-01-23 07:45] yashu-seth commented on #828
But this would require making changes in the main Inference code base.

[2017-01-23 09:06] ankurankan opened #831 "Warnings in travis builds"
We are getting a few warnings in travis builds: https://travis-ci.org/pgmpy/pgmpy/jobs/194092542

@khalibartan Can you please look into this ? Couple of them are related to NUTS.

[2017-01-23 09:32] khalibartan commented on #831
@ankurankan I have also seen that since I updated my anaconda env. I guess it has to do with new numpy update or python update. I'm not able to make sense out of the warning. It is also being show in discrete factor. What is true_divide ?

[2017-01-23 09:37] ankurankan commented on #831
@khalibartan Okay. I will try to look into it. true_divide is https://docs.scipy.org/doc/numpy/reference/generated/numpy.true_divide.html

[2017-01-23 14:15] Mary-Kul opened #832 "BaseEstimator"
If I run code from Chapter 5 of your book
`import numpy as np`
`import pandas as pd`
`from pgmpy.models import BayesianModel`
`from pgmpy.estimators import BaseEstimator`

`raw_data = np.random.randint(low=0, high=2,`
`size=(1000, 6))`
`print(raw_data)`

`data = pd.DataFrame(raw_data, columns=['A', 'R', 'J',`
`'G', 'L', 'Q'])`

`student_model = BayesianModel([('A', 'J'), ('R', 'J'),
('J', 'Q'), ('

[2017-01-23 14:40] Maryia-M commented on #825
I think you can use Gibbs Sampling. I use it to predict all node values given evidence in my big network (rejection_sample or likelihood_weighted_sample).

[2017-01-23 14:44] wqp89324 commented on #825
@Maria-MM Are you suggesting that using Gibbs Sampling is faster than exact inference for large networks? Thanks

[2017-01-23 14:51] Maryia-M commented on #825
I don't suggest anything about it's speed, but exact inference simply don't work because of MemoryError if >= 15 node values are not given (I mean if (nodes_count - evidence_size)>= 15). It takes 0.4 sec to predict about 300 node values.

[2017-01-24 12:12] Mary-Kul opened #833 "Maximum Likelyhood structure learning"
I am working through your book chapter 5

there is a code from your book:
[code]

It gives empty cpds as output -but structure learning should have given cps X and X|Y, and add an edge
what should be done to make it work right?

[2017-01-24 15:49] kris-singh commented on #833
I think you should use latest pgmpy version. I think you are using 0.1.0. You shoud update it to 0.1.3

[2017-01-25 08:05] kris-singh commented on #769
@ankurankan do you mean map query and mle query

[2017-01-25 09:44] kris-singh commented on #775
@ankurankan @yashu-seth
[code]
My question is mmpc is just a approximation algorihm. So it now returning all the edges in the asia network. How should i now test its correctness.

[2017-01-26 04:57] kris-singh opened #834 "test_conditional_expectation not working correctly"
I was trying to use test_conditional_expectation on the Asia10k data for the ASIA network
http://www.bnlearn.com/bnrepository/.

But the
[code]
according to these values dysp and asia are independent which is incorrect.
Also, xray and asia are not independent which is again predicted wrongly.

i am using  this is_indpendent definition.
[code]

[2017-01-26 13:22] ankurankan commented on #769
@kris-singh I meant to add the argument for the `predict` method. But I don't think we have the code ready for bayesian prediction.

[2017-01-26 13:24] ankurankan commented on #769
@raghavg7796 Finally I remember what I meant. Check the update in the issue.

[2017-01-26 13:55] kris-singh commented on #769
@ankurankan by bayesian you mean the map query right?

[2017-01-27 13:43] Maryia-M opened #835 "How to fit data in the MarkovModel?"
In the book "Mastering Probabilistic Graphical Models using Python" fit operation for MarkovModel used the same as for BayesianModel. However when I try to use it I get "AttributeError: 'MarkovModel' object has no attribute 'fit'" and there is not defenition for 'fit' in MarkovModel.py. So how can I fit data in MarkovModel?

[2017-01-27 13:53] raghavg7796 commented on #769
OK @ankurankan . I will work on that.

[2017-01-27 14:13] raghavg7796 commented on #769
@kris-singh map_query gives value that has maximum probability. Here @ankurankan wants bayesian prediction to calculate expectation value, i.e., Sum(xi * pi). Right @ankurankan ??

[2017-01-27 14:16] raghavg7796 commented on #828
@yashu-seth Yes, it would require a lot of changes in inference code. But I can't find another solution. @ankurankan @yashu-seth Do you have any other solution?

[2017-01-27 21:27] faeahi opened #836 "Score based structure learning approaches for bayesian network with continuous variables"
Hello.
I want to learn bayesian network from a dataset with continuous values and i need to use score based approachs for structure learning.
I want to know is there score based structure learning approachs for this in this package?
Thanks.

[2017-01-28 23:27] ankurankan commented on #836
Hi,

We currently don't have support for learning continuous variables.

Cheers
Ankur

On Fri, Jan 27, 2017 at 10:27 PM, faeahi <notifications@github.com> wrote:

[2017-01-29 01:05] raghavg7796 commented on #769
@kris-singh map_query gives value that has maximum probability. Here @ankurankan wants bayesian prediction to calculate expectation value, i.e., Sum(xi * pi). Right @ankurankan ??

[2017-01-29 06:38] faeahi commented on #836
Thank you so much for your reply

[2017-02-01 09:45] kris-singh commented on #775
@chrisittner can you please have look.

[2017-02-04 11:39] lohani2280 commented on #823
Hi Developers,

I am a newbie here. Can i work on this?

[2017-02-04 12:21] yashu-seth commented on #823
@lohani2280 Yes, please go ahead.

[2017-02-04 14:00] lohani2280 commented on #722
I think its better to `mark` the sub-issues which have been completed to avoid confusion. For example , issues like  `copy method in BayesianModel` , `get_cpd in TabularCPD doesn't seem to be a suitable name for the method.` have been completed.

[2017-02-06 09:30] lohani2280 commented on #489
Hi , i think right now no one is working on this issue , so can start working on it??

[2017-02-06 09:43] khalibartan commented on #489
@lohani2280 Yeah sure go ahead and make a PR, but before that please go through the conversation thread and other copy method that will help you.

[2017-02-06 09:59] lohani2280 commented on #489
@khalibartan Yeah , i am reading them . Thanks.

[2017-02-06 13:24] lohani2280 commented on #522
The issue has been solved in the PR https://github.com/pgmpy/pgmpy/pull/830 . So , i think we should close this. .

[2017-02-06 13:44] ankurankan commented on #522
@lohani2280 Thanks. :+1:

[2017-02-06 13:44] #522 closed, assigned to nobody

[2017-02-06 16:39] kris-singh commented on #834
@ankurankan hi can you please comment on this.

[2017-02-06 17:11] ankurankan commented on #834
@kris-singh What is `est` here ? Can you share the whole code please ?

[2017-02-07 11:21] lohani2280 commented on #823
This issue has been solved in my PR https://github.com/pgmpy/pgmpy/pull/838 . So, i think we should close this .

[2017-02-07 11:24] ankurankan commented on #823
@lohani2280 Thanks :). You can also add `[closes #issue]` in your commit messages so that it automatically closes the relevant issues. https://help.github.com/articles/closing-issues-via-commit-messages/

[2017-02-07 11:24] #823 closed, assigned to nobody

[2017-02-07 11:35] lohani2280 commented on #823
@ankurankan Yeah sure i will take care of it from next time onwards :).

[2017-02-08 14:11] jayurbain opened #842 "Learning: Parameter Estimator not found"
I've been getting different errors experimenting with parameter and structure learning using the example notebooks. I've tried the examples in the book and the notebooks referenced below (available in the pgmpy and pgmpy_notebook distributions).

I've cloned the latest version of the software (with earlier releases I've received different errors).

Notes:
- I've also tried the API in the book.
- T

[2017-02-08 16:01] khalibartan commented on #842
@jayurbain Our README.md needs an update we no longer need cython as dependency. How did you install pgmpy?
Please follow the instructions given in README (don't look at dependencies mentioned in README dependency section we will update that). You can use conda or miniconda for installing dependencies (recommended). If you still face issues ping me back.

[2017-02-08 16:08] khalibartan commented on #842
@jayurbain Our README.md needs an update we no longer need cython as dependency. How did you install pgmpy?
Please follow the instructions given in README (don't look at dependencies mentioned in README dependency section we will update that). You can use conda or miniconda for installing dependencies (recommended). If you still face issues ping me back.

[2017-02-08 19:30] jayurbain commented on #842
First, I tried to install pgmpy in an existing python 3.5 conda environment with the latest Scipy, Pandas, NumPy, etc.
$ git clone https://github.com/pgmpy/pgmpy
$ cd pgmpy
$ conda install --file requirements.txt <- this failed due to the versions in requirements.txt
$ sudo python setup.py install <- basically worked, but I received the errors above.

Then I uninstalled pgmpy

Second, I created a

[2017-02-08 20:13] jayurbain commented on #842
Follow up: I went through the entire process again, except when I created a conda environment I installed the latest version of each required package. I was getting errors with an estimator and also had to install the wrapt package, so you should add this to your list.

Much better results.

pgmpy/examples/Learning from data.ipynb ran without any errors

pgmpy_notebook/notebooks/Learning Bayesian

[2017-02-09 04:12] khalibartan opened #843 "Updating notebooks to new API"
API used in many ipython notebooks in pgmpy_notebooks doesn't match with current API of pgmpy. We must update them.

[2017-02-09 04:15] khalibartan opened #844 "Update README.md"
Dependencies mentioned in README is not complete list of dependencies. Also we no longer need cython so we should update that. Apart from that latest version of dependencies seems to work fine for me, so we should not make the version strict (suggestions).

[2017-02-09 09:59] ankurankan commented on #844
@khalibartan We don't have cython in our requirements (https://github.com/pgmpy/pgmpy/blob/dev/requirements.txt). And AFAIK, I didn't update it to the latest versions because of some conflict between networkx and python versions.

[2017-02-09 10:01] ankurankan commented on #843
Let's keep the issues for pgmpy and pgmpy_notebooks separate. Can you please open this in pgmpy_notebooks repo ?

[2017-02-09 10:01] #843 closed, assigned to nobody

[2017-02-09 10:06] khalibartan commented on #844
@ankurankan Yes it is not in requirements.txt file but it is mentioned in our README thats what I meant.
Here is my current conda list (removed not necessary packages from the list)
[code]
This is for python3.5. Dunno about other versions but things are working fine for me as for now.

[2017-02-09 10:11] khalibartan commented on #843
@ankurankan I opened it up because it links here.New users many times uses the pgmpy book and our notebooks for understanding the API and its quite difficult for the to understand whats wrong is happening. Also fixes made here are not regularly updated in pgmpy_notebooks because new contributors don't go to pgmpy_notebooks that often.

[2017-02-09 10:17] ankurankan commented on #842
@jayurbain The first error that you are getting is because we have updated the argument name. So, just replace `estimator_type` with `estimator` and it should work. For the second error, we still don't have an implementation of Mmhc.

[2017-02-09 10:23] ankurankan commented on #843
@khalibartan We should have a different way to linking then. It will get too complicated in future to separate issues otherwise. I have already put a link to notebooks in our read me. Maybe I will put it in our examples folder also.

[2017-02-09 10:24] jayurbain commented on #842
_Thanks_
Jay

[2017-02-09 15:41] ankurankan commented on #822
@khalibartan But I feel like theano would give us more control over what we want to do. That would definitely mean writing more code on our end.

[2017-02-09 15:49] khalibartan commented on #822
@ankurankan But theano code isn't readable at all. I tried theano couple of times and found myself lost while writing the code. I'm not so sure about control though. PyTorch is also an option now, but I haven't tried it and I don't know about functionalities either but people are liking it (based on tweets). We can check it out also see if it meets our requirements.

[2017-02-09 17:42] jayurbain commented on #842
Actually I have an error I did not report earlier in 'Learning from data' notebook

Unexpected keyword argument 'prior_type' (when calling fit() )

Here's the full error:

# Learning with Bayesian Estimator using dirichlet prior for each variable.

pseudo_counts = {'D': [300, 700], 'I': [500, 500], 'G': [800, 200], 'L': [500, 500], 'S': [400, 600]}
model.fit(data, estimator=BayesianEstimator, prio

[2017-02-10 14:24] jayurbain opened #846 "Perplexing inconsistencies between ipython and jupyter notebook when executed within the same environment"
I've set up a separate conda envrionment for pgmpy which I've appended at the end of this post. Provided I run pgmpy within a python or ipython terminal, my results match the outputs of the examples posted online. So far, so good.

If I start a Jupyter Notebook up in the _same_ envrionment, i.e.,
source activate pgmpy35x1, I receive errors.

The following is the output after executing the 3rd cell

[2017-02-11 19:25] RamonBeast opened #848 "Estimating probability given complete set of evidence"
I'm sorry in advance if questions are not allowed, and if so please remove this.

I learned a network from data and I was wondering: given a complete set of evidence (so I don't need inference) how can I calculate the probability that this set has been generated by my learned model?

Thank you.

[2017-02-11 20:47] Pdogged opened #849 "JointProbabilityDistribution failure"
I'm currently going through the mastering probabilistic graphical models book and I'm experiencing two different failures associated with JointProbabilityDistribution.
First when I import the library
`from pgmpy.factors import JointProbabilityDistribution as Joint`
it returns this error
`TypeError: module.__init__() takes at most 2 arguments (3 given)`

I reinstalled using the instructions from gi

[2017-02-12 04:09] khalibartan commented on #849
@Pdogged You should get an import error since JointProbabilityDistribution is in pgmpy.factors.discrete . Did you use pip install pgmpy ? Or are you using our latest dev branch ?

[2017-02-12 04:42] Pdogged commented on #849
I'm using the non-dev branch, currently.
I was going by the mastering PGM using python book, which didn't stipulate .discrete.  I have since looked at pgmpy's docs and its now importing correctly.
Also, I want to make sure that using it correctly.
When using the book code
`print(distribution.check_independence('coin1', 'coin2'))`
I receive this error:
`TypeError: Event 1 should be a list or array-

[2017-02-12 22:46] #849 closed, assigned to nobody

[2017-02-13 08:15] ankurankan commented on #848
@RamonBeast So, if you consider you data to be i.i.d., the total probability should be the product of the probabilities of getting each individual data point. And each fully observed data point's probability can be found directly from the joint distribution over all the variables. We don't have a direct function for that in pgmpy but should be fairly easy to compute.

[2017-02-13 11:36] RamonBeast commented on #848
Thank you @ankurankan that's the kind of lead I was looking for!

[2017-02-13 17:08] linzhp opened #850 "Extend BayesianModel to accept ContinuousFactor?"
@ankurankan @khalibartan

I need to construct a Bayesian network to performance inference on non-Gaussian continuous distributions. Looks like the current implementation doesn't support that. What's the best way to do it?

Should I extend BayesianModel to accept ContinuousFactor, and update the inference algorithms?

[2017-02-13 17:43] khalibartan commented on #850
@linzhp We are actually having discussion over the fact that should we allow adding continuous factors in our bayesian model or not and how will it affect the performance and maintainability of existing BayesianModel. If you have any ideas in mind you can discuss, also pgmpy currently doesn't support inference algorithms for continuous models (even for linear Gaussian nets) you will need to add th

[2017-02-13 17:48] linzhp commented on #850
I'd love to contribute. What are the main obstacles that you are aware of?

[2017-02-13 18:38] linzhp commented on #850
Of the top of my head, learning the dependency structure and conditional probability would be hard for continuous distributions, but inferences with known dependency structure and conditional probability shouldn't be too hard, right? Maybe we could start with inference?

I just came across [this paper](http://scottdavies.net/uai2000.pdf) about learning mixture of Gaussian for Bayes net.

[2017-02-13 18:46] linzhp commented on #751
If we are going to use the same class for both discrete and continuous CPDs, how to deal with [get_cardinality](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/models/BayesianModel.py#L318) method?

[2017-02-14 00:00] csbuja commented on #850
@linzhp - That paper seems like a good approach for learning the joint distribution in a subgraph of the PGM, but in order for that to be useful, we need to be able to do continuous inference.

Thus, I think it makes sense to do prioritize implementation of inference over continuous variables, for arbitrary joint pdfs.

[2017-02-14 00:03] linzhp commented on #850
Totally agree

[2017-02-14 09:57] ankurankan commented on #850
@linzhp @csbuja You should look at #782 and #837  for getting the bigger picture and what we are planning to do. In short we are trying to have a common api over DiscreteFactor and ContinuousFactor so that our current inference algorithms work on ContinuousFactors also without much change.

[2017-02-14 09:59] ankurankan commented on #751
@linzhp We can just have a check over the kind of CPDs in the network and throw an exception if has continuous CPDs.

[2017-02-15 17:09] ankurankan opened #852 "Failing travis"
Travis is failing on our current dev: https://travis-ci.org/pgmpy/pgmpy/jobs/201953353:

[code]

@khalibartan Can you please look into this ?

[2017-02-15 17:38] #489 closed, assigned to nobody

[2017-02-15 17:53] khalibartan commented on #852
@ankurankan I'm a bit busy because of my mid-terms right now. Can you fix this?
It is not that difficult. The error is caused by backward incompatible changes made in numpy1.12 and changes in power `**` operator . I was not able to reproduce this on my personal system. Just put in a if else condition for checking whether a is 1 or -1 and when -1 just convert the expression to 1/(expression).

Foot

[2017-02-16 12:53] ankurankan opened #854 "Find a better solution to np.power of negative integers"
Ref: #852

Currently it's fixed using an if/else condition.

[2017-02-16 12:53] ankurankan commented on #852
Temporarily fixed: 1cda0fd030ddb27a1be5654466b32a47a5e1fe92

[2017-02-16 12:53] #852 closed, assigned to nobody

[2017-02-16 16:49] Mary-Kul commented on #833
When I try to update to the latest version I get this - can you help me with it?

Could not find a version that satisfies the requirement pgmpy==0.1.3 (from versions: 0.1.0, 0.1.1, 0.1.2)
No matching distribution found for pgmpy==0.1.3

[2017-02-17 14:57] #833 closed, assigned to nobody

[2017-02-17 14:57] Mary-Kul opened #855 "Is batch learning now supprted in pgmpy?"
How can I update a priory knowledge of cpds?
 As far as I understood fit function is just replacing them

[2017-02-17 15:00] #855 closed, assigned to nobody

[2017-02-20 07:39] khalibartan commented on #854
@ankurankan We can use python power function instead of numpy's. Since value is not an array so there isn't any problem in using python power function. ( Requires discussion)

Another thing I noted from the numpy release update:

combinations whose common type is float, for instance uint64 and int8. It was
felt that a simple rule was the best way to go rather than have special
exceptions for the i

[2017-02-22 12:26] krischris commented on #822
I think it's hard to overlook the easy multiple-machine or GPU parallelization of TensorFlow. Also, judging from the current trends, TF is definitely lauded as the "better Theano", so maybe more people would be interested in contributing TF code.

PS Thanks for a nice PGM library :)

[2017-02-25 09:05] cs224 opened #856 "The VariableElimination inference method delivers wrong results"
It seems that there is a bug in the variable elimination inference method.
I am following exercise 5.1 from "Doing Bayesian Data Analysis" by John K. Kruschke:
https://sites.google.com/site/doingbayesiandataanalysis/exercises

The variable elimination method delivers the right results for having ['test-positive'] and ['test-positive', 'test-negative'], but the wrong result for ['test-positive', 't

[2017-02-26 09:45] ankurankan commented on #856
@cs224 Thanks for reporting. I will look into this.

[2017-02-28 19:43] michaelrempel commented on #844
While you are at it can you please tell me where to find the parts that are installed. I am using a Ubuntu VM and I am not all that familiar with it. the find utility does not find dependencies.txt when I search for it after doing apt-get install. Your instructions should be clear enough for a programmer who does not understand your scripted install processes.

[2017-03-01 23:29] csbuja commented on #782
Hey guys. I've been continuing this implementation -- we need the normalize function for continuous factor for inference. It's used in VariableElimination. Currently this method is not shown.

[2017-03-01 23:33] csbuja commented on #782
Should we be building a class between BaseDistribution called BaseContinuousDistribution? I feel like having BaseDistribution calling integrate may be misleading. We assume that it must be continuous, without saying so.

[2017-03-02 12:51] ankurankan commented on #782
@csbuja I didn't get exactly what you mean. Can you please elaborate a bit please ?

[2017-03-02 18:42] csbuja commented on #782
In the pull request for this code, @yashu-seth asks you to move the marginalize member function, amongst others, to BaseDistribution, and you agree, since you want distributions where there aren't tricks in taking the product (e.g. not a gaussian) to fall back on those methods.

The method of implementing marginalization depends on if the distribution is continuous or discrete. Thus, we should add

[2017-03-03 06:08] #850 closed, assigned to nobody

[2017-03-03 22:58] linzhp commented on #825
@Maria-MM If MemoryError occur for more than 15 nodes, how did you predict 300 nodes?

[2017-03-03 23:48] linzhp opened #858 "Support for deterministic node?"
If the value of a node is a deterministic function (e.g., max) of its parents', which are all continuous variable, does pgmpy support such node?

@ankurankan @yashu-seth ?

[2017-03-04 18:48] Maryia-M commented on #825
@linzhp I predicted using Gibbs Sampling (it's approximate method). Exact inference causes MemoryError, not Gibbs.

[2017-03-05 12:59] ankurankan commented on #858
@linzhp: No you won't be able to do inference on such models right now with pgmpy. We are working on adding this feature.

[2017-03-05 17:09] #858 closed, assigned to nobody

[2017-03-08 11:01] michaelrempel opened #859 "New installer error"
I installed successfully a few days ago, but now I get an error installing.
no lapack/blas resources found

running either 3.5 or 2.7.12 on a fresh install.
This happens on ubuntu 16.04 and debian 8.x

I would appreciate a quick fix if available.

[2017-03-08 11:45] ankurankan commented on #859
@michaelrempel You need to install lapack or blas. Just Google for installation instructions for your operating system.

[2017-03-09 19:26] michaelrempel commented on #859
I did that. The error message could be clearer. The way it is suggests a bug in the installer.