[2013-09-21 08:28] snigam3112 opened #1 "Bayesian Base Class"
This must include basics as shown in README.md

[2013-09-21 09:41] ankurankan commented on #1
Networkx node structure example:

[code]

[2013-09-21 10:03] snigam3112 commented on #1
Since the states A,B,C will also require a boolean attached to them, we would be required to use a dictionary, right?
But, if we use a dictionary, we will lose the "ordering" of the states.
Thoughts?

[2013-09-21 10:10] ankurankan commented on #1
We can use OrderedDicts. What do you think?

[2013-09-21 10:13] snigam3112 commented on #1
Yes. Just reading through it. They are supported Py2.7+

[2013-09-21 10:28] snigam3112 commented on #1
Do I add checks for correct data type passed in each function?

[2013-09-21 10:31] ankurankan commented on #1
Yes..

[2013-09-21 10:32] snigam3112 commented on #1
Also, to maintain the relationship between the internal alphabetical order of states and user-defined order, will I map:
1. state-name from alphabetical order and index from user-defined order
2. index from alphabetical order and index from user-defined order

If 2 then, we can't use OrderedDict as it does not allow indexing. If 2, we will have to use tuples.

[2013-09-28 18:07] abinashpanda opened #5 "Incorrect usage of __ for naming private methods."
According to this link I found
http://igorsobreira.com/2010/09/16/difference-between-one-underline-and-two-underlines-in-python.html
_ should be used instead of __ for naming private methods. So __string_to_tuple should be renamed to _string_to_tuple.

[2013-09-28 20:10] #5 closed, assigned to ankurankan

[2013-09-28 20:46] pramttl opened #7 "Creating visual models for PGM graphs. What would be an idea entry point to visualization?"
Should we have some sort of a BayseanModel obj.visualize() function that opens the browser for the user and renders the graph for him?

Any better idea?

[2013-09-28 20:55] ankurankan commented on #7
@pramttl We were actually thinking of something like [SAIMAI](http://reasoning.cs.ucla.edu/samiam/) in which the user would be able to do everything interactively like create graph, assign CPD's, add observations etc. Since using the library directly from python requires a lot of effort having some interactive application would really simply it for the user.

[2013-09-29 03:43] snigam3112 commented on #7
@pramttl you could see the sample in Lecture 2-8

[2013-09-29 11:03] ankurankan opened #9 "Travis build failing"
Build failing because of change in function names.

[code]

[2013-09-29 11:07] ankurankan opened #10 "PEP8 not followed in BayesianModel.py"
Running pep8 on BayesianModel.py is giving this output:

[code]

[2013-09-30 11:00] ankurankan opened #11 "Integrate sphinx autodoc"

[2013-10-02 08:03] snigam3112 opened #12 "Setting of Semester Objectives"
After the talk with NSR and his insistence on being able to show applications, I have come up with the following objectives for us.

The basic course structure is divided into Representation, Inference and Learning. We will only finish the Representation part.
That means:
1. Watching of video lectures till (and including) module 8.
2. Completing the first three programming assignments.
( https://c

[2013-10-08 15:24] #11 closed, assigned to ankurankan

[2013-10-08 15:29] #10 closed, assigned to snigam3112

[2013-10-08 15:29] #9 closed, assigned to ankurankan

[2013-10-16 05:47] abinashpanda opened #14 "Participation in Scipy India 2013"
# Scipy India 2013 (scipy.in)

is from 13th December to 15th December. It is a conference providing opportunities to spread the use of the Python programming language in the Scientific Computing community in India.

I was planning on giving a presentation on our library pgmpy. (http://scipy.in/2013/call-for-proposals/). Final date for submission of proposal in 24th November, 2013.

**Only submissi

[2013-10-16 08:45] ankurankan commented on #14
Let's make a proper list of required features then. I still haven't
received any confirmation on the proposed objectives for the semester that
I put on GitHub.

Regards,
Shikhar Nigam
Fourth Year, B.Tech
IIT (BHU), Varanasi

On 16 October 2013 11:17, Abinash Panda notifications@github.com wrote:

[2013-10-17 08:46] snigam3112 commented on #12
@abinashpanda @ankurankan @gargshashank5 @pramttl @pgmpy Comment here, please.

[2013-10-17 17:33] ankurankan commented on #12
Yes I agree with the objectives but since we are looking forward to presenting pgmpy at Scipy India we will need to at least complete all this before 24th nov.

[2013-10-18 09:24] ankurankan opened #15 "Adding separate module for different formats of CPDs"
CPDs can be of different types:
1. tabular
2. tree
3. noisy-OR/AND
etc.

We require to be able to convert between these. These codes will be placed in a separate module which will then be imported into other files.

[2013-10-18 09:39] ankurankan opened #16 "Factor Product"
Calculation of Factor Products

Assignment#1 : Part 2
https://class.coursera.org/pgm-003/assignment/index

[2013-10-18 09:41] ankurankan opened #17 "Factor Marginalization"
Ass#1 : Part 4
https://class.coursera.org/pgm-003/assignment/index

[2013-10-18 09:42] ankurankan opened #18 "Computing the Joint Distribution"
Part 8
https://class.coursera.org/pgm-003/assignment/index

[2013-10-18 09:43] ankurankan opened #19 "Computing Marginals"
Part 10
https://class.coursera.org/pgm-003/assignment/index

[2013-10-18 09:50] snigam3112 commented on #16
This function should compute the product of two factors.

[2013-10-18 09:50] snigam3112 commented on #17
This function should sum over the given variables in a given factor and return the resulting factor.

[2013-10-18 09:52] snigam3112 commented on #18
This function should return a factor representing the joint distribution given a set of factors that define a Bayesian network. You may assume that you will only be given factors defining valid CPDs, so no input validation is required.

[2013-10-18 09:52] snigam3112 commented on #19
This function should return the marginals over input
variables (the input variables are those that remain in the marginal), given a set of factors
that define a Bayesian network, and, optionally, evidence.

[2013-10-18 09:56] snigam3112 opened #20 "Observing Evidence"
This function should modify a set of factors given the observed values of some of the variables, so that assignments not consistent with the observed values are set to zero (in effect, reducing them). These factors do not need to be re-normalized.

[2013-10-18 10:04] snigam3112 opened #21 "Constructing Mendelian, Non-mendelian and decoupled Bayesian networks for Genetic Inheritance"
Programming Assignment 2
https://class.coursera.org/pgm-003/assignment/index

[2013-10-18 10:35] snigam3112 opened #22 "FInding out if Coursera inference engine is available"

[2013-10-24 07:47] abinashpanda commented on #22
In the programming assignment 3, they have provided an inference engine **<code>libDAI</code>  -  A free/open source C++ library for Discrete Approximate Inference**. (http://staff.science.uva.nl/~jmooij1/libDAI/), The source code for <code>libDAI</code> is also available with the assignment.
<code>libDAI</code> has a python interface (implemented using SWIG) but that is an experimental one. So wh

[2013-10-24 08:21] snigam3112 commented on #22
I vote, that for the time being, we use the C++ library, since this is
technically in the "application" part of our project and not part of the
library per se.

Regards,
Shikhar Nigam
Fourth Year, B.Tech
IIT (BHU), Varanasi

On 24 October 2013 13:17, Abinash Panda notifications@github.com wrote:

[2013-10-24 09:35] abinashpanda commented on #22
@snigam3112 Now we can go for C++ library. It is **not only used in "application" part of our project, but it would be part of our library also.**

[2013-10-24 09:45] gargshashank5 commented on #22
We can use the C++ library for scipy. After that we will write our own inference engine.

[2014-01-01 09:15] ankurankan opened #41 "test_class_init_with_data_selfloop failing"
[code]

[2014-01-01 10:14] ankurankan opened #44 "test_class_init_with_data_cycle failing"
[code]

[2014-01-10 05:41] ankurankan opened #55 "Pretty Tables"
If `get_cpd` is called with `pretty=True` then it should print a table like this:

[code]

[2014-01-10 05:46] ankurankan opened #56 "Replace marginal_probability function"
Current marginal_probability function uses numpy's kron and this should be replaced by variable elimination.

[2014-01-29 02:20] abinashpanda opened #59 "Creating setup.py for installation."
Created a <code>setup.py</code> for installation of pgmpy. Changes done:
- Moved the <code>src</code> and <code>tests</code> to <code>pgmpy</code>.
- Moved <code>Factor.py</code> to new folder <code>Factor</code>.
  Current Structure:
  <pre><code>
  |-- pgmpy
  |   |-- BayesianModel
  |   |   |-- BayesianModel.py
  |   |   |-- CPD.py
  |   |   |-- __init__.py
  |   |-- Exceptions
  |   |   |-- Ex

[2014-02-12 17:22] ankurankan opened #63 "IMap Class"
Create a new class IMap. I-Map is a set of Conditional Independence or Independence assertions.

[2014-02-17 17:21] ankurankan commented on #63
https://github.com/pgmpy/pgmpy/pull/64

[2014-02-17 17:21] #63 closed, assigned to ankurankan

[2014-02-17 18:01] ankurankan opened #65 "Implementing reading from and writing to various file formats"
- [x] **ProbModelXML:** http://leo.ugr.es/pgm2012/submissions/pgm2012_submission_43.pdf
- [ ] **DNET_1:** https://www.norsys.com/downloads/DNET_File_Format.txt
- [ ] **Elvira:** http://leo.ugr.es/elvira/devel/Formato/formato.html
- [x] **XML BIF:** http://www.cs.cmu.edu/~fgcozman/Research/InterchangeFormat/
- [ ] **MSBNx:** http://research.microsoft.com/en-us/um/redmond/groups/adapt/msbnx/
- [x] *

[2014-02-17 18:07] ankurankan opened #66 "Setup gh-pages branch"
Setup Sphinx to autogenerate docs after each commit.

[2014-02-19 03:30] ankurankan opened #67 "Features related to I-Equivalence"
1. Check if two models are I-Equivalent.
2. List all the set of graphs over _X_ with same I-Equivalence.

[2014-02-19 03:46] ankurankan opened #68 "Method for building a minimal I-Map"
Implement a method to construct a minimal I-Map given a Probability distribution and an ordering of random variables.

[2014-02-19 03:52] ankurankan opened #69 "read-write from ProbModelXML"
ProbModelXML: http://leo.ugr.es/pgm2012/submissions/pgm2012_submission_43.pdf

For the student example the ProbModelXML file should be:

[code]

Someone please go through the paper and check if the above example is correct.
@gargshashank5 @abinashpanda

[2014-02-25 03:44] ankurankan opened #72 "Correct error in tests"
@abinashpanda, @gargshashank5 : Running tests gives this error:

[code]

[2014-02-26 02:09] ankurankan opened #74 "Tests for is_active_trail, active_trail_nodes"
Need to add tests for `is_active_trail` and `active_trail_nodes` functions and `Factor` submodule.

[2014-03-03 11:28] #59 closed, assigned to nobody

[2014-03-03 11:38] #21 closed, assigned to nobody

[2014-03-03 11:39] #18 closed, assigned to nobody

[2014-03-03 11:39] #17 closed, assigned to nobody

[2014-03-03 11:39] #16 closed, assigned to nobody

[2014-03-03 11:40] #14 closed, assigned to nobody

[2014-03-06 13:11] abinashpanda commented on #66
Sphinx setup is done in readthedocs (pgmpy.readthedocs.org). It automatically builds after each commit.

[2014-03-06 13:11] #66 closed, assigned to ankurankan

[2014-03-06 14:55] #12 closed, assigned to nobody

[2014-03-06 16:27] johnymontana opened #79 "setup.py does not specify include_dir for numpy headers"
This results in an error when building pgmpy: `'numpy/arrayobject.h' file not found`. setup.py should use `include_dir = [np.get_include()]` to specify include directory.

[2014-03-10 13:41] #79 closed, assigned to nobody

[2014-03-10 13:44] #1 closed, assigned to nobody

[2014-03-11 08:58] ankurankan commented on #72
Use `sudo python3 setup.py develop` to generate .so file in the source directory.

[2014-03-11 08:58] #72 closed, assigned to abinashpanda

[2014-03-15 09:39] ankit-maverick opened #83 "Error with is_active_trail"
[code]

[2014-03-15 22:14] navinchandak commented on #68
I am onto it.
Just had a small query. What should be the way of taking the input for the distribution. We can't possibly ask the user to enter m^n values where m=number_of_values_for_each_node and n = number of nodes.
Maybe the user can enter the factors of the distribution one after the other? (We can take factors , the variables associated with it and the m^n1 values where n1 = number of variabl

[2014-03-16 02:12] ankurankan commented on #68
@navinchandak : I would like to have this function to be a method of `ProbabilityDistribution` class which should be inheriting the `Factor` class. And we can surely ask the user for m^n values for constructing the `ProbabilityDistribution` class. Whenever the user inputs these many values it's always from a file so it wouldn't really be a problem.

[2014-03-16 02:51] ankurankan commented on #83
Resolved https://github.com/pgmpy/pgmpy/commit/126a4ee91d6e7fab7ba860e34f2e71f385fa0bfe

[2014-03-16 02:51] #83 closed, assigned to nobody

[2014-03-16 11:59] navinchandak commented on #67
@ankurankan I have implemented 1 . Kindly take a look.

Also, do you really want all the graphs with same I-equivalence. The number of such graphs could be exponential in the size of the edges. Also what purpose does it serve?

[2014-03-16 12:18] ankurankan commented on #67
@navinchandak Yes I want all the graphs with the same I-equivalence. We are
writing a library so we should provide each and every functionality that is
possible. It is the user who decides whether he wants to use it or not.
On 16-Mar-2014 5:29 pm, "navinchandak" notifications@github.com wrote:

[2014-03-16 13:52] navinchandak commented on #67
@ankurankan  Okay.. Do you want a list of all the directed graph objects as the return value?
What I was trying to ask was if this functionality would be useful. As in, I was not able to think of a situation where this would be useful. Can you give me an example?

[2014-03-17 18:38] jp111 commented on #65
Which of these are preferred? Also please give a rough idea of how much time will be consumed in one so that I can better plan schedule and decide time-line for project.

[2014-03-18 02:14] ankurankan commented on #65
We don't have any preference over the formats. You can look at the
implementation of ProbModelXML to get a basic idea of what you will have to
do.

I would suggest you to select 3 file formats and allocate 4 weeks on each.
One week for understanding the format and discussing it's implementation,
one week for implementing its reader class, one week for implementing its
writer class and then one wee

[2014-03-18 02:36] ankurankan commented on #67
No, not a list of graph objects.
@abinashpanda @gargshashank5 : What do you think should be the return value?

One simple situation might be while learning someone simply wants to see all graphs.

[2014-03-24 04:05] ankurankan opened #86 "Class for Joint Probability Distribution"
Implement a class for Joint Probability Distribution and related features.

[2014-03-25 06:26] ankurankan opened #93 "Add factor_product method"
Add `factor_product` method inside `Factor` class returning a new Factor object which is the factor product of itself and the arguments.

[2014-04-01 07:54] ankurankan commented on #65
Git markdown messed with the xml file. The correct image and file is follows

https://lh5.googleusercontent.com/-JaAZWwk0yfU/UzpwyeKVZMI/AAAAAAAACDc/j_RH6rHzh1k/s1600/CANCER.GIF

<?XML VERSION="1.0"?>

<!DOCTYPE BIF [
<!ELEMENT BIF ( NETWORK )_>
<!ELEMENT PROPERTY (#PCDATA)>
<!ELEMENT TYPE (#PCDATA)>
<!ELEMENT VALUE (#PCDATA)>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT NETWORK
    ( NAME, ( PROPERTY | VA

[2014-05-18 12:37] #74 closed, assigned to abinashpanda

[2014-05-18 12:41] ankurankan commented on #74
84e876938c57f8cf033d7d043f95855ee6906a93

[2014-05-18 13:08] #93 closed, assigned to ankurankan

[2014-05-19 04:55] ankurankan commented on #67
PR: #85

[2014-05-21 06:21] ankurankan opened #109 "__str__ method for Factor class not working"

[2014-05-22 08:19] #109 closed, assigned to ankurankan

[2014-05-23 06:42] ankurankan opened #112 "Add is_imap method to BayesianModel and JointProbabilityDistribution classes"
Add these methods:
1. `BayesianModel.is_imap(JointProbabilityDistribution)`
2. `JointProbabilityDistribution.is_imap(BayesianModel)`

[2014-05-23 07:29] ankurankan opened #113 "Factor class __str__ method printing in wrong order"
[code]

[2014-05-23 08:05] #113 closed, assigned to ankurankan

[2014-05-23 08:57] ankurankan opened #116 "Fix __repr__ method of Factor Class"
Need to format the output of **repr**.
Current output:

[code]

[2014-05-26 06:43] ankurankan opened #122 "Methods modifying Factor object"
Some of the factor class methods like: `reduce`, `normalize`  and `marginalize` modify the object on which they are called.
But we will sometimes be needing to get new objects without modifying the original object like in the case of `check_independence` and `get_independencies` methods in `JointProbabilityDistribution` class.

For making it work I had to do something like this:

[code]

I think w

[2014-05-26 08:28] ankurankan opened #123 "Support for XML Belief Network File Format"
http://xml.coverpages.org/xbn-MSdefault19990414.html

[2014-05-28 02:59] ankurankan opened #126 "Local Independencies in Bayesian Model"
Add a method to return the local independencies in a Bayesian Model given the node/nodes.

[2014-05-28 04:24] ankurankan opened #128 "Tests failing because Travis can't find isclose method of numpy"
[code]

@abinashpanda Could you please look into it? I couldn't find anything.

[2014-05-29 04:50] ankurankan opened #129 "__str__ method for IndependenceAssertion Class"

[2014-05-29 06:57] ankurankan opened #130 "Tests for BayesianModel.local_independencies"
Tests are needed for `BayesianModel.local_independencies`

[2014-05-29 07:01] ankurankan opened #131 "Implement Factor Graph and Log Linear Model"

[2014-05-29 07:20] #126 closed, assigned to ankurankan

[2014-05-30 02:11] ankurankan opened #133 "Method to find moral graph of a Bayesian Network"

[2014-05-30 03:29] #133 closed, assigned to ankurankan

[2014-05-30 04:01] ankurankan commented on #131
Gist for `factor_graph` method for Markov Network: https://gist.github.com/ankurankan/602850c59eed253765d2

[2014-05-31 02:55] ankurankan opened #135 "Implement Tree CPD"

[2014-05-31 14:42] ankurankan opened #137 "Representation of Factor class"
The current values of Factor class is set with the left most variable changing the fastest:

[code]

But in Koller's book the representation is with right most variable changing the fastest.

Which representation should we go with?
@abinashpanda @gargshashank5

[2014-05-31 14:53] abinashpanda commented on #137
@ankurankan We can go with any representation, it doesn't matter much and I don't think it would take much work to change it. But, I think most of the file formats for pgm define the factor graph (not sure, if you could comment on it), so it is better to go with this.
What do you think?

[2014-05-31 14:59] ankurankan commented on #137
@abinashpanda Better to go with which one?

[2014-05-31 15:01] abinashpanda commented on #137
@ankurankan I suggest we would stick with this one. I don't feel any need
to change the api again.

On Sat, May 31, 2014 at 8:29 PM, Ankur Ankan notifications@github.com
wrote:

##

Best Regards,

## Abinash Panda

B.Tech Final Year (2014)
Electronics Engineering
Indian Institute of Technology (BHU), Varanasi
+91-9451169612
skype id : panda.abinash

[2014-05-31 15:24] ankurankan commented on #137
@abinashpanda I think we need to change this. Changing the right most variable faster in the standard way. Even file formats (XML Belief Network, XMLBIF etc) represent it in that way. If we stick to our current implementation we will need to convert their representation to our representation  (which would be extra computation) and also it will get our users confused.

What do you say?

[2014-05-31 15:34] abinashpanda commented on #137
@ankurankan Ok. I am fine with it.
On May 31, 2014 8:54 PM, "Ankur Ankan" notifications@github.com wrote:

[2014-06-01 03:06] ankurankan opened #139 "Tests for TreeCPD class"

[2014-06-02 03:37] ankurankan opened #140 "Implement RuleCPD"

[2014-06-02 03:39] ankurankan opened #141 "Implement Multinets representation"

[2014-06-02 03:39] ankurankan opened #142 "Implement Similarity Network representation"

[2014-06-02 03:40] ankurankan opened #143 "Implement d-separation for context-specific CPDs (CSI sep)"

[2014-06-02 03:42] ankurankan opened #144 "Method for computing local CSI"

[2014-06-02 03:43] ankurankan opened #145 "Implement method for determining spurious edges"

[2014-06-03 03:07] ankurankan opened #147 "Implement Noisy-Or Model"

[2014-06-03 03:07] ankurankan opened #148 "Implement Linear Models"

[2014-06-09 07:00] ankurankan commented on #140
bf8e294b90408b1b4db9af303828cad6e1a6365f

[2014-06-11 04:27] ankurankan opened #154 "__str__ method for TabularCPD"
Since `TabularCPD` is inherited from `Factor`, it uses the **str** method of the `Factor` class which basically shows the joint probability distribution of the TabularCPD. We need to change this to a better representation.

[2014-06-11 06:35] ankurankan opened #155 "Tests for to_tabular_cpd"

[2014-06-11 06:36] ankurankan opened #156 "Add to_tree_cpd method to RuleCPD"
Add a method `to_tree_cpd` which would return the `TreeCPD` representation of the RuleCPD.

[2014-06-11 06:37] ankurankan commented on #140
Fixed 0559cabaa58f78aa0936b87cc206df5bb8b64432

[2014-06-11 06:37] #140 closed, assigned to ankurankan

[2014-06-12 02:07] ankurankan opened #158 "Bug in local_independencies"
[code]

The elements of `event1` should not be in `event2`.

[2014-06-12 02:09] ankurankan opened #159 "Bug in active_trail_nodes"
[code]

[2014-06-12 04:24] #129 closed, assigned to ankurankan

[2014-06-12 04:24] #158 closed, assigned to ankurankan

[2014-06-12 04:30] ankurankan opened #161 "Tests for local_independencies of BayesianModel"

[2014-06-17 07:19] ankurankan opened #166 "Tests for RuleCPD.to_tree_cpd and TreeCPD.to_rule_cpd"

[2014-06-18 03:46] ankurankan commented on #156
92e99352e42d381630c139859b99eebdede734bd

[2014-06-18 03:46] #156 closed, assigned to nobody

[2014-06-18 03:47] #135 closed, assigned to ankurankan

[2014-06-18 04:23] abinashpanda commented on #122
@ankurankan I am fine with `def marginalize(self, variables, inplace=True)`.

[2014-07-30 16:24] ankurankan opened #171 "Identity/ Unit Factor"
Implement the functionality to define an identity/ unit factor which when multiplied with any other factor returns the factor itself.

https://groups.google.com/forum/#!topic/pgmpy/IXKXb36bHmY

[2014-07-30 17:04] ankurankan commented on #171
@navinchandak For Identity Factor you could simply use a Factor with the same variables and cardinality having all the values equal to 1.

Example:

[code]

For this you can create the unit factor as:

[code]

[2014-07-30 17:45] ankurankan opened #172 "Fix factor product"

[2014-07-31 03:55] ankurankan opened #173 "Modify Bayesian Model to accept any hashable object as the node name."

[2014-07-31 04:58] ankurankan opened #174 "Implement Markov Models"

[2014-07-31 21:29] navinchandak commented on #171
@ankurankan So in the case when I need it, I really don't know what I will be multiplying the unit factor with. It is basically the base case in a recursive function. So the above solution will not work.
(Ofcourse there are hacky solutions like passing a None and then not doing any mutiplication when we see a None, but they are hacky. A identity factor is the best solution)
And yes, identity facto

[2014-08-01 00:41] ankurankan commented on #171
@navinchandak Show me the code where you need it.

[2014-08-05 02:36] ankurankan opened #177 "Add method to return the cardinality of variables in Markov Model"

[2014-08-05 08:44] navinchandak commented on #171
@ankurankan Sorry I missed replying to this. So please go to the file
https://github.com/navinchandak/pgmpy/blob/dev/pgmpy/MarkovModel/JunctionTree.py
Now if you see the _push function, I am passing an empty_factor which is just None to _push_h. And in _push_h, I am not doing the multiplication if the passed thing is None.(The effect is same as multiplying with a Identity Factor). It would be a go

[2014-08-17 02:29] ankurankan opened #180 "Better __str__ method for Factor"
Currently the space between the variables is fixed to two tabs. Make it variable according to the len of the variable name.

[2014-08-17 03:30] #172 closed, assigned to ankurankan

[2014-08-17 03:32] ankurankan opened #182 "Cythonize factor product"
The current implementation of `_bivar_factor_product` does a lot of index access of the values. Cythonizing this function should make it a lot faster.

[2014-08-17 03:33] #177 closed, assigned to ankurankan

[2014-08-17 03:34] ankurankan opened #183 "Tests for triangulate method in Markov Model"

[2014-08-17 04:14] ankurankan opened #184 "Tests for TabularCPD class"

[2014-08-17 06:15] ankurankan opened #186 "Induced Graph"
Method to return the induced graph of a Bayesian Model or Markov Model given the order of variables for variable elimination.

[2014-08-18 04:41] ankurankan opened #187 "Implement Variable Elimination"

[2014-08-21 02:14] #186 closed, assigned to ankurankan

[2014-08-21 04:53] ankurankan opened #189 "More heuristics for graph triangulation"
- [ ] Min-neighbors
- [ ] Min-weight
- [ ] Min-fill
- [ ] Weighted-min-fill

[2014-08-21 06:01] ankurankan opened #190 "Benchmark framework"
Can use datasets from http://www.bnlearn.com/bnrepository/

[2014-08-24 15:29] #173 closed, assigned to ankurankan

[2014-08-25 02:41] ankurankan opened #194 "Allow Bayesian Model to accept TreeCPD and RuleCPD"

[2014-08-26 01:59] ankurankan opened #196 "Fix Tests"

[2014-08-26 02:54] ankurankan opened #198 "Bug in TabularCPD marginalize"
Since the data structure of `Factor` was changed and `TabularCPD` inherits from it and uses `Factor.marginalize` in `TabularCPD.marginalize`, we need to update the `TabularCPD.marginalize` so that it calls `Factor.CPD` properly.

[2014-08-26 02:57] ankurankan opened #199 "Bug in TabularCPD's reduce method"
Since the data structure of `Factor` was changed and `TabularCPD` inherits from it and uses `Factor.reduce` in `TabularCPD.reduce` we need to update the `TabularCPD.reduce` so that it calls `Factor.CPD` properly.

[2014-08-28 01:57] #196 closed, assigned to ankurankan

[2014-08-28 05:17] ankurankan opened #200 "Complete to_tabular_cpd method of TreeCPD"

[2014-08-28 05:18] ankurankan opened #201 "Tests for TreeCPD.to_rule_CPD"

[2014-08-28 05:19] ankurankan opened #202 "Add more tests in RuleCPD"

[2014-08-29 02:50] #198 closed, assigned to nobody

[2014-08-29 02:50] #199 closed, assigned to ankurankan

[2014-08-30 08:38] ankurankan commented on #190
For Markov networks: http://graphmod.ics.uci.edu/uaifiles/benchmarks/

[2014-09-02 12:22] ankurankan opened #204 "Travis using python 2.7"
https://travis-ci.org/pgmpy/pgmpy/builds/33866645#L35

[2014-09-02 12:33] abinashpanda commented on #204
`python --version` shows the version of python before setting up the virtual environment. You could see the logs after the virtual environment is set up. Just look for `source continous_integration/install.sh`, you will find that we are using `Python 3.4`. I think we should remove `python --version` before installation. This is very ambigous. Thanks for pointing that.

[2014-09-02 12:33] #204 closed, assigned to abinashpanda

[2014-09-04 04:07] ankurankan opened #205 "Making methods consistent in Bayesian and Markov models"
Taking the example of adding Factor to Markov and CPD to Bayesian model, the `set_cpd` method can directly accept a 2D array whereas the `add_factor` method of Markov model accepts a `Factor` object. Making the arguments similar for both these methods would make it more intuitive to the user.

I think we should change `set_cpd` to accept an object as argument because we also want the Bayesian Mode

[2014-10-30 18:33] ankurankan opened #210 "Parallel for loops in factor product"
`joblib` can be used to take a parameter for using number of parallel processes in factor product/divide.

[2014-10-31 05:23] #201 closed, assigned to nobody

[2014-11-01 08:52] snigam3112 opened #215 "Line 74 in MarkovModel.py should say add_edge('node1', 'node2')"

[2014-11-01 09:06] #215 closed, assigned to nobody

[2014-11-03 10:55] ankurankan opened #219 "Add check method to all the models"
Add a method `check_model` in all the models which would validate everything about the model. For example in case of Bayesian Model check if the variables in all the CPDs associated are in the model.

[2014-11-04 08:10] ankurankan opened #222 "Bug in Factor's reduce method"
[code]

Expected Behavior:

[code]

[2014-11-15 04:09] ankurankan commented on #182
Since we are already using numpy arrays we won't see much improvement on cythonizing it.

[2014-11-15 04:09] #182 closed, assigned to nobody

[2014-11-26 04:13] ankurankan opened #224 "Add fit and predict methods to models"

[2014-11-28 22:14] ankurankan opened #226 "Implementation of continuous random variables"

[2014-11-29 20:42] ankurankan opened #227 "Use numpy arrays in the whole codebase."
Mixing of numpy arrays and python lists in the codebase is causing problems because of their different behaviors. Therefore move everything to numpy arrays.

[2014-11-30 06:50] abinash-panda opened #229 "Inplace argument factor operation methods."
Currently the methods `Factor.marginalize`, `Factor.normalize` and `Factor.reduce` operates inplace and change the object. Have to introduce `inplace` argument, if set to `False` would return a new `Factor` object.

[2014-11-30 07:15] abinash-panda opened #230 "Refactor pgmpy codebase to create base class for Directed and Undirected Graphs"
- Currently, the models implemented in `pgmpy` (`BayesianModel`, `MarkovModel` and `NoisyOrModel`) all derive for either `networkx.DiGraph` and `networkx.Graph`.
- All the graph related operations that are not present in `networkx` are currently implemented in the models itself. It should move to either `UndirectedGraph` or `DirectedGraph` class.

[2014-12-03 04:17] ankurankan opened #232 "Add feature for storing the state name of the random variables."
Currently we store the state names of a variables as `variable_0`, `variable_1` etc. But this can get confusing for a user so add the optional feature to add the states of the variables in a model and instead of showing `variable_0` or `variable_1`, display the actual names of the states.

[2014-12-04 05:43] ankurankan opened #233 "Broken Factor Product"
factor product throws a TypeError that input parameters must be factors.

[code]

[2014-12-12 15:34] palashahuja commented on #233
I am not really able to see the bug in my laptop.the factor product seems to be working fine for me.

[2014-12-13 05:13] ankurankan commented on #233
@palashahuja Yeah, it does work most of the time but don't know why it does break at times. We are also unable to reproduce it so will have to wait until someone sees this error again.

[2014-12-13 12:54] ankurankan opened #235 "Add optional argument inplace to moralize method"

[2014-12-14 06:44] #230 closed, assigned to nobody

[2014-12-14 06:45] ankurankan opened #239 "Refactor NoisyOrModel according to the new structure"
Currently NoisyOrModel inherits nx.DiGraph. Replace this with Directed Graph

[2014-12-14 07:36] ankurankan commented on #233
This was happening because of using ipython's autoreload extension which was calling reload.

[2014-12-14 08:06] ankurankan commented on #235
`inplace` doesn't make sense for moralize as the Graph is being converted from Directed to Undirected

[2014-12-14 08:06] #235 closed, assigned to ankurankan

[2014-12-14 08:10] #233 closed, assigned to nobody

[2014-12-14 08:13] ankurankan commented on #229
Fixed in  f780ae5

[2014-12-14 08:13] #229 closed, assigned to nobody

[2014-12-14 08:16] ankurankan opened #241 "Tests for factor divide are failing."

[2014-12-14 09:09] #241 closed, assigned to ankurankan

[2014-12-14 10:27] #159 closed, assigned to ankurankan

[2014-12-22 09:19] abinashpanda opened #244 "Remove boilerplate code for inplace operations in Factors, TabularCPDs."
Currently, in both `Factor` as well as in `TabularCPD` class, methods like `normalize`, `reduce`, `marginalize` have a `inplace` as an input argument. But the way that is implemented in the methods is:

[code]

and this code is repeated in lot of the places. Replace the boilerplate code with something more clean and elegant.

[2014-12-22 09:28] ankurankan commented on #244
We can have a look at how `pandas` implements `inplace`

[2014-12-22 18:11] jaidevd commented on #227
Any progress on this? Is someone working on this actively? This seems like a (relatively) low hanging fruit I can deal with.

[2014-12-23 03:29] ankurankan commented on #227
@jaidevd Nobody is actively working on this right now. You can go ahead with this.

[2014-12-23 15:25] abinash-panda opened #245 "Complete query method in VariableElimination class."

[2014-12-24 02:25] ankurankan opened #247 "Improve ModelError"
Right now `ModelError` just prints a message that something is wrong with the model. Improve this so that it could exactly list out things that are wrong

[2014-12-24 03:15] ankurankan commented on #187
https://github.com/pgmpy/pgmpy/pull/246

[2014-12-24 03:15] #187 closed, assigned to ankurankan

[2014-12-24 03:15] #56 closed, assigned to abinashpanda

[2014-12-24 03:16] #7 closed, assigned to nobody

[2014-12-24 03:16] #15 closed, assigned to nobody

[2014-12-24 03:17] #19 closed, assigned to nobody

[2014-12-24 03:17] #20 closed, assigned to nobody

[2014-12-24 03:17] #22 closed, assigned to abinashpanda

[2014-12-24 03:18] ankurankan commented on #116
Fixed

[2014-12-24 03:18] #116 closed, assigned to ankurankan

[2014-12-24 03:18] ankurankan commented on #128
Fixed

[2014-12-24 03:18] #128 closed, assigned to abinashpanda

[2014-12-24 03:19] ankurankan commented on #147
Fixed

[2014-12-24 03:19] #147 closed, assigned to ankurankan

[2014-12-24 04:21] ankurankan opened #248 "Parallel for loops in predict method"

[2014-12-24 04:42] ankurankan opened #249 "Bug in VariableElimination"
[code]

[2014-12-24 04:45] ankurankan opened #250 "Feature to compute Joint Distribution over multiple variables using VariableElimination"

[2014-12-24 05:19] abinashpanda commented on #210
Fixed.

[2014-12-24 05:19] #210 closed, assigned to ankurankan

[2015-01-04 18:19] #245 closed, assigned to nobody

[2015-01-07 08:33] ankurankan opened #253 "Add maximization method to factors"

[2015-01-07 12:18] ankurankan opened #255 "Make changes to marginalize and reduce"
Marginalize and reduce methods have some redundant code that can be replaced with `_index_for_assignment`

[2015-01-07 12:19] ankurankan commented on #253
Fixed in #254

[2015-01-07 12:19] #253 closed, assigned to nobody

[2015-01-07 12:51] ankurankan opened #256 "Implement Variable Elimination for MAP"

[2015-01-08 06:26] ankurankan opened #257 "Bug in maximize method"
[code]

[2015-01-08 06:48] #257 closed, assigned to ankurankan

[2015-01-08 07:17] ankurankan opened #259 "Implement algorithm for finding optimal elimination order in Variable Elimination"

[2015-01-08 07:24] ankurankan opened #260 "Implement method to compute max marginal over variables"

[2015-01-09 03:05] ankurankan opened #261 "Bug in Variable Elimination query"
[code]

[2015-01-09 03:15] ankurankan opened #262 "Fix error message"
[code]

Shows `(A -> D)` is already present but is not.

[2015-01-09 03:20] #137 closed, assigned to ankurankan

[2015-01-09 03:21] #154 closed, assigned to ankurankan

[2015-01-09 03:21] ankurankan commented on #130
Duplicate #161

[2015-01-09 03:21] #130 closed, assigned to nobody

[2015-01-09 03:21] #86 closed, assigned to ankurankan

[2015-01-09 05:04] ankurankan opened #263 "Add tests for Inference using Markov Models"
Currently tests for inference methods only use Bayesian Models. Add a few tests using markov models.

[2015-01-09 05:15] ankurankan opened #264 "Max Marginal should work with no arguments"
Currently max marginal throws an error when no arguments are passed but ideally it should be returning the largest value in the joint distribution over all the variables in the network.

[2015-01-09 05:20] ankurankan opened #265 "Fix __repr__ of TabularCPD"
[code]

[2015-01-16 05:30] ankurankan opened #267 "Faster implementation of marginalize"
Currently marginalize method uses `_marginalize_single_variable` and in the case of marginalizing over multiple variables, it iterates over the variables marginalizing each of them. Improve this implementation so that marginalization over all the variables is done in a single iteration (implementation of maximize method is done is this way).

[2015-01-21 02:38] ankurankan opened #268 "Add a method to compute induced graph"

[2015-01-21 13:56] ankurankan opened #269 "Bug in Variable Elimination query"
[code]

[2015-01-21 13:57] ankurankan opened #270 "Bug in BayesianModel's check_model method"
[code]

[2015-01-22 07:37] abinashpanda commented on #269
@ankurankan In line

[code]

it seems that the parents of node `no_of_people` is `cost` and `quality` whereas you have set the parents as `cost` and `location`.

What is surprising for me is that
`restaurant_inference = VariableElimination(restaurant)`
is not throwing exception in your case.

When I ran the code, it gave me the following exception

[code]

[2015-01-22 07:39] abinashpanda commented on #270
@ankurankan This is not a bug. This is the expected behavior. As I have mentioned in issue #269 , that according to your CPDs it seems that parents of `no_of_people` is `quality` and `cost`, whereas according to the graph it looks that its parents are `cost` and `location`.

[2015-01-22 07:39] #270 closed, assigned to nobody

[2015-01-22 07:44] abinashpanda commented on #269
With this new code

[code]

you get

[code]

[2015-01-22 07:44] #269 closed, assigned to nobody

[2015-01-22 10:11] ankurankan commented on #269
@abinashpanda I think I had commented out the check_model code before running this, that's why didn't get that error.

[2015-01-28 13:05] ankurankan commented on #205
Fixed

[2015-01-28 13:05] #205 closed, assigned to ankurankan

[2015-01-28 13:08] ankurankan commented on #174
Fixed

[2015-01-28 13:08] #174 closed, assigned to ankurankan

[2015-01-28 13:08] ankurankan commented on #171
Fixed

[2015-01-28 13:08] #171 closed, assigned to ankurankan

[2015-01-28 13:13] ankurankan commented on #122
Fixed

[2015-01-28 13:13] #122 closed, assigned to ankurankan

[2015-01-28 13:16] ankurankan opened #271 "Implementation of Variable Elimination to work with Tree and Rule CPDs"
The current implementation of Variable Elimination works only with TabularCPDs. Extend it to accept even TreeCPDs and RuleCPDs, in a way that it exploits their structure for faster computation.

[2015-01-28 14:38] ankurankan opened #272 "Add tests for check_model methods"
As discussed in #274 `check_model` should be raising errors for any inconsistencies in the model.

[2015-01-28 14:43] ankurankan opened #273 "Modify BayesianModel's check_model method to work with RuleCPD and TreeCPD"
Currently check_model considers only TabularCPD. Modify it to work with Rule and Tree CPDs also.

[2015-01-28 14:47] ankurankan opened #274 "Should check_model raise an error or just return False?"
@abinashpanda

[2015-01-28 17:11] abinash-panda commented on #274
@ankurankan IMHO it should return False. But the question is how are you going to report to user why the check_model method failed? Any suggestions?

[2015-01-29 12:19] ankurankan commented on #261
The problem is that the original `self.factors` is getting modified when Variable Elimination is run. Using `deepcopy` resolves this issue.

[2015-01-30 06:38] ankurankan opened #276 "Use prettytable for __repr__ methods"
prettytable: https://pypi.python.org/pypi/PrettyTable/0.7.2

[2015-02-01 07:46] #261 closed, assigned to abinashpanda

[2015-02-01 07:46] #264 closed, assigned to ankurankan

[2015-02-04 03:47] ankurankan opened #278 "Variable Elimination's values a bit off of what Samiam gives"
Check the values in our tests and for the model https://gist.github.com/ankurankan/9d776655882e7361af1f.
Also in the case of multiple variables with multiple evidence the values are much difference.

Check why this is happening..

[2015-02-07 12:20] kislayabhi commented on #276
Hey @ankurankan , I am on it.

Any nuances that you might want to add...

[2015-02-07 13:24] abinash-panda commented on #276
@kislayabhi Just before you start working on it, lets discuss whether we want to add dependency for such a trivial task. Your views @ankurankan ?

[2015-02-07 14:48] ankurankan commented on #276
I really think this dependency would be worth it. Right now we have hard coded spaces between the variables while printing the `Factors`. So in many cases the representation doesn't look good at all. Also we are using the same method for `TabularCPD`  which I think should have a separate method which could print it properly. And I don't think that there is a simple way to do that.

So, we could ei

[2015-02-07 15:43] abinash-panda commented on #276
My point against adding such trivial library as a dependency is that we don't want users to install another library just for printing `Factors` or `TabularCPD`. I have a good suggestion to use this library without asking the users to install it. The library is very small (21Kb), so we can add the code to our library. My proposal
- Create another submodule `extern` where we would add all the librar

[2015-02-07 16:20] kislayabhi commented on #276
Yeah. That appears cool as in a way we are using the same code but without bothering the users. It satisfies @ankurankan points too, I think.

[2015-02-07 16:22] ankurankan commented on #276
@abinash-panda @kislayabhi Only problem would be that we will have to manually update prettytables in our codebase but since it's nothing of much importance so I think we should be fine with that.

[2015-02-07 16:28] kislayabhi commented on #276
Looks like the last update of that library is quite old. It dates back to 2013. https://groups.google.com/forum/#!forum/prettytable-announce

[2015-02-07 16:34] ankurankan commented on #276
@kislayabhi Cool.. I think we can go with it then.

[2015-02-11 14:08] #278 closed, assigned to nobody

[2015-02-12 05:26] ankurankan commented on #260
Already in dev

[2015-02-12 05:26] #260 closed, assigned to ankurankan

[2015-02-12 05:44] ankurankan commented on #249
Fixed

[2015-02-12 05:44] #249 closed, assigned to nobody

[2015-02-12 05:45] ankurankan commented on #256
Fixed

[2015-02-12 05:45] #256 closed, assigned to ankurankan

[2015-02-12 05:50] ankurankan commented on #180
Duplicate #276

[2015-02-12 05:50] #180 closed, assigned to nobody

[2015-02-12 05:53] ankurankan commented on #276
#55 can also be handled along with this.

[2015-02-12 16:37] gokul-uf commented on #268
Hi @ankurankan I would like to take this up

[2015-02-13 04:35] ankurankan commented on #268
@gokul-uf Cool.. I have already written the docstring so you can see the details there.

[2015-02-13 04:38] ankurankan commented on #268
@abinashpanda Shouldn't the user be able to call induced graph without even adding CPDs/ Factors to the model? But right now we have placed this method in `VariableElimination`, so the user will have to add CPDs/Factors to get an instance of `VariableElimination`. Any better solution or should we go with it this way only for now ?

[2015-02-13 09:24] kislayabhi commented on #276
I am trying to get the pgmpy's way of handling TabularCPD. For creating something like this:

For a distribution of P(grade|intel, diff)

[code]

Is the following correct?

`final_cpd=TabularCPD('grade', 3, [[0.1,0.1,0.1,0.1,0.1,0.1],
                                  [0.1,0.1,0.1,0.1,0.1,0.1],
                                  [0.8,0.8,0.8,0.8,0.8,0.8]],
                     evidence=['difficulty

[2015-02-13 09:27] ankurankan commented on #276
@kislayabhi: It's correct. The important thing to note is just the order in which you provide the evidence variables as the same order is used for parents in the CPD.

[2015-02-13 09:30] abinash-panda commented on #276
@kislayabhi Ah..this is wrong. I think I had fixed this in the latest README.md.

[code]

The parent whose value changes fastest should be specified first.

[2015-02-13 09:55] kislayabhi commented on #276
@abinash-panda :
but then why are you keeping `evidence_card=[2,3]`, the same as before.
Won't it be reversed too?

P.S: https://github.com/pgmpy/pgmpy/blob/dev/README.md isn't updated.

[2015-02-13 10:02] abinash-panda commented on #276
@kislayabhi Yeah, it should be reversed also.

[2015-02-13 10:39] ankurankan commented on #268
@abinashpanda @gokul-uf Won't be possible to create induced graphs in the case of Markov models until we know the scopes of the factors. So @gokul-uf Please go ahead with this.

[2015-02-14 08:59] palashahuja commented on #262
It is clearly straightforward that by joining the last edge, a loop is formed. This case is not included in the above error . Hence a better error message can be : -
("Loops are not allowed . Adding the edge from (%s->%s) forms a loop" % (v,u))

[2015-02-14 13:59] abinash-panda commented on #262
@palashahuja This error message is correct. Send a PR making the changes.

[2015-02-16 08:44] kislayabhi commented on #276
Hey @ankurankan, @abinash-panda
I had a little caveat in working with PrettyTables.

There happens to be no way through which we can create two field names for a single table.

That is, if we intend to create something like this:

[code]

This would mean that we have `diff, easy and hard` as one field and the other is `intel, dumb, avg, smart, dumb, avg, smart`.

Moreover, PrettyTables doesn't all

[2015-02-16 09:21] abinash-panda commented on #276
@kislayabhi I looked the `PrettyTables` module and it seems to have very basic printing functionalities. What I am not sure is should we invest time in improving another library which is not a core part of our library? @ankurankan Your views.

[2015-02-16 11:37] palashahuja commented on #255
I have tried to replace marginalize over single variable with _index_for_assignment method in the [following gist-](https://gist.github.com/palashahuja/488050fac7a03b4acfa8). Please have a look.
@ankurankan.,@abinashpanda

[2015-02-16 11:39] abinash-panda commented on #255
@palashahuja Send a PR with the changes and make sure the tests pass. It is easier to review the code.

[2015-02-16 11:40] palashahuja commented on #255
Sure I will send it.

[2015-02-16 11:51] palashahuja commented on #255
@abinash-panda  What is the error ? Can you please explain ?

[2015-02-16 12:15] abinash-panda commented on #276
Ah..my bad. Sorry for mentioning about asciitable. It is not the library we want.

[2015-02-16 12:18] abinash-panda commented on #276
@kislayabhi Look at the https://pypi.python.org/pypi/tabulate module. It seems to have support for multiple headers.

[2015-02-16 12:24] #262 closed, assigned to nobody

[2015-02-16 13:18] kislayabhi commented on #276
I am able to get it like the following from tabulate module:

[code]

Multiple headers are still not there so in the above format, I haven't assigned any headers at all. The feel of the table appears fine.

[2015-02-16 13:21] ankurankan commented on #276
@kislayabhi I think this is okay. @abinash-panda What do you think?

[2015-02-16 14:54] abinash-panda commented on #276
@kislayabhi Go ahead with it.

[2015-02-17 06:12] abinash-panda commented on #262
@palashahuja Please don't close the PR until its merged. It would be better to have all the comments and changes in a single PR.

[2015-02-18 02:39] abinashpanda opened #283 "Create ClusterGraph class"
- Currently we don't have any class in class to represent cluster graph. Create a `ClusterGraph` class.
- `JunctionTree` class should inherit from `ClusterGraph` instead of `UndirectedGraph` as junction tree (or clique tree) are a special case of cluster graph.
- Add `to_cluster_graph()` method in `BayesianModel`, `MarkovModel` and `FactorGraph`.

[2015-02-18 02:42] abinashpanda commented on #283
@ankurankan Before I start working on it, let me know if you have any suggestions regarding the issue.

[2015-02-18 12:43] ankurankan opened #284 "Interface for allowing users to add their own CPDs formats."

[2015-02-18 12:45] ankurankan opened #285 "Add support for Dynamic Bayesian Networks (DBNs)"

[2015-02-18 12:48] ankurankan opened #286 "Interface for allowing users to add their own inference algorithms."

[2015-02-18 13:39] ankurankan opened #287 "Add conditional probability table (CPT) to CPD"
Tabular CPD is popularly also known as CPT. So add support for CPTs as well.

[2015-02-18 14:12] ankurankan opened #288 "Add method to compute induced graph width"

[2015-02-25 13:47] ankurankan commented on #267
Fixed in https://github.com/pgmpy/pgmpy/pull/282

[2015-02-25 13:47] #267 closed, assigned to nobody

[2015-02-25 13:59] palashahuja commented on #259
@ankurankan Is the following paper okay for this implementation ?
[The paper](http://consystlab.unl.edu/our_work/StudentReports/Working-Note-1-2010.pdf)

[2015-02-25 14:03] palashahuja commented on #259
This mainly uses the min-fill heuristic basically which is proved to be quite optimal for variable elimination.

[2015-02-25 14:08] palashahuja commented on #259
Also in [bug#189](https://github.com/pgmpy/pgmpy/issues/189) , the  heuristics which are specified are mainly used for variable elimination. How should I go about the implementation ?

[2015-02-26 02:50] abinashpanda opened #290 "Correct equality method for factors."
At present in the `__eq__` method in `Factor` class, we just check whether the variables, cardinalities of variables and values are same or not. This would work fine only when the order of variable in both the factor remains the same. It would fail in the following example

[code]

Whereas the two factors `phi_1` and `phi_2` are same. Only the ordering have changed.

[2015-02-26 02:51] abinashpanda commented on #290
@ankurankan If you could have a look at this issue.

[2015-02-26 02:58] abinashpanda opened #291 "Correct method to create junction tree in Markov Model."
There is a bug in creation of initial potential of junction tree. Instead of simply multiplying the factors of a clique to create the initial potential, we are marginalizing it. Although mathematically that is not wrong, but marginalizing it an expensive task and we could perform this by belief propagation.

[2015-03-02 08:20] palashahuja commented on #222
@ankurankan expected behaviour for

[code]

[2015-03-02 10:05] ankurankan commented on #222
@palashahuja

[code]

[2015-03-02 13:40] ankurankan opened #299 "Don't print the complete Tabular CPD when the table is too large"
Try with this CPD to see what happens when table is too large:

[code]

[2015-03-02 13:55] palashahuja commented on #222
@ankurankan
Could you please explain why do all the terms should not reduce to null value when they are reduced simultaneously. Instead,what we can do  is make some changes in the `_repr_` function  so that when the table doesn't contain any value, there should be a default error statement. Also, should I add the above two cases in the test cases ?

[2015-03-02 14:02] abinashpanda commented on #222
@palashahuja Reduce means reducing the whole distribution to some context. For example when we reduce a factor f (as you have defined above) to the context of `x1_0`, we should be only having those entries where `x1` had assignment `0`. So if you reduce the whole table to the context of `[x1_0, x2_0, x3_0]`, the table should contain value corresponding to the assignment `x1 = 0`, `x2 = 0` and `x3

[2015-03-02 14:03] ankurankan commented on #222
@palashahuja From the docstring of `reduce`: `Reduces the factor to the context of given variable values.`. So in the above example when we are trying to reduce the factor to `[x1_0, x2_0, x3_0]` we want to remove all the values from the factor that are not consistent with these states which leaves us with a single value in the factor. And this also reduces the cardinalities to `[1, 1, 1]` because

[2015-03-02 14:06] palashahuja commented on #222
@ankurankan  Should I add the test cases also ?

[2015-03-02 14:09] ankurankan commented on #222
@palashahuja Yes please add test cases for these if not present.

[2015-03-02 14:14] palashahuja commented on #259
@abinashpanda @ankurankan  Please have a look at the above paper which I have uploaded. Though it is not urgent, but  if you could just give a heads up, that will be really helpful.

[2015-03-03 04:22] ankurankan opened #302 "Bug in __str__ of Factor"
[code]

But the expected output of print is:

[code]

[2015-03-03 08:00] ankurankan opened #303 "Bug in map_query"
`map_query` giving wrong values. Should be accepting the variables parameter and should eliminate all the remaining variables.

[2015-03-03 08:17] ankurankan opened #305 "Create tests for the case of #303"

[2015-03-03 08:22] #303 closed, assigned to ankurankan

[2015-03-03 20:44] ankurankan opened #308 "Weird Behavior of reduce"
Code: https://github.com/ankurankan/pgmpy/tree/weird_reduce

Tests behaving weirdly and fails sometimes and pass sometimes. Something to do with the changes in the `reduce` method.

[2015-03-03 20:48] palashahuja commented on #308
@ankurankan  :laughing: Is it that serious ?

[2015-03-03 20:54] ankurankan commented on #308
I think we have changed some behavior of reduce because of which map
inference is failing. Will have to look why this is happening. There's
nothing wrong with your changes.
On Mar 4, 2015 2:18 AM, "palashahuja" notifications@github.com wrote:

[2015-03-03 21:25] palashahuja commented on #222
@ankurankan I think you should close this.

[2015-03-04 04:05] abinashpanda opened #310 "Sepset beliefs in BeliefPropagation"
At present, in the `BeliefPropagation` class, the sepset beliefs are stored in the form of a dictionary with key as the sepset between the two sets. This has a serious issues with some graphs. For example: Consider a junction tree with nodes `(A, B, C) --- (A, D) --- (A, E)`. The sepsets would be `A` in all the cases so the key is no longer unique.

[2015-03-04 21:01] gokul-uf commented on #248
Hi @ankurankan, could you give me more info about this?

[2015-03-05 07:46] ankurankan commented on #248
@gokul-uf: So there is still a pending PR for predict method for Bayesian Network (and I don't remember it's state whether it was working or not). And I think it was iterating over data to calculate predictions. So we want to either replace this with vectorization or at least make the iteration parallel by using `joblib`

[2015-03-06 18:40] #224 closed, assigned to nobody

[2015-03-06 18:48] palashahuja commented on #308
@ankurankan Also there is the following bug (if reduce is implemented ) ---

[code]

[2015-03-07 06:18] ankurankan opened #314 "Predict method should have an argument to provide algorithm"

[2015-03-07 06:26] #290 closed, assigned to ankurankan

[2015-03-07 08:50] gokul-uf commented on #299
@ankurankan do you suggest we edit the **str** method of pgmpy.factors.Factor class or do we override the method in pgmpy.models.BayesianModel? Either way, we can limit it to say the first 20 values if the size is bigger than some threshold ( 50 perhaps? )

[2015-03-07 09:58] palashahuja commented on #259
@ankurankan Please have a look .....

[2015-03-07 10:10] ankurankan commented on #259
@palashahuja: I am really sorry for the delay. I and  @abinashpanda both went through the paper and we don't think it's suitable for our use.

We were thinking in the lines of having multiple algorithms and based on the properties of our model we would select which algorithm would give us a more optimal order and then use that order.

We have also tried searching for resources regarding this but c

[2015-03-07 10:12] palashahuja commented on #259
@ankurankan But from all the resources that I have read, min fill heuristic seems to give the best running time . Why don't we just implement that ?

[2015-03-07 10:17] ankurankan commented on #259
@palashahuja: Because as I said earlier, we won't be implementing it this way. We will need do some research over how different algorithms go with different graph structures and then implement that.

[2015-03-07 10:18] palashahuja commented on #259
@ankurankan  okay :+1:

[2015-03-07 16:38] ankurankan commented on #299
@gokul-uf What are you suggesting to edit in `pgmpy.models.BayesianModel`?

[2015-03-07 17:29] gokul-uf commented on #299
I'm suggesting we redefine **str** method inherited from the factor class,
maybe call the actual function when the table is smaller than some value
else print a different (compressed) one. @ankurankan what do you think?

On Sat, Mar 7, 2015 at 10:08 PM, Ankur Ankan notifications@github.com
wrote:

[2015-03-07 17:37] palashahuja commented on #299
@ankurankan  Is that how you want it ?

[code]

[2015-03-07 17:47] ankurankan commented on #299
@gokul-uf @palashahuja Yeah something as `numpy` does or `pandas` does for huge arrays/dataframes.

[2015-03-07 17:52] gokul-uf commented on #299
@ankurankan, sorry I read that wrong, there's nothing to do in pgmpy.models.BayesianModel.
Here's what I tried,
grasp_cpd.get_cpd()
Out[20]:
array([[ 0.   ,  0.016,  0.13 , ...,  0.   ,  0.   ,  0.   ],
       [ 0.   ,  0.017,  0.13 , ...,  0.   ,  0.   ,  0.   ],
       [ 0.   ,  0.017,  0.14 , ...,  0.   ,  0.   ,  0.   ],
       [ 1.   ,  0.95 ,  0.6  , ...,  1.   ,  1.   ,  1.   ]])

We could

[2015-03-07 17:59] ankurankan commented on #299
So there's an active PR which @kislayabhi is working on for better representation of CPDs. So we need to extend that so that for larger CPDs it prints like that. And for exact implementation details you can take ideas from numpy or pandas.

[2015-03-07 19:01] gokul-uf commented on #244
@abinashpanda We could do something like this https://gist.github.com/gokul-uf/c0439b874d681084ef6a
Other possibilities: http://stackoverflow.com/questions/394809/does-python-have-a-ternary-conditional-operator

[2015-03-07 19:49] gokul-uf commented on #272
@ankurankan @abinashpanda shouldn't we resolve [issue #274] before we can go ahead and implement this?

[2015-03-08 03:16] ankurankan commented on #274
@abinash-panda @gokul-uf : So I think for now we should raise errors then.

[2015-03-08 03:39] gokul-uf commented on #274
@ankurankan @abinash-panda ​​
I believe returning false would make more sense.  we are checking the model, a return value of false would make perfect sense if the model is not valid

For example, take the following test case:

#Snippet 1
if BN.check_model():
    print ( "model is fine")
else:
    print ("problem with model")

#Snippet 2
try:
    BN.check_model()
except ValueError:
    print ("Erro

[2015-03-08 03:43] ankurankan commented on #274
@gokul-uf Since a lot of things can go wrong in a model, the user will have to do a lot of work to just figure out what went wrong if we simply return `False`. So a descriptive error makes much sense.

[2015-03-08 03:45] gokul-uf commented on #274
@ankurankan That's what I meant, relevant_error was just for an example.

[2015-03-08 03:49] ankurankan commented on #274
@gokul-uf So why would you want to return two values. If you are throwing errors then returning `True` or `False` is redundant.

[2015-03-08 03:54] gokul-uf commented on #274
@ankurankan, I did that to have uniformity.
The second value would make sense only when the method returns False
Possible return values:
(True, "OK")
(False, "CPD associated with %s doesn't have proper parents associated with it." % node) .etc

This would help in gracefully handling the error

[2015-03-08 04:11] ankurankan commented on #274
@gokul-uf This is not anywhere near gracefully handling error. With throwing exceptions we can go into multiple try excepts:

[code]

And I think this is much better. If you return a string you will not be able to programatically detect what happened.

[2015-03-08 04:40] gokul-uf commented on #274
I got your point,
I think we would have to go ahead and add CPDError to pgmpy.exceptions.
but like you said before, check_model could fail for a variety of reasons,
could we collect them all into a manageable number of exceptions?

On Sun, Mar 8, 2015 at 9:41 AM, Ankur Ankan notifications@github.com
wrote:

[2015-03-08 04:48] gokul-uf opened #318 "Cleaning up redundant code in NoisyOrModel"
1. In add_variables, the max(cardinality) calculation is done twice, could be reduced to one by storing the returned value
2. We can remove the if-else statement to create an uniform 2D array as extending an array with an array of size 0 returns back the same array

@ankurankan could you check if the modifications I made are justified?

[2015-03-08 04:49] ankurankan commented on #274
@gokul-uf I didn't mean to add to `CPDError`. I was just giving an example. So see for yourself what Exceptions need to be added.
And yes all the exceptions are definitely manageable. We should be able to deal with most of the exceptions using python's built in exceptions..

[2015-03-08 04:54] gokul-uf commented on #318
Please refer to PR of [issue #317]

[2015-03-08 04:59] gokul-uf commented on #274
@ankurankan On it, could you check my PR in the meantime? thanks

[2015-03-08 05:14] gokul-uf opened #319 "Potential error with current implementation of add_variables of NoisyOrModel"
Suppose I have an NoisyOrModel instance of maximum cardinality (say 3)

[code]

Internally we now have a 3x3 numpy array for inhibitor_probability
now,

[code]

would throw an error because of

[code]

I suggest that we keep track of the maximum cardinality to fix this

[2015-03-08 06:28] ankurankan commented on #308
Fixed in #316

[2015-03-08 06:28] #308 closed, assigned to ankurankan

[2015-03-08 06:30] ankurankan commented on #255
Fixed in #316

[2015-03-08 06:30] #255 closed, assigned to nobody

[2015-03-08 06:32] ankurankan commented on #222
Fixed in #316. Behavior not changed left as previous because new behavior not consistent for single variable factors and multiple variable factors.

[2015-03-08 06:32] #222 closed, assigned to nobody

[2015-03-08 11:51] gokul-uf commented on #319
@abinashpanda @ankurankan

[2015-03-08 12:13] gokul-uf commented on #274
@ankurankan Apart from the two errors mentioned in the code, I don't think there could be other error because we do test before adding a node or edge. Are there any situations I'm missing?

[2015-03-08 18:01] gokul-uf commented on #319
### More Info

 to solve it we can have the hack of maintaining the maximum cardinality of variables added so far.

But even this has a problem,
if one of the variables has a very large cardinality (say 100) and others have cardinalities 2,3,5 .etc,
most of the numpy array values would be 0, a waste of memory and not scalable

Here's a stack-overflow discussion thread on the same http://stackoverf

[2015-03-08 23:24] sharangdhar commented on #263
Has this been done already? If not, I can work on this.

[2015-03-09 00:08] sharangdhar commented on #305
Has anyone worked on this yet? There seem to be some basic tests already in place.

[2015-03-09 01:48] sharangdhar commented on #288
I would like to work on this.

[2015-03-09 02:30] ankurankan commented on #288
@sharangdhar Please go ahead.

[2015-03-09 02:32] ankurankan commented on #263
@sharangdhar Please go ahead.

[2015-03-09 02:33] ankurankan commented on #305
@sharangdhar Yeah there are a few tests for `map_inference` already but there are a lot of edge cases for which you can write tests.

[2015-03-09 02:39] ankurankan commented on #319
@gokul-uf Why don't you go ahead and implement this and then let's see how this works? Sparse matrices would be a good option in this case.

[2015-03-10 18:06] palashahuja commented on #200
@ankurankan @abinashpanda I have finished writing the code but I just wanted to confirm whether this is what is exactly expected

[code]

[2015-03-11 06:58] ankurankan commented on #200
@palashahuja I think you have made a minor mistake in constructing the tree. The tree should look like this:

[code]

And the TabularCPD should be:

[code]

[2015-03-11 07:23] #302 closed, assigned to nobody

[2015-03-11 19:23] Utkarshdevd commented on #250
Could you explain more on this topic?
In what way is the implementation of generalized variable elimination expanded by this?
Is there any specific implementation in consideration, could you point me to such a source, as I haven't gotten this far in my Machine Learning course?

[2015-03-12 21:58] alisianoi opened #322 "nosetest fails after fresh install"
I am runing `Arch Linux`

[code]

I followed these [installation instructions](http://pgmpy.org/install.html). Specifically, my actions were:

[code]

At this point, the `setup.py` finds all the required packages except one: `numpy`. That is because in `Arch Linux` the version of this package compiled with `openblas` support is called `numpy-openblas`. So, `setup.py` installs the vanilla `numpy` i

[2015-03-13 04:03] ankurankan commented on #322
@all3fox Could you please check the version of networkx you are using?

[2015-03-13 04:12] ankurankan commented on #250
@Utkarshdevd So currently when you pass a list as the argument for `variables` in `VariableElimination`'s `query` method you get a dictionary with the factor for each variable.

For example:

[code]

So we want to add the feature to have an option to return a Factor with scope both `A` and `B`. So in this case you will need the variable elimination algorithm to eliminate all the variables except f

[2015-03-13 05:57] alisianoi commented on #322
@ankurankan Sure. As I mentioned in the [verbose list of my dependencies](https://gist.github.com/all3fox/ff8a27901cae376519a0), the version of `networkx` was `1.9.1` which is newer than `1.8.1` as required by the documentation. So, I installed the older one and all the tests now pass.

How much time do you think it will take to update to the newer version of the library? Might that be a viable GS

[2015-03-13 06:36] ankurankan commented on #322
@all3fox: I think I have attempted this in past and wasn't able to fix it. But you can try to work on this and this can surely be counted as a patch.
 But I think you will need good amount of time for this since networkx is used in the whole codebase so you will have to get familiar with almost the whole codebase.

[2015-03-13 09:24] alisianoi commented on #322
I see, then I will choose something else to start.

Would you be interested if updating to the latest version of this library was (perhaps, part of) my GSoC proposal?

[2015-03-13 10:03] ankurankan commented on #322
@all3fox: No I don't think this would be a good GSoC project. Because you will need some time for this and because of the other changes happening  simultaneously, we will get a lot of conflicts. So I would rather want someone to sit over this overnight and fix this.

[2015-03-13 12:17] palashahuja commented on #200
@ankurankan  I am doubtful whether values for the tuples should be as follows

[code]

but should be

[code]

If I am correct, then I will send the PR

[2015-03-14 03:28] ankurankan commented on #200
@palashahuja: The correct value should be:

[code]

[2015-03-14 13:45] siteshjaiswal commented on #265
I want to work on this.Please add any furthur information needed to get me start.

[2015-03-15 10:43] #276 closed, assigned to nobody

[2015-03-15 11:09] abinashpanda commented on #265
@siteshjaiswal The goal is to create a one-line description for `TabularCPD` class. For example

[code]

The format `P(A:2 |B:2, C:3)` represents that it is a `TabularCPD` object representing conditional probability of `A` of cardinality 2, given `B` of cardinality 2 and `C` of cardinality 3 and `0x7f34ac8c5160` represents the memory location of this `TabularCPD` object.

If there are no evidence

[2015-03-15 20:28] pratyakshs commented on #322
If someone's working on the compatibility with nx 1.9.1: one bug seems to be when nx (in its code) tries to save the graph that was passed as argument. The statement is `subG = type(G) (G.edges_iter())`. Probably this leads to G being constructed again (by calling add_edge()) and causes an infinite loop.
One hack to solve this is to pass the graph to (for example) nx.simple_cycles() as `nx.simple_

[2015-03-17 09:31] ankurankan commented on #322
Issue with networkx version. Closing this.

[2015-03-17 09:31] #322 closed, assigned to nobody

[2015-03-18 15:45] ankurankan opened #337 "Feature to create new model by combining multiple models"
Add a new method that can accept multiple models and a list of edges which would define the way in which we want to connect the given models to generate a new network.

[2015-03-21 22:39] ashwch opened #339 "Can't concatenate string and type object."
[Inference's `__init__` method](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/inference/base.py#L57) is trying to concatenate a string with type object.

[2015-03-21 22:42] ashwch commented on #339
Fixed in **[5d585c9
](https://github.com/ashwch/pgmpy/commit/5d585c997436cfc0ac4dbab9f35983e1d3fd674d)**.

[2015-03-22 00:12] ashwch opened #340 "`numpy.product` overflow issue."
In [`RuleCPD.to_tabular_cpd`](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/factors/CPD.py#L631) there are couple of calls made to `numpy.product` but in case the value stored by `cardinality_dict` are big or it contains lots of keys then may be we can face the overflow issue, which I don't think is the desired behaviour. A fix will be to use pure Python here as it provides infinite range `int` ty

[2015-03-22 05:24] #339 closed, assigned to nobody

[2015-03-22 15:49] ashwch opened #341 "Broken Factory() docstrings."
Few of the docstrings that are initializing `Factory()` are incorrect because a positional argument is being passed to them after a keyword argument. And in some of them product of cardinality is not matching the length of NumPy array passed as value.

Examples([[1]](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/models/MarkovModel.py#L134), [[2]](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/model

[2015-03-22 15:53] ashwch commented on #341
Fixed in **[9df3cc5](https://github.com/ashwch/pgmpy/commit/9df3cc569b0633820ecadd489559b65fa3369fc0)**.

[2015-03-22 16:39] #341 closed, assigned to nobody

[2015-03-24 08:29] siteshjaiswal commented on #265
@abinashpanda I have made some changes in`__repr__` of TabularCPD.
And i am getting return like this:
`In [3]: cpd_a`
`In [4]: <TabularCPD representing P(grade:3 |intel:3,diff:2)>`
instead of
`In [3]: cpd_a`
`In [4]: <TabularCPD representing P(grade:3 |intel:3,diff:2) at 0x7f34ac8c5160>`
I am unable to get memory address of cpd_a as suggested by you.
Please suggest some method to do so.
https://gi

[2015-03-24 08:33] abinashpanda commented on #265
@siteshjaiswal Please send a PR with your current modifications. After that we can discuss on how to go further.

[2015-03-26 15:12] pratyakshs commented on #268
@ankurankan Can close this for now..

[2015-03-26 15:46] ankurankan commented on #268
@gokul-uf: This is fixed now.

[2015-03-26 15:48] ankurankan commented on #268
Fixed in #349.

[2015-03-26 15:48] #268 closed, assigned to nobody

[2015-03-28 04:19] ankurankan opened #350 "Bug in get_cpds method of Bayesian Model"

[2015-03-28 04:32] #350 closed, assigned to ankurankan

[2015-03-28 05:45] ankurankan opened #352 "Bug in BayesianModel's fit method"
[code]

[2015-03-28 06:42] ankurankan opened #353 "Add method in TabularCPD to reorder the parent's order"

[2015-03-29 08:37] kislayabhi commented on #353
Please add some more info. I intend to work on this.

[2015-03-29 11:30] palashahuja commented on #353
@kislayabhi Suppose if we have a tabular CPD like this

[code]

then there should be a separate method to switch the tuples inside the tables(i.e for example if the user wants to switch B and A inside the table such that B is the most rapidly changing value)
Keep in mind the values also change accordingly. After switching A and B inside the table it should look something like this.

[code]

That's

[2015-03-31 20:13] kislayabhi commented on #353
Please continue it here: #358

[2015-04-01 10:57] ankurankan opened #359 "Add a Joint Probability Class to work with Distributions"
Features:
- [ ] Accept data/distribution.
- [ ] Answer independence queries.

[2015-04-01 19:27] siteshjaiswal commented on #273
I want to work on this.Please add any furthur info needed.

[2015-04-02 02:20] ankurankan commented on #273
@siteshjaiswal You can see that there's a `check_model` here: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/models/BayesianModel.py#L213. You can read what it does in the docstrings. But currently it can only check the model if the associated CPDs are TabularCPD. We want to extend this to work with TreeCPD as well as RuleCPD.

[2015-04-02 20:49] alekdimi commented on #227
Has this been done or is there still code to be fixed?

[2015-04-02 20:53] alekdimi commented on #288
Is this is still open? Anyone working on it?

[2015-04-03 02:29] ankurankan commented on #227
@alekdimi Still needs to be fixed.

[2015-04-03 02:30] ankurankan commented on #288
@alekdimi Still open.

[2015-04-05 11:55] ankurankan opened #362 "printing cpd only shows values upto one decimal place"
[code]

@kislayabhi Any idea what's happening here?

[2015-04-05 12:38] palashahuja commented on #362
@ankurankan  The problem is with `np.column_stack`.
It is used in the [**str**](https://github.com/pgmpy/pgmpy/blob/707d3df7e0883a09d5143f467759da148d98d465/pgmpy/factors/CPD.py#L146) function.

[code]

[2015-04-07 02:55] kislayabhi commented on #362
@ankurankan @palashahuja Is this issue resolved. I am getting the correct outputs here.

[2015-04-07 03:04] ankurankan commented on #362
@kislayabhi Nope.. Not working for me. @abinashpanda Can you check?

[2015-04-07 03:09] kislayabhi commented on #362
@ankurankan :The weird thing is that `np.column_stack` is also working fine here.

The other one is as follows.

[code]

Could we be having some issues with numpy. (Mine's 1.9.1)

[2015-04-07 03:17] palashahuja commented on #362
@kislayabhi not working for me either...

[2015-04-07 03:26] ankurankan commented on #362
@kislayabhi Fixed now. Was because of numpy version. @palashahuja Try upgrading numpy.

[2015-04-07 03:28] palashahuja commented on #362
@ankurankan ok...

[2015-04-08 09:30] siteshjaiswal commented on #202
I want to work on this.Please elaborate on what tests to be added.

[2015-04-08 09:31] siteshjaiswal commented on #184
I want to work on this.Please elaborate on what tests to be added.

[2015-04-08 09:40] ankurankan commented on #202
@siteshjaiswal Check what tests are already there and add tests for functionality that doesn't have tests for it.

[2015-04-08 09:40] ankurankan commented on #184
@siteshjaiswal Check what tests are already present and write tests for functionality that doesn't have tests.

[2015-04-09 03:46] ankurankan opened #369 "Bayesian Parameter learning for Bayesian Networks"

[2015-04-09 03:46] ankurankan opened #370 "MLE and Bayesian Structure learning for Bayesian Networks"

[2015-04-13 04:45] ankurankan opened #373 "Optimize factor operations"
- [x] Line 619 - 622: Don't concatenate. Initialize a numpy array as we know the size then assign values to it.
- [x] Use joblib only when n_jobs != 1
- [x] Line 606 - 610: Don't compute indexes and append them in loop in each iteration.
- [ ] Too much overhead because of joblib. Optimize it.
- [ ] Try numexpr

[2015-04-14 06:55] ankurankan opened #375 "Add docstring for to_factor method of TabularCPD"

[2015-04-14 10:17] ankurankan opened #376 "Remove cumprod computation from _index_for_assignment"

[2015-04-16 06:07] #376 closed, assigned to ankurankan

[2015-04-16 13:10] ankurankan opened #377 "get_cardinality method in models"

[2015-04-20 10:04] #362 closed, assigned to nobody

[2015-04-27 17:32] sytham opened #381 "Factor reduce scope and variable ordering"
**Problem 1: factor reduction makes an assumption on the order in which variables are passed in:**

Original factor:
╒═════╤═════╤════════════╕
│ 3   │ 2   │   phi(3,2) │
╞═════╪═════╪════════════╡
│ 3_0 │ 2_0 │     0.3900 │
├─────┼─────┼────────────┤
│ 3_0 │ 2_1 │     0.0600 │
├─────┼─────┼────────────┤
│ 3_1 │ 2_0 │     0.6100 │
├─────┼─────┼────────────┤
│ 3_1 │ 2_1 │     0.9400 │
╘═════╧═════╧

[2015-05-01 15:28] zxcvbn97 opened #383 "LoopyBP"
Hi there,

Is there any plan to add LoopyBP to the inference? I could help with that.

Thanks

[2015-05-01 16:35] ankurankan commented on #383
Hi

Yes, we are planning to add approximate inference algorithms. It would be
really great if you could help us in implementing LoopyBP. Go ahead and
send a PR :).

Thanks
Abinash

[2015-05-01 16:55] zxcvbn97 commented on #383
I plan to implement loopy BP for general factor graphs, because it can represent both MRFs and BNs.

[2015-05-03 16:59] abinashpanda commented on #383
@zxcvbn97 Sure. Go ahead.

[2015-05-05 03:29] ankurankan opened #384 "Naive Bayes"

[2015-05-05 04:02] palashahuja commented on #375
@ankurankan please close this bug....

[2015-05-05 04:47] #375 closed, assigned to nobody

[2015-05-05 07:56] abinashpanda opened #385 "MLE parameter estimation for Markov Network"

[2015-05-14 06:02] ankurankan opened #387 "Error when creating factor with int variable names"
[code]

[2015-05-14 06:32] palashahuja commented on #387
@ankurankan Quickfix : use the `str` definition. That will fix it

[2015-05-18 05:38] ankurankan opened #388 "Fix IndependenceAssertion __str__ method"
[code]

If none of the variables are given it shouldn't return `|` in the end.

[2015-05-18 05:50] ankurankan opened #389 "Bug in Independencies class"
[code]

[2015-05-18 05:50] ankurankan opened #390 "Rename get_independencies to get_assertions in Independencies class"

[2015-05-18 06:44] #388 closed, assigned to ankurankan

[2015-05-18 06:44] #390 closed, assigned to ankurankan

[2015-05-18 06:45] ankurankan commented on #389
Fixed in 9cfdac0858c6e22d01849bc060a274b9b2e2f450 1 parent cabe8f6

[2015-05-18 06:45] #389 closed, assigned to ankurankan

[2015-05-18 12:40] ankurankan opened #392 "Change the representation of variable states"
Currently we use a sting with appended state name to represent the state of the variable.
For example, variable `A` in state `0` is represented as `A_0`. Change this to use namedtuples.

[2015-05-20 18:49] ankurankan opened #393 "Warning if a CPD is added to a variable and there already exists one"
Warn and replace the previous CPD with the new one.

[2015-05-20 19:08] ankurankan opened #395 "Tests for add_cpds method of BayesianModel"

[2015-05-20 19:27] ankurankan opened #396 "Bug in VariableElimination"
[code]

Happening because of our internal representation of variable with states (var_state) and since the variable name here is `traffic_jam`, it's splitting it from here.

https://github.com/pgmpy/pgmpy/issues/392 should fix this also.

[2015-05-20 19:28] ankurankan commented on #387
#392 should fix this.

[2015-05-20 19:37] #393 closed, assigned to ankurankan

[2015-06-03 04:29] vivek425ster opened #405 "Better way to include lxml and xml modules instead of nested try except."

[2015-06-04 15:11] ankurankan opened #408 "Fix skipping test for reduce on all the variables"
https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/tests/test_factors/test_Factor.py#L122

[2015-06-04 15:12] ankurankan opened #409 "Better type checks"
1. https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/factors/Factor.py#L268

[2015-06-06 20:13] ankurankan commented on #392
Fixed in #407

[2015-06-06 20:13] #392 closed, assigned to ankurankan

[2015-06-06 20:13] ankurankan commented on #396
Fixed in #407

[2015-06-06 20:13] #396 closed, assigned to ankurankan

[2015-06-06 20:16] ankurankan opened #413 "Bug in __str__ method of Factor"
[code]

Happening because of newer representation of states.

[2015-06-06 20:16] ankurankan commented on #387
Fixed in #407

[2015-06-06 20:16] #387 closed, assigned to ankurankan

[2015-06-06 20:21] ankurankan commented on #381
Fixed in 6f3fad9e56dbb258925042720e0061639a1599a5

[2015-06-06 20:21] #381 closed, assigned to nobody

[2015-06-06 20:34] #413 closed, assigned to ankurankan

[2015-06-07 06:07] ankurankan opened #415 "Use sparse matrix for factor values"
In most of the real world networks most of the probability values are 0. For example the barley network(http://www.bnlearn.com/bnrepository/#barley) the number of parameters are reduced from 130180 to 78767 when 0's are neglected.

[2015-06-07 12:44] ankurankan opened #416 "Add plotting functionality to models"
Would be very helpful in visualizing models..

[2015-06-07 18:09] palashahuja opened #417 "__str__ bug in TabularCPD"
[code]

One complete column of values goes missing. This has something to do with the change in `State namedtuple`

[2015-06-08 12:33] #417 closed, assigned to nobody

[2015-06-17 07:22] ankurankan opened #423 "Cache reduce and marginalize"
There are many instances (ex: while generating samples) when reduce or marginalize if called multiple times with the same arguments. Therefore caching the results is a good idea.

[2015-06-18 16:56] Demyanov opened #429 "Typo MarkovModel.py"
typo in 497
def get_local_independecies(self, latex=False):     ->
def get_local_independencies(self, latex=False):

[2015-06-18 17:10] #429 closed, assigned to nobody

[2015-06-18 17:10] ankurankan commented on #429
@Demyanov Thanks for pointing..

[2015-06-19 08:49] abinashpanda opened #430 "Bug in to_junction_tree() method in MarkovModel."
@palashahuja Found the following bug in `MarkovModel` while executing

[code]

The junction tree is not created and a `ValueError` exception is raised.

[2015-06-29 11:47] #430 closed, assigned to abinashpanda

[2015-06-29 11:51] ankurankan commented on #265
Fixed.

[2015-06-29 11:51] #265 closed, assigned to nobody

[2015-06-29 11:54] #219 closed, assigned to nobody

[2015-06-29 11:54] ankurankan commented on #123
Fixed

[2015-06-29 11:54] #123 closed, assigned to ankurankan

[2015-06-29 11:54] ankurankan commented on #69
Fixed

[2015-06-29 11:54] #69 closed, assigned to ankurankan

[2015-06-29 11:54] ankurankan commented on #55
Fixed

[2015-06-29 11:54] #55 closed, assigned to ankurankan

[2015-06-30 02:24] ankurankan opened #437 "Caching samples generated from sampling algorithms"
With caching when running multiple queries over the same model, we won't need to generate samples again.

[2015-07-01 13:30] Demyanov opened #438 "Factor division bug"
Here is example from 'Probabilistic Graphical Principles and Techniques' - Koller and Friedman page 365
which you mentioned at https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/factors/Factor.py#L609

Here is my python file `test.py` reproducing the issue:

[code]

Here is the output:

[code]

Should be:
`[ 0.625  0.25 0 0  0.5    0.75 ]`

[2015-07-01 14:06] Demyanov commented on #438
I guess it's because no exeception throwing during try block in https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/factors/Factor.py#L604
Here is my solution of solving this problem:

559: `np.seterr(divide='raise')` -> `np.seterr(divide='raise', invalid='raise)`

[code]

[2015-07-01 14:10] ankurankan commented on #438
@Demyanov Thanks for pointing this out. Yes you are correct. If you would like to send a pull request for this you are most welcome.

[2015-07-01 18:03] Demyanov commented on #438
I found that in 'Probabilistic Graphical Principles and Techniques' - Koller and Friedman page 365
division on x/0 defined only in case when x == 0, so that 0/0 = 0 (np.float64(0.0) / np.float64(0.0) -> 0)
But when x != 0 (for example np.float64(1.0) / np.float64(0.0)) operation is not defined.
In other case you will get:

from pgmpy.factors import factor_divide, Factor
import numpy as np

phi1 =

[2015-07-02 07:20] ankurankan opened #441 "Find a better way to handle 0/0 or x/0 in factor divide"

[2015-07-07 16:45] abinashpanda opened #445 "Bug in to_junction_tree() method in MarkovModel."
Bug in converting the following Markov Model to Junction Tree.

[code]

[2015-07-07 16:47] palashahuja commented on #445
@abinashpanda I was wondering whether we could split each of the factors having more than two variables into two or more factors by marginalizing each variable. This way the conversion could work.

[2015-07-07 16:59] abinashpanda commented on #445
@palashahuja this might work for sure, but somehow I don't like this way because it increases the overhead cost of marginalizing a factor which is a costly operation. Think of cases when there would be large factors, we don't want to marginalize them in the junction tree creation part and do the same operation again when we are running inference. This would be equivalent of doing the same operatio

[2015-07-07 18:23] palashahuja commented on #445
@abinashpanda How about this then?

[code]

All the factors may not have to be split up, but some of them really need to.

[2015-07-07 18:37] abinashpanda commented on #445
@palashahuja The way the factors have been defined are inconsistent with the model. In Markov Model you need to define factors corresponding to a clique. The factor that you have defined is not corresponding to any clique because of which it is giving error. The `ValueError` thrown in this case is truly justified.

[2015-07-07 18:51] palashahuja commented on #445
@abinashpanda Sorry about before. I actually wanted to tell you about this.

[code]

[2015-07-09 15:31] abinashpanda commented on #445
@palashahuja I looked more into this issue and I think I should go with the way that you suggested. Increasing the size of the clique would increase the computation in the inference step. So, we would be marginalizing the some factors

[2015-07-10 15:27] ankurankan commented on #190
velocity: http://asv.readthedocs.org/en/latest/index.html can be used for benchmarking.

[2015-07-10 19:19] abinashpanda commented on #445
@palashahuja Fixed this issue. We don't require to marginalize all the variables to compute clique potential. Instead, we can simply fix it by
- First initializing the clique potential as unity factor
- Next, multiplying the formed clique potential with all the factors associated with the variables present in the clique.

[2015-07-10 19:19] #445 closed, assigned to nobody

[2015-07-14 04:20] ankurankan opened #448 "python 2 support"

[2015-07-20 14:16] abinashpanda opened #450 "Bug in query() method in BeliefPropagation"
[code]

[2015-07-21 13:25] ankurankan commented on #450
Fixed..

[2015-07-21 13:25] #450 closed, assigned to nobody

[2015-07-22 17:51] palashahuja opened #452 "Dynamic Bayesian Network bug"
[code]

[2015-08-02 17:41] kislayabhi opened #458 "UAI Reader is failing for some files."
`grid3x3.uai` : http://www.cs.huji.ac.il/project/PASCAL/examples/grid3x3.uai
`grid4x4.uai` : http://www.cs.huji.ac.il/project/PASCAL/examples/grid4x4.uai

The UAI reader works fine for the `grid3x3.uai` but not for `grid4x4.uai`.

I tried the following.

[code]

The output:

[code]

I am sure that the grid4x4.uai has no self loops.

[2015-08-02 17:42] ankurankan commented on #458
@vivek425ster Can you please have a look at this?

[2015-08-03 12:26] ankurankan commented on #458
Fixed in #459 . @kislayabhi Please check.

[2015-08-03 12:26] #458 closed, assigned to nobody

[2015-08-09 11:05] palashahuja opened #461 "factor reduce bug"
The factor reduce does not seem to work when the variables are in tuple form.

[code]

[2015-08-09 11:07] palashahuja opened #462 "printing factor gives error when variables are in tuple form"
[code]

[2015-08-11 12:37] palashahuja commented on #462
fixed ...

[2015-08-11 12:37] #462 closed, assigned to nobody

[2015-08-11 12:37] palashahuja commented on #461
fixed ..

[2015-08-11 12:37] #461 closed, assigned to nobody

[2015-08-19 13:25] ThomasHoppe opened #468 "Unable to finish install"
During python.exe setup.py install, I get the following error on a Windows machine running
Python 3.3.2 (v3.3.2:d047928ae3f6, May 16 2013, 00:06:53) [MSC v.1600 64 bit (AMD64)] on win32:
...
Using c:\python33\lib\site-packages
Searching for requests==2.7.0
Best match: requests 2.7.0
Processing requests-2.7.0-py3.3.egg
requests 2.7.0 is already the active version in easy-install.pth

Using c:\pytho

[2015-08-19 13:31] ankurankan commented on #468
We currently don't support windows. And since it works fine on Linux, I
guess this is a windows specific problem and don't know why it's happening.

Ankur
On Aug 19, 2015 6:55 PM, "ThomasHoppe" notifications@github.com wrote:

[2015-08-19 13:43] ThomasHoppe commented on #468
If I comment out the "coveralls >= 0.4" line in setup.py, I don't get the error. So it seems to be related to this module. Is coveralls needed for running he pgmpy code? Or is it just required for development purposes?

[2015-08-19 13:50] ankurankan commented on #468
It's for development only..
On Aug 19, 2015 7:13 PM, "ThomasHoppe" notifications@github.com wrote:

[2015-08-19 13:57] ThomasHoppe commented on #468
Thanks. I suggest, that this should be documented.

[2015-08-19 17:03] ankurankan commented on #468
Yeah, it should be. Better I will remove the modules which are needed only
for development.

On Aug 19, 2015 7:27 PM, "ThomasHoppe" notifications@github.com wrote:

[2015-08-20 10:26] ankurankan commented on #468
Fixed in #469

[2015-08-20 10:26] #468 closed, assigned to nobody

[2015-08-23 06:18] ankurankan opened #471 "Weird behavior of factor product in new Factor"
Sometimes gives different value that expected.

[2015-08-23 06:52] ankurankan opened #472 "Strange behavior in tests in new Factor"
Throws this error sometimes:

[code]

[2015-08-24 04:09] #471 closed, assigned to nobody

[2015-08-24 04:09] #472 closed, assigned to nobody

[2015-08-31 04:57] ankurankan opened #473 "Try to vectorize all the sampling methods"

[2015-09-01 03:31] ankurankan opened #474 "Add tests for the case when nodes are other than int, str"
In the case of DBNs, the nodes are tuples. Need to add tests for such nodes everywhere.

[2015-09-20 04:37] ankurankan commented on #247
`check_model` method is handling this.

[2015-09-20 04:37] #247 closed, assigned to nobody

[2015-09-20 07:02] yashu-seth commented on #232
Please tell me if this is still open. Is someone working on this?

[2015-09-20 13:12] ankurankan commented on #232
@yashu-seth Yes, this is still open. But this a fairly big change so will need a lot of work.
The way I have thought of implementing this is to add the functionality to store state names to the `DirectedGraph` and `UndirectedGraph` classes. And then write a decorator, such that it replaces the state names from function arguments to the internal representation. And also to replace the internal stat

[2015-09-20 13:14] yashu-seth commented on #232
@ankurankan Can you please recommend an issue which would be relatively easy to handle and is still open.

[2015-10-04 05:47] palashahuja commented on #352
@ankurankan  Is this issue closed?

[2015-10-04 06:08] #310 closed, assigned to abinashpanda

[2015-10-04 13:28] #283 closed, assigned to abinashpanda

[2015-10-04 13:29] #285 closed, assigned to nobody

[2015-10-04 13:30] #139 closed, assigned to ankurankan

[2015-10-04 13:30] #155 closed, assigned to nobody

[2015-10-04 13:30] #194 closed, assigned to nobody

[2015-10-04 13:31] #190 closed, assigned to nobody

[2015-10-04 13:32] #202 closed, assigned to nobody

[2015-10-04 13:37] #41 closed, assigned to ankurankan

[2015-10-04 13:37] #44 closed, assigned to ankurankan

[2015-10-04 13:44] #239 closed, assigned to nobody

[2015-10-04 13:44] #145 closed, assigned to nobody

[2015-10-04 13:44] #144 closed, assigned to nobody

[2015-10-04 13:45] #142 closed, assigned to nobody

[2015-10-04 13:45] #141 closed, assigned to nobody

[2015-10-04 13:45] #148 closed, assigned to nobody

[2015-10-05 09:47] yashu-seth opened #484 "__str__ method in TabularCPD not working"
[code]

[code]

[2015-10-05 10:53] yashu-seth opened #485 "Should string parameters be allowed in certain functions of the Factor class?"
Till now functions like get_cardinality, reduce, maximize and marginalize (in the factor class) do not take string parameters as input and throw a ValueError since it can take only type list or array-like parameters. I am currently working to display a proper TypeError message for such cases.
But now, I think string parameters should also be allowed. We can check for the type of the parameter and

[2015-10-05 10:53] yashu-seth commented on #485
@ankurankan

[2015-10-05 11:00] ankurankan commented on #485
@yashu-seth Earlier, we used to have the behavior that you are talking about. But we removed it because of optimization issues. The problem is that when running inference algorithms these methods are called thousands of times and the time spent on these checks start adding up. Also most of the time we already have a list, or array-like structure when calling these methods. That's why we removed it

[2015-10-05 11:00] #485 closed, assigned to nobody

[2015-10-05 11:28] ankurankan commented on #485
@yashu-seth Yes, it will. And I am not really in the favor of having those checks. But until we find a better solution to this, we will have to keep it like that.

[2015-10-05 12:12] yashu-seth commented on #485
@ankurankan Okay. For now I will add the tests accordingly.

[2015-10-05 21:44] yashu-seth commented on #485
@ankurankan Earlier a ValueError is thrown when string parameters are given. So can we put a check after encountering a ValueError case? I mean check for the type of the parameter only when the value error is encountered. This way we can change the type str parameter into type list and recall the function, if still the value error exists then we can display the error message else continue. This ca

[2015-10-05 21:45] yashu-seth commented on #485
@ankurankan Earlier a ValueError is thrown when string parameters are given. So can we put a check after encountering a ValueError case? I mean check for the type of the parameter only when the value error is encountered. This way we can change the type str parameter into type list and recall the function, if still the value error exists then we can display the error message else continue. This ca

[2015-10-06 06:29] ankurankan commented on #485
@yashu-seth I don't really feel like this is necessary. Since the `Factor` methods are mostly going to be an internal thing and users would hardly be interacting directly with those. So, I don't feel like having any checks for parameters (as we need these methods to be as fast as possible) in the method and handle all these things before these methods are called.

[2015-10-06 07:05] ankurankan opened #486 "Optimize UAI Reader"
UAI reader takes too much time in reading files. Can test on this file:
[hailfinder.uai.txt](https://github.com/pgmpy/pgmpy/files/8246/hailfinder.uai.txt)

[2015-10-07 04:28] yashu-seth commented on #484
I need a little help with the tabulate function.
Please tell me if we can print header rows with unequal number of columns in a table or not?
It is not specifically mentioned in the the docs.

[2015-10-09 10:11] ankurankan opened #489 "Add copy methods to all models and Factor class"
- [x] BayesianModel
- [x] TabularCPD
- [x] ClusterGraph
- [ ] DynamicBayesianNetwork
- [ ] FactorGraph
- [x] JunctionTree
- [x] MarkovChain
- [x] MarkovModel

[2015-10-13 14:07] yashu-seth opened #490 "Bug in cardinalities dict in MarkovModel"
[code]

The cardinalities dict should be updated with add_factors and remove_factors method and not with check_model method.
In the above example check_model should not throw <code> VaueError </code> after removing phi1 and then adding phi2.

[2015-10-13 14:09] yashu-seth commented on #490
@ankurankan If you also think it should not behave like this, let me fix it.

[2015-10-14 03:18] ankurankan commented on #490
@yashu-seth Yeah you are right, this is not the correct behavior. And I feel like `cardinalities` should not be an attribute of the model and should be computed only when needed. You can go ahead and fix this.

[2015-10-17 13:43] ankurankan opened #493 "Fix tests for python2"
- [x] MPLP
- [x] readwrite module (mostly unicode problems)
- [x] Gibbs Sampling

[2015-10-20 10:23] yashu-seth opened #494 "add tests for get_factor method in models"
The current problem is with using <code>assertListEqual</code> on factors, since lists with factors cannot be sorted directly as Factor objects do not support comparisons.

[2015-10-21 17:39] yashu-seth commented on #377
@ankurankan I think issue can be referenced to #491

[2015-10-27 06:49] ankurankan opened #496 "Replace all the get_cardinality calls in Markov Model's triangulate method with a single call."
@yashu-seth Would you like to fix this?

[2015-10-27 08:27] yashu-seth commented on #496
@ankurankan I will look into it.

[2015-10-27 08:45] kshitij10496 commented on #395
@ankurankan I would like to work on this if this is still open.

[2015-10-27 08:48] ankurankan commented on #395
@kshitij10496 Yes, it's still open. You can start working on this.

[2015-10-27 09:09] ankurankan commented on #484
@yashu-seth I haven't worked with `tabulate`. Will check and let you know if I find anything.

[2015-10-27 09:10] kshitij10496 commented on #395
@ankurankan I have a doubt though.
Doesn't the [`test_add_multiple_cpds()`](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/tests/test_models/test_BayesianModel.py#L188) do the same task ?

[2015-10-27 09:10] ankurankan commented on #416
Don't think it's needed right now.

[2015-10-27 09:10] #416 closed, assigned to nobody

[2015-10-27 09:12] ankurankan commented on #395
@kshitij10496 Sorry, my bad. I just checked for tests but looks like I missed these.
Closing this issue.

[2015-10-27 09:12] #395 closed, assigned to nobody

[2015-10-27 09:14] kshitij10496 commented on #395
@ankurankan No problem.
I will look for other issues

[2015-10-27 09:14] ankurankan commented on #377
Fixed in #491

[2015-10-27 09:14] #377 closed, assigned to nobody

[2015-10-27 09:15] ankurankan commented on #373
Since we have moved to a new factor representation, this is no longer relevant.

[2015-10-27 09:15] #373 closed, assigned to nobody

[2015-10-27 09:18] ankurankan commented on #244
Fixed already.

[2015-10-27 09:18] #244 closed, assigned to nobody

[2015-10-27 09:19] ankurankan commented on #227
Completely switching to numpy arrays will have huge effect on performance. So closing this.

[2015-10-27 09:19] #227 closed, assigned to nobody

[2015-10-27 09:25] ankurankan commented on #166
Not relevant right now.

[2015-10-27 09:25] #166 closed, assigned to nobody

[2015-10-27 09:25] #143 closed, assigned to nobody

[2015-10-27 09:28] palashahuja opened #497 "import time for pgmpy"
Importing pgmpy takes a lot of time compared to other libraries. Here are the details.

[code]

For example:- for numpy the import time is as follows

[code]

(The primary difference between import times is because numpy's core modules are written in C, that's why the efficiency is clearly visible. But we could still look for ways to reduce this time.)

[2015-10-27 10:17] kshitij10496 commented on #161
@ankurankan I was going through the example in the docstrings of both - the [`local-independecies()`](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/models/BayesianModel.py#L344) and the [`get_independencies()`](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/models/BayesianModel.py#L426).
I wanted to know whether the `get_independencies()` should display the local independencies of each node too ?

[2015-10-27 11:16] ankurankan commented on #161
@kshitij10496 Ideally it should.

[2015-10-27 11:25] kshitij10496 commented on #161
@ankurankan I tried coded the given examples but didn't get that result.
Can you cross-check this ?

[2015-10-27 11:49] ankurankan commented on #161
@kshitij10496 Yeah, I think that there is some bug. Can you fix this ?

[2015-10-27 11:56] kshitij10496 commented on #161
@ankurankan I would like to give it a try.
Since, I am getting started with the codebase so I think I would need a few days.
Is that fine ?

[2015-10-27 12:01] ankurankan commented on #161
@kshitij10496 Yeah.. And feel free to ask if you get stuck somewhere.

[2015-10-27 12:09] kshitij10496 commented on #161
@ankurankan Yeah.
I am having some trouble deciding the class to which the `test_local_independencies()` should be added.
I think adding to the [`TestBayesianModelCPD`](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/tests/test_models/test_BayesianModel.py#L125) would be the appropritate choice.
Can you tell me in which class should I add the test function ?

[2015-10-27 12:18] ankurankan commented on #161
@kshitij10496 It should go in `TestBayesianModelMethods`.

[2015-10-27 13:21] kshitij10496 commented on #161
@ankurankan Thanks.
I am working on it

[2015-10-28 04:21] kshitij10496 commented on #161
@ankurankan I was trying to add the test function.
I think, ideally, the test should have passed but I am getting an `AssertionError`.
Should I send a PR before discussing on the error ?

[2015-10-28 06:54] ankurankan commented on #161
@kshitij10496 Yes. Will help me spotting the error.

[2015-10-28 09:50] souravsingh commented on #489
I would like to work on this.How do I start?

[2015-10-28 10:04] ankurankan commented on #489
@souravsingh We just need `copy` methods in these models/classes which should return an instance which is a copy of the instance on which it was called. For examples, you can check Factor's copy method here: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/factors/Factor.py#L639 , `BayesianModel`'s copy method: https://github.com/pgmpy/pgmpy/pull/488/files#diff-5486bc43772bb0d18a7231f9496abcb7R658

[2015-10-28 15:11] yashu-seth commented on #490
@ankurankan I think this can be closed.

[2015-10-28 15:14] ankurankan commented on #490
Fixed in #491.

[2015-10-28 15:14] #490 closed, assigned to nobody

[2015-10-28 15:22] yashu-seth commented on #250
@ankurankan I would like to work on this. From what I understood the current <code>_variable_elimination</code> method output is a dictionary with variables (that are not to be eliminated) as keys and factors (with a scope of only the respective variable) as values. But we want to add the functionality where we get a factor that contains scope of all the variables (that are not to be eliminated).

[2015-10-28 19:23] yashu-seth commented on #496
#500

[2015-10-29 00:59] #496 closed, assigned to nobody

[2015-10-29 01:05] ankurankan commented on #250
@yashu-seth Don't start working on this. I am fixing this and there is a PR for this already.

[2015-10-29 04:57] ankurankan opened #501 "Bug in fit method"
This fails:

[code]

[2015-10-29 08:52] yashu-seth commented on #250
@ankurankan okay

[2015-10-29 08:55] ankurankan commented on #250
Closing as not relevant anymore.

[2015-10-29 08:55] #250 closed, assigned to nobody

[2015-10-29 17:53] yashu-seth commented on #384
@ankurankan Please elaborate on this.

[2015-10-30 08:51] yashu-seth commented on #441
@ankurankan Please elaborate on this.

[2015-10-30 09:04] ankurankan commented on #384
@yashu-seth As you know Naive Bayes model is a special condition of the Bayesian Model. So we want an implementation of this, in which the user can just create a class and fit data over this as structure can be directly interpreted from the data.

[2015-10-30 09:07] ankurankan commented on #441
@yashu-seth Check these lines https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/factors/Factor.py#L632. Here at line 634 we are specifically replacing the values with 0. We would ideally like to handle this within the divide in Line 630 only. So, we need to see if is this possible in some way, if yes then implement it.

[2015-10-30 11:05] yashu-seth commented on #441
@ankurankan From what I understood, a 0/0 case will always give a nan . So I think we must have to replace it with 0 separately.  But we can put it in the same line 630 instead of doing it in 634. We can probably use this -
<code>phi.values = np.array(list(0 if np.isnan(phi.values[index]/phi1.values[index]) else phi.values[index]/phi2.values[index] for index,value in enumerate(phi.values)))</code>

[2015-10-30 11:10] ankurankan commented on #441
@yashu-seth No, using a for loop is too expensive. Will need to find a better way to do this.

[2015-10-30 11:11] yashu-seth commented on #441
@ankurankan Okay, i'll see if I get a better solution.

[2015-10-30 13:24] khalibartan commented on #448
Could you elaborate the issue a bit more

[2015-10-30 13:35] ankurankan commented on #448
@khalibartan Currently pgmpy only support python3. We need to add support for python 2.7. And it's almost done except for a few functionalities. And currently we are skipping tests for these. You can search for `@unittest.skipIf(six.PY2` in the project for checking which tests we are skipping because of compatibility issues. There is another issue listing the things which are not compatible yet: #

[2015-10-30 13:38] khalibartan commented on #493
I just have to check the compatibility issues in these modules or there is some catch in it?

[2015-10-30 13:41] ankurankan commented on #493
@khalibartan Better check for the tests that we are skipping and according to that will need to fix wherever there are issues.

[2015-10-30 13:44] khalibartan commented on #493
Okay I'll give a try. I'm new to community so it might take me some time to send a pr as I have to understand some things. I think I can take up this issue. Do I need some background in probabilistic graphical models for this issue?

[2015-10-30 13:49] ankurankan commented on #493
Not a problem, feel free to post to mailing list if you face any issues.

And except for MPLP, I don't think you will need any background in PGM.

[2015-10-30 13:51] khalibartan commented on #493
Thanks

[2015-10-31 16:10] yashu-seth commented on #494
#502

[2015-11-01 09:13] khalibartan commented on #497
Agreed. Time taken by pgmpy to import is three times more than libraries which are written in python like sympy or sklearn.

[2015-11-01 17:05] kshitij10496 opened #503 "Cleaning up the tests for Independencies class"
The test cases are not properly implemented.
Moreover, with the an `__eq__` method in the `Independencies` and `IndependenceAssertion` classes, the code needs to be rewritten.

[2015-11-01 17:06] kshitij10496 commented on #503
Continuation of #498.

[2015-11-01 18:49] kshitij10496 commented on #503
@ankurankan What is the `test_init` supposed to do ? [[Link]](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/tests/test_independencies/test_Independencies.py#L76)

[2015-11-02 06:03] ankurankan commented on #497
Ran cProfile on import and looks like `BayesianModel.py` is the culprit, but have no idea why.

[2015-11-02 06:05] ankurankan commented on #503
@kshitij10496 `test_init` is to test for the `__init__` methods of the classes.

[2015-11-02 08:53] khalibartan commented on #497
Yeah from pgmpy the most slow call was of `BayesianModel.py` but I believe that total overall time is increased by dependencies of pgmpy, because it has around 4-5 dependencies.

[2015-11-02 16:50] sandeepkrjha commented on #501
Hey, I tried to analyze this bug when I faced an unexpected problem. I am using Python 3.4.3 on Anaconda 2.3.0 and when I did

[code]

I am a beginner and hence unable to understand what is the problem here with the installation.

[2015-11-02 17:22] ankurankan commented on #501
@sandeepkrjha I have no idea why this is happening. How did you install pgmpy?

[2015-11-02 18:36] kshitij10496 commented on #501
@sandeepkrjha Try `conda install pgmpy`.

[2015-11-02 22:13] yashu-seth commented on #384
@ankurankan I would like to work on this. So we basically want a subclass of Bayesian Model which can only store edges from a parent node to children and cpds only between the parent random variable and its respective children variables which would follow the appropriate naive bayes independence assumptions.

[2015-11-03 03:48] ankurankan commented on #384
@yashu-seth Yes. And it should also have a `fit` and `predict` method so that it can directly learn from the data and predict missing values in new data.

[2015-11-03 03:52] ankurankan opened #506 "Add support for BIF file format"
Can get some file to test on from http://www.bnlearn.com/bnrepository/.

[2015-11-03 09:44] kshitij10496 commented on #474
@ankurankan I am interested in working on this.
Doesnt the `test_DynamicBayesianNetwork`[Link](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/tests/test_models/test_DynamicBayesianNetwork.py) have all the necessary tests ?
If not, what all things do I need to add ?

[2015-11-03 10:29] ankurankan commented on #474
@kshitij10496 In pgmpy, ideally the nodes of any model can be any hashable python object i.e str, int, float, tuple etc. But most of the tests for models have been written using names of type str. So, we need to add more tests using int or tuples as node names.

[2015-11-03 10:33] kshitij10496 commented on #474
@ankurankan Okay.
But would it make a difference if we write test cases using any object as long as its hashable ?

[2015-11-03 11:02] khalibartan opened #508 "Error while running nosetests for testBayesianModelSampling.py"
[code]

I ran the nosetests in an conda environment with just pgmpy required packages. And I got following error. Here is my conda env info

[code]

[2015-11-04 09:03] khalibartan commented on #501
@kshitij10496  I don't think that would work because pgmpy is not present linux channels.

For installing pgmpy go to the directory where you have cloned pgmpy . In pgmpy directory run `python setup.py install`
Rest will be taken care of by script.
If somehow errors are given than manually install these packages in conda

[code]

after this install nose

[code]

and then try running setup.py again

[2015-11-04 10:48] ankurankan commented on #474
@kshitij10496 Yes. Because earlier we used to only support objects of type str as node names. So, we want to make sure that we haven't missed changing something somewhere and is still not on the old behavior.

[2015-11-04 10:51] ankurankan commented on #508
@khalibartan It's because you are using pandas 0.17.0. You can check in the `requirements.txt` that we support pandas 0.16.2.
I will fix this so that it works with 0.17.0.

[2015-11-04 10:51] #508 closed, assigned to nobody

[2015-11-04 10:51] ankurankan opened #509 "Upgrade pandas to 0.17.0"
Getting this error in tests on pandas 0.17.0:

[code]

[2015-11-04 13:33] khalibartan commented on #489
@souravsingh  If you haven't gain any progress I can work on this issue.

[2015-11-04 13:41] khalibartan commented on #493
@ankurankan take a look at pr 507. I think issue can be closed now.

[2015-11-04 13:43] khalibartan opened #510 "Bench marks for pgmpy."
I think we should have benchmarks for our algorithms performance like scikit-learn does.

[2015-11-04 14:44] khalibartan commented on #486
Will writing the module in cython will help.

[2015-11-04 15:59] ankurankan commented on #510
@khalibartan We already have one at: http://pgmpy.github.io/pgmpy-benchmarks/ and the repo for this is at: https://github.com/pgmpy/pgmpy-benchmarks . If you would like you can add more benchmarks there.

[2015-11-04 15:59] #510 closed, assigned to nobody

[2015-11-04 16:01] ankurankan commented on #486
@khalibartan I don't think we need to cythonize it. There should be a lot of scope for optimization in general.

[2015-11-04 17:42] souravsingh commented on #489
@khalibartan I have made Progress and Currently Testing the functions.

[2015-11-05 05:23] #493 closed, assigned to ankurankan

[2015-11-05 05:50] ankurankan commented on #448
Fixed

[2015-11-05 05:50] #448 closed, assigned to ankurankan

[2015-11-05 05:51] ankurankan commented on #409
Looks fixed now.

[2015-11-05 05:51] #409 closed, assigned to ankurankan

[2015-11-05 05:55] ankurankan commented on #352
@palashahuja No, still throwing this error.

[2015-11-05 05:56] ankurankan commented on #200
Not relevant anymore.

[2015-11-05 05:56] #200 closed, assigned to ankurankan

[2015-11-05 06:12] ankurankan commented on #184
Looks like almost all the tests are there. Closing this.

[2015-11-05 06:12] #184 closed, assigned to nobody

[2015-11-05 06:14] ankurankan commented on #248
Creating new issue for vectorizing predict. Closing this.

[2015-11-05 06:14] ankurankan opened #511 "Vectorize predict method"

[2015-11-05 06:16] ankurankan commented on #494
Fixed in #502

[2015-11-05 06:16] #494 closed, assigned to nobody

[2015-11-05 06:18] ankurankan commented on #273
Not relevant anymore.

[2015-11-05 06:18] #273 closed, assigned to nobody

[2015-11-05 06:20] #248 closed, assigned to nobody

[2015-11-05 06:21] ankurankan commented on #286
I think this is already there with the base models.

[2015-11-05 06:21] #286 closed, assigned to nobody

[2015-11-05 06:22] #287 closed, assigned to nobody

[2015-11-05 13:16] khalibartan commented on #511
can you elaborate it a bit more. I'll will like to take up this issue.

[2015-11-05 13:21] ankurankan commented on #511
@khalibartan In the predict method, right now we loop over each data point and then call the query method. We want to remove this for loop and find a more efficient way which would directly compute all the values.

[2015-11-05 13:24] khalibartan commented on #506
Does this require any background in Bayesian Learning .If it doesn't , then I'm onto it.

[2015-11-05 13:25] ankurankan commented on #506
@khalibartan Not much. You will just need to know how to build a bayesian network in pgmpy.

[2015-11-05 13:26] khalibartan commented on #506
Okay, I think there are examples in pgmpy for this? I'm will start working on this issue tomorrow .

[2015-11-05 13:27] ankurankan commented on #506
@khalibartan Yeah, I think so.

[2015-11-05 13:29] khalibartan commented on #511
which particular script is that. Or is this problem with all the scripts?

[2015-11-05 17:22] khalibartan commented on #511
Is this in relation with #473

[2015-11-06 02:08] ankurankan commented on #511
@khalibartan No.

[2015-11-06 02:31] ankurankan commented on #506
@khalibartan Also there is a dirty implementation of this here: https://github.com/pgmpy/pgmpy/pull/488/files#diff-e84ca375a827eebb64245fbfa41835caR1. And we would like to have the API as we have for other formats (check how other file formats are implemented). You can also check this notebook (might be helpful): https://github.com/pgmpy/pgmpy_notebook/blob/master/Reading%20and%20Writing%20from%20

[2015-11-06 03:00] khalibartan commented on #506
Okay thanks.

[2015-11-06 03:44] kshitij10496 commented on #503
@ankurankan Should this issue be closed since the tests for `Independencies` have been modified ?

[2015-11-06 06:40] ankurankan commented on #509
Known bug in pandas. Will be fixed in 0.17.1.

[2015-11-06 06:42] ankurankan commented on #503
Fixed in #498

[2015-11-06 06:42] #503 closed, assigned to nobody

[2015-11-06 11:13] kshitij10496 commented on #511
@ankurankan Are we looking to change this for a performance boost or to give the module a more pythonic look ?

[2015-11-06 14:22] kshitij10496 commented on #161
@ankurankan I think we can close this now.

[2015-11-06 14:28] kshitij10496 commented on #263
@ankurankan Is this issue still open ?

[2015-11-06 14:36] ankurankan commented on #263
@kshitij10496 yes it's open.. You can start on this.

[2015-11-06 14:36] ankurankan commented on #161
Fixed..

[2015-11-06 14:36] #161 closed, assigned to nobody

[2015-11-07 09:41] yashu-seth commented on #384
@ankurankan Okay. I have started working on this, but it will take some time. I have my end semester examinations next week.

[2015-11-08 05:49] khalibartan opened #513 "Removing pyparsing as dependency from pgmpy"
I think that pyparsing can be removed form pgmpy dependency if we work on UAI reader. Only UAI reader is using pyparsing.
So I think there is no need to make pgmpy dependent of pyparsing just for one script and that too can be work around using regex.
@ankurankan what are your views over this?

[2015-11-08 12:02] ankurankan commented on #513
@khalibartan Right now only UAI is using it but we will need it for some other file formats also.

[2015-11-08 12:02] #513 closed, assigned to nobody

[2015-11-10 07:35] ankurankan commented on #511
@kshitij10496 For performance boost

[2015-11-10 07:37] ankurankan commented on #384
@yashu-seth No problem. Just send a PR early so that I can have a track that you are working in the right direction.

[2015-11-10 07:38] khalibartan commented on #511
@ankurankan Are we iterating over numpy arrays, because that is a very costly process to do, even costlier than list iteration .

[2015-11-10 07:41] ankurankan commented on #511
@khalibartan Depends on what we are getting in the argument.

[2015-11-10 15:45] khalibartan opened #514 "Support for dsc file format and net file format"
@ankurankan what are your views for this.

[2015-11-12 05:34] ankurankan commented on #514
@khalibartan Yes we definitely need to support as many file formats as possible. So, if you would like you can start working on this.

[2015-11-12 10:09] khalibartan commented on #514
@ankurankan I would, but my end sem exams are just about to begin. If somebody can do this before december then he may, otherwise I'll send a pr for this just after the exams are over.

[2015-11-12 14:16] khalibartan commented on #514
- [ ] DSC file format
- [ ] NET file format.

[2015-11-16 09:13] khalibartan opened #515 "Need for a method to store and load the readed files in readwrite modules."
I think we should give store a method in reader classes of our readwrite modules. If somebody wants to work on same data files again, he have to go through process again which I think is time wasting .
User should have option to store this readed information and reuse it again. We can use pickle library of python.
@ankurankan What are you views regarding this.

[2015-11-16 09:18] ankurankan commented on #515
@khalibartan This is why we have the writer classes. So, that the user can write the models in whatever format he want and share/use it.

[2015-11-16 09:28] khalibartan commented on #515
@ankurankan Writer class is something different than this. That class writes in exportable format. One have to parse that written class once again to get information. I'm thinking of method that stores data like we do in pickling . Once user have parsed the file he doesn't have to parse it once again. He can just use pickling and reuses the info.

[2015-11-16 09:34] ankurankan commented on #515
@khalibartan I don't see any benefits of using a pickle based solution. Our current solution is a much more stable thing. Try googling problems with python pickle.

[2015-11-17 05:10] ankurankan commented on #515
Closing this.

[2015-11-17 05:10] #515 closed, assigned to nobody

[2015-11-18 05:54] ankurankan opened #516 "Refactor sampling code to work only with Factors rather than TabularCPD"
Currently the Sampling code uses both Factor and TabularCPD interchangeably. And since we can't define things like product for TabularCPD, we need to move the whole code to convert all the CPDs to Factors before operating on them.

[2015-11-20 07:03] ankurankan opened #518 "Add tests to Sampling methods"
Add tests for generating a large number of samples and check if the probability distribution is approximately same as expected.

[2015-11-29 23:10] Erotemic opened #519 "Use of isinstance(event, str) causes errors in python2.7"
The use of isinstance(event, str) in In dependencies.py causes an error in python2.7 code using __future__.unicode_literals. This is because unicode is not str in python2.7.

I'm not sure if this project wants to support python2.7, but the use of the six module indicates that there is at least some interest in doing so.

If supporting python2.7 and python3 is a development goal then changing all m

[2015-11-30 12:21] #519 closed, assigned to nobody

[2015-11-30 12:45] ankurankan commented on #519
@Erotemic Thanks for pointing this out.

[2015-12-01 19:48] yashu-seth opened #522 "add tests for _get_ancestors_of method in BayesianModel"

[2015-12-01 19:50] yashu-seth opened #523 "add tests for get_independencies method in BayesianModel"

[2015-12-01 20:00] kshitij10496 commented on #523
I would like to work on this

[2015-12-02 06:37] kshitij10496 opened #525 "add more independencies in get_independencies of Bayesian Model"
The `get_independencies` method should compute all the independencies present in the Bayesian network.  It should also include the local independencies given by the `local_independencies` as well.

[code]

[2015-12-02 06:38] kshitij10496 commented on #525
I am working on this

[2015-12-02 11:19] kshitij10496 commented on #489
@souravsingh Are you still working on this ?

[2015-12-02 11:21] souravsingh commented on #489
@kshitij10496 Yes,I am.It will take some time to make a PR since I am testing the methods.

[2015-12-02 12:43] khalibartan commented on #489
@souravsingh you should send a patch. Testing can be done along. Small commits help in better review .

[2015-12-02 21:12] Erotemic commented on #484
I believe I fixed this issue in a recent patch.

[2015-12-02 22:00] Erotemic opened #526 "Error during belief propagation with a BayesianModel (in MarkovModel.to_junction_tree)."
I'm getting an error when performing BeliefPropagation on a BayesianModel. The issue does not occur if I use VariableElimination instead.

Something even odder is that the BeliefPropagation DOES work if I use exact same model and only change the variable names! In one case I index my random variables with i, j, and k, and in the second case I use a, b, and c. I have no idea why these would behave

[2015-12-02 22:32] Erotemic commented on #526
More debug info;

The clicke_tree.nodes() in both cases before it enters the         for node in clique_trees.nodes():
 loop in to_junction_tree look like this:

x = clique_trees.nodes() = [
(u'Ni', u'Mij', u'Nj'), (u'Mjk', u'Nj', u'Nk'), (u'Ni', u'Nk', u'Nj'),
 (u'Sik', u'Mik'), (u'Sij', u'Mij'), (u'Mjk', u'Sjk'),
 (u'Ni', u'Nk', u'Mik')]

y = clique_trees.nodes() = [
(u'Nb', u'Mbc', u'Nc'), (u'N

[2015-12-02 22:49] Erotemic commented on #526
I attempted to add a check and just ignore the 0 length potentials, but there was an error elsewhere, so I assume that is probably not correct.

 A solution that seems to work (at least for this case) is sorting the nodes by descending degree and then computing the clique potentials.

[code]

If nodes are sorted in ascending order then both examples fail. I think this might be the correct solution

[2015-12-03 04:15] ankurankan commented on #484
Fixed in #524

[2015-12-03 04:15] #484 closed, assigned to nobody

[2015-12-03 14:22] momir81 opened #528 "Error in using TreeCPD"
Hello,
I try to run this command:

[code]

And I get this error:

[code]

Could you please help me with this issue?

Thanks!

[2015-12-03 15:39] yashu-seth opened #529 "Bug in local_independencies method of Bayesian Model"
[code]

[2015-12-03 15:42] yashu-seth commented on #529
The problem is in finding the local independencies of the root node when there is only one root node.

[2015-12-03 16:35] kshitij10496 commented on #529
+1.
Even I have encountered this bug while working.
I think it would be better to raise a relevant exception or a `None` independencies object

[2015-12-03 16:37] kshitij10496 commented on #523
I think we should wait until #525 is resolved.

[2015-12-03 16:48] yashu-seth commented on #529
@kshitij10496  Yes i also think it should return a None object.

[2015-12-03 16:49] yashu-seth commented on #529
@kshitij10496 I saw that you are already working on get_independencies. If you like please look into this too. If you feel otherwise let me know i'll fix it.

[2015-12-03 17:20] kshitij10496 commented on #529
@yashu-seth
Yeah
I will definitely look into this

[2015-12-04 04:05] ankurankan commented on #526
@Erotemic Give me some time. I will check what's happening here.

[2015-12-04 04:12] ankurankan commented on #528
@momir81 pgmpy no longer supports `TreeCPD` and `RuleCPD`. Both have been removed in the latest version.

[2015-12-04 21:51] khalibartan commented on #528
We should remove them from our documentation then.
http://pgmpy.org/api.html#pgmpy.factors.TreeCPD

[2015-12-08 19:13] khalibartan commented on #514
If someone has not begin working on these issues, then I'm on it. Will send a pr soon.

[2015-12-09 03:32] khalibartan commented on #518
@ankurankan do we have to write tests for all the sampling methods?

[2015-12-09 09:24] ankurankan commented on #528
@khalibartan Thanks for pointing this. I will regenerate the docs.

[2015-12-09 12:18] khalibartan commented on #511
@ankurankan Are you referencing the models modules here. If not then can reference the modules which you are talking about. I would like to take up this issue.

[2015-12-09 13:25] kshitij10496 opened #531 "Making IndependenceAssertion object hashable"
The current `IndepedenceAssertion` object has the `__eq__` method and adding a suitable `__hash__` function is needed in order to make it a hashable object.

[2015-12-09 14:03] kshitij10496 commented on #531
Ping @ankurankan

Have a look at this [SO](http://stackoverflow.com/q/4005318/4927751) question.
Should we use the tuples implementation or the XOR one ?

[2015-12-09 14:19] khalibartan commented on #531
@kshitij10496 XOR hash is depreciated because of its commutativity , [see here](http://stackoverflow.com/questions/5889238/why-is-xor-the-default-way-to-combine-hashes/27952689#27952689).
What are your views regarding this ?

[2015-12-09 15:12] kshitij10496 commented on #531
@khalibartan +1.Thanks for the link
 I think we should use either `tuples` or any more suitable hashing technique.

[2015-12-10 04:47] ankurankan commented on #531
@khalibartan @kshitij10496 The simplest hashing function I think would be:

[code]

This might not be very fast but since we would hardly be using it, it wouldn't make a difference.

[2015-12-10 08:09] khalibartan commented on #271
@ankurankan I think we should close this issue, since we no longer support Tree and Rule CPDs

[2015-12-10 08:10] khalibartan commented on #189
@ankurankan  Can elaborate this issue a bit more. Is this issue still open?

[2015-12-10 08:18] khalibartan commented on #65
@ankurankan can you close this issue and reopen a new issue, and mention all the not implemented files alongwith NET and DSC file formats.

[2015-12-10 09:51] ankurankan commented on #65
@khalibartan I am just adding it here.

[2015-12-10 09:53] ankurankan commented on #271
Closing as not relevant anymore.

[2015-12-10 09:53] #271 closed, assigned to nobody

[2015-12-10 10:03] ankurankan commented on #189
@khalibartan You can check the `traingulate` method in `MarkovModel` (I guess; search for it). We have implementation of 6 heuristic algorithms for computing the order of removing the nodes. This issue is for adding more algorithms to that.

[2015-12-10 10:07] khalibartan commented on #65
@ankurankan Okay. I just felt since issue is long we can get more people to work on.

[2015-12-10 10:21] khalibartan commented on #383
@zxcvbn97 Are you still working on this?

[2015-12-10 11:25] khalibartan commented on #359
@ankurankan I think we have Joint Probability Class.

[2015-12-10 11:26] khalibartan commented on #340
@ankurankan Close this issue as we no longer support RuleCPD

[2015-12-10 22:01] Erotemic commented on #526
Any progress here?

I've been getting by using the hack to sort the nodes in the clique tree by degree, but again, I'm not sure that its correct. Do you know if the ordering of the cliques should matter in the computation of the clique potentials?

[2015-12-11 06:56] ankurankan commented on #526
@Erotemic Are you on python 2 ? This fails only on python 2 for me.
So, this ideally should be some minor issue in python 2 and 3 compatibility.

[2015-12-11 13:50] kshitij10496 commented on #531
This seems fine to me.
@khalibartan What are your views on this ?

[2015-12-11 14:15] khalibartan commented on #531
@kshitij10496  If speed is not an issue then this is fine, but it is really computationally slow, I believe there is an internal implementation for `tuples` hash, not sure though . But since we are rarely going to use hash method , this seems to fine to me.

[2015-12-11 14:19] kshitij10496 commented on #531
@khalibartan Exactly.
I think this will do for now.
Moreover, we can always improve upon this if need be.

[2015-12-11 15:50] khalibartan commented on #383
@ankurankan Is this issue still open ? I would like to work on it if it is. Since I don't have much background on pgm's it will take me some time, but I would like to work on it.

[2015-12-11 15:59] Erotemic commented on #526
I am primarily on python 2 due to the restrictions of my projects, and this does pass for me on python 3.

It seems odd that python 2 would be the failure case. Normally I would expect someone to use an iterator as if it were a list, and then when they switch to python 3 the iterator "unexpectedly" becomes empty.

I did see division used in some places without a **future** import division, but I t

[2015-12-11 18:53] Erotemic opened #534 "Logical Error during Inference"
I've come across what looks like a serious issue. Exact Inference seems to be producing incorrect results for map_query. I've provide a small test case that reproduces this error in both python 2 and python 3.

**For context**:
In this section I'm going to describe the context of the problem I'm working on. This will hopefully provide an intuition about the model that is causing the error.

I am a

[2015-12-11 18:54] adambagh7 opened #535 "Bug"

[2015-12-11 18:58] kshitij10496 commented on #535
@adambagh7 Can you share the bug ?

Moreover, read [this](https://guides.github.com/features/issues/)

[2015-12-11 20:14] khalibartan commented on #535
@adambagh7 Share the bug, and what piece of code caused it, without necessary details we cannot dig in.

[2015-12-12 11:55] saketkc opened #537 "pgmpy on pypi?"
Is there a reason to not host pgmpy on pypi?
For an end user, `pip3 install pgmpy` would be more useful.

[2015-12-12 12:22] saketkc commented on #537
Even on conda for that matter.

[2015-12-12 13:07] kshitij10496 commented on #537
Absolutely.
Ping @ankurankan

[2015-12-12 15:04] khalibartan commented on #537
@saketkc There is pip installation available for pgmpy.

[code]

Did you tried this?

[2015-12-12 15:39] kshitij10496 commented on #537
@khalibartan I am not sure if we do this.
PgmPy is not hosted on PyPi.
We need to build it from source itself.
Although, all the requirements can be downloaded via pip.

[2015-12-12 16:37] khalibartan commented on #537
@kshitij10496 Okay, I thought we can install pgmpy with it.

[2015-12-12 16:52] kshitij10496 commented on #537
@khalibartan Right now, we cant.
But it would be really cool if we could have.

[2015-12-13 01:07] kmbnw opened #538 "Confusing error in fit(): IndexError index 0 is out of bounds"
EDIT: I am using the book/v0.1 branch.

My apologies if this is in the bug list somewhere; I looked through the active bugs and searched, but I couldn't find a duplicate.

I'm experimenting with the examples from the book "Mastering Probabilistic Graphical Models in Python".  In setting up what seemed like some fairly simple models, I discovered what looks like a bug (occurs on both Python 2.7 and

[2015-12-13 05:44] khalibartan commented on #538
@kmbnw  can you give me the complete code, I'll run it on dev branch and If error reproduce I'll try to fix the bug. Also you should not use a stale branch , it hasn't been updated since a long time .

[2015-12-13 05:51] khalibartan commented on #538
@kmbnw Same error is being caused even in `dev` branch. Will look into the matter .
But it is also deprecated that you should not use a stale branch for working, it hasn't been updated since a long time .
Ping @ankurankan
Is this a known issue ?

[2015-12-13 06:01] kmbnw commented on #538
Ok.  I will try with the dev branch.  Is master also stale?  Do you still want the rest of the code?

[2015-12-13 10:09] khalibartan commented on #538
@kmbnw  you don't need to reproduce the code, I have mentioned that same error is being caused in dev, and yes master is also a stale branch .

[2015-12-13 18:07] khalibartan commented on #538
@kmbnw There is no need for the rest of code. Also same error is being caused in the dev , we will look into the issue.

[2015-12-13 19:57] kmbnw commented on #538
Please note that changing this to floating point numbers causes it to fail even with the 'extra' column that makes it work with integers:

[code]

Which looks like the same error in https://github.com/pgmpy/pgmpy/issues/501

[2015-12-13 20:01] yashu-seth commented on #538
@kmbnw I have located the cause of the bug. We will fix it as soon as possible.
#541

[2015-12-13 23:29] yashu-seth commented on #441
@ankurankan Can we use

[code]

[2015-12-14 08:47] #528 closed, assigned to nobody

[2015-12-14 08:47] ankurankan commented on #529
@kshitij10496 @yashu-seth Is this fixed ?

[2015-12-14 08:49] #535 closed, assigned to nobody

[2015-12-14 08:52] ankurankan commented on #537
@saketkc @kshitij10496 @khalibartan We really need to host on both pypi and conda. I will try to do this ASAP.

[2015-12-14 09:00] khalibartan commented on #506
@ankurankan Now we can close this issue .

[2015-12-14 09:11] ankurankan commented on #506
Fixed in #512

[2015-12-14 09:11] #506 closed, assigned to nobody

[2015-12-14 09:34] ankurankan commented on #441
@yashu-seth I tried this but it's much slower than the current implementation.

[2015-12-14 10:26] yashu-seth commented on #529
@kshitij10496 please tell us about the status of this issue. If you are not free currently let me know i'll fix it.

[2015-12-14 16:47] khalibartan commented on #514
@ankurankan Can you find some documentation about specification on these networks .  Example files on [bnlearn repository](http://www.bnlearn.com/bnrepository/) are not generalised files , they have been adjusted ( for eg in .bif format they have removed comments, properties etc.)

[2015-12-14 17:31] ankurankan commented on #529
Hello,

I am working on this.
I will send the PR by tomorrow

On Mon, Dec 14, 2015, 3:56 PM Yashu Seth notifications@github.com wrote:

[2015-12-14 17:57] kshitij10496 commented on #537
@ankurankan That's really good.
If you need any assistance with this, just let me know

[2015-12-14 23:47] Erotemic commented on #534
Has anybody looked at this / been able to confirm this behavior?

[2015-12-15 05:26] ankurankan commented on #514
@khalibartan Okay. I will see if I can find something. Also can you look at http://www.cs.cmu.edu/~fgcozman/Research/InterchangeFormat/Old/xmlbif02.html, they have the grammar of BIF format. Just have a look at that and see if you can optimize things in our implementation.

[2015-12-15 05:28] khalibartan commented on #514
@ankurankan I have designed the things according to what grammar they have given at that link .. :) .
You can see reference to it in example, https://github.com/pgmpy/pgmpy/pull/512/files#diff-e84ca375a827eebb64245fbfa41835caR33 .

[2015-12-15 05:51] ankurankan commented on #514
@khalibartan Cool. And I couldn't get what you meant by: the example files are not generalized. Can you please elaborate ?

[2015-12-15 06:20] ankurankan commented on #534
@Erotemic I am sorry for the delay, I am a bit busy these days. But I will try my best to look into both this and the Belief Propagation issue by end of the day.

[2015-12-15 06:21] khalibartan commented on #514
@ankurankan Generalized isn't good term to use actually , my bad because I couldn't find word to express it. If you go through the bnlearn repository the files they don't actually contains all types of grammar that could be present in the model, they have modified these files to remove certain things that aren't necessary for creating models, like property , etc, but can be present in the file . I

[2015-12-15 06:30] khalibartan commented on #514
@ankurankan  I also wanted to ask you something , in .net files I noticed that table arguments were giving, tabular CPDs type of thing directly . I meant the numbers were written within parenthesis , in a hierarchy similar to Tabular CPD (numbers grouped together like in tabular CPD) . Is there a way we can efficiently load these , because there might be ways to work around them really fast , beca

[2015-12-15 15:15] Erotemic commented on #534
Understood. I'm all too aware of how much work it is to keep up with issues and requests in addition to the many other tasks that must be accomplished in a day. I'm very gratuitous for the help. Having these answers is critical for my work, so I'll see what I can to make it easier to answer these questions.

That being said, I've done some delving into the code base (and I must say that this is a

[2015-12-16 05:40] ankurankan commented on #534
@Erotemic You are right. MAP query should return values for joint assignments to a set of variables. And that is the expected behavior. I think I had done some changes in `_variable_elimination` method recently and this is a side effect of that. I will check this and will fix if I can think of some quick fixes.

[2015-12-16 14:22] Erotemic commented on #534
@ankurankan Excellent, its always good to have one's own sanity checked.

From what I was in the code it looked like there was some potential issues with variable names that get changed between functions. Even if they are not problems they did cause me confusions. From what I recall the offenders are:
- elimination_variables and variables. This is between map_query and _variable_elimination
- fina

[2015-12-17 04:58] ankurankan commented on #538
@kmbnw This is fixed now. Please pull the latest changes. Also failing in the case of `float` is an expected behavior since we currently just support discrete variables.

[2015-12-17 04:58] #538 closed, assigned to nobody

[2015-12-17 06:05] ankurankan commented on #501
Fixed in #541

[2015-12-17 06:05] #501 closed, assigned to nobody

[2015-12-17 17:54] Shekharrajak commented on #452
Can you please explain little about the bug for better understanding ?

[2015-12-17 19:45] Shekharrajak commented on #288
Do you mean this ?
width of induced graph =  recursively connecting parents going from
last node to first.
 Induced-width w_(d) = the max induced-width over all nodes
 Induced-width of a graph=max w_(d) over all

So we need Induced width of graph ?

[2015-12-18 15:30] palashahuja commented on #452
The above example looks like this, if considered of only the first two time slices.
![example](https://cloud.githubusercontent.com/assets/8504351/11900053/5a57a8cc-a5c9-11e5-8a97-ed2f32d5b57d.png)
The nodes `a_0` and `c_0` are the nodes which don't have an intra-connection(i.e. connection among the nodes inside the time slice that they belong to). These are nodes that provide a constant noise to t

[2015-12-18 19:29] khalibartan commented on #537
this works
`pip install https://github.com/pgmpy/pgmpy/archive/dev.zip`

[2015-12-19 00:28] yashu-seth commented on #529
PR #545

[2015-12-20 17:42] yashu-seth opened #546 "Remove all local import statements"
[PEP8](http://www.python.org/dev/peps/pep-0008/)
Imports are always put at the top of the file, just after any module comments and docstrings, and before module globals and constants.

[2015-12-20 21:43] eyadsibai commented on #509
they have released 0.17.1

[2015-12-21 05:27] ankurankan commented on #288
@Shekharrajak This is already implemented.

[2015-12-21 05:27] ankurankan commented on #288
Closing.

[2015-12-21 05:27] #288 closed, assigned to nobody

[2015-12-21 20:21] khalibartan opened #548 "List of all TODO's"
Here is al list of all TODO comments in pgmpy. I thought raising an issue regarding it can help us remove some. Removed TODO from CPD (since that particular section of code was commented out)
- [ ] independencies/Independencies.py:        # TODO: write reduce function.
- [ ] independencies/Independencies.py:        # TODO: Write this whole function
- [ ] inference/ExactInference.py:        # TODO:

[2015-12-22 16:13] kshitij10496 commented on #537
@ankurankan Can you please update the status of this ?

[2015-12-23 09:41] khalibartan commented on #546
@ankurankan I'm going through pgmpy codes , so I'll remove this local import statements and also remove bugs in doc-strings . I found that some Examples in doc-strings were not working examples, and some had bugs in it . So I'll send a pull for this . Also in many doc strings examples outputs are not shown , should I add outputs of them ?

[2015-12-23 09:42] ankurankan commented on #546
@khalibartan Yes please do add the outputs.

[2015-12-23 09:49] khalibartan commented on #548
@ankurankan Which TODO's we can work on right now ?

[2015-12-23 09:50] khalibartan commented on #546
@ankurankan And for local import statments, should I remove them and add to the starting or let it remain as such ?

[2015-12-23 09:51] ankurankan commented on #548
@khalibartan None of these are high priority for now. So, can start anywhere.

[2015-12-23 09:52] ankurankan commented on #546
@khalibartan Yes please do that. Also keep in mind that there might be some local imports to avoid cyclic imports. Just don't change those, the rest you can put at the top of the files.

[2015-12-23 10:56] ankurankan opened #549 "Bug in printing Factor objects when the variables are not str"
[code]

[2015-12-23 15:15] khalibartan commented on #549
@ankurankan I was about to report this error, I found it when I was working . I'll fix this my PR for docstrings.

[2015-12-23 17:38] khalibartan commented on #489
@souravsingh Can you send in a patch. I need these changes for some work . If you'll send a patch then I'll work with your branch, otherwise I'll  send a new PR for this because I need these for work for some fixes that needs to be done .

[2015-12-23 17:53] khalibartan commented on #489
@ankurankan the copy method in Factors class is not actually returning a copy I think, numpy arrays are mutable objects and also a list return by a function.
[code]
Function is not doing what you are actually thinking .

[2015-12-23 18:17] khalibartan opened #551 "Bug in JointProbabilityDistribution.check_independence"
In python 2 output is wrong while in python 3 output is correct .
Python 2:

[code]

Python 3

[code]

Couldn't quite figure out what caused this error because get_independencies is returning the right output(after the new fixes that i have done , just slight changes since it was not running ) and they both have similar code.

[code]

Ping @ankurankan Take a look at the code, and tell me what can

[2015-12-23 19:27] khalibartan commented on #551
Found the bug, will be fixed in the new pr

[2015-12-24 06:16] ankurankan opened #553 "Add __str__ method for FactorSet"
Current behavior:

[code]

Expected behavior:

[code]

[2015-12-24 06:23] ankurankan commented on #537
@kshitij10496 I haven't started working on this yet.

[2015-12-24 07:05] kshitij10496 commented on #553
I am working on this.

[2015-12-24 08:02] khalibartan commented on #553
@kshitij10496 I'll work on this, since I'm going through the things. I have already opened a PR , in which I'll cover up small issues .

[2015-12-24 08:03] kshitij10496 commented on #553
Oh cool
Go on :+1:

[2015-12-24 08:04] khalibartan commented on #553
@kshitij10496 Any other issues , which You want me to take a look at?

[2015-12-24 08:13] khalibartan commented on #553
@ankurankan We want this expected behaviour or should I print the `__str__` representation of factors in the factor set.
This:

[code]

Or this

[code]

[2015-12-24 08:40] ankurankan commented on #553
@khalibartan The second one.

[2015-12-24 08:43] khalibartan commented on #553
@ankurankan I think this should do

[code]

the output is similar to printing a set.
Will be fixed in #552

[2015-12-24 08:59] khalibartan commented on #549
@ankurankan Should I turn variables to a list of string while printing or, change self.variables to list of string when initializing.

[2015-12-24 09:16] ankurankan commented on #549
@khalibartan Convert variables into `str` when printing.

[2015-12-24 09:24] khalibartan commented on #549
@ankurankan Close this. Fixed in #552

[2015-12-24 09:34] khalibartan opened #554 "Bug in FactorSet.marginalize method."
FactorSet.marginalize isn't throwing an exception where it should have been

[code]

It should work only with iterables not with strings.
Will be fixed in #552

[2015-12-24 11:58] khalibartan opened #555 "Bug in FactorSet.divide method"
It was returning `None` when inplace = False, but actually it should return a new FactorSet object.
Will be fixed in #552

[2015-12-24 12:45] khalibartan commented on #529
@ankurankan What you think we should return a `None` object or raise a relevant exception.

[2015-12-25 06:41] #555 closed, assigned to nobody

[2015-12-25 07:20] khalibartan commented on #554
@ankurankan closing this. Fixed in #552

[2015-12-25 07:20] #554 closed, assigned to nobody

[2015-12-25 07:20] khalibartan commented on #553
@ankurankan Close this , Fixed in #552

[2015-12-25 07:26] khalibartan commented on #514
@ankurankan Anything found for this.

[2015-12-25 11:17] yashu-seth commented on #385
@ankurankan I would like to work on this. Any suggestions?

[2015-12-25 19:40] khalibartan commented on #438
@ankurankan I think this error has been fixed .

[2015-12-25 19:53] khalibartan commented on #452
@ankurankan Can you take a look at this bug. Its fairly easy to know what caused this error, but I don't understand algorithm so I think I cannot work . Also the example in docstring of initialize_inital_state is not reproducible please see for that too .

[2015-12-25 19:55] khalibartan commented on #384
@ankurankan Fixed. Close this

[2015-12-25 20:01] khalibartan commented on #112
# TODO: refer to IMap class for explanation why this is not implemented
@ankurankan I cannot understand this TODO couldn't find anything related to it.

[2015-12-25 20:02] khalibartan commented on #337
@ankurankan I which particular module we want to add this method.

[2015-12-25 20:07] palashahuja commented on #452
@khalibartan , I have looked into the `initialize_initial_state` method and it seems fine to me.(i.e. the example from the docstring). I could try to explain the algorithm further, but could you please refer to the algorithm that you seek to understand ?

[2015-12-25 20:13] khalibartan commented on #452
@palashahuja here is the bug I got , when I tried to reproduce the code.

[code]

Actually I would like to learn it but I have just began to learn PGM's so right now I think I cannot understand that algorithm.

[2015-12-25 20:19] khalibartan commented on #452
@palashahuja TabularCPD of ('G',0) clearly doesn't sums upto one. Bug would have been caused .
Here is the corrected one
[code]

[2015-12-25 20:22] palashahuja commented on #452
@khalibartan just send the PR regarding the correction. @ankurankan , Please look into this. Are you talking about `dbn_inference`? I will have to look into the code again and see what to do next. Will keep you informed on this thread.

[2015-12-25 20:29] khalibartan commented on #452
@palashahuja Can you help me understand what are we trying to do in this particular [line](https://github.com/pgmpy/pgmpy/pull/556/files#diff-2f01e2f08f197d70265a4f4e149365c2R504) actually understood that its adding it to 1st time slice, but what for the nodes that are in first time slice, do we need to iterate over them too.

[2015-12-25 20:31] palashahuja commented on #452
@khalibartan , that is exactly what I am trying to do, if the cpd is in the first time slice and I will add the cpd in the zeroth time slice too.

[2015-12-25 20:34] khalibartan commented on #452
@palashahuja Okay. I can fix this one , but what about dbn_inference you were referencing . I think that is the main concern from your comment. What is the problem in that if add these changes.

[2015-12-25 20:38] palashahuja commented on #452
@khalibartan I understand the bug fixing is easy, but make sure to try the test case that I have mentioned above. If no problem arises by changing the appropriate code, and if it doesn't give any error in `dbn_inference` then go ahead and send a PR. If it does, then show me the error patch and then I will have to look into it accordingly.

[2015-12-25 20:50] khalibartan commented on #452
@palashahuja If add this line

[code]

This bug doesn't happen, a different error is given. I'll look into things a little bit more.

[2015-12-25 21:30] khalibartan opened #557 "Bug in DynamicBayesianNetwork"
It is not clear that this is bug in DirectedGraph or DynamicBayesianNetwork. While working with DynamicBayesianNetwork there is an error while creating a Digraph.( similar results were not reproduced in BayesianModel . both times it gave error).

[code]

Now if I do this:

[code]

There is no error.
Ping @ankurankan I got this error when I was trying to work on issue #452 . I'll try fix in my PR #

[2015-12-26 17:49] khalibartan commented on #557
@ankurankan The issue is caused by add_node method , it **adds the node in 0th time slice to the network**, but the add_edge or add_edges_from methods , inherited from networkx adds the nodes in the same format as they are given. Only solution to this problem I can find was to call`add_node` after each `add_edge` call and call `add_nodes_from` after each call of `add_edges_from`.

[2015-12-28 06:04] ankurankan commented on #549
Fixed

[2015-12-28 06:04] #549 closed, assigned to nobody

[2015-12-28 06:05] #553 closed, assigned to nobody

[2015-12-28 14:44] khalibartan commented on #551
@ankurankan When I was trying to dig in a little, I found that if condition was always true in **python2**, I found this by replacing `==` by `!=` and vice versa in both `check_independence` and `get_independence` and it returned the same result always.

[2016-01-01 10:39] yashu-seth opened #559 "New issues need to be labelled"
There are many issues that have not been tagged. It would be very useful for newcomers if they find issues labelled.

[2016-01-01 12:14] kshitij10496 commented on #559
Absolutely.
The issues need to be labelled for better issue tracking

[2016-01-01 12:16] kshitij10496 commented on #489
Ping @souravsingh

[2016-01-02 06:50] khalibartan commented on #385
@yashu-seth The issues marked with releases are already solved

[2016-01-02 08:55] yashu-seth commented on #385
@khalibartan but I don't think we have MLE for markov models.

[2016-01-02 09:00] khalibartan commented on #385
@yashu-seth I just checked in you are right.
Ping @ankurankan Remove the release 0.1 milestone.

[2016-01-02 09:04] khalibartan commented on #385
Its documentation also needs to be updated .

[2016-01-02 09:11] khalibartan commented on #314
@ankurankan DO you mean in case of `BayesianModel` user can chose from `VariableElimination` and `BeliefPropagation` ?

[2016-01-02 09:19] khalibartan commented on #284
@ankurankan Elaborate it a bit more.

[2016-01-03 08:11] ankurankan commented on #509
Released 0.17.1 version is causing some bugs in pgmpy. We will discuss it
whether the change needs to be done or not.
On Monday, December 21, 2015 at 3:13:28 AM UTC+5:30, Eyad Sibai wrote:

[2016-01-03 09:01] khalibartan commented on #509
My bad for this, comment . I didn't checked the version details properly (confused between 0.17.0 and 0.17.1 ). Dependencies has been upgraded .

[2016-01-03 17:41] Pratik151 commented on #489
@souravsingh  If you are not working on this can I work on this?

[2016-01-03 17:49] souravsingh commented on #489
Sorry @kshitij10496 for not responding.I was out of country.As for working on a patch,I am only working on MarkovChain and MarkovModel since sending a patch for all the classes is difficult.

[2016-01-03 17:52] Pratik151 commented on #489
@souravsingh  If you didn't started working on others, can I try to work on them? If you are not busy now maybe you can continue.

[2016-01-03 17:57] souravsingh commented on #489
I believe @kshitij10496 is working on it.But feel free to send a PR.It will take some time for me to send a PR for the two classes.

[2016-01-03 18:43] khalibartan commented on #489
@Pratik151 @kshitij10496 is not working feel free to send in a PR.

[2016-01-03 21:45] liquidmetal commented on #274
Was this sorted out?

Instead of having a function named `check_model`, you could have something like `validate_model`. If the function executes fine, the model has no errors. If not, the function could raise a bunch of different exceptions like mentioned above.

[2016-01-03 21:51] yashu-seth commented on #274
@liquidmetal check_model is currently doing exactly that. And I think it has been decided that check_model will raise an error.and not return False, at least for now.

[2016-01-03 21:54] yashu-seth commented on #274
@ankurankan I think this can be closed.

[2016-01-03 21:58] yashu-seth commented on #272
@ankurankan I added the required tests. I think this can be closed now.

[2016-01-04 05:52] ankurankan commented on #274
Fixed. Should return `True` if the model is correct or raise an error.

[2016-01-04 05:52] #274 closed, assigned to nobody

[2016-01-04 05:58] khalibartan commented on #274
I agree . It should return an error. If `false` is returned user will not understand that given data has some bugs in it. A proper error raised can save a lot of time for users .

[2016-01-04 05:59] khalibartan commented on #509
@ankurankan Close this issue .

[2016-01-04 06:14] ankurankan commented on #509
@khalibartan Pandas 0.17.1 conflicts with python 3.3 (https://travis-ci.org/ankurankan/pgmpy/builds/98056983). So we will have to make some changes in `.travis.yml` to install different version of pandas for different python versions and similar changes in `setup.py`.

[2016-01-04 06:16] khalibartan commented on #509
@ankurankan Okay. I didn't checked it out for python 3.3 .

[2016-01-04 06:21] #272 closed, assigned to nobody

[2016-01-04 06:39] ankurankan commented on #314
@khalibartan Yes. There should be an argument so that the user could pass any class which inherits `Inference` (https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/inference/base.py#L13). This will help in keeping things extensible and the user can quickly write his own inference algorithm and plug it in pgmpy.

[2016-01-04 06:42] ankurankan commented on #385
@khalibartan @yashu-seth Tagging with Release milestone means that this issue should be fixed before the release.

[2016-01-04 06:43] ankurankan commented on #559
@yashu-seth @kshitij10496 Can you guys come up with a list of issues which need to be tagged? And also let's move this discussion to the mailing list.

[2016-01-04 06:43] #559 closed, assigned to nobody

[2016-01-04 06:44] yashu-seth commented on #559
@ankurankan okay. will do it.

[2016-01-04 06:47] ankurankan commented on #337
@khalibartan Don't work on this right now. I don't have a clear picture of this in my mind.

[2016-01-04 07:05] yashu-seth commented on #384
@ankurankan I think this can be closed now.

[2016-01-04 07:06] #384 closed, assigned to nobody

[2016-01-04 07:29] ankurankan commented on #551
@khalibartan So the issue here is that we are doing a `!=` comparison here: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/factors/JointProbabilityDistribution.py#L171. What I figured is that there is difference in the way python2 and 3 handle this. In case of python2 this statement wasn't even calling Factor's `__eq__` method. Whereas in case of python3 it was called. Here are the docs: https://do

[2016-01-04 07:51] khalibartan commented on #551
@ankurankan  Okay. I didn't knew this behaviour of python 2 . Will fix this in a new PR. I'll go with the same implementation (returning not of **eq**). I cannot think of any case where `==` and `!=` aren't of opposite truth value.

[2016-01-04 07:53] khalibartan commented on #314
@ankurankan I'll check the API of the inference class . And see on how to integrate it .

[2016-01-04 07:59] khalibartan commented on #385
Anyone who would be working on this one please update its documentation. In this [line](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/estimators/MLE.py#L13) We have described parameter model can be a instance of markov model and NoisyOrModel but till now we are supporting only Bayesian Model.

[2016-01-04 08:27] kshitij10496 commented on #489
@Pratik151 I haven't started working on this.
So you can take this.

Thanks @khalibartan

[2016-01-04 13:22] kshitij10496 commented on #546
@khalibartan Can you share the status of this issue ?
If you are not working on this currently, I can give this a try.

[2016-01-04 14:25] kshitij10496 commented on #522
I am working on this.

[2016-01-04 14:39] yashu-seth commented on #522
@kshitij10496 cool

[2016-01-04 15:06] khalibartan commented on #546
@kshitij10496 I have paused the work because I have already opened two PR and ankur wasn't active. I'll resume the work back now.
Can you remove local import statements from BayesianModel class , since you are working on it .

[2016-01-04 15:28] khalibartan commented on #546
@kshitij10496 Actually You can fix this issue, if you want. Currently I'm gaining some background in PGM's so reading codebase before will not help much.You can leave factor and related classes. I have fixed bugs in them.

[2016-01-05 08:07] kshitij10496 commented on #546
@khalibartan Cool.
I will try to fix the rest of the codebase

[2016-01-05 09:33] kshitij10496 opened #561 "_get_ancestors_of in BayesianModel includes the concerned node"
[code]

A node cannot be its own child or ancestor.

I will try to fix this and write the tests.

[2016-01-05 11:02] khalibartan commented on #561
@kshitij10496 If you haven't begin working on this one I want to give it a shot.

[2016-01-05 11:05] kshitij10496 commented on #561
@khalibartan If you don't mind, I am working on this
Also, I need to fix this prior to #522 .

[2016-01-05 11:10] khalibartan commented on #561
Okay.

[2016-01-05 18:35] yashu-seth commented on #561
@khalibartan @kshitij10496 actually the `_get_ancestors_of` method is used in `active_trail_nodes` which requires that particular behavior. I think we can change the name of the method instead of changing its behavior.

[2016-01-06 08:18] khalibartan commented on #68
@ankurankan JointProbabilityDistribution has this implementation. Though I don't know much but till now I have encountered it only for joint probability distributions , so I think this issue can be closed . Or do other classes have I-map construction ? If so then I'll like to work on them .

[2016-01-06 08:19] khalibartan commented on #112
@ankurankan Can I work on this issue ?

[2016-01-06 08:49] kshitij10496 commented on #561
IMO the `_get_ancestors_of` method was created for internal use only(rightly pointed by @yashu-seth ).
I think the underscore prefix to the name indicates this.
Also, there are no examples added to further solidify my opinion.

Like, @yashu-seth suggested, we should add a new method with the desired characteristic, instead of changing the behavior of `_get_ancestors_of` method.

Since @ankurankan

[2016-01-06 10:50] yashu-seth commented on #561
@kshitij10496 I'm not sure but isn't there a method in NetworkX class to get the ancestors?

[2016-01-06 11:16] khalibartan commented on #561
@yashu-seth No there is not a method as per my knowledge, but there is a function for this in networkx named ancestors .

[code]

[2016-01-06 11:26] kshitij10496 commented on #561
@yashu-seth
Networkx do has an ancestor function, as pointed by @khalibartan .
However, the `ancestor` function take only a single node as input.
In here, we allow a list/tuple of nodes as input.
Hence, I thought it might be useful to have a modified implementation.

[2016-01-06 11:31] khalibartan commented on #561
There is no problem in adding a new method for users .

[2016-01-06 11:39] khalibartan commented on #314
@ankurankan What should user send in as parameter the type of algorithm or an instance of algorithm
. Formally

[code]

For second one user have to pass the model parameter, because `__init__` method of `Inference` requires that.

[2016-01-06 11:48] yashu-seth commented on #561
cool

[2016-01-06 12:12] khalibartan commented on #314
Also how do we plan on for API. Since Classes in `ExactInference.py` have same consistent API but user may not be knowing our API. I have also tried an implementation by passing a `type` and it worked fine without much changes .

[2016-01-07 19:30] anaviltripathi commented on #263
@ankurankan @kshitij10496 If this is still open, then I would like to work on this.

[2016-01-08 06:18] ankurankan commented on #263
@anaviltripathi This is still open. You might find a few bugs in inference code while writing this.

[2016-01-08 06:55] anaviltripathi commented on #263
@ankurankan Can you suggest some tool to cross verify the tests against. Like Samlam was used for bayesian tests.

[2016-01-10 19:48] yashu-seth opened #564 "Implement get_factorized_product method in Independencies"
[code]

[2016-01-10 19:50] yashu-seth commented on #564
@khalibartan I didn't exactly get what this method would do. Can you please help if you have some idea about this?

[2016-01-11 04:20] khalibartan commented on #564
same here. I tried to look for it in Daphne koller's book but couldn't find anything that relates to it (till bayesian models) . Maybe @ankurankan could throw some light over it.

[2016-01-11 04:28] ankurankan commented on #564
@yashu-seth @khalibartan Can't remember what I was thinking to do with this method :D

[2016-01-11 04:38] ankurankan commented on #284
@khalibartan We need to have a generalized API for CPDs, so that user can write there own classes representing CPD by inheriting the Base CPD class. Something in the lines for what we are doing in the case of Inference algorithms.

[2016-01-11 04:45] ankurankan commented on #68
Fixed

[2016-01-11 04:46] ankurankan commented on #112
@khalibartan Yes please go ahead.

[2016-01-11 04:59] ankurankan commented on #314
@khalibartan We will need to pass in the class as a parameter. So, it would look something like:

[code]

[2016-01-11 05:00] ankurankan commented on #546
@kshitij10496 @khalibartan What's the status of this ?

[2016-01-11 06:21] ankurankan commented on #557
@khalibartan Okay.. Please do this.

[2016-01-11 06:34] ankurankan commented on #263
@anaviltripathi I don't know any such tool. But I think a hackish way (won't be applicable for all networks) would be to use SamIam to get results on some bayesian network assuming it to be a markov network and assuming CPDs as Factors. And since with variable elimination we would just be dealing with the factors, the results should be same. What do you think ?

[2016-01-11 06:41] anaviltripathi commented on #263
@ankurankan Yes, I was also thinking the same, but it seemed hackish so I avoided it. As we are only dealing with factors this should work.
 One other thing that I came across while going through inference methods is that factor to CPD conversion is not yet supported in markov to bayesian.

[2016-01-11 06:47] ankurankan commented on #263
@anaviltripathi I didn't get your point on factor to CPD conversion. Can you please elaborate a bit ?
Also everywhere we have tried to convert CPD to Factor for working with them.

[2016-01-11 06:53] anaviltripathi commented on #263
@ankurankan See the second last line of to_bayesian_model method of MarkovModel.

[2016-01-11 06:54] anaviltripathi commented on #263
@ankurankan Although the tests can be implemented without converting to bayesian explicitly.

[2016-01-11 06:59] khalibartan commented on #68
@ankurankan Reopen this. Minimal I map has a bug in it. I'm trying to fix it. Look at PR #560

[2016-01-11 07:00] khalibartan commented on #112
Basically we just need to check for the product of factors and work accordingly.

[2016-01-11 07:02] khalibartan commented on #314
@ankurankan Yes I was talking about this. But what should we do for API. If user names method differently then ours.

[2016-01-11 07:04] ankurankan commented on #314
@khalibartan We will have to mention all this in docs. Like what variables are provided by the Base class and what methods need to be defined in each Inference Algo class.

[2016-01-11 07:04] khalibartan commented on #314
Okay.

[2016-01-11 07:10] khalibartan commented on #564
@yashu-seth @ankurankan  Close this. This is a duplicate issue for #548

[2016-01-11 07:13] ankurankan commented on #263
@anaviltripathi Got it. Can you please create an issue for this? And we can write the tests without converting, so you can go ahead with this.

[2016-01-11 07:15] anaviltripathi opened #565 "Factor to CPD not implemented in to_bayesian_model method of MarkovModel"

[2016-01-11 07:16] anaviltripathi commented on #565
@ankurankan I can give it a try.

[2016-01-11 07:43] khalibartan opened #566 "Add tests for inference in Dynamic Bayesian Networks"
Need to add tests for inference in Dynamic Bayesian Networks. DBN Inference: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/inference/dbn_inference.py

[2016-01-11 07:47] khalibartan commented on #565
@anaviltripathi This is a duplicate issue . Already mentioned in #548 (list if all TODO's)

[2016-01-11 07:48] khalibartan commented on #548
@anaviltripathi @yashu-seth

[2016-01-11 07:50] khalibartan commented on #537
@ankurankan What's the status of this. If you are busy, then I can work on this if you want.

[2016-01-11 08:05] ankurankan commented on #565
@khalibartan It's okay to have individual issues if we need to discuss on some specific todo.

[2016-01-11 08:25] yashu-seth commented on #564
@khalibartan I think we can have separate issues if there is a need to discuss something in particular. Can't we?

[2016-01-11 13:04] kshitij10496 commented on #546
I am currently working on `models` module.
Will update soon

[2016-01-11 13:25] khalibartan commented on #564
No problem.

[2016-01-11 18:08] khalibartan commented on #566
Actually we had tests for it, was just not being runned because of lack of `__init__.py` file. Closing it. Will send a PR.

[2016-01-11 18:08] #566 closed, assigned to nobody

[2016-01-12 09:05] RajuPilani opened #568 "i get error while testing code"
[code]

[2016-01-12 10:26] RajuPilani commented on #568
i think problem is between "setuptools==19.2" version and "mock==1.3.0"

[2016-01-12 11:14] khalibartan commented on #568
@RajuPilani try reinstalling pgmpy, with setup.py . Our tests are running fine. Send your package versions of env. (PS : `conda list`).

 `mock` version is okay and `setuptools` won't effect tests.
Are you sure that `mock` version is _1.3.0_

[2016-01-12 13:32] RajuPilani commented on #568
reinstalling pgmpy with setup.py  but get same error in both conda env when run >>>nosetests3

[code]

[code]

[code]

[code]

[2016-01-12 14:24] RajuPilani commented on #568
when i run using

[code]

in python3.4 (using pgmpy-env) i get error

[code]

in python3.3 (using pgmpy-env2) ...pass all test

[code]

[2016-01-12 17:34] khalibartan commented on #568
Ping @ankurankan

[2016-01-12 17:47] khalibartan commented on #564
@ankurankan @yashu-seth We have similar `TODO` in BayesianModel class.

[2016-01-13 04:44] ankurankan commented on #568
@RajuPilani I can't reproduce this. Can you share exactly the steps you are taking for installing ?

[2016-01-14 04:46] RajuPilani commented on #568
my os :: Linux mint 17

[code]

[code]

my conda list ::::

[code]

[2016-01-14 05:40] ankurankan commented on #568
@RajuPilani Can you tell me the exact steps you are taking to install ?

[2016-01-14 07:53] anaviltripathi commented on #353
@ankurankan What is the status of this?

[2016-01-14 07:57] ankurankan commented on #353
@anaviltripathi It's still open. Kislay had done some work on this (#358) but wasn't merged.

[2016-01-14 09:35] RajuPilani commented on #568
[code]

[2016-01-14 10:07] RajuPilani commented on #568
when i test using it's working fine

[code]

when i test using nosetest3 it's give me an error

[code]

[2016-01-14 13:16] ankurankan opened #572 "Refactor Sampling"
- [ ] Add a base class which all the sampling methods would inherit.
- [ ] Define a generic API for all Sampling classes.

[2016-01-14 13:55] RajuPilani commented on #568
@ankurankan now i get above error only not previous "wraps" error.

[2016-01-14 13:58] khalibartan commented on #568
@RajuPilani This not actually an error in pgmpy. Also I'm not able to reproduce this error.

[2016-01-14 14:04] RajuPilani commented on #568
@khalibartan we can test our code with

[code]

we need to test using ">>> nosetests3" is necessary

[2016-01-14 14:07] khalibartan commented on #568
I don't know clearly but setup.py test option is to test your installation of pgmpy. But to run tests after changes in your local branch nosetests is used.

[2016-01-15 01:09] anaviltripathi commented on #353
@ankurankan I have written two approaches for this. One uses numpy's reshape and transpose with some tricks and another is plain one to one mapping. Could you check and suggest which approach would be better. Also, how do I go about the review. Do I send a PR or is there some other way.

[2016-01-15 04:27] RajuPilani commented on #568
now i get this error but networkx package already in my condalist

[code]

conda list :::

[code]

[2016-01-15 04:51] OKotevska opened #573 "ValueError: Values array must be of size:64"
I'm having this error, any idea how it can be solved:
data = np.random.randint(low=0, high=4, size=(40, 4))

 raise ValueError("Values array must be of size: {size}".format(size=np.product(cardinality)))
ValueError: Values array must be of size: 64

[2016-01-15 05:52] ankurankan commented on #573
@CloudDemo Can you share the whole code  and the complete traceback of the error ?

[2016-01-15 06:01] ankurankan commented on #568
@RajuPilani Simply use `nosetests` to run the tests and since you are in a python3 env it will be using python 3. I will need to figure out why `nosetests` and `nosetests3` are giving different results.

[2016-01-15 06:39] RajuPilani commented on #568
@ankurankan that's error happen because of when i run "nosetests3" in conda env but it's looking for local env mudules(numpy,pandas.etc) . when i install all modules in local env it's working "ok" but when i remove all modules from local env it's give me above "module import error". that's happen because of different path then what should i do ? it's make any problem ?

[2016-01-15 06:45] anaviltripathi commented on #353
@ankurankan I ran some timeit tests on both approaches and I have sent a PR (#571) for the approach that had better results.

[2016-01-15 07:07] khalibartan opened #574 "Bug in hash method for factor class"
The current implementation takes order into account in the case where it shouldn't

[code]

As per my understanding it should have been the same.

[2016-01-15 07:10] khalibartan commented on #574
@ankurankan @yashu-seth Am I wrong here ?

[2016-01-15 07:22] khalibartan opened #575 "In IndependenceAssertion Class events should converted to frozenset instead of set"
Having `self.event1`,`self.event2` etc as frozenset instead of set (see [here](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/independencies/Independencies.py#L189)) have advantage because they are hashable , moreover `__eq__` method that I have implemented can be simplified and will also lead to simplification of `__hash__` method for IndependenceAssertion and Independencies class.Since there is n

[2016-01-15 07:26] khalibartan commented on #573
@CloudDemo Share the exact steps so that we can reproduce it. And moreover you may like to look at it https://guides.github.com/features/issues/

[2016-01-15 09:21] yashu-seth commented on #574
@khalibartan I also think that it should not take order into account.

[2016-01-15 11:36] ankurankan commented on #574
@khalibartan You are right. Both should give the same hash value. @khalibartan @yashu-seth Would any of you like to fix this ?

[2016-01-15 13:31] khalibartan commented on #232
@ankurankan Instead of replacing the internal architecture I think we can have a one to one mapping of variables name to the current way we are storing the things and whenever a query is raised, we can use this mapping to get to the internal representation . Also the current implementation has its own ease because user don't have to explicitly name the states. So we don't have to write two differe

[2016-01-15 13:57] khalibartan commented on #574
@ankurankan I can think of only one implementation and that happens to be quite slow. I'll try to replicate what ` _str ` does and then optimally apply the hash function. But since `__hash__` method has to be used frequently I want its implementation to be robust and fast too. This implementation will be as good as python hash methods in terms of robustness but will be slow. Do you have any other

[2016-01-15 14:21] yashu-seth commented on #574
@khalibartan I can work on this. Please tell me if you are not working on it.

[2016-01-15 14:24] khalibartan commented on #574
@yashu-seth I have begin working on it. And was about to send a PR.

[2016-01-15 14:24] yashu-seth commented on #574
@khalibartan Fine.

[2016-01-15 14:47] OKotevska commented on #573
This is the program:

import numpy as np
import pandas as pd
from pgmpy.models import BayesianModel

data = np.random.randint(low=0, high=4, size=(40, 4))
data = pd.DataFrame(data, columns=['cost', 'quality', 'location', 'no_of_people'])

train = data[:32]
test = data[32:].drop('no_of_people', axis=1)

restaurant_model = BayesianModel(
[('location', 'cost'),
('quality', 'cost'),
('location', 'no_o

[2016-01-15 14:49] #575 closed, assigned to nobody

[2016-01-15 17:03] yashu-seth commented on #573
@CloudDemo I am looking into it. We will try to fix this as soon as possible.

[2016-01-15 17:08] yashu-seth opened #579 "Bugs in MaximumLikelihoodEstimator.get_parameters()"
The `MaximumLikelihoodEstimator.get_parameters()` is not properly working. Work needs to be done to make it bug free.

[2016-01-15 17:11] yashu-seth commented on #579
@ankurankan You once suggested that we should move to a complete numpy implementation. Should input as pandas dataframe objects be allowed or that should also be done using numpy arrays?

[2016-01-15 17:25] khalibartan commented on #579
@yashu-seth Can you elaborate the bug in it.

[2016-01-15 17:36] yashu-seth commented on #579
[code]
When we convert these to numpy arrays both give the same numpy array - ```array([[750], [250]], dtype=int64)```. It should not happen.

[2016-01-15 17:42] yashu-seth commented on #579
@khalibartan Working with pandas dataframes at times does not give sorted results which gives incorrect values for variables in CPD. Also there is issue #573 .

[2016-01-15 17:43] yashu-seth commented on #579
@khalibartan I am planning to use a completely numpy based soulution.

[2016-01-16 03:55] khalibartan commented on #568
@RajuPilani  Actuall you need to install modules in your env. Or either you default env should contain pgmpy compatible modules and you can run than without using any env. We prefer python 3.4 but pgmpy in current state is compatible with 2.7 . If you have a anaconda package for python 2.7, 3.3, 3.4
you can run pgmpy without creating any env. Just run setup.py install and it will install pgmpy in

[2016-01-16 03:56] khalibartan commented on #516
@ankurankan Whats the status of this ?

[2016-01-16 06:34] khalibartan commented on #68
@ankurankan Fixed in #560 Can be closed now.

[2016-01-16 06:35] khalibartan commented on #359
@ankurankan These methods are Fixed in #560 . Can be closed now.

[2016-01-16 06:35] khalibartan commented on #551
Fixed in #560 . Closed.

[2016-01-16 06:35] #551 closed, assigned to nobody

[2016-01-16 08:53] #568 closed, assigned to nobody

[2016-01-16 11:59] yashu-seth commented on #579
@ankurankan What do you feel about this?

[2016-01-16 14:13] pdoongarwal commented on #489
@Pratik151 I would also like to work on it. Can you tell me on which classes you have worked on, I'll chose then few of the remaining .

[2016-01-16 14:15] pdoongarwal commented on #548
@ankurankan Which of these might be easy to work on? I'll like to work on them.

[2016-01-16 14:16] pdoongarwal commented on #537
@ankurankan @khalibartan  Whats the status of this?

[2016-01-16 14:20] pdoongarwal commented on #284
@ankurankan Is this an easy issue? How should i begin working on it?

[2016-01-16 15:18] khalibartan opened #581 "Doctests for pgmpy"
Currently pgmpy have unitest to test our methods but no doctests to test the docstrings. Having doctests can help us locate broken docstrings and related issues.
@ankurankan Label this an easy issue .

[2016-01-16 15:43] Pratik151 commented on #489
@pdoongarwal  you can work on <code>DynamicBayesianNetwork</code>. I didn't looked into that. You can send PR for that separately and also add tests to that.

[2016-01-17 04:43] khalibartan opened #583 "Update README.md and AUTHORS.rst"
The current README.md is not interactive . Also it doesn't contain a section refering to our [contributing guide](https://github.com/khalibartan/pgmpy/blob/dev/Contributing.md) for new developers. Apart from it change the **dependencies section of python versions** , we now have support for **2.7, 3.3 and 3.4** . And add a better guide on **how to install**. Break the examples section into small p

[2016-01-17 13:20] anchitjain1234 commented on #489
@Pratik151 @pdoongarwal I would also like to contribute, please tell me on which classes are you working.

[2016-01-17 13:23] pdoongarwal commented on #489
@anchitjain1234  I have began working on `DynamicBayesianNetwork` , will send a PR ASAP.

[2016-01-17 13:25] pdoongarwal commented on #581
@ankurankan @khalibartan I would like to work on this .

[2016-01-17 13:50] khalibartan commented on #581
@pdoongarwal  Let @ankurankan reply , and then you can get going.

[2016-01-17 15:38] Pratik151 commented on #489
@anchitjain1234  I am working on `MarkovModel` and `JunctionTree`. You can work on `MarkovChain` maybe. @souravsingh was working but I don't know if he made any progress.

[2016-01-17 15:41] anchitjain1234 commented on #489
@Pratik151 @pdoongarwal Thanks for information, I would work on `MarkovChain` then.

[2016-01-17 17:13] anchitjain1234 opened #585 "Running tests locally"
How can I run tests locally?

[2016-01-17 17:14] khalibartan commented on #585
You should look at our Contributing guide. We use `nosetests` to run the test suits.

[2016-01-17 17:15] khalibartan commented on #585
@anchitjain1234 You can close this issue for now.

[2016-01-17 17:17] #585 closed, assigned to nobody

[2016-01-17 17:38] souravsingh commented on #489
@Pratik151 I am facing problems in testing the method.I can send the PR right now but unit tests will be a problem

[2016-01-17 17:53] Pratik151 commented on #489
@souravsingh  Maybe send PR someone will be able to help you.

[2016-01-17 18:48] yashu-seth commented on #489
@souravsingh I think you should send a PR do not worry about the tests for now. It will be helpful in tracking your progress and you can also discuss related problems there.

[2016-01-17 18:56] yashu-seth opened #587 "Landscape not working."
Landscape is checking code quality forever.

[2016-01-18 04:36] ankurankan commented on #587
@yashu-seth Looks like a bug in landscape. There's nothing that we can do. Closing this.

[2016-01-18 04:36] #587 closed, assigned to nobody

[2016-01-18 04:45] ankurankan commented on #581
@pdoongarwal @khalibartan Not really sure if we need this. Any particular reason for having this ?

[2016-01-18 04:48] khalibartan commented on #581
@ankurankan @yashu-seth  and I discussed on gitter channel. Having doctests can help us locate broke docstrings easily if we change API, or even can help us in locating bugs in the docstring. Bugs in docstrings can cause difficulty to beginners . And because sometimes some bugs might slip in the documentation, doctests can be of real help.

[2016-01-18 05:21] ankurankan commented on #583
@kshitij10496 @khalibartan @yashu-seth Can any one of you guys work on this ?

[2016-01-18 05:52] ankurankan commented on #284
@pdoongarwal No this is not an easy issue and we need to figure out a lot of things before we start working on this.

[2016-01-18 05:53] ankurankan commented on #579
@yashu-seth Can you elaborate on the bugs that you found ?

[2016-01-18 10:04] yashu-seth commented on #579
@ankurankan

[code]

[2016-01-18 10:22] ankurankan commented on #579
@yashu-seth This works for me both on python 2 and 3.

[2016-01-18 10:30] yashu-seth commented on #579
@ankurankan
For line 63, in MLE.py,

[code]

These should give 8 values and not 4 because according to the data cardinality of 'b' and 'd' both is 2. Hence it should not neglect the case when 'b' and 'd' both are 0 or 1 and should have a 0 in the cpd for such cases.

[2016-01-18 10:32] yashu-seth commented on #579
@ankurankan okay let me have a look at the first issue once again. its strange that it is throwing an error for me.

[2016-01-18 10:56] yashu-seth commented on #583
@ankurankan @khalibartan I'll send a PR.

[2016-01-18 11:01] khalibartan commented on #583
@yashu-seth Okay cool. I just began working on it, but you can send a PR. I'll be obliged if you fix this. Do add welcoming message , and write a line that our community is welcoming and helpful . Also create and download section and add a line that we are not yet hosted on pypi or conda. Add link to zip file and line on how to clone it.

[2016-01-18 11:04] khalibartan commented on #537
@ankurankan Label it as an priority issue. We need its support ASAP.

[2016-01-18 11:09] yashu-seth commented on #583
@khalibartan I am planning to put the contributors in order of the date of their first contribution.

[2016-01-18 11:13] khalibartan commented on #583
@yashu-seth here is a git command that can help you
`git log --topo-order --reverse --format="%aN <%aE>" | awk ' !x[$0]++'`.
Though this will need some edits.
Also there might be other options instead of mails and name.

[2016-01-18 11:19] khalibartan commented on #583
@yashu-seth http://git-scm.com/book/en/v2/Git-Basics-Viewing-the-Commit-History
Here is the options. If you want to add, you can add links to their github profile.

[2016-01-18 11:20] yashu-seth commented on #583
@khalibartan thanks.

[2016-01-18 11:32] khalibartan opened #588 "Peformance comparision of pgmpy against existing packages for PGM's"
We don't have pgmpy performance evaluated against some the existing PGM packages like **SAMIAN**, **libDAI**, **bnlearn** etc. Having performance comparison has following advantage.
- If our performance is poor, we know how much and where we need to improve. Accordingly we can plan.
- If our performance is better , more users would like to use pgmpy, more bug reporting thus more active community .

[2016-01-18 22:50] yashu-seth commented on #579
@khalibartan Can you please try and reproduce the first bug that I mentioned. I am still getting it.

[2016-01-18 23:11] yashu-seth commented on #579
@ankurankan I just checked the cardinality of the event is type long. That is why it is throwing error for me. Can you please look at it once again.

[2016-01-18 23:14] yashu-seth commented on #579
@ankurankan Even after fixing it I get the following error -

[code]

[2016-01-19 02:48] khalibartan commented on #579
@yashu-seth I'm not getting any errors in my system. Haven't checked for python2

[2016-01-19 04:40] ankurankan commented on #579
@yashu-seth Can you double check that you have the correct versions of dependencies installed and you have the latest dev branch ?

[2016-01-19 06:41] yashu-seth commented on #579
@khalibartan @ankurankan okay let me check. something must be wrong with the depedndencies installed.

[2016-01-19 06:42] yashu-seth commented on #579
@ankurankan Please have a look at the second bug that I mentioned.

[2016-01-19 06:43] yashu-seth commented on #579
@khalibartan

[code]

Did you get this error or there were no errors at all?

[2016-01-19 06:59] khalibartan commented on #579
@yashu-seth No I didn't get any errors for code mentioned [here](https://github.com/pgmpy/pgmpy/issues/579#issuecomment-172484290) in both versions of python .

[2016-01-19 07:14] yashu-seth commented on #579
@khalibartan thanks. I'll check the dependencies.

[2016-01-19 07:15] yashu-seth commented on #579
@khalibartan What do you feel about the second bug that I had mentioned?

[2016-01-19 07:17] khalibartan commented on #579
@yashu-seth I couldn't reproduce, which bug are you talking about ? (Give me the link of comment or code to reproduce it).

[2016-01-19 07:31] yashu-seth commented on #579
@khalibartan

[code]

These should give 8 values and not 4 because according to the data cardinality of 'b' and 'd' both is 2. Hence it should not neglect the case when 'b' and 'd' both are 0 or 1 and should have a 0 in the cpd for such cases.

[2016-01-19 07:46] khalibartan commented on #579
@yashu-seth I'm not getting the same output as yours.

[code]

[2016-01-19 08:18] yashu-seth commented on #579
@khalibartan okay but anyway both outputs are wrong. isn't it? As far as the different outputs are concerned let me check.

[2016-01-19 13:25] khalibartan opened #590 "New test for Factors"
I was thinking of rewriting the test for Factor class.
- [ ] I'll separate the tests for Factor, TabularCPD and JointProbabilityDistribution classes and will try to add more tests for Factors and JointProbabilityDistribution (not for CPD because @ankurankan is looking forward to remove some redundant properties from it).
- [ ] I'll test cases where variables can be a list hashable objects like tup

[2016-01-19 18:31] yashu-seth commented on #579
@khalibartan I copied the wrong output that is why it was giving different outputs. But anyway my point is that is should give 8 values and not 4. It should give -

[code]

[2016-01-20 02:49] khalibartan commented on #579
@yashu-seth Why it is doing so? means why only 4 outputs are being shown instead of 8

[2016-01-20 11:53] yashu-seth commented on #579
@khalibartan Because this is how things have been implemented and it is incorrect.
@ankurankan What should we do about it?

[2016-01-20 13:01] ankurankan opened #594 "Remove pandas dependency"
We are using pandas just to keep a track on which column of the array correspond to which variable.
For example in the case of sampling we return a pandas dataframe with the samples generated. Something like this:

[code]

We should replace it with just a numpy array and a list of variable names. We can define an object which has two properties `variables` and `values`. Something like this:

[code

[2016-01-20 14:01] khalibartan commented on #594
@ankurankan I believe you can label it as an easy issue.

[2016-01-20 14:22] yashu-seth commented on #594
@ankurankan I can look into this. So instead of pandas dataframe we want a complete class to hold such data only using numpy arrays. I was thinking something similar with `MaximumLikelihoodEstimator.get_parameters()` mentioned in #579. Can you please have a look at that too.

[2016-01-20 14:26] yashu-seth commented on #594
@ankurankan I believe pandas dependency can be removed in a lot of other places as well. We can keep it as an optional input type for methods.

[2016-01-20 14:28] khalibartan commented on #594
@yashu-seth I don't think we are highly dependent on pandas. So yes we can easily do that.

[2016-01-21 10:00] ankurankan opened #595 "Refactor TabularCPD"
Currently `TabularCPD` has the these attributes: `variable`, `variable_card`, `evidence`, `evidence_card`.
And since it inherits `Factor`, it also has: `variables`, `cardinality` and `values`.

`evidence` and `evidence_card` can be easily derived if we know other attributes. And since we are not directly using `evidence` or `evidence_card` too many times, we can remove these two and compute these

[2016-01-21 10:02] ankurankan commented on #595
@anaviltripathi Would you like to work on this ?

[2016-01-21 10:26] khalibartan commented on #423
@ankurankan I would like to work on this. I have a very naive implementation, I was thinking of maintaining an additional dictionary attribute in factor class and storing the results in them. Do you have any other implementation in mind.

[2016-01-22 03:07] ankurankan commented on #423
@khalibartan I want a more generic solution. Something like a decorator which we can put on any method that we want to cache. Something like `lru_cache` (https://docs.python.org/3/library/functools.html#functools.lru_cache)

[2016-01-22 03:59] khalibartan commented on #423
@ankurankan I'll create my own decorator, since `lru_cache`, don't work with non hashable type of arguments and in our case arguments are mostly lists. Also I wasn't able to find `lru_cache` implementation in python2.7

[2016-01-22 06:30] khalibartan commented on #583
Fixed.

[2016-01-22 06:30] #583 closed, assigned to nobody

[2016-01-22 06:31] khalibartan commented on #574
Fixed,

[2016-01-22 06:31] #574 closed, assigned to nobody

[2016-01-22 08:02] mvnnn commented on #489
@Pratik151 @pdoongarwal @anchitjain1234 I would like to contribute, please tell me on which classes are you working.

[2016-01-22 10:47] anchitjain1234 commented on #489
@mvnnn I am not working on any class currently.

[2016-01-22 14:33] khalibartan commented on #561
@ankurankan Close this issue.

[2016-01-22 18:53] khalibartan commented on #423
@ankurankan I have implemented a decorator for `pseudo lru cache` but I wasn't able to work around with `inplace` argument.

[2016-01-22 20:50] khalibartan commented on #415
@ankurankan I also agree with you. Do you have any implementation in mind

[2016-01-23 00:58] anaviltripathi commented on #595
@ankurankan Yeah sure. If you want to add something else, i.e., some other property that was not there before now would be a good time to make that change. Suggest if you something else also in mind.
Also some methods are using these redundant variables in some peculiar ways. I will tell about those in this thread only.

[2016-01-23 09:29] khalibartan commented on #67
@ankurankan I'm working on this one. I'll use isomorphism to check for similar skeleton.

[2016-01-23 15:46] RansomPaycheque opened #600 "marginalize"
Greetings,

running on Yosemite, python 3.4, pgmpy installed (I believe) correctly.

I am trying to follow the examples from mastering PGM's book. upon doing the following:

phi = Factor(['A','B'],[2,2],[1000,1,5,100])
phi.marginalize('A', inplace=False)

I get:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/skalonaris/anaconda/envs/pgmpy-env/lib/python3.4

[2016-01-23 18:00] khalibartan commented on #600
@RansomPaycheque You are not using the latest version of pgmpy. Actually it should have raised an error. variables should be a list of strings. Update your pgmpy version. If any error happens please report to us.Thanks.

[2016-01-23 18:03] RansomPaycheque commented on #600
Hi, I cloned yesterday using
git clone https://github.com/pgmpy/pgmpy

and followed exactly the instructions...what do you mean is not the latest?
Many thanks

[2016-01-23 18:10] khalibartan commented on #600
@RansomPaycheque Okay. that's problem. Actually this should have raised an different error.
On my system it raises the following error ( it is the intended and correct behaviour)

[code]

For correct output , variables must be a list of strings (as mentioned in the error raised)

[code]

By latest I mean the current state of our `dev` branch.

[2016-01-23 18:13] RansomPaycheque commented on #600
I appreciate your reply, but I don't know what I am supposed to do. If I do phi.scope(), it correctly outputs 'A' , 'B'.  Earlier examples in the book also work fine (TabularCPD etc)

[2016-01-23 18:15] khalibartan commented on #600
@RansomPaycheque Could explain a bit. I couldn't understand you here.
Particularly this

[2016-01-23 18:20] khalibartan commented on #600
@RansomPaycheque You don't need to do anything. Please carefully read my comment. for marginalize we expect the variables to be a list ( or array like) in your case you gave a string. So it raised an error. Try with second snippet I have commented it should work fine.

[2016-01-23 18:23] RansomPaycheque commented on #600
Ok, sorry. I am following examples from a book ('Mastering PGM's with Python') and I am getting stuck in chapter 2 as soon as I try to marginalise a factor. From your reply I can see that you have typed my example in your machine and, supposedly, got a normal and correct behaviour. I do not see any syntactical difference but please correct me if I am wrong. I am not very techie, I just would like

[2016-01-23 18:26] khalibartan commented on #600
No Your code should have raised an error.The second snippet is different from your code. Look carefully in the snippet instead of `'A'` I'm using `['A']`. The later one is a list and first one is a string. You should look at python documentation first http://docs.python.org/ .

[2016-01-23 18:27] RansomPaycheque commented on #600
phi.marginalize(['A'],inplace=False)

I do not see the problem...

phi.marginalize(['A'],inplace=False)
Traceback (most recent call last):

  File "<ipython-input-3-7a29a596c8c3>", line 1, in <module>
    phi.marginalize(['A'],inplace=False)

  File "/Users/skalonaris/anaconda/envs/pgmpy-env/lib/python3.4/site-packages/pgmpy-0.1.0-py3.4.egg/pgmpy/factors/Factor.py", line 209, in marginalize
    ma

[2016-01-23 18:28] khalibartan commented on #600
Ping @ankurankan .

[2016-01-23 18:29] RansomPaycheque commented on #600
I believe I am using a list...

from pgmpy.factors import Factor

phi = Factor(['A','B'],[2,2],[1000,1,5,100])

phi.marginalize(['A'],inplace=False)

[2016-01-23 18:32] khalibartan commented on #600
Did this raised an error. But it didn't raised on my system. Can you send your environment configuration . Use `conda list` in your command line ( bash in unix etc ) to get configurations of your conda environment .

[2016-01-23 18:34] RansomPaycheque commented on #600
Here:

# packages in environment at /Users/skalonaris/anaconda/envs/pgmpy-env:

#
alabaster                 0.7.6                    py34_0
appnope                   0.1.0                    py34_0
babel                     2.1.1                    py34_0
backports-abc             0.4                       <pip>
backports_abc             0.4                      py34_0
coveralls                 1.

[2016-01-23 18:35] RansomPaycheque commented on #600
and thanks for your time so far!...

[2016-01-23 18:39] khalibartan commented on #600
@RansomPaycheque Please try to reinstall the pgmpy. pgmpy uses different version of netowrkx, numpy , pandas and scipy installed in your env. If error still persists please let us know. I'll take a look at the error. Though my conda env also uses these configurations but I haven't faced any problems.
Ping @ankurankan I'm not able to reproduce the error. Can you try it out in you system using above

[2016-01-23 18:41] RansomPaycheque commented on #600
the error is the same as above:
Traceback (most recent call last):

File "", line 1, in
phi.marginalize(['A'],inplace=False)

File "/Users/skalonaris/anaconda/envs/pgmpy-env/lib/python3.4/site-packages/pgmpy-0.1.0-py3.4.egg/pgmpy/factors/Factor.py", line 209, in marginalize
marginalized_values.append(np.sum(factor.values[factor._index_for_assignment(assign)]))

File "/Users/skalonaris/anaconda/env

[2016-01-23 18:42] RansomPaycheque commented on #600
BTW, how do I re-install? Do I need to bin the folder in my Home dir, then upgrade/downgrade the various package in my pgmpy-env, then clone again, then ....cd then python3.4 setup.py install?

[2016-01-23 18:46] RansomPaycheque commented on #600
I have installed on another computer and work fine, it does not raise the same error, but instead:

Factor representing phi(B:2) at 0x7fca7e7a3b00
So...I'll stick with this other computer I guess...

Thank you anyway for all the help.

[2016-01-23 18:58] #600 closed, assigned to nobody

[2016-01-24 05:01] khalibartan commented on #112
@ankurankan Fixed. We can now close this issue

[2016-01-24 05:07] khalibartan commented on #369
@ankurankan Describe it a little more. What particular features are we looking to provide. I also wanted to discuss about this.

[2016-01-24 05:08] khalibartan commented on #370
@ankurankan Can you describe a bit. What particular features in this you think it should have.

[2016-01-25 14:49] pdoongarwal opened #601 "Error while installation"
I used setup.py to install pgmpy after installing the dependencies and following packages were not
installed automatically and and were not marked in dependencies
- mock
- pyparsing

[2016-01-26 07:21] pheman opened #602 "TypeError raised on my windows 64 platform with python3.4"
I test the simple example on the tutorials, however a fatal TypeError raised, associated with int int32 and int64.
If I comment the corresponding TypeError check in Factor.py Line 99, no errors will occur although the final results is completely wrong. I guess there is some serious bugs behind this simple TypeError.

Same error can be also find in
Bugs in MaximumLikelihoodEstimator.get_parameters(

[2016-01-26 08:31] khalibartan commented on #602
@pheman Please give more details of environment and the example you were using. If it is a similar error to what mentioned in #579 we didn't got it. But let me build a new env from scratch because now two people have reported it.

[2016-01-26 09:05] pheman commented on #602
@khalibartan Thanks for your prompt reply.
My environment:
Windows 7 SP1 win32
Python 3.4.3 | Anaconda 2.3.0 (64-bit) MSC v.1600 64 bit (AMD64)
numpy=1.10,1
pandas=0.16.2
networkx=1.9.1
scipy=0.16.0
pyparsing=2.0.3
mock==1.0.1

The simple script is like this:
#################################
import numpy as np
import pandas as pd
from pgmpy.models import BayesianModel

values = pd.DataFrame(np.ra

[2016-01-26 09:09] khalibartan commented on #602
@pheman  Okay I installed pgmpy from scratch. Here is my conda env configurations

[code]

I ran you script and I didn't found any issues at all. Here is the output

[code]

[2016-01-26 09:14] pheman commented on #602
@khalibartan What's your system version? Windows or Unix? 32bit or 64bit? I'm quite sure that the dtype on my environment is np.int64,. Since np.int64 != int, there raised a TypeError in Factor.py.

Besides, all the output are 0? Is it reasonable? I means the supposed output is random integer among [0, 1].

[2016-01-26 09:14] khalibartan commented on #602
My system version is Ubuntu -15.04 64-bit. And for eg it is working, okay I re ran it and it gave a different output

[code]

[2016-01-26 09:20] pheman commented on #602
I think it's the key point. According to my test, values.dtype = np.int64 after the sentence in Line72, MLE.py,
values = self.data.groupby([node] + parents).size().unstack(parents).fillna(0).

It seems that pandas returns int64 data type automatically after this sentence.
As well as Line 64,
state_counts = state_counts.reindex(sorted(state_counts.index)).

Anyway, I think it's a minor bug for Wind

[2016-01-26 09:22] khalibartan commented on #602
We are facing some issues with pandas, so we are removing it from our dependency . You can issue #594 . We will get the support ASAP. But I don't find any errors mentioned by you.
Ping @ankurankan Can you try it ?

[2016-01-26 09:24] pheman commented on #602
You are right. I get the correct results after I re-run the script.
It's quite strange that it seems that we will always get the incorrect results when we first run the code.
Is it?