[2021-09-18 12:41] ankurankan commented on #1462
Here's an example using some data generated from the alarm model. The simulate method doesn't do queries by itself but generates data from the model under various conditions, which can then be used to compute the probabilities of different variables:
[code]

[2021-09-18 16:49] PARODBE commented on #1462
In version 0.1.15 of pgmpy I don't have function simulate...is it possible? Should I have another version?

[2021-09-18 17:00] ankurankan commented on #1462
@PARODBE Yes, it has not been released yet. You will have to install the dev branch from github: https://pgmpy.org/started/install.html

[2021-09-18 17:39] PARODBE commented on #1462
In what branch can i find it? And it's possible activate a branch since jupyter notebook? I have never done it...

[2021-09-18 17:39] PARODBE commented on #1462
In what branch can i find it? And it's possible activate a branch since jupyter notebook? I have never done it...

[2021-09-18 18:04] ankurankan commented on #1462
You will have to reinstall pgmpy. You can use pip to install the dev branch from github. Something like this:
[code]

[2021-09-18 18:29] PARODBE commented on #1462
Thanks, and actually, what wiil be the main difference between using variableelimination? That don't remove any variable?

[2021-09-21 08:27] ankurankan commented on #1462
@PARODBE Both are completely different ways to do inference. Variable Elimination is one specific algorithm that systematically sums out variables in the model to get to the final results whereas the simulation method generates data from the model which we then use to compute the probabilities. The main practical difference is that Variable Elimination is an exact inference algorithm whereas the s

[2021-09-23 13:36] #1242 closed, assigned to ankurankan

[2021-09-23 15:34] #1455 closed, assigned to ankurankan

[2021-09-24 10:41] Jsevillamol opened #1465 "BeliefPropagation fails with IndexError"
### Subject of the issue
BeliefPropagation fails with error `IndexError: only integers, slices (":"), ellipsis ("..."), numpy.newaxis ("None") and integer or boolean arrays are valid indices`.

### Your environment
* pgmpy version: `0.1.15`
* Python version: `Python 3.7.12`
* Operating System: `Google Colab`

### Steps to reproduce

[code]

This produces `IndexError: only integers, slices (":"), e

[2021-09-24 10:50] ankurankan commented on #1465
@Jsevillamol Thanks for reporting this. I will look into the bug. In the meanwhile, you can also use `VariableElimination`, it seems to be working for your query.

[2021-09-24 14:51] ankurankan commented on #1465
Also, just FYI an easier way to load models from the bn repository is to use `get_example_model`:
[code]

[2021-09-27 07:25] ankurankan commented on #1465
@Jsevillamol This seems to be fixed in the latest dev branch. Could you please try installing that?
[code]

[2021-09-28 12:38] Jsevillamol commented on #1465
I seem to be getting an installation error now, perhaps I am doing something wrong?

This is my script:

[code]

The error I get is `ModuleNotFoundError: No module named 'pgmpy.readwrite'`.
This worked before, so I am struggling to understand what is happening.

[2021-09-28 12:47] ankurankan commented on #1465
@Jsevillamol My guess is that since you have the cloned pgmpy repo in your working dir, python is trying to import from that and hence is failing to find the modules. Two possible fixes are:
1. Don't run the `%cd ..` command and just stay inside the cloned dir. If you are running stuff from inside the cloned dir, you don't even need to do `setup.py install`.
2. Install as a system python package u

[2021-09-28 13:01] Jsevillamol opened #1466 "Adding a dictionary of node:states to models"
I often find myself needing to iterate over the states of a node.
For this, it would be useful to have a dictionary that maps the names of the nodes of a model to

I have resorted to the workaround of initializing this myself when loading a model.

[code]

1. Is this the easiest way to get access to the states?
2. Can we add a `@property` method called `states` to the base `BayesianModel` class re

[2021-09-28 13:04] Jsevillamol commented on #1465
I just tried `!pip install git+https://github.com/pgmpy/pgmpy.git@dev`.

I do no longer get the import error, but the original error is not fixed; I still get `IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices`.

[2021-10-01 18:12] ankurankan commented on #1466
@Jsevillamol Sorry for the late reply. Yes, I think adding it as a property would be helpful. A simpler/faster way to access the state names though could be to use the `.state_names` attribute of cpds. Something like:
[code]
Would be great if you could open a PR. :)

[2021-10-02 09:12] ankurankan commented on #1465
Interesting. This throws the error for me only sometimes and works fine other times. I will check why this is happening. Thanks again for reporting this.

[2021-10-05 08:50] dagap opened #1469 "Likelihood in estimators like EM"
I was looking at the source code for the EM estimator and particularly the function `def _get_likelihood(self, datapoint):`

The line:

[code]

Why is it that you work directly with raw likelihoods rather than the log of it. Would using the log not result in better numerical stability?

[2021-10-05 09:32] ankurankan commented on #1469
@dagap Yes, using log-likelihood would definitely be better for numerical stability. But I would like that to be added a bit systematically (instead of doing it just for say EM) as other parts of code can benefit from using log values as well. I think a good idea could be to add a LogDiscreteFactor class, which has all the methods of the DiscreteFactor class but works on log values.
That should al

[2021-10-05 09:34] dagap commented on #1469
@ankurankan Thanks for that. Definitely makes sense to make a systematic update. Is it something planned in the future?

[2021-10-05 09:40] ankurankan commented on #1469
@dagap I don't have an exact plan/timeline on this as I don't think I will have the bandwidth to work on this anytime soon. But I would be more than happy to help if you or someone else would like to take up on this.

[2021-10-05 09:41] dagap commented on #1469
@ankurankan I might have a look at this one weekend and do a pull request.

[2021-10-05 09:46] ankurankan commented on #1469
Great. Would be happy to help if you have any questions.

[2021-10-05 13:33] #1466 closed, assigned to nobody

[2021-10-17 10:48] LiYiyan-code opened #1472 "I meet some wrong when I import the module"
### Subject of the issue
When I import TreeCPD,I get this info" ImportError: cannot import name 'TreeCPD' from 'pgmpy.factors' "

### Your environment
* pgmpy version: 0.1.16
* Python version:Python 3.8.8
* Operating System : Windows

[2021-10-17 10:51] ankurankan commented on #1472
@LiYiyan-code TreeCPD and RuleCPDs aren't supported anymore.

[2021-10-17 10:51] #1472 closed, assigned to nobody

[2021-10-26 09:34] FishofJLlake opened #1473 "about expert experience with PC"
When I use the PC algorithm, I cannot input the expert experience as a parameter, I have to build from scratch.

I want to know if this feature is already on the schedule, or is there any alternative. I think this feature is very important.

Thanks!

[2021-10-26 09:43] ankurankan commented on #1473
@FishofJLlake It is currently not possible with the PC algorithm but `pgmpy.estimators.HillClimbSearch` allows to incorporate expert knowledge using arguments like: `start_dag`, `fixed_edges`, `black_list`, and `white_list`. I will try to add similar arguments for PC as well in the future.

[2021-11-01 22:02] sean578 opened #1475 "Latex equations not interpreted correctly by Sphinx"
### Subject of the issue
Latex equations not interpreted correctly by Sphinx.
[Example of incorrect equations in docs](https://pgmpy.org/examples/Monty%20Hall%20Problem.html#Probabilistic-Interpretetion:).

### Your environment
* pgmpy version = 0.1.16
* Python version =  3.6.13
* Operating System = Ubuntu 18.04.6 LTS

### Steps to reproduce
Build documentation:
`cd pgmpy/docs`
`make html`
View ht

[2021-11-01 22:12] sean578 commented on #1475
Created PR #1476 to fix this in `pgmpy/pgmpy` repo.
If happy with this then can create a similar PR in the `pgmpy/pgmpy_notebook` repo to fix the same type of error there.

[2021-11-02 08:41] #1475 closed, assigned to nobody

[2021-11-02 08:41] ankurankan commented on #1475
@sean578 Thanks for the fixes. Would be great if you could open a PR for the other repo as well. Thanks

[2021-11-08 16:30] griffda opened #1477 "Errors constructing BN"
### Subject of the issue
Getting errors when trying to construct Bayes Network

### Your environment
* pgmpy version latest (downloaded from pgmpy last week)
* Python version 3.8.8
* Operating System Apple M1.

### Steps to reproduce
[code]
### Expected behaviour
structure of BN shown and examined

### Actual behaviour
Error: ValueError: ('CPD defined on variable not in the model', <TabularCPD rep

[2021-11-08 16:36] ankurankan commented on #1477
@griffda You are missing a comma in the model definition. This should fix it:
[code]

[2021-11-08 16:48] griffda commented on #1477
Works, thank you!

[2021-11-08 16:48] #1477 closed, assigned to nobody

[2021-11-10 07:31] FishofJLlake commented on #945
thanks，This is also  helpful for me.

[2021-11-10 10:36] ankurankan opened #1480 "BayesianNetwork.check_model doesn't verify the state names"
[code]
The `check_model` method here returns True even though the state name for A is not uniform across different CPDs.
[code]

[2021-11-11 05:03] nathanielvirgo opened #1481 "Feature request: more flexible results from BeliefPropagation:query"
### Discussed in https://github.com/pgmpy/pgmpy/discussions/1479

Currently, there are two formats in which data can be returned from `BeliefPropagation:query` and related methods:

 * a joint distribution over all the queried variables, or
 * the marginals of the queried variables.

However, there are situations where one might want something in between these two options. In my current case, I wo

[2021-11-11 21:45] ghost opened #1482 "Causal Game.ipynb Errors, branch feature/causalmodel is not found to checkout ?"
### There is no branch feature/causalmodel as described in Causal Game.ipynb notebook.
I tried to run the Causal Games.ipynb in google colab. In the first code cell there is a line that tells me to clone the code from https://github.com/mrklees/pgmpy.git, then have to checkout to a branch named feature/causalmodel. When I try to checkout to this branch as mentioned it produces this error, error: p

[2021-11-14 00:22] ghost opened #1483 "Unexpected behaviour in generated docs"
### Documentation
HTML rendered docstring of the `DBNInference`'s method `forward_inference` looks weird.

See [here](https://pgmpy.org/exact_infer/dbn_infer.html#pgmpy.inference.dbn_inference.DBNInference.forward_inference).

[2021-11-23 15:22] #1483 closed, assigned to nobody

[2021-11-23 15:22] ankurankan commented on #1483
@acac-io Thanks for reporting this. Is fixed now.

[2021-11-23 15:49] ankurankan commented on #1480
Fixed in #1484

[2021-11-23 15:49] #1480 closed, assigned to nobody

[2021-11-29 15:13] ankurankan opened #1486 "Add checks for arguments in BayesianNetwork.simulate"
Add checks for the passed state names in the arguments of simulate method. Currently it just get stuck if unknown states are passed to for example evidence.

[2021-12-03 09:20] dg46 opened #1487 "Bug in printing LinearGaussianCPD"
### Subject of the issue
Calling print on an instance of LinearGaussian CPD gives the wrong result.

### Your environment
* pgmpy version 0.1.16
* Python version 3.7.1
* Operating System Windows 10

### Steps to reproduce
Taken right from https://pgmpy.org/detailed_notebooks/7.%20Parameterizing%20with%20Continuous%20Variables.html:

from pgmpy.factors.continuous import LinearGaussianCPD
cpd = Line

[2021-12-03 14:29] dg46 commented on #1487
Seems that the issue is not only with the print command. E.g. [this line](https://github.com/pgmpy/pgmpy/blob/caea6ef7c914464736818fb185a1d395937ed52f/pgmpy/models/LinearGaussianBayesianNetwork.py#L176) prevents me from correctly converting a LinearGaussianBayesianNetwork to the corresponding joint gaussian distribution, apparently for the same reason (off-by-one error in scalar product).

[2021-12-04 17:28] ankurankan commented on #1487
@dg46 Linear Gaussian CPD isn't fully supported yet and you will probably find a bunch of bugs if you are working with them. I would be happy to help if you would like to open any PRs fixing them :).

[2021-12-04 18:31] ankurankan commented on #1482
@aswin4400 Sorry for the late reply, I was on holiday. That notebook has been merged into the dev branch now, so you can use this one: https://github.com/pgmpy/pgmpy/blob/dev/examples/Causal%20Games.ipynb. I have also just updated the notebook to work with the latest dev branch.

[2021-12-04 18:46] #1482 closed, assigned to nobody

[2021-12-04 20:01] harishkashyap commented on #1322
this issue is coming up in the latest push to master.

active_cpd = TabularCPD(variable='A',
                       variable_card=2,
                       values=[[.3, .7]])

schedule_cpd = TabularCPD(variable='S',
                       variable_card=2,
                       values=[[.9, .1]])

[2021-12-09 02:33] ankurankan commented on #1322
@harishkashyap Do you mean you are getting the error during the CPD definition? The values array should be of shape (2, 1) in this case. Something like this:
[code]

[2021-12-12 16:31] PARODBE opened #1490 "Feature importance TAN"
Hi!,

I am using a TAN model in order to resolver a problem. Do you have any idea for calculate feature importance of TAN model? I have tryied to use SHAP with pgmpy but it hasn't worked for me.

Thanks!

[2021-12-14 14:56] ghost commented on #1482
Thank you @ankurankan

[2021-12-15 17:13] mairob opened #1491 "Problems with causal inference in simple models for some queries"
### Subject of the issue
_Some_ simple interventional queries can't be resolved due to potentially wrong identification of adjustment-sets.
Interventional query breaks with error message: ValueError: Can't have the same variables in both `variables` and `evidence`. Found in both: {'*'}

### Your environment
* pgmpy version: 0.1.16
* Python version: 3.9.0
* Operating System: Windows 10

### Steps t

[2021-12-20 07:59] ankurankan commented on #1491
@mairob Thanks for reporting this. This seems to be a bug in the adjustment set computation as I think it always assumes an arrow from the do variables to the query variable. I will look into a fix for this. In the meanwhile, if you would like you can also use simulations to get the query results. For example:
[code]

[2021-12-20 08:47] ankurankan commented on #1490
@PARODBE Sorry for the late reply, I was on holiday. I think it would depend on your application. A couple of ways I can think are:
1. If we limit ourselves to the Markov blanket of the variable we are trying to predict, calculating the cross-entropy between its conditional and marginal distribution should give us the amount of information that specific variables add. Essentially, taking the condi

[2021-12-20 09:00] ankurankan commented on #1490
Also found this: https://hal-brgm.archives-ouvertes.fr/hal-02408006/document which is from a sensitivity analysis approach (if I remember correctly SHAP also uses the same approach) which you might find interesting.

[2021-12-20 09:03] PARODBE commented on #1490
uooh Thank you, although It would be some of code for understand better, because in python I haven't found any explanaition of this..but thank you for the information.

[2021-12-20 09:07] ankurankan commented on #1490
@PARODBE Yeah, code examples would be difficult to find for this. I will try to write some basic examples on these in the coming few days and will send it to you.

[2021-12-20 09:09] PARODBE commented on #1490
Uoooo thank you! @ankurankan it would be great!

[2021-12-22 09:07] PARODBE commented on #913
Hi @ankurankan ,

one question, finally did you implemented a method to calculate the arc.strength as in bnlearn of R???

Thanks!

[2021-12-23 07:40] ankurankan commented on #913
@PARODBE No, this hasn't been implemented yet.

[2021-12-23 08:20] ankurankan commented on #1481
@nathanielvirgo Sorry for the super late reply. I agree that this would be a nice feature to have and this shouldn't require a lot of modifications. Currently, in Belief Propagation, the `clique_beliefs` already has the joint distributions over all the cliques/nodes in the junction tree. So, we would need to expose this out to the user. One change that would be required is to have a more flexible

[2022-01-03 12:02] pedrobn23 opened #1492 "Bug: Problem Reading UAI file."
### Problem Reading UAI file

I am trying to get the cpds displayed in http://sli.ics.uci.edu/uai-data/BN/BN_68.uai and getting some errors.

### Your environment
* pgmpy version: 0.1.17
* Python version: 3.8.10
* Operating System: Regoltih (Ubuntu 20)

### Steps to reproduce

Suppose that http://sli.ics.uci.edu/uai-data/BN/BN_68.uai is stored in `path` variable.

[code]
### Expected behaviour

It

[2022-01-04 19:33] ankurankan commented on #1492
Dup #1443

[2022-01-07 10:12] pckennethma opened #1493 "Problem with BIFWriter"
### Subject of the issue
I am trying to learn a BN from data (structure learning + parameter estimation), then write in BIF format and use bnlearn R package to perform forward sampling. It looks like there are some issues with the BIFWriter.

### Your environment
* pgmpy version 0.1.17
* Python version 3.9.7
* Operating System Ubuntu 20.04

### Steps to reproduce
Tell us how to reproduce this issu

[2022-01-11 12:43] #1493 closed, assigned to ankurankan

[2022-01-18 08:20] zhangtj1996 commented on #1172
Hi, I'd like to predict probabilities in parallel, but it seems no options in `predict_probability` function, where should I insert the `n_jobs` code?

[2022-01-20 20:46] iminkin opened #1498 "Map query of the MPLP inference method seems to assign variable values from improper domains"
### Subject of the issue
Map query of the MPLP inference method in the network of discrete factors returns variable assignments in the domain of factor values instead of the domain(s) of the variable(s) themselves.

### Your environment
* pgmpy version - 0.1.17
* Python version - 3.9.6
* Operating System - Windows 10

### Steps to reproduce
An example right from the [documentation](https://pgmpy.o

[2022-01-21 08:39] #1498 closed, assigned to nobody

[2022-01-22 17:31] Ozziko commented on #835
@ankurankan thanks for pgmpy. Is there any update on MRF fitting/learning? If not, can you suggest a good alternative to people who work on MRFs?
Thanks!

[2022-01-24 07:38] ankurankan commented on #835
@Ozziko No, we still do not have a timeline for this in pgmpy. I do not know of any python packages which implement generic MRFs unless you need some special cases like HMM (scikit-learn has an implementation of that). But I do think there are some R packages that might be helpful.

[2022-01-24 12:17] Ozziko commented on #835
@ankurankan ok, many thanks!

[2022-01-27 07:22] gianfa opened #1501 "TOFIX Documentation: Tutorial Notebooks; 7 - Bad Latex Rendering"
### Subject of the issue
Documentation is not rendered well at https://pgmpy.org/detailed_notebooks/7.%20Parameterizing%20with%20Continuous%20Variables.html .
You can read `latex exited with error [stdout] This is pdfTeX, Version 3.14159265-2.6-1.40.21` there.

### Steps to reproduce
just follow the link https://pgmpy.org/detailed_notebooks/7.%20Parameterizing%20with%20Continuous%20Variables.html

[2022-01-27 08:42] ankurankan commented on #1501
@gianfa Thanks for reporting this. Should be fixed now.

[2022-01-27 08:42] #1501 closed, assigned to nobody

[2022-02-25 19:40] asp2204 opened #1502 "Is there a way to compute the joint probability of a complete set of variables without enumerating the entire joint distribution?"
So I noticed https://github.com/pgmpy/pgmpy/issues/848, where the answer to computing the joint probability of all of the variables of a bayesian network given every variable's value (a complete set of evidence) seems to be making this *.query() call, which is enumerating the *entire* joint distribution, and then letting us index into it as we wish.

Is there a method in pgmpy for computing this j

[2022-03-01 10:23] HensJos opened #1503 "remove_cpds causes issues in inference"
### Subject of the issue
In short, I try to create a Naive Bayesian Network from a given General Bayesian Network. My first step is computing a marginal distribution over a variable of my choice, that will function as the class variable in the Naive BN. Sometimes this works, but sometimes it doesn't. The error has to with remove_cpds in the variable elimination as for some reason it says that my c

[2022-03-01 20:59] itskalvik opened #1504 "Is it possible to do a batch query on a BayesianNetwork object?"
### Subject of the issue
I have a BayesianNetwork model in which I want to make multiple queries. Doing it one at a time is relatively slow, and I wondered if we can do it in a batch-wise manner? I am using joblib for CPU parallelization, but is there a more efficient approach?

[2022-03-03 01:22] arjunmanifc opened #1505 "Cannot import PGMPY - Jupyter"
### Subject of the issue
I am not able to import pgmpy in Jupyter notebook. It is giving me the following error -
_ModuleNotFoundError: No module named 'torch_

### Your environment
* pgmpy version - 0.1.9
* Python version - 3.10.2
* Operating System - Windoes 10 / 64 Bit

**Jupyter Version Details**
- IPython          : 8.0.1
- ipykernel        : 6.7.0
- ipywidgets       : 7.6.5
- jupyter_client

[2022-03-03 08:03] ankurankan commented on #1502
@asp2204 Unfortunately, we don't have that functionality implemented yet using exact inference. But you can use a sampling based approach to compute an approximate solution. Essentially simulate some samples from the model, and compute the ratio of the number of samples which satisfy your query conditions to the total number of samples. Example:

[code]

[2022-03-03 08:32] ankurankan commented on #1503
@HensJos Thanks for reporting this. I had a look and seems to me that this problem with inference only happens in the case when the variable names are integers and I am still trying to figure out a way to fix it. In the meanwhile, if you define your models uisng str variable names, it should work fine.

[2022-03-03 08:37] ankurankan commented on #1504
@kdkalvik No, unfortunately, the current implementation is limited to doing single queries at a time. I would suggest giving it a try without CPU parallelization as well as that can sometimes increase the run-time because of overheads.

[2022-03-03 08:40] ankurankan commented on #1505
@arjunmanifc You will need to install pytorch as well using either pip:
[code]
or conda
[code]

[2022-03-03 08:40] #1505 closed, assigned to nobody

[2022-03-03 10:52] arjunmanifc commented on #1505
@ankurankan , Thanks for the comment. I tried this before I raised the issue. The thing is I am also not able to install torch. Throws the below error

![image](https://user-images.githubusercontent.com/14234477/156550524-52bdcef9-01ff-44ec-9a1f-30b0a1fa8ab7.png)

[2022-03-03 10:55] ankurankan commented on #1505
You can try following the installation instructions here: https://pytorch.org/get-started/locally/

[2022-03-03 15:00] #1503 closed, assigned to nobody

[2022-03-03 22:20] harishkashyap opened #1507 "BayesianModelSampling throws AttributeError"
### AttributeError: type object 'object' has no attribute 'dtype'

BayesianModelSampling throws attribute error on example model.

### Your environment
Latest pgmpy on 3.10 python

### Steps to reproduce
from pgmpy.utils import get_example_model
import networkx as nx
import matplotlib.pyplot as plt

insurance_model = get_example_model("insurance")
inference = BayesianModelSampling(insurance_model)

[2022-03-04 08:12] ankurankan commented on #1507
Python 3.10 isn't supported yet but it still seems to be working fine for me:
[code]
Could you maybe share the full error traceback?

[2022-03-05 15:11] HensJos commented on #1503
Thanks for fixing! I will try it asap.

[2022-03-05 22:09] harishkashyap commented on #1507
This worked on 3.9. So closing it.

[2022-03-05 22:09] #1507 closed, assigned to nobody

[2022-03-06 19:11] kimia-zahed commented on #270
'cost' is parent of 'no_of_people' and its CPD is not correct

CPD values for cost is =  [[0.8, 0.6, 0.1, 0.6, 0.6, 0.05],  [0.2, 0.1, 0.9, 0.4, 0.4, 0.95]]
sum of second values is not equal to 1
0.6+0.1 not equal 1

[2022-03-06 20:42] harishkashyap commented on #1391
+1 on this. @ankurankan This seems to fail after certain nodes are added. It sometimes does pass. I think its beyond memory error. Steps to reproduce: Take the insurance example model and run the query of p(Accident| evidence) where evidence is

evidence = {'Age': 'Adult', 'SocioEcon': 'Prole',
    'RiskAversion': 'Psychopath', 'VehicleYear': 'Older', 'ThisCarDam': 'Moderate',
    'RuggedAuto': 'E

[2022-03-09 18:53] ankurankan commented on #1391
@harishkashyap The problem, in this case, is that the state names for the binary variables aren't boolean as specified in the evidence dict above. For example if you look at the state names for the `Antilock` variable:
[code]
it's strings True and False, and hence query throws an error when the evidence is specified as a boolean True.

[2022-03-09 18:56] harishkashyap commented on #1391
Oh! I see. Got it. Perhaps I can put up a PR with a message to change variable type? That could help resolve few other issues as well.

[2022-03-09 18:57] ankurankan commented on #270
@kimia-zahed Yes, the cpd is incorrect in this case and the `check_model` method is able to correctly identify the issue:
[code]
I am not sure if I am understanding what exactly you wanted to report?

[2022-03-09 18:59] ankurankan commented on #1391
@harishkashyap Yeah, I think it would be helpful to show a better error message in these cases.

[2022-03-11 06:55] ysgncss opened #1508 "Why does the model load so slowly？"
### Subject of the issue
Describe your issue here.

### Your environment
* pgmpy 0.17
* Python 3.7
* windows 10

### Steps to reproduce

model = BayesianNetwork([
            ('A', 'B'),
            ...
])

model.fit(data, estimator=BayesianEstimator, prior_type="BDeu")  # default equivalent_sample_size=5
model.save(filename=args.save_path, filetype='bif')

model = BayesianNetwork.load(filename=ar

[2022-03-11 13:01] ankurankan commented on #1508
@ysgncss Hard to say without looking at your model. How many parameters does the model have? Or is it possible to share your bif file?
I did a couple of benchmarks on hailfinder (56 nodes; 3k parameters) and barley (48 nodes; 114k parameters) model:
[code]

[2022-03-14 02:36] ysgncss commented on #1508
This is my trainned model. I would appreciate it if you could help me see it.
https://drive.google.com/file/d/1Ix9HVrnOAyjagdxr54REOUvsQx6-V6w3/view?usp=sharing

[2022-03-22 15:19] Allen8838 opened #1509 "structure_score gradually taking longer and longer to execute"
Hello,

Thanks for the wonderful library. I am creating a number of random bayesian networks and calculating the bic for each network using the structure_score method. Specifically I conduct 500 loops where each loop creates 100 networks and I score each one of the networks. I noticed that my script starts off fast (i.e. it says it will take 1 hour to complete) but then it gradually gets slower an

[2022-03-23 06:24] OccZa opened #1510 "The result of each DAG (pattern) construction is different"
### Subject of the issue
I use est.skeleton_to_pdag and est.pdag_to_dag to generate different dictionaries every time, so the final generated bayes network is also different. I want to know what is the reason for this. Can I fix my results through random seed?
In the file plus contains the two result pictures I generated: result A and result B.

Thanks！
### Your environment
* pgmpy version 0.1.11

[2022-03-23 06:24] OccZa commented on #1510
![resultA](https://user-images.githubusercontent.com/82425726/159636530-726d799d-4a8e-4c77-8544-e6f967d0cc82.png)
![resultB](https://user-images.githubusercontent.com/82425726/159636548-60b1b6e7-276c-4dfa-8c3c-ce6168e97c2d.png)

[2022-03-24 04:56] 1betatsu opened #1511 "Z on is_valid_backdoor_adjustment_set does not accept str type."
### Subject of the issue
When Z on is_valid_backdoor_adjustment_set is str type, it fails and throw ValueError exception.

### Your environment
* pgmpy version 0.1.17
* Python version 3.9.6
* Operating System: macOS 12.2.1

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a **minimal reproducible code** of
the issue you are facing if possible.

[code]

### Expected behavi

[2022-03-28 21:26] ahmedhassan554 opened #1513 "ImportError: cannot import name 'ContinuousNode' from 'pgmpy.factors.continuous'"
### Subject of the issue
The error comes up when I try to run an example from https://pgmpy.org/factors/discretize.html:
ImportError: cannot import name 'ContinuousNode' from 'pgmpy.factors.continuous'

### Your environment
* pgmpy version: 0.1.17
* Python 3.10
* Operating System: Windows 10, 64 bit

### Steps to reproduce
from scipy.stats import norm
import pgmpy
from pgmpy.factors.continuous imp

[2022-03-29 23:43] ankurankan commented on #1513
@ahmedhassan554 The `ContinuousNode` class has been renamed to `ContinuousFactor`. The continuous variable parts of the package are quite buggy and I don't think the discretizer works with ContinuousFactor.

[2022-03-29 23:43] #1513 closed, assigned to nobody

[2022-03-30 00:18] ankurankan commented on #1510
@OccZa I am not able to reproduce this issue. From my understanding, if you are using the stable version of the PC algorithm, it should return the same DAG every time. I tried to test it using simulated data and it seems to be returning the same DAG in each run:
[code]
Would it be possible to share your code and data so that I can reproduce this?

[2022-03-30 17:21] #1511 closed, assigned to nobody

[2022-04-03 15:51] THUzxj opened #1514 "KeyError in DAG.active_trail_nodes() when node is not str"
### Subject of the issue
When the graph has node with name that has a `list` or `tuple` type, invoking the `DAG` or `BayesianNetwork`'s 'active_trail_node()' or `get_independent` raises KeyError. Similar to #1334 .

### Your environment
* pgmpy 0.1.18dev
* Python 3.10.4
* Operating System windows 11 x64

### Steps to reproduce
[code]

### Expected behaviour
Should return the active trails of the n

[2022-04-08 12:05] bcwein opened #1515 "pgmpy.estimators.PC.estimate does not run multithreaded."
### Subject of the issue

I am running the pgmpy [example](https://pgmpy.org/examples/Structure%20Learning%20in%20Bayesian%20Networks.html#) for structure learning in bayesian network and the estimate method in pgmpy.estimators.PC is not running multithreaded. I experience the same error with HillClimbSearch and parameter estimation method ExpectationMaximization. For now i limit the issue to pgmp

[2022-04-10 23:06] mowhammadrezaa opened #1516 "sampling doesn't work when nodes are types other than 'str'"
### Sampling doesn't work when nodes are types other than 'str'
When you want to make a sample of any size, in the 'Sampling' module, if the nodes of the network are of types other than 'str' it raises an error. While if you change this line:
`types = [(var_name, "int") for var_name in self.variables]`
to:
`types = [(str(var_name), "int") for var_name in self.variables]`
then it will work regardle

[2022-04-11 00:19] mowhammadrezaa commented on #1514
change this line:
`for start in variables if isinstance(variables, (list, tuple)) else [variables]:`
to:
`for start in variables if isinstance(variables, list) else [variables]:`
it mustn't break anything.

[2022-04-11 17:50] ankurankan commented on #1515
@bcwein In the code example, the estimate method is using the `stable` variant which doesn't have a multithreaded implementation. If you use `variant="parallel"` argument for the `estimate` method, it should run on multiple threads. For HillClimbSearch, I am not aware of any parallel variant of the algorithm. If you know of any, could you please share the link?

[2022-04-11 18:15] ankurankan commented on #1516
@mowhammadrezaa Thanks a lot for reporting this. Would you like to create a PR fixing this?

[2022-04-13 22:29] #1515 closed, assigned to nobody

[2022-04-14 05:43] DaniFra commented on #1038
And how can i access the variable which generates the maximum phi value (in this case bronc_0)?

[2022-04-14 06:53] DaniFra opened #1517 "How to access to the variable that gives the max probability"
From a situation like this:

print(q['bronc'])
+---------+--------------+
| bronc | phi(bronc) |
|---------+--------------|
| bronc_0 | 0.6000 |
| bronc_1 | 0.4000 |
+---------+--------------+

how do i access "bronc_0" which is the most likely label?
I know that q.values[1] give me 0.6

[2022-04-15 16:28] ankurankan commented on #1517
@DaniFra You can use the `get_value` method of `DiscreteFactor` for getting the probability values corresponding to the states. Example:
[code]

[2022-04-15 16:31] ankurankan commented on #1038
@DaniFra If you want the state with maximum probability, you can use the `map_query` method instead of `query`. It should return a dict of {variable: state} which have the highest probability.

[2022-04-23 15:30] PARODBE opened #1518 "Smooth param"
Hi,

Thank you for this amazing library. Do you think that could you incorporate a smooth parameter in order to do a gridsearch depending on score and smooth, like in bnclassify of R?

Thanks!
Pablo

[2022-04-24 08:22] qinwenchuang opened #1519 "Nan error in conditional probability calculation using VariableElimination's interface."
### Subject of the issue
Describe your issue here.
nan errors occur in conditional probability calculations using VariableElimination's interface. This error is triggered in some cases, and not all calculations have nan.
Thanks.
__________________________________________________________
Finding Elimination Order: : : 0it [00:00, ?it/s]
0it [00:00, ?it/s]
/home/qwc/.local/lib/python3.8/site-package

[2022-04-24 17:22] AnuragMishra2311 commented on #772
Hi @ankurankan
Is this feature(parameter and structure learning for continuous data) available now ?

[2022-04-24 18:48] harishkashyap commented on #772
I have added parameter Learnjng for Gaussian Bayesian network

[2022-04-24 19:01] AnuragMishra2311 commented on #772
That's great!
Structure learning is not added yet ?

[2022-04-24 19:18] harishkashyap commented on #772
Not yet. You can still discretize data and use existing methods. Amongst hybrid learning methods a few of them still discretize data for learning.

[2022-04-24 19:36] ankurankan commented on #772
@AnuragMishra2311 @harishkashyap PC algorithm (https://pgmpy.org/structure_estimator/pc.html) has support for structure learning for continuous data. You can specify `ci_test="pearsonr"` for continuous datasets.

[2022-04-24 20:43] harishkashyap commented on #772
Thanks @ankurankan

[2022-04-25 10:39] AnuragMishra2311 commented on #772
Thanks @ankurankan

[2022-05-02 03:41] ankurankan commented on #1519
@qinwenchuang It's a bit hard to say without looking at the code. Are the probability values in your network very small by any chance? Also, if you could possibly share your code/model, I can take a look at why this could be happening.

[2022-05-03 11:46] XMAHA opened #1522 "BN of multi-sensor"
I have some data of multi-sensor. There are 8 channels. And I partition it into sample with the dimensions of 1024*8.  There 1000 samples. I use the score-based method to learn the structure. I want to get 1000 BNs, each has 8 nodes. But it seems the method can't learn the structure. The adjacency matrices are all empty.
Following is my code:

        data_graph = pd.DataFrame(x.T, columns=['C1',

[2022-05-06 01:22] qinwenchuang commented on #1519
@ankurankan It is caused by the low value of probability.increasing the probability value will not cause this problem.
Thanks so much for response.

[2022-05-06 01:22] #1519 closed, assigned to nobody

[2022-05-07 06:43] ankurankan commented on #1522
@XMAHA Hard to say why it might be happening without looking at the data. Would it be possible to share the dataset? Else, the first thing I would check is whether the correlation between the variables are non-zero.

[2022-05-07 10:23] ankurankan commented on #1518
@PARODBE Sorry for the late reply. If I am understanding correctly, the smooth parameter in bnclassify is equivalent to providing a pseudo_counts for each state when estimating the parameters. It should be equivalent to using `BayesianEstimator` with `dirichlet` prior in pgmpy. Here's an example with data generated from the alarm model and trying to learn the parameters of the model back from the

[2022-05-08 17:23] reeingal opened #1524 "It takes too much time on DataFrame .loc operation in MLE estimate_cpd method with large states."
* pgmpy version: `0.1.18`
* pandas version: `1.4.2`
* Python version: `3.8.8`
* Operating System: `Windows 10`

I make a bayesian network with 25 nodes, but a node have many edges from other nodes. When I use MLE to fit samples, it takes too much time. I debug the code, and find that it gets bogged down in estimate_cpd() in MaximumLikelihoodEstimator for the node with too many edges:

[code]

In m

[2022-05-09 11:04] reeingal opened #1525 "It seems spend too much time in VariableElimination._get_working_factors method when use bayesian newtork to predict"
I build a `BayesianNetwork` and let i fit dataset to learn parameters.
And then I use it to `predict` and find that it is too slow because of spending too much time in `VariableElimination._get_working_factors()` method to build the `working_factors` variable (because there is a node have many edges from others in my network):

[code]

It seems take too much time in build a `set` about tuples of `

[2022-05-10 01:43] reeingal commented on #1525
I found that the `__hash__()` method in `DiscreteFactor` spent too much time, because of the code:

[code]

the type of `phi.values` is `numpy.ndarray`, when the shape of `phi.values` is big, it would take much time on `str()`.

[2022-05-10 02:07] reeingal commented on #1525
I am not sure, but it seems that `hash(phi.values.data.tobytes())` run much faster than `str(phi.values)`, and if two `numpy.ndarray` object have same values, they will get the same hash value. if I change the

[code]

to

[code]

in `__hash__()` method of `DiscreteFactor`, it will still work?

[2022-05-10 02:25] reeingal commented on #1525
In my test, I get the same predict result after modifying the code, but I am still not sure whether it is just luck.

[2022-05-10 09:12] reeingal opened #1526 "The _compute_weights() method of ExpectationMaximization executes too long in large dataset"
Hello, I use the `ExpectationMaximization` estimator to learn parameters of my `BayesianNetwork`. But it spend too much time on  `ExpectationMaximization._compute_weights()` method, because the method traverses all unique data in dataset:

[code]

I am wondering whether it can change to use `joblib.Parallel` to improve the speed. But I am not sure whether the `for` loop would use the result calcul

[2022-05-11 07:24] ankurankan commented on #1524
@reeingal Thanks for reporting this. It is indeed weird why there's such a huge difference between comparing values. I did a quick runtime check on the two version and numpy comparison seems to be around 19x faster than pandas.
[code]
I think the best way to fix this would be to replace the line with something like this:
[code]
It's as fast as the modification you suggested and avoids creating ext

[2022-05-11 08:33] ankurankan commented on #1526
@reeingal I think parallelization should work. But for smaller datasets, I see that the run time increases instead of decreasing because of parallelization overheads. Maybe you can try it on your dataset and see how that performs?

[2022-05-11 08:42] reeingal commented on #1526
@ankurankan I make a test for a `DataFrame` with 50000 unique records. And it would save 80% time if I use `joblib.Parallel`. If the next loop would not use the result caculated by last loop in this `for` loop, I think it is maybe a good choice to use parallelization.

[2022-05-11 08:53] ankurankan commented on #1525
@reeingal Thanks for reporting this. It should return the same results and should improve the runtime as well. Would you like to create a PR for this as well?

[2022-05-11 08:56] ankurankan commented on #1526
Hmm, interesting. Could you maybe create a PR for this as well in that case and then I can try it out on different dataset sizes? Thanks again for all the improvements :)

[2022-05-11 09:00] reeingal commented on #1524
It is my pleasure to report a pr.

[2022-05-11 09:00] reeingal commented on #1525
It is my pleasure to report a pr.

[2022-05-11 09:01] reeingal commented on #1526
It is my pleasure to report a pr. I will make i soon.

[2022-05-11 12:34] reeingal commented on #1526
@ankurankan I create the PR. In my personal computer, I can not create the 50000 unique records with 30 nodes Because of the poor memory, so I have to change to 9994 unique records with 10 nodes. The CPU of my laptop is AMD Ryzen 5 5500U @ 2.1GHz. With parallelization, the time `_compute_weights()` costed was 103 seconds compare to 387 seconds use only `for` loop.

[2022-05-11 15:58] reeingal commented on #1524
@ankurankan It is still very slow use `state_counts.loc[:, (state_counts.values==0).all(axis=0)] = 1`. My test code is like:

[code]

I tested the code in my school computer (Windows 10, I9-12900KF, 64GB memory, the pandas version is `1.4.2`) and my laptop (Ubuntu 22.04, AMD 5500U, 16GB, the pandas version is `1.2.4`), and got the same phenomenon. It seems to get bogged in the `loc` assignment of

[2022-05-12 08:58] #1525 closed, assigned to nobody

[2022-05-12 09:25] reeingal commented on #1526
@ankurankan There is a fault in the code I commit. I just tested one round the `_compute_weights()` and did not wait for finishing the learning. I find that the if I use process in `joblib.Parallel`, it will run out of memory of my laptop (Ubuntu, 16GB) when execute the `joblib.Parallel` in `get_parameters()` of `MaximumLikelihoodEstimator` which `prefer` is `threads`. If I change the `prefer` to

[2022-05-12 09:50] reeingal commented on #1526
The problem in my school computer maybe I use a 60000 unique records dataset and the shape of `weighted_data` caculated in EM is 37518125x29, which might hit the memory limit when running `_send_bytes()` of `joblib`. In my laptop, I just constrcut a random dataset like:

[code]

[2022-05-12 10:52] ankurankan commented on #1524
@reeingal Yes, seem like loc is a bit slower than indexing on the numpy array. The values seem the same to me as well, so should be fine.

[2022-05-12 10:52] #1524 closed, assigned to nobody

[2022-05-12 16:34] #1526 closed, assigned to nobody

[2022-05-30 03:34] qinwenchuang opened #1532 "I am very sorry that I found the dimension of probability matrix wrong."
### Subject of the issue
Describe your issue here.
I am very sorry that I found the dimension of probability matrix wrong when I was training BN model.
For example, a node with five states has two node inputs, each of which has five states.
Theoretically, the probability matrix dimension of this node is 5*10, but the result is 4*10, but the sum of the columns of the matrix is 1.0.
So, I guess get_

[2022-05-30 03:36] qinwenchuang commented on #1532
Theoretically, the probability matrix dimension of this node is 5 * 10, but the result is 4 * 10, but the sum of the columns of the matrix is 1.0.

[2022-05-31 15:23] ankurankan commented on #1532
@qinwenchuang If I am understanding correctly, you have some states which are not observed in your dataset. If you want to force pgmpy to create CPDs including states which are not present in the data, you can specify a `state_names` argument in the `fit` method with all the possible states for the variables. Here's an example:
[code]

[2022-06-01 03:29] qinwenchuang commented on #1532
It works. From network building to fitting, the number of node states is not set. If the data is insufficient, the loss of some states of the nodes is expected.
Thanks for the guidance.

[2022-06-01 03:30] #1532 closed, assigned to nobody

[2022-06-20 04:33] Jchaokai opened #1535 "c++ call VariableElimination.query() will get a NoneType error"
### Subject of the issue
im writing a project using Qt5，and will call a Python script
this is the function (called failed in c++) :
[code]

if  i run this Python script  separately , it will print the result without some errors.

But this function called in c++ project (other functions will succ)，it will return a error message `'NoneType' object has no attribute 'write'`
some logs  in c++ project:

[2022-06-20 05:42] ankurankan commented on #1535
@Jchaokai I don't see any problem with the python part and the python function should return a string representation of the `DiscreteFactor` object. Since the error seems to be with trying to call the write method on None, maybe the bug is somewhere else in the code.

[2022-06-20 06:20] Jchaokai commented on #1535
@ankurankan

i can run this python script succ  :
[code]

but when i call `var_Elimination_query`  function in `c++ project`  , it  failed
c++ code to call this function :
[code]

My Sixth sense [joke]     told me   some errors occured  in python script
I have been confused

[2022-06-20 11:21] #1535 closed, assigned to nobody

[2022-06-22 18:43] Nikhil-Kasukurthi commented on #906
@ankurankan Could you please point to an implementation of the parent divorcing or the approach to implement it?
Is the algorithm mentioned in this [paper](http://ceur-ws.org/Vol-1419/paper0020.pdf) the one you are referring to?

[2022-06-23 17:09] zacandcheese opened #1536 "Stable PC Algorithm is Incorrect"
### Subject of the issue
I was using this algorithm to check the accuracy of my implementation and I noticed a discrepancy in the sepsets. After checking this code I discovered a potential bug. In the stable algorithm `neighbors` is precomputed so when edges get removed from the graph the order does not change the result.
The original version:  [line 8 in pseudocode of original paper](https://arxi

[2022-06-27 13:07] ankurankan commented on #1536
@zacandcheese Thanks for reporting this. This indeed seems to be a bug. Would you like to open a PR fixing it?

[2022-06-27 13:10] ankurankan commented on #906
@Nikhil-Kasukurthi Yes, that paper proposes a systematic approach. A generally used strategy could be much simpler to look at the variables and see if they can be grouped together.

[2022-06-30 06:49] #1517 closed, assigned to nobody

[2022-06-30 06:49] #1518 closed, assigned to nobody

[2022-06-30 07:06] ankurankan commented on #1510
@OccZa I think I have finally found the problem. It should be fixed with: https://github.com/pgmpy/pgmpy/pull/1537

[2022-06-30 07:06] #1510 closed, assigned to nobody

[2022-06-30 07:11] #1536 closed, assigned to nobody

[2022-06-30 07:15] #1502 closed, assigned to nobody

[2022-06-30 07:28] #1516 closed, assigned to nobody

[2022-06-30 07:35] #1514 closed, assigned to nobody

[2022-06-30 08:18] #1492 closed, assigned to ankurankan

[2022-06-30 08:46] ankurankan opened #1542 "Bug in EM when latent variables are present"
### Subject of the issue
EM algorithm seems to be assigning equal probability values to all the states of latent variables.

### Your environment
* pgmpy version: 0.1.18
* Python version
* Operating System

### Steps to reproduce
[code]

[2022-06-30 08:51] #1443 closed, assigned to ankurankan

[2022-06-30 08:51] #1272 closed, assigned to nobody

[2022-06-30 08:52] #1486 closed, assigned to nobody

[2022-06-30 09:15] #1469 closed, assigned to nobody

[2022-07-01 03:25] Jchaokai opened #1545 "main thread of the c++(Qt) project call BayesianNetwork.load() will block"
### Subject of the issue
i' writing a c++(Qt) project and wil call  `pgmpy`.
when i call `BayesianNetwork.load('xxxxxx.bif')`  in c++(Qt) project,  the main thread will block, and the num of  `main window`  will from one to many(never seen this situation)

### Your environment
* pgmpy - 0.1.18
* Python version - 3.9.13
* Operating System - win64

### Steps to reproduce

i will give some example co

[2022-07-01 07:03] ankurankan commented on #1545
@Jchaokai Yes, the BIFReader is multi-threaded. If you want to run it in a single thread you can also load the model using:
[code]

[2022-07-01 07:56] Jchaokai commented on #1545
@ankurankan it's work !
so  so so so so so so so appreciate !!!

[2022-07-01 08:45] #1545 closed, assigned to nobody

[2022-07-05 03:04] Jchaokai opened #1546 "after load a model from "xxx.bif", add node will not succ in c++ project"
### Subject of the issue
first of all,  these funcs will called in c++ project.
the same func `add_nodes`  will get different result:
 - new bayes model, and add nodes it will not err
 - load bayes model from `"xxx.bif"`, and add nodes to it will err
err info:
[ add nodes err ]  : 'BayesianNetwork' object has no attribute '_succ'  ( i found `_succ` is in class `networkx.classes.digraph`  func `add

[2022-07-05 05:38] #1546 closed, assigned to nobody

[2022-07-07 08:42] Jchaokai opened #1552 "after load "xxx.bif", VariableElimination.query() wil error"
### Subject of the issue
after load model from "xxx.bif", VariableElimination.query() will error.
<br>
**here is the model ( not loaded from file), it will succ:**
[code]

**here is the model loaded from `xxx.bif`, it will error:**
[code]
**here is `demo2.bif`:**
[code]

during debug，error occurs when  `parent_cpd.state_names[node] != cpd.state_names[node]`
`parent_cpd.state_name` is `{'accident':

[2022-07-07 14:13] ankurankan commented on #1552
@Jchaokai It's not really a bug. The problem is that there is a mismatch between the state names provided in vir_evidence and the loaded model.
[code]
Since no state names were specified while creating the model, pgmpy by default assigns integer states starting from 0. But once the network is written to a file, there's no way of knowing whether the original state was an int or str. And while readi

[2022-07-07 14:14] #1552 closed, assigned to nobody

[2022-07-18 07:21] Jchaokai opened #1556 "log info format issue"
https://github.com/pgmpy/pgmpy/blob/e4953447727818f2d9cdd25607b0f9199f18dc4e/pgmpy/models/BayesianNetwork.py#L429

I haven't written Python before , but this error info can't give me some tips to solve it (i got this error)
should write like this?
[code]

[2022-07-18 07:23] ankurankan commented on #1556
@Jchaokai Yes, that seems to be a typo in the code. It is supposed to be an f-string, exactly what you have suggested.

[2022-07-18 07:33] #1556 closed, assigned to nobody

[2022-07-18 12:37] Jchaokai opened #1557 ""xxx.bif" file does not support Chinese characters?"
### Subject of the issue
i have a "xxx.bif" file which has  some `Chinese characters` in it, and i read it failed.

here is a example bif file:
[code]

python script:
[code]

got a `index out of range` error in `BIFReader  __init__   ` &ensp;  `self.get_variables()`

is there some ways to solve it?   ----if i must use `Chinese characters`

### Your environment
* pgmpy version 0.1.18
* Python versi

[2022-07-18 20:38] sharonml commented on #698
hi @atena2019! I know it's been a while, but do you remember the solution you found?

You may still need to make a prediction for a test data point that contains the maximum value right? The model should not throw an error in that case... I'm running into this same error as well so would be great to know what you found.

[2022-07-19 01:32] #1557 closed, assigned to nobody

[2022-07-19 12:04] rishubn opened #1558 "SIGKILL generated during VariableElimination query"
### Subject of the issue
Hi,

I have a model with 250 binary value nodes. Most nodes are linked with deterministic functions and I am trying to do a query on 8 nodes to find their marginal PMF. When I run the query, after some time the program generates a SIGKILL itself and dies. Why is that? The memory usage of the program according to the system monitor tops out at 6GB.

I should add: This issue

[2022-07-19 20:16] ankurankan commented on #1558
@rishubn I can't think of any reason why this might be happening. If you could share your code with me, I can try to reproduce and debug the issue?

[2022-07-20 00:02] suprateembanerjee commented on #1016
The code results in a StopIteration error on the sample posted above by @khalibartan. Tried @nav9 's solution. Did not work. Full trace:
[code]

[2022-07-20 06:36] rishubn commented on #1558
Do you have an email to which I can send it to?

On Tue, Jul 19, 2022, 10:16 PM Ankur Ankan ***@***.***> wrote:

[2022-07-20 06:39] ankurankan commented on #1558
@rishubn ankurankan@gmail.com

[2022-08-02 08:25] zhangtj1996 commented on #1542
I also noticed the current EM estimator does not support `float` data. I have `np.nan` in my data entries.

Error:
IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

[2022-08-02 08:34] zhangtj1996 commented on #1542
I also noticed that the current pgmpy version: 0.1.19 EM estimator doesn't support missing data.

## Steps to reproduce
[code]

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

[2022-08-07 09:33] JonathanOase commented on #1067
Has this problem been solved?

[2022-08-07 09:46] ankurankan commented on #1067
@JonathanOase Yes, this is fixed now.

[2022-08-07 10:11] JonathanOase opened #1560 "failed to load model"
#failed to load model
model2.save('D:\\xxky\\model2.bif', filetype='bif')
model3 = BayesianNetwork.load('D:\\xxky\\model2.bif', filetype='bif')

'save' is ok, but 'load' raise error:
  File "D:\Anaconda\lib\site-packages\pyparsing\results.py", line 193, in __getitem__
    return self._toklist[i]

IndexError: list index out of range

### Your environment
* pgmpy version: 0.1.17
* Python version: 3.

[2022-08-07 10:23] ankurankan commented on #1560
@JonathanOase Would it be possible to share your model or the bif file so that I can reproduce the error? Also, what version of pyparsing are you using? Does the same error happen on the latest version of pgmpy?

[2022-08-07 11:33] JonathanOase commented on #1560
Thanks for your answer. Here is my bif file, the pyparsing version is 3.0.5 and the same error occurs with the latest pgmpy package
[bif.zip](https://github.com/pgmpy/pgmpy/files/9276671/bif.zip)

[2022-08-07 11:45] ankurankan commented on #1560
@JonathanOase Seems to be encoding problem:
[code]
I see that there are some weird variable names in the file like `ÈË¿ÚÃÜ¶È`, `ÍÁµØÀûÓÃ¸²¸Ç` etc. Is this expected or something is going wrong while writing the file?

[2022-08-07 11:53] JonathanOase commented on #1560
Thanks for your answer, I noticed this problem before, but I didn't think it was causing the error, I will change the names of these variables to check if it could be a problem

[2022-08-07 14:54] JonathanOase commented on #1560
This is the bif file after I changed the variable names, but it still has the same problem as before
[model.zip](https://github.com/pgmpy/pgmpy/files/9276992/model.zip)

[2022-08-08 05:33] JonathanOase commented on #1560
@ankurankan How can this problem be solved?

[2022-08-11 06:00] ankurankan commented on #1560
@JonathanOase Sorry for the late reply, I didn't get a chance to look at it. The problem seems to be because of spaces in variable name. If you replace `land use and cover` in the file with `land_use_and_cover`, it works fine.

[2022-08-11 06:54] ankurankan commented on #1016
@suprateembanerjee Sorry for the late reply, I missed the email. Yes, this seems to be an issue with the latest networkx and I don't see an easy fix for it. For now I think the easiest way would be to create a networkx graph from the model and plot that.
[code]

[2022-08-11 07:17] JonathanOase commented on #1560
It worked, thank you for your answer!

[2022-08-11 07:18] JonathanOase commented on #1560
@ankurankan It worked, thank you for your answer!

[2022-08-11 07:25] JonathanOase commented on #1542
@ankurankan 'EM algorithm seems to be assigning equal probability values to all the states of latent variables'. Has this problem been solved?

[2022-08-11 07:51] ankurankan commented on #1558
@rishubn Sorry for the late reply; it took me a while to figure out the problem. It seems that numpy has a limit of 26 variables for einsum operation, and in this case, intermediate computation requires more than 26 variables, hence the error. A possible solution (only if you have a machine with large memory) is to provide `elimination_order` to the query method. I would suggest trying out the dif

[2022-08-11 07:51] ankurankan commented on #1542
@JonathanOase Unfortunately, this hasn't been fixed yet.

[2022-08-11 08:29] ankurankan commented on #1558
@rishubn Using pytorch backend for einsum seems to work. I will have to think of a good way to integrate it into the main codebase but in the meanwhile you can use this branch: https://github.com/ankurankan/pgmpy/tree/issue/1558. If you have a GPU, you can also specify the device in this line: https://github.com/ankurankan/pgmpy/blob/issue/1558/pgmpy/inference/ExactInference.py#L369

[2022-08-12 15:48] jna29 opened #1564 "Flipped evidence cardinalities in `DynamicBayesianNetwork.initialize_initial_state`"
### Subject of the issue
Flipped evidence cardinalities in `DynamicBayesianNetwork.initialize_initial_state`

### Your environment
* pgmpy version - 0.1.18
* Python version - 3.8.10
* Operating System - WSL 2 on Windows 10 Enterprise

### Steps to reproduce
[code]

### Expected behaviour
The conditioned on variables for `p(y_0 | z_0, x_0)` shouldn't have their cardinalities flipped in `p(y_1 | z_1

[2022-08-12 16:09] jna29 opened #1565 "`factor_product` returns same object as input for single argument"
### Subject of the issue
`pgmpy.factors.base.factor_product` returns the same object as input. No copy is made

### Your environment
* pgmpy version - 0.1.18
* Python version - 3.8.10
* Operating System - WSL 2 on Windows 10 Enterprise

### Steps to reproduce
In the case where `factor_product` gets a single argument it returns the same object as the input
[code]

This created a problem in `DBNInfe

[2022-08-12 17:48] ankurankan commented on #1564
@jna29 Thanks for reporting this, I will have a look why this is happening.

[2022-08-12 18:22] #1565 closed, assigned to nobody

[2022-08-15 18:31] ankurankan commented on #698
@sharonml Sorry for the late reply. If you are getting a similar error, it's probably because the test dataset has states for variables that were not present in the training dataset.

[2022-08-15 18:38] #1564 closed, assigned to nobody

[2022-09-06 08:09] Jchaokai opened #1569 "is there a example of `sensitivity analysis`"
### Subject of the issue
i can't find some docs of `sensitivity analysis`，
i'm just want to get the result of one node‘s sensitivity  in a BayesNetwork.

for the example:
[code]
how to get the Sensitivity of node `Smoker` to  other nodes, is there a example?

[2022-09-06 14:52] zSavT opened #1570 "Error calculating query, IndexError"
### Error calculating query, IndexError
Describe your issue here.

### Your environment
* pgmpy version 0.1.19
* Python version 3.10
* Windows 11

### Steps to reproduce
[code]

Error message
[code]
### Expected behaviour
Be able to enter every possible value.

### Actual behaviour
Some values, such as in this case "29" are not accepted, this also happens with other variables with other values.

[

[2022-09-09 15:32] ankurankan commented on #1570
@zSavT The problem in this case is that the training data doesn't have some of the values that you are passing as evidence. For example, the `age` variable doesn't have the value 29 in the training dataset:
[code]
Because of this, pgmpy doesn't generate probability values for the state `29` and hence the error. You can provide these additional missing states to the fit function using the `state_na

[2022-09-09 15:32] #1570 closed, assigned to nobody

[2022-09-09 19:45] zSavT commented on #1570
Ok, thank you very much!

[2022-09-12 11:48] tomsch420 opened #1571 "Belief Propagation consumes exponential memory on efficient Factor Graphs (Trees)"
### Subject of the issue
Belief Propagation tries to allocate exponential memory on factor trees. This shouldnt be happening since trees are still without cycles and therefore efficient for exact marginalization.

### Your environment
* pgmpy version 0.1.19
* Python version 3.8.10
* Operating System Ubuntu 20.04

### Steps to reproduce
[code]

### Expected behaviour
Calculation of the independent

[2022-10-09 07:53] grahamharrison68 opened #1574 "Pgmpy does not work with unobserved confounders"
### Subject of the issue
There is no way to get pgmpy working with unobserved counfounders to calculate the ate correctly

### Your environment
* pgmpy version 0.1.19
* Python 3.8
* Windows 10

### Steps to reproduce
import pandas as pd
import numpy as np
from pgmpy.models import BayesianNetwork
import pgmpy.inference

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

[2022-10-10 07:27] lqhuang commented on #1393
Hey, @ankurankan I saw this issue is closed. But `torch` seems still existing as must-required dependency.

I wonder could I make a PR to make torch as optional dep like

[code]

Furthermore, I want to contribute some lightweight optimizer instead of `pytorch`, because `torch` is really too large to install (~700MB).

How do you think about this.

[2022-10-13 07:41] GabrielAzevedoFerreiraQB opened #1575 "Factor product failing"
### Subject of the issue
Describe your issue here.

[code]
error message:
[code]

Versions:
pgmpy==0.1.20
python 3.8
Linux and Mac

### Your environment
* pgmpy version
* Python version
* Operating System

### Steps to reproduce
Tell us how to reproduce this issue. Please provide a **minimal reproducible code** of
the issue you are facing if possible.

### Expected behaviour
Tell us what should ha

[2022-10-18 13:48] ankurankan commented on #1575
@GabrielAzevedoFerreiraQB The `factor_product` method expects the arguments to be `DiscreteFactor` objects, so you will need to explicitly convert the CPDs to factor objects. Something like this works:
[code]

[2022-10-18 13:48] #1575 closed, assigned to nobody

[2022-10-18 13:58] ankurankan commented on #1574
@grahamharrison68 Thanks for reporting this. I had a quick look and seems that the `estimate_ate` method currently works only if there's a backdoor adjustment set which is not the case in your example. I will see if I can do a quick fix for this.

[2022-10-18 14:17] ankurankan commented on #1393
@lqhuang Thanks for the suggestions. Yeah, I think it should be fine to move pytorch to optional dependencies. But for that, I would just move it from `requirements/runtime.txt` to `requirements/optional.txt`. Yes, I think it would also be great if we could replace pytorch with a light weight optimizer.

[2022-10-24 05:50] gregbolet opened #1576 "Memory Leak in BaseEstimator Class"
### Subject of the issue (with proposed fix)
When creating multiple `MaximumLikelihoodEstimator` objects and calling `estimate_cpd` for all the model nodes in each, we seem to get a memory leak. This is what happens with repeated calls to `BayesianNetwork.fit`.

The `state_counts` function of the `BaseEstimator` class has a decorator ([https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/estimators/base.

[2022-10-24 05:53] gregbolet commented on #1576
Looks like this might be a similar issue: https://github.com/limix/glimix-core/issues/15

[2022-10-31 07:24] grahamharrison68 commented on #1574
Hello @ankurankan,

Thanks for picking this up.

I was wondering if there has been any progress? If I change the network definition as follows -
network = BayesianNetwork([("X", "Z"), ("Z", "Y"), ("U", "X"), ("U", "Y")], latents=["U"])
Then the code does not crash but the results are still wrong and are exactly the same as if I defined the network by omitting "U" altogether.

I am about to publish

[2022-11-01 14:31] ankurankan opened #1577 "Enhancements for Causal Inference"
List of upcoming enhancements to the Causal Inference class:
- [ ] `estimate_ate` and `query` methods should work with frontdoor adjustment sets.
- [ ] Remove averaging over different adjustment sets for computing ATE.
- [ ] Extend instrumental variables (IVs), conditional IVs, instrumental sets, and conditional instrumental sets from SEMs to work with DAGs as well.
- [ ] Extend estimation methods

[2022-11-01 16:49] ankurankan commented on #1574
@grahamharrison68 Sorry, this took me a while but should work now. Here's the output from the example you mentioned:
[code]

Yeah, pgmpy doesn't have full support (some structure learning and causal estimation is supported) for continuous variables yet but I do plan to extend the SEM class (which is essentially a Gaussian BN), which would also allow us to also do parameter estimation and probabili

[2022-11-07 04:00] kshitij-shekhar commented on #270
There seems to be another mistake, the variable_card attribute for cpd_quality is 3, but in cpd_no_of_people you've made it 2(evidence_card attribute).

[2022-11-11 08:15] grahamharrison68 commented on #1574
Hello @ankurankan. Thanks for looking at this. I have used pip to upgrade to the latest version of pgmpy which is now 0.1.20 and then run the code above. I still get 0.8047575187358673 and not 0.6599812388166989 which is produced in your example above so I am still getting the wrong answer. Please could I ask if you have released the codebase yet that has the fix in it that you have demonstrated a

[2022-11-11 12:30] ankurankan commented on #1574
@grahamharrison68 Sorry, I forgot to mention that this is still in the dev branch and should be released in version 0.1.21 (scheduled on 31st Dec). You can install the dev branch in the meanwhile using:
[code]

[2022-11-24 08:22] ChirsEdith opened #1580 "DBN inference"
Thanks for your code at first. If I have the DBN's structure and its parameters, what I need is the DBN's inference. Can your code deal with this problem? Thanks a lot.

[2022-11-25 10:17] ankurankan commented on #1580
@ChirsEdith The DBNInference class should be able to do that: https://pgmpy.org/exact_infer/dbn_infer.html. Code link: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/inference/dbn_inference.py

[2022-11-25 10:17] #1580 closed, assigned to nobody

[2022-11-28 16:24] oliver3 opened #1582 "GibbsSampling sometimes fails because of issue with DiscreteFactor product"
### Subject of the issue
If I try to run the GibbsSampling for a dataset, it sometimes succeeds, and sometimes fails. This seems to be because `DiscreteFactor` uses `set()` in the `product()` which was introduced in #1548 in July by @ankurankan and the order of `set()` changes for every execution, which causes `phi.variable` to not equal `phi.variables[0]` sometimes.

I think this can be solved by

[2022-11-30 08:36] ankurankan commented on #1582
@oliver3 Thanks a lot for reporting this. This seems to be a side-effect of the TabularCPD class inheriting the DiscreteFactor class. I wasn't aware that it is possible to multiply two CPDs to get back another CPD, as I find CPD multiplication to be an ambiguous operation if we don't explicitly specify the variable that we want the final CPD to be defined on. I think the best solution, in this cas