[2017-03-09 19:45] michaelrempel commented on #782
My thought is that continuous variables offer a lot of possible solutions. Efficient code will favor a plugin style. The first attempt could be a robust but simple statistical examination with a cluster of linear approximations providing the solution as a continuous function approximation. For each X(i) in the solution space the associated vector would be used for all x values such that x>=X(i) an

[2017-03-10 08:49] samnolen commented on #764
I am going to tackle this.

[2017-03-10 09:15] khalibartan commented on #764
@samnolen This issue is quite big on effort, we would like to have a good discussion before you proceed with it. Do you have any particular API in mind?

[2017-03-12 20:05] ankurankan commented on #764
@khalibartan @samnolen Also ideally we would like to have support for continuous variables before starting to work on variational inference.

[2017-03-12 20:06] ankurankan commented on #859
@michaelrempel That's actually an error from scipy.

[2017-03-12 20:06] #859 closed, assigned to nobody

[2017-03-12 20:10] ankurankan commented on #782
@michaelrempel Yes, I agree with your ideas but these are issues related to inference methods. Right now need to implement the base layer for continuous variables and then build these feature on that.

[2017-03-16 15:14] annesoj commented on #579
Hi everyone,
I re-open this post because I did not find any answer to the problem...
@ankurankan

I tried to use pgmpy package with a simple code I found on the internet:

`>>> import pandas as pd

I got the same error than @yashu-seth

   103
    104         if not isinstance(variable_card, int):
--> 105             raise TypeError("Event cardinality must be an integer")
    106         self.vari

[2017-03-18 18:58] bhbitter commented on #856
Not sure if this is related but I see a strange occurrence with VE inference. I am running the following code:

[code]
I get the following output:

[code]

When I run `infer.query(['traffic'], evidence={'president':0, 'accident':1})` I get this:
[code]
How ever, I would expect to get this:
[code]

I am running version 0.1.2.

[2017-03-20 07:00] ocean2045 commented on #856
The code is "print(infer.query(['traffic'], evidence={'president':0, 'accident':1})['traffic'])".I am running version 0.1.3.The running result is correct.

╒═══════════╤════════════════╕
│ traffic   │   phi(traffic) │
╞═══════════╪════════════════╡
│ traffic_0 │         0.5000 │
├───────────┼────────────────┤
│ traffic_1 │         0.5000 │
╘═══════════╧════════════════╛

[2017-03-20 11:07] bhbitter commented on #856
I found my same exact code works with the latest in git. There must have been an bug in version 0.1.2.

[2017-03-21 17:17] linzhp opened #861 "Support Continuous factors in sampling.BayesianModelSampling"
@ankurankan

I am going to add continuous factor support in for likelihood_weighted_sample method. Architectural wise, do you prefer using polymorphism or some `if` statements in the method?

I am tempted to use polymorphism, but I don't have a good design yet.

[2017-03-22 09:18] khalibartan commented on #861
@linzhp We would prefer to use polymorphism. You could share your design and we can discuss over that.

[2017-03-29 06:14] hasselmann opened #863 "Incorrect MAP inference result for VariableElimination and BeliefPropagation on 2-site Markov Model"
I have a simple code where the inference on a 2-site Markov Net seems to be incorrect:
There are two binary sites a and b with one factor:
[code]
If I ask for the most likely value of a or b, it should yield "1" in both cases (in absence of evidence), but neither VE nor BP give the correct answer:
[code]
And BP gives the same result. However, both correctly predict the joined most probable assignm

[2017-03-30 16:04] ankurankan commented on #846
@jayurbain Sorry for the late reply, I totally missed this issue. The only possible reason for this (that I can think of) is that you are using two different versions of pgmpy. Maybe you are running one of them from the pgmpy directory(which will use the latest code) and the other from somewhere else (which will use the installed version of pgmpy) ?

[2017-03-30 16:05] ankurankan commented on #844
@michaelrempel I am sorry but I am unable to understand your exact issue. Can you please elaborate a bit please ?

[2017-03-30 16:25] ankurankan opened #865 "Publish the package on anaconda/binstar"
http://conda-test.pydata.org/docs/build_tutorials/pkgs.html

[2017-03-30 18:51] jayurbain commented on #846
Thanks for your feedback. You are correct. I was inadvertently using the wrong ipython kernel in jupyter notebook which had an old version of pgmpy installed.

[2017-04-05 06:22] cs-chandu opened #867 "is there any sample to code for dynamic bayesian network for 1-D data prediction ( voltage over the time)?"
I have seen the kalman filter , I would like to develop the generic DBN to do the same stuff. but also work non-linear noise/error in data. here is my KF code.

[code]

[2017-04-06 06:27] Henrilin28 opened #868 "Can not find BicScore, HillClimbSearch in estimators"
I successfully install pgmpy in python 2.7 and 3.5, but I can not find BicScore, HillClimbSearch in estimators. It would be great if someone can answer my question!

[2017-04-06 15:58] ankurankan commented on #868
Hi Henry,

All the estimators are here:
https://github.com/pgmpy/pgmpy/tree/dev/pgmpy/estimators. You can just
import it using:

from pgmpy.estimators import BicScore
Or:
from pgmpy.estimators import HillClimbSearch

Cheers
Ankur

On Thu, Apr 6, 2017, 8:27 AM Henry lin <notifications@github.com> wrote:

[2017-04-06 16:29] Henrilin28 commented on #868
Hi I found out that 0.1.2 when using pop install may have problem to import those estimators. I solved this problem by cloning the repo.

Best,
Henry

[2017-04-06 16:33] ankurankan commented on #868
I am sorry, I forgot to mention that. The pip version is a bit old.

On Thu, Apr 6, 2017, 6:29 PM Henry lin <notifications@github.com> wrote:

[2017-04-10 15:22] DataTerminatorX opened #869 "Unsolved bug: Values array must be of size"
I was using `model.fit(data)`, here `data` is `DataFrame` type with 7 columns and all the elements are `int`. Then I got a bug (it seems that this bug has been reported in other issues.)
[code]

 I used `pip install pgmpy` and it seems that it is the newest version `0.1.2`. Hope someone could help me with this issue.

I tried selecting only 10 rows from the data to `fit`, but still reported the sa

[2017-04-10 16:20] ankurankan commented on #869
@DataTerminatorX Could you please give it a try on the latest version (install the dev branch on github) ?

[2017-04-12 07:38] ankurankan commented on #867
@chandupydev Sorry for the late reply. I couldn't understand if you meant to implement this using pgmpy ? I don't think it will be possible to implement this using pgmpy (or will be highly inefficient) right now. But you are welcome to create a PR for this if you would like.

[2017-04-12 07:43] cs-chandu commented on #867
Ok fine... I am elaborating this please have a glance at it,

Problem statement:
A simple 1-D, dynamic KF problem is the measurement of a DC voltage by a meter that has noise. I'd like to solve this same problem using a DBN.

http://scipy-cookbook.readthedocs.io/items/KalmanFiltering.html

So by using Kalman filtering algorithm I've estimated the voltage (normally distributed noisy data i.e np.ran

[2017-04-12 07:43] cs-chandu commented on #867
Please let me know your thoughts :-) Then we can take it forward.

[2017-04-13 11:14] pwichmann opened #871 "ModuleNotFoundError: No module named 'pgmpy.factors.discrete'"
I cannot explain why I get the error:

Even though pgmpy is installed and other modules get imported.
It occurs for the following import statement:
`from pgmpy.factors.discrete.CPD import TabularCPD`

[2017-04-13 11:15] ankurankan commented on #871
@pwichmann Did you install pgmpy from pip or built the latest code from github ?

[2017-04-13 12:45] pwichmann commented on #871
I used pip.

And Python 3.6.1.

[2017-04-13 12:57] ankurankan commented on #871
@pwichmann The pip version is a bit old and that's why you are getting that error. You can follow the instructions here: https://github.com/pgmpy/pgmpy/blob/dev/README.md for installing the latest version.

[2017-04-13 12:57] #871 closed, assigned to nobody

[2017-04-13 13:14] pwichmann commented on #871
This is probably a stupid question. But how do I install pgmpy in a specific conda environment? Does it work the same way - by running the install.py?

[2017-04-13 13:42] ankurankan commented on #871
@pwichmann Yes, just run `python setup.py install` inside the conda environment.

[2017-04-18 23:03] linzhp opened #872 "Remove nodes without CPD"
[This line](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/models/BayesianModel.py#L165) checks whether the node has CPD by getting its CPD. However, get_cpds will raise an error if the node doesn't have a CPD. So that line will break when there is no CPD for the node.

@ankurankan I can fix it, but I need your input on whether to have get_cpds return None if the CPD doesn't exist, or to check the

[2017-04-19 03:57] jz2575 commented on #824
used requirement-dev.txt file and it was fine.

[2017-04-19 06:46] khalibartan commented on #844
@ankurankan Currently we are treating pyparsing as non-optional dependency both in code and during installation. pyparsing should be optional as only read-write modules require it.

[2017-04-19 06:49] khalibartan opened #875 "pyparsing should be optional dependency"
Currently pyparsing is being treated as a non-optional dependency though actually it should be optional. Both requirements file and read-write modules treat them as non-optional. We should make changes to both and treat pyparsing as optional dependency to use read-write module.

[2017-04-19 06:57] khalibartan commented on #601
Refer #616

[2017-04-19 06:57] #601 closed, assigned to nobody

[2017-04-19 06:59] #637 closed, assigned to nobody

[2017-04-21 08:58] #824 closed, assigned to nobody

[2017-04-21 09:02] ankurankan commented on #872
@linzhp Yes, this seems to be a bug. I would prefer `get_cpds` to return `None` if the CPD is not present.

[2017-04-21 18:28] ankurankan opened #876 "Add more independence tests"
For learning from data, we sometimes need to do independence tests on the variables in the dataset. Currently we only have Chi-Squared test. Can start with implementing some from here: http://www.bnlearn.com/documentation/man/bnlearn-package.html. For references: https://arxiv.org/pdf/0908.3817.pdf

[2017-04-22 15:08] Fenix0817 opened #877 "DBNInference error with cardinality of variable"
Hi @ankurankan,

I want to take advantage of the opportunity to thank you for this excellent tool.

Nowadays, I am implementing DBN on a project and I am using this model:
[code]
But, when I execute the code I obtain this message:

I obtained  the CPD  of  the variable ('C', 1) using:
[code]
 C              |  C(0)   |  C(1)  |  C(2) |
----------     |----------|------------|-------------
 C_1(0)

[2017-04-28 19:05] #872 closed, assigned to nobody

[2017-05-02 16:43] MikeDT opened #879 "ImportError: cannot import name 'BayesianEstimator'"
Executing the following example code (as provided by the pgmpy site and help files) fails

[code]

I get the following error

Traceback (most recent call last):

  File "<ipython-input-10-db37e08a24d3>", line 1, in <module>
    runfile('C:/Users/Mike/.spyder-py3/temp.py', wdir='C:/Users/Mike/.spyder-py3')

  File "C:\Users\Mike\Anaconda3\lib\site-packages\spyder\utils\site\sitecustomize.py", line

[2017-05-02 16:45] MikeDT commented on #879
I worked through the precise install instructions, all seems above board.  Any and all examples appear to fail, I simply can't import anything other than the MaximumLikelihoodEstimator, and when I do I'm greeted with

TypeError: ('Values: Expected type int or type float, got ', dtype('int64'))

which appears to be "resolved"  elsewhere, but I'm not getting the benefit :(

[2017-05-02 18:17] MikeDT commented on #879
All - the solution to this appears to be a thorough (possibly manual) install of all associated apps, **then** install pgmpy

[2017-05-03 02:51] onlycjp opened #880 "TypeError: Estimator object should be a valid pgmpy estimator."
I use the same code,but have bugs
# mLikelihoodEstimator)Generate data
import numpy as np
import pandas as pd

raw_data = np.array([0] * 30 + [1] * 70) # Representing heads by 0 and tails by 1
data = pd.DataFrame(raw_data, columns=['coin'])
print(data)

# Defining the Bayesian Model
from pgmpy.models import BayesianModel
from pgmpy.estimators import MaximumLikelihoodEstimator,BaseEstimator

model

[2017-05-04 09:51] khalibartan commented on #880
@onlycjp Which version are you using? Actually `estimator_type` argument has been replaced with `estimator` so above code sample would raise an error in current version. Other than that you haven't added CPD to the model so `print(model.check_model('coin'))` statement would raise value error.

You can use following code sample it would run just fine.

[code]
Output:
[code]

[2017-05-04 09:55] #868 closed, assigned to nobody

[2017-05-04 15:18] faeahi opened #881 "installing pgmpy in anaconda"
hello

my operating system is windows 7  and i'm using anaconda for python 2.7.
i have install pgmpy with "conda install pgmpy" but the problem is, this installed package doesn't have many features that i need such as structure learning approach, BayesianEstimator parameter learning and so on.
Is there any solution for solving this problem?
Is there every one who can help me?

thanks.

[2017-05-04 15:43] ankurankan commented on #881
@faeahi We haven't hosted the package on conda repo so you can't use `conda install pgmpy`. The best way to get the latest version is to clone/download our repo and install from there. Something like this:
[code]

[2017-05-04 15:43] #881 closed, assigned to nobody

[2017-05-04 15:44] #880 closed, assigned to nobody

[2017-05-04 15:47] ankurankan commented on #879
@MikeDT Ideally a simple pip/python setup.py install should automatically install all the required packages. Can you please share which OS you are using and the python version, so that we can debug this?

[2017-05-04 15:58] ankurankan commented on #877
@Fenix0817 Sorry for the late reply. I just tried to run your code and am also getting the same error. Though I haven't been able to figure out the exact issue yet. I will dig deeper and get back.

Thanks for reporting the issue.

[2017-05-04 20:52] Fenix0817 commented on #877
Thanks Ankur. I wait for your answer.

Regards.

On Thu, May 4, 2017 at 12:58 PM, Ankur Ankan <notifications@github.com>
wrote:

--
*Andrés *

[2017-05-05 11:27] khalibartan commented on #848
@ankurankan Do we want to implement this functionality ? If not then we can close this issue.

[2017-05-05 11:28] #842 closed, assigned to nobody

[2017-05-05 11:31] #846 closed, assigned to nobody

[2017-05-05 11:39] khalibartan commented on #832
@Mary-Kul The code example of book will no longer function with current version of pgmpy. Please install latest version of pgmpy and try running the following code:
[code]
Here is the output on my system
[code]
Please note that argument `estimator_type` has been replaced with `estimator` in latest dev branch.

[2017-05-05 11:39] #832 closed, assigned to nobody

[2017-05-05 11:43] khalibartan commented on #816
@raghavg7796 Updates on this?

[2017-05-05 11:48] khalibartan commented on #782
@ankurankan @yashu-seth Updates on this?

[2017-05-05 11:49] khalibartan commented on #836
Duplicate to #772 .

[2017-05-05 11:49] #836 closed, assigned to nobody

[2017-05-05 11:50] khalibartan commented on #734
@ankurankan I think this has been resolved.

[2017-05-06 04:44] #734 closed, assigned to ankurankan

[2017-05-06 04:45] ankurankan commented on #782
@khalibartan I think this is almost done but still needs a bit of cleanup. I am working on that.

[2017-05-06 04:46] ankurankan commented on #848
@khalibartan Yes, I think we should have a features something like this.

[2017-05-06 07:00] khalibartan commented on #299
@ankurankan I couldn't find any associated PR for this issue. Has this been fixed or not?

[2017-05-06 07:14] khalibartan commented on #660
Fixed in #662 and #719

[2017-05-06 07:14] #660 closed, assigned to nobody

[2017-05-09 16:57] dtrussel opened #882 "Incorrect travis tests"
Just had quick look at job log from your latest travis build. Looks like you are not really testing against python 3.4 and 3.5, but correct me if i am wrong.

From the log:
`

Setting environment variables from .travis.yml
$ export DISTRIB="conda"
$ export PYTHON_VERSION="3.4"
$ export COVERAGE="true"
$ source ~/virtualenv/python2.7/bin/activate
$ python --version
Python 2.7.12
$ pip --version
pip

[2017-05-09 17:08] khalibartan commented on #882
@DaveTrussel Indeed, the python version is being shown 2.7.12 in all the other builds. Thanks for reporting about it. Looks like travis has just made some changes it might be related to that. We will look into it.

Ping @ankurankan .

[2017-05-09 17:15] khalibartan commented on #882
@ankurankan Can you explain this ? Is it the correct behavior? I never really gave a good glance on environment variables during set up of travis build. But seeing from this I guess we are indeed not testing it in python 3.4 , 3.5 envs.

[2017-05-09 19:25] dtrussel commented on #882
Looks like a wrong virtuelenv is activated before the tests. I only started using travis recently and for C++ but from their documentation I would say that something like this should work for your `.travis.yml`:

[code]

and exchange your `your-conda-recipe` and `your-package` in the conda part respectively. However I did not have time to test it.

[2017-05-12 15:39] ankurankan commented on #882
@DaveTrussel @khalibartan It's correct. The initial python version in the log is the default python version. Then we call our install script: https://github.com/pgmpy/pgmpy/blob/dev/continous_integration/install.sh which creates a new conda environment and you can see that the correct versions are getting installed.

[2017-05-12 15:39] #882 closed, assigned to ankurankan

[2017-05-17 15:52] MikeDT commented on #879
Hi chaps, keeping this closed for the time being, but the general findings appear to be that the installation of prereqs for the package is somewhat precarious (I'm currently tying to find the sweet spot where Tensorflow/Theano + Keras AND PGMPY works. When I work out the sweet spot I will repost formally.

As an aside, thanks for the rapid responses, very encouraging :)

[2017-05-17 15:52] #879 closed, assigned to nobody

[2017-05-25 04:02] RamonBeast commented on #848
If you'll need help testing the feature when implemented, I'll be happy to help of course!

[2017-06-02 20:15] joebockhorst commented on #526
I think this bug can be fixed by including the unity factor `clique_potential` in the call to factor_product:
`clique_potential *= factor_product(clique_potential, *clique_factors)`

[2017-06-12 17:18] tnestmeyer commented on #856
I do not think this problem is solved yet. I ran the "chest clinic network" example, which is exercise 3.4 in David Barber's  ["Bayesian Reasoning and Machine Learning''](http://web4.cs.ucl.ac.uk/staff/D.Barber/pmwiki/pmwiki.php?n=Brml.HomePage) book. His official solution for p(d=1) is 0.4359706 and pgmpy version 0.1.2 gives exactly that result, but 0.1.3 not anymore, it says the result is 0.3974

[2017-06-12 17:33] khalibartan commented on #856
@tnestmeyer Thank you for the notebook and analysis. We will look into the matter.

[2017-06-13 22:56] MikeDT commented on #511
Assuming no progress on this?  The pgmpy.models.BayesianModel predict function looks to be very slow.  I'm no Python expert, but my suspicion is that the following block is the culprit

    `   model_inference = VariableElimination(self)
        for index, data_point in data.iterrows():
            states_dict = model_inference.map_query(variables=missing_variables, evidence=data_point.to_dict())

[2017-06-14 08:37] ankurankan commented on #511
@MikeDT Yeah, I don't think there's been any progress on this. And you are right, it's slow because of that block as we are iterating over the data points. And I agree with you on having a sklearn kind of API, and we have been trying to keep it like that but in some cases it's not possible for us.

[2017-06-14 12:11] MikeDT commented on #511
Ha, good to know I'm not a total noob :).  If I make any progress I'll be sure to let you know.  The rest of the code is pretty impressive performance wise, so there's a high standard...

[2017-06-27 17:04] tkanchin opened #885 "Unable to read the saved model with BIFReader"
Hi,

I have used to following code to save my model

[code]

When I try to read back the saved model, I get the following error:

[code]
[code]
Anyone else faced the same issue? How did you resolve this?

[2017-06-27 17:15] dhmodi commented on #579
Hi All,

I am also facing the same issue. Tried the sample code given in above comments.

[code]

Update:
I was trying with version 0.1.2 and was facing above issue.
But it is rectified in v0.1.3

Observation:
v0.1.3 is not detected by pip. Hence manual installation is required.

[2017-06-27 17:47] khalibartan commented on #885
@tkanchin Could you share the dumped bif model file and actual model?

[2017-07-05 18:58] tkanchin commented on #885
Hi, the problem is with the state_names. I have solved the issue, you can close this defect.

I know you are already aware of it, but here is the scenario.

 - Create a model using custom state names
 - Save the model
 - Read it back

The state-names are saved as integers instead of my custom state-names. I have hacked the code for my purposes but, it would be great if this can be changed in futur

[2017-07-05 18:58] #885 closed, assigned to nobody

[2017-07-06 15:47] khalibartan commented on #885
Same as #679

[2017-07-22 06:05] Farzaneh1989 opened #887 "How to increase prediction accuracy of bayesian network"
Hi Friends
My Thesis subject a bout disease Prediction  modeling with Bayesian network , i use Genie application for structure learning. in my Thesis I have 268 records with 24 variables that all of them have 2 states : [Presense or absense] in genie my model accuracy is a bout 87% that i think is not good
what are solutions for increase accuracy?! please help me
and please guide me a bout is any

[2017-07-23 20:53] lstbl opened #888 "is_imap function requires cpd"
When you try to check if a given graphical model is an IMAP of a known joint probability distribution, the function "is_imap" for the "JointProbabilityDistribution" class errors if you don't give it a known CPD:

[code]

gives the error:

[code]

I believe that you shouldn't need to define a cpd in order to infer if a given graph is an IMAP or not.

I haven't tried to fix this myself, and may if I

[2017-07-24 12:57] khalibartan commented on #888
@lstbl Yes, we don't require CPDs for checking whether given graph is IMAP or not. If you want to send in a patch, you are welcome to do so.

[2017-07-24 15:41] lstbl commented on #888
Hi @khalibartan,

Thanks for your reply. Did you mean to say that you _do_ require CPDs?

Thanks,
-lstbl

[2017-07-24 15:46] khalibartan commented on #888
@lstbl I mean to say that CPDs aren't required.

We can easily compare whether both have same set of conditional independencies.

[2017-07-24 15:55] khalibartan commented on #888
@lstbl According to definition from Probabilistic Graphical Models Principle and Techniques

I-map for a set of independencies I if I(K) ⊆ I

So we don't require CPDs do be defined for finding set of independencies in graph. I don't think my statement conveyed any different meaning.

Though currently we are using factorization definition of I-map, which also correct.

[2017-07-28 20:07] AlexGoico opened #889 "NotImplementedError: 'All the args are expected to ', 'be instances of the same factor class.'"
I have the following error:
[code]
for the following model:
[code]
Any advice on why this is not working with pgmpy would be very helpful.

[2017-07-29 02:44] khalibartan commented on #889
@AlexGoico Could you share the code snippet of what you were trying to do?

[2017-07-29 04:14] AlexGoico commented on #889
Yes, sorry I failed to mention the code snippet:
[code]

[2017-07-29 04:36] khalibartan commented on #889
@AlexGoico It is running fine on my system. Here is the output of a query
[code]
Did you install pgmpy using pip install ? pip version of pgmpy is old, Please use latest version of pgmpy by downloading the source from git repository and the following the install instructions mentioned in README

[2017-07-29 06:25] AlexGoico commented on #889
I am using a recent version of pgmpy and am still unable to get past the previous error. Running `pip show pgmpy` I get
[code]

[2017-07-29 16:55] khalibartan commented on #889
@AlexGoico Yeah my mistake, on current dev it is giving the error. Mine env was using same version of pgmpy but not the latest.

[2017-08-03 15:41] khalibartan commented on #698
@yashu-seth @ankurankan I'm still getting following even after converting dataframe to type string.
[code]

[2017-08-08 06:37] khalibartan commented on #889
@ankurankan Error is quite weired. I tried running the code samples 3-4 times and sometimes it ran fine but on some occasions it gave me an error because we are calling factor_product on a empty list of factors at this [line](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/models/MarkovModel.py#L520). I haven't studied markov models can you try to fix it?

@AlexGoico Can you also verify this by runn

[2017-08-08 06:38] khalibartan commented on #889
Adding label Base Model because bug is in construction of Junction tree.

[2017-08-13 03:41] jainmilan opened #890 "'LinearGaussianCPD' object has no attribute 'variables'"
I am trying to create a simple linear gaussian model (x1 -> x2) through the following code in v0.1.3:

`model = LinearGaussianBayesianNetwork([('x1', 'x2')])`

`cpd1 = LinearGaussianCPD('x1', [mu_x], sigma_x)`
`cpd2 = LinearGaussianCPD('x2', [beta0, beta_], var_, ['x1'])`

But, when I use following line:

`model.add_cpds(cpd1, cpd2)`

It says

It seems that there is a bug in the file **LinearGauss

[2017-08-13 05:21] khalibartan commented on #890
Ping @yashu-seth.

[2017-08-13 05:26] khalibartan commented on #890
@milanjain81 LinearGaussianBayesianNetwork are not fully supported yet.

[2017-08-13 12:03] lohani2280 commented on #816
@khalibartan @ankurankan I think currently, no one is working on this issue . Can i take this up?

[2017-08-13 15:48] yashu-seth commented on #890
@khalibartan There is currently a basic model representation support for ```LinearGaussianBayesianNetwork```.

@milanjain81 I don't think it is a bug. There is no ```variables``` attribute in ```LinearGaussianCPD```. There is a ```variable``` attribute, since a linear gaussian CPD is defined on one variable with parents.

[2017-08-13 15:54] jainmilan commented on #890
I agree but it seems add_model function is internally calling variables.

On 13-Aug-2017 9:18 PM, "Yashu Seth" <notifications@github.com> wrote:

[2017-08-13 16:06] yashu-seth commented on #890
@milanjain81 Can you please paste your code that is producing the error?

[2017-08-13 16:14] jainmilan commented on #890
Hi Yash,

Following code is creating the issue. You may assign random values to mu, sigma, and other variables.

Best Regards,

Milan Jain
PhD Scholar - Computer Science
Member: MUC Group <http://muc.iiitd.edu.in/muc/> and Energy Group <http://energy.iiitd.edu.in/>
IIIT Delhi <https://www.iiitd.ac.in/>, Okhla Industrial Estate, Phase III
(Near Govind Puri Metro Station)
New Delhi, India - 110020

[2017-08-16 03:25] khalibartan commented on #890
@yashu-seth Even examples associated with LinearGaussianBayesianNetwork aren't working. Bug is a simple fix since LinearGaussianCPD doesn't have an attribute named variables which is being called by LinearGaussianBayesianNetwork. We are also skipping tests for the same.

[2017-08-25 19:21] lohani2280 commented on #698
@ankurankan  This issue has been solved in PR https://github.com/pgmpy/pgmpy/pull/800 . I guess we should close this issue now.

[2017-08-30 11:20] #816 closed, assigned to nobody

[2017-09-03 11:13] lohani2280 opened #893 "BayesianModel.py: Add test for get_cardinality method"

[2017-09-20 13:58] steve-goley opened #895 "Gibbs Sampling with Evidence"
Perhaps there is a simple way to do this already but I'd like to generate Gibbs sampling with evidence on some nodes in a BayesianModel. As it stands, I think that the only way to do this would be to generate the a BayesianModel with the evidence already baked in.

Ideally, the GibbsSampling would allow you to pass in evidence directly. Could this be added to the code base?

Alternatively, the Bay

[2017-09-24 04:38] petacube opened #896 "HillClimbSearch removed?"
python pgmpy/tests/test_estimators/test_HillClimbSearch.py
Traceback (most recent call last):
  File "pgmpy/tests/test_estimators/test_HillClimbSearch.py", line 6, in <module>
    from pgmpy.estimators import HillClimbSearch, K2Score
ImportError: cannot import name 'HillClimbSearch'

[2017-09-24 05:08] petacube commented on #896
looks like its not installed correcty. from  pgmpy.estimators import HillCllimbSearch only works in pgmpy source directory

[2017-09-24 08:26] lohani2280 commented on #896
@petacube Its working fine on my system. I would recommend you to create a freshly new  `virtual environment` and then install the `dependencies` in that environment using `pip install -r requirements.txt` and then do `sudo python setup.py install` . After this run `python pgmpy/tests/test_estimators/test_HillClimbSearch.py` from the `virtual environment` itself . I think following these steps won

[2017-09-24 14:50] AlexGoico opened #897 "BayesianModel __eq__ method"
I noticed other classes such as DiscreteFactor have equality but BayesianModel does not. Perhaps something as simple as the following will do?
[code]

[2017-09-24 17:30] petacube commented on #896
i tried without luck

[2017-09-25 15:07] rodolfolottin opened #898 "Recalculating CPDs of Bayesian Model"
In softwares like Netika or Hugin, on running mode, if you change the CPDs of a node, the changes propagate to the others connected nodes modifying its parameters. I am making some manual tests just changing the cpd node values, but they dont propagate to the others. Like:

`
model.get_cpds()[0].values[1][0] += 0.01
`
`
model.get_cpds()[0].values[1][1] -= 0.01
`

Is there a way to do it using the

[2017-09-27 11:43] ankurankan commented on #890
@khalibartan I think I am working on this. Will try to fix this.

[2017-09-27 11:48] ankurankan commented on #898
@rodolfolottin For propagating the values automatically, I think we will need to take some assumption about the model (eg: the joint distribution remains the same). We don't have any such functionality implemented in pgmpy but it shouldn't be too much work to do/add this.

[2017-09-27 12:03] ankurankan commented on #896
@petacube Sorry for the late reply. I just pushed a new version on pypi (0.1.4). Try installing it again and it should work.

[2017-09-27 12:07] ankurankan commented on #897
@AlexGoico Yes, I think it should work. If you would like, you are most welcome to send a pull request for this. And I think we can have something like this for other model classes as well.

[2017-09-27 12:15] ankurankan commented on #888
@khalibartan Can this be closed ?

[2017-09-27 14:22] petacube commented on #896
tried new version, same problem

[2017-09-27 14:28] ankurankan commented on #896
@petacube Could you please share what operating system you are using and the output for `pip freeze` ?

[2017-09-27 14:31] petacube commented on #896
Ankur,
python 3.5 anaconda
MacOS Siera 10.12.6

freeze | grep pgmpy
pgmpy==0.1.2

[2017-09-27 14:34] ankurankan commented on #896
@petacube So, there's some problem with pgmpy installation. The latest version should be 0.1.4.

[2017-09-27 14:35] petacube commented on #896
do you have different versions on github vs pypi?

[2017-09-27 14:36] ankurankan commented on #896
@petacube No, it's both the same. The `dev` branch and pypi.

[2017-09-27 14:44] petacube commented on #896
ok
i had to manually remove old version 0.1.2 (pip uninstall pgmpy) and install 0.1.4
now it works

what was the issue and how did you fixed?

most interestly, how did version 0.1.2 worked in your environment but not mine

[2017-09-27 14:51] ankurankan commented on #896
It was already fixed in 0.1.3. And we were all actually using 0.1.3 that's why it was working for us,

[2017-09-27 14:51] #896 closed, assigned to nobody

[2017-09-28 09:50] ankurankan opened #900 "Add method which returns a new model given some evidence."
For inference and sampling whenever we are given some evidence over the model, we first reduce our models over those evidences and then do inference. Currently this is being done in the inference classes. This should be moved inside the models as it will be much cleaner and would remove some boilerplate code.

[2017-09-28 10:04] #828 closed, assigned to nobody

[2017-09-28 10:17] #653 closed, assigned to nobody

[2017-09-28 10:17] #632 closed, assigned to nobody

[2017-09-28 10:18] #622 closed, assigned to nobody

[2017-09-28 14:19] petacube commented on #896
got it
btw install from git works without a problem

install from pip fails
pip install pgmpy
fails saying no such file “AUTHORS.rst"

[2017-09-28 19:28] ankurankan commented on #896
Thanks for pointing that out. It's all fixed now. That was something weird with pypi.

[2017-09-29 10:52] ankurankan commented on #865
Fixed.

[2017-09-29 10:52] #865 closed, assigned to nobody

[2017-09-29 11:21] ankurankan commented on #722
#841 doesn't fix all the points in this issue.

[2017-09-29 11:22] #509 closed, assigned to nobody

[2017-09-29 11:36] ankurankan commented on #408
Not relevant anymore

[2017-09-29 11:36] #408 closed, assigned to nobody

[2017-09-29 11:37] ankurankan commented on #755
@yashu-seth @khalibartan Any updates on this ?

[2017-09-29 11:41] #893 closed, assigned to nobody

[2017-09-30 18:56] jingsliu opened #902 "Install requirement pyparsing package missing"
### Subject of the issue
When I run conda install --file requirements.txt, got package missing error for pyparsing 2.1.8.

Error message:
[code]

### Your environment
I'm using Mac and python 2.7 and am trying to install the dev version of pgmpy. Removing the version requirement solves the issue by updating pyparsing to version 2.2.0

[2017-10-01 00:32] rodolfolottin commented on #898
@ankurankan Do you have any ideia for how it would work?

[2017-10-03 07:50] lohani2280 opened #904 "No need of using defaultdict for implementing get_cardinality method of various models."
I think a normal dict would also suffice this implementation.Its because, defaultdict is similar to the usual dictionary (dict) container, but it has one difference: that it is initialized with a function that takes no arguments and provides the default value for a nonexistent key. Thus , a defaultdict will never raise a KeyError if you try to get an item with a key that is not currently in the di

[2017-10-03 08:22] lohani2280 opened #905 "Doesn't throw error if get_cardinality is called with wrong nodes in MarkovModel."
I think one thing is lacking in this implementation . If node passed while calling get_cardinality, is not present in the model, then it should throw an error. Right now this is not happening.

###  My environment
* version of pgmpy = "0.1.6"
* Operating System = "ubuntu 16.04"

### Steps to reproduce
import numpy as np
from pgmpy.models import MarkovModel
from pgmpy.factors.discrete import Discre

[2017-10-03 13:25] ankurankan commented on #898
@rodolfolottin Assuming that you want to keep the distribution constant, and for a simple network like: `A ---> B`. And let's say you changed `P(A)` to `P'(A)`, you can simply use this: `P'(B|A) = P(A) * P(B|A) / P'(A)` where `P'(B|A)` is the new CPD for `B`. And pgmpy already has methods for doing product and division on `DiscreteFactor` (http://pgmpy.org/factors.html#discrete-factor), so you can

[2017-10-03 13:41] ankurankan commented on #904
@lohani2280 We are not retrieving values in these methods, but we will need to do that in the inference methods. But even in that case I would prefer to get an error rather than returning some default value.

[2017-10-03 13:42] ankurankan commented on #905
@lohani2280 Duplicate #904 ??

[2017-10-03 16:48] lohani2280 commented on #905
@ankurankan Yeah this is duplicate. Sorry , my bad. Shall i close this?

[2017-10-03 18:41] ankurankan commented on #905
@lohani2280 Yes please. I would suggest to close the other one and add any extra information here.

[2017-10-03 18:52] lohani2280 commented on #904
@ankurankan As you said ,inference methods needs retrieving values from get_cardinality method , therefore, `defauldict` is a better way of implemention. We now just need to get an error rather than returning some default value. Therefore, closing this issue.

[2017-10-03 18:53] #904 closed, assigned to nobody

[2017-10-04 10:12] ankurankan commented on #904
@lohani2280 I didn't mean to say that `defaultdict` is a better option. I think `dict` would be better option because it will automatically throw a `KeyError` if we try to retrieve some unknown node.

[2017-10-04 12:44] ankurankan commented on #902
@jingsliu Thanks for reporting the issue. I have updated the version in `requirements.txt`.

[2017-10-04 12:44] #902 closed, assigned to nobody

[2017-10-04 14:28] steve-goley commented on #785
I'm receiving a memory error in a different situation. I have a rather large network and am trying to use GibbsSampling. It errors out while trying to compute the kernel. My guess is that I've pushed the limits of the GibbsSampling implementation.

[2017-10-04 15:37] ankurankan commented on #785
@steve-goley Would it be possible for you to share your code ? Will help us a lot in optimizing the package.

[2017-10-04 20:38] steve-goley commented on #785
@ankurankan thanks for your reply!

I can't give you the exact code but I'll see if I can recreate it another way. For now, here's a bit more information.

The error was happening here within `DiscreteFactor.product` on the `phi.values + phi1.values` line. It was trying to multiply matrices of fairly extraordinary size. I believe that one of the matrices had 150M elements.

This gets called by whe

[2017-10-05 12:39] ankurankan opened #906 "Out of memory operations on huge numpy arrays"
### Subject of the issue
The size of numpy arrays can get quite huge in `DiscreteFactor` resulting in `MemoryError`. Therefore, we need a way to store these arrays out of memory and do operations on it.

Ref: #785

### Possible Solutions:
1. numpy.memmap :- Stores the array in a binary file and allows reading/writing parts of this array. But we will still need to write a wrapper around this for do

[2017-10-06 14:21] dasayan05 opened #909 "'TestXMLBIFReaderMethods' and 'TestXMLBIFWriterMethodsString' test cases are failing on Python 3"
a `nosetests -v` is failing with

and

[2017-10-07 05:35] khalibartan commented on #909
@dasayan05 They are failing on my system too. This is because of lxml, its installation is not being tested on travis.
@ankurankan Can you verify this, please?

[2017-10-07 20:23] ankurankan commented on #909
@khalibartan Yes, I am also getting the error with xml. Not sure why though.
@dasayan05 Thanks for reporting this.

[2017-10-07 22:12] dasayan05 commented on #909
It is because `XMLBIFReader(string)` and in turn `lxml.etree.fromstring(string)` take `bytes` as argument not `str`, but the `TEST_FILE` variable (in `pgmpy/tests/test_readwrite/test_XMLBIF.py`) is an `str`. A simple `.encode('utf-8')` would fix it.

Please see #910

[2017-10-10 14:44] #909 closed, assigned to nobody

[2017-10-12 15:06] barbosantos opened #912 "Error trying to predict data"
I'm trying to use the predict method to predict some data from a model that I created from a dataset. I've followed the tutorial found here: http://pgmpy.org/api.html.
I've divided my data in train and test subsets, created the BN model too, but when I try to use the predict method I get the following error: ValueError: Data has variables which are not in the model.

I will add the entire code bel

[2017-10-12 15:48] ronikobrosly opened #913 "Parent node importance?"
Hello,
Let's say you have a causal Bayesian Network DAG with CPDs already estimated. You set the evidence of a "target" node named X. Let's say X has 4 parent nodes. Is there a method for finding which of the 4 parent nodes exerts the most influence on X? In other words, a method for finding which of the parent nodes is most important.

Thanks!

[2017-10-12 16:42] aslesani commented on #912
I had this error too. It is because when you try to create your model, there are variables that had no dependency to other variables, so they are not in your final model. you can print the final nodes in your model to check if all of features are used or not using the code below:
`print(modelo.node)`

[2017-10-12 17:12] ankurankan commented on #913
Hi Roni,

I am not exactly sure what you are asking but what I understand is that you
are trying to find the correlation between the variables using the bayesian
network. And I really can't think of a way to relate/compute it. Maybe
these links might help in understanding: [1] [2].

[1]
https://stats.stackexchange.com/questions/189491/relationship-between-probability-distribution-and-correlation
[

[2017-10-12 18:09] atena2019 opened #916 "BayesianModel.predict issue"
### Your environment
* version of pgmpy: 0.1.6
* Operating System: Windows 10

### The Problem
Hi.
I'm trying to use the BayesianModel.predict method to predict some data from a model that I created from a data set. I've divided my data in train and test subsets using 10-fold cross validation and created the model as well. but in some of my samples when I try to use the predict method I get the fo

[2017-10-12 19:52] ronikobrosly commented on #913
Thanks for the links and the super fast response Ankur! I was thinking something along these lines: https://www.rdocumentation.org/packages/bnlearn/versions/0.8/topics/arc.strength
or http://www.bnlearn.com/documentation/man/arc.strength.html

"Measure the strength of the probabilistic relationships expressed by the arcs (edges) of a Bayesian network..."

[2017-10-12 20:15] ronikobrosly commented on #913
Actually, after digging a little deeper, it seems like this method is based on a bootstrapping approach which requires Bayesian Network structure learning: perturb the data and see how often an edge between two nodes is still there after perturbation (if it's hardly there after perturbation, it's a "weak" edge, but if it's still there many times after you perturb the data, it is "strong").

I thin

[2017-10-13 12:25] barbosantos commented on #912
Hey, thanks for your help. I just discovered the error was caused because I had an extra value in the data, the 'matricula', that was not in the model.

Closing the issue now.

[2017-10-13 12:26] #912 closed, assigned to nobody

[2017-10-16 11:49] javierlorenzod opened #917 "Doc problem with DynamicBayesianNetwork class"
### Subject of the issue
In the [documentation webpage](http://pgmpy.org/) the documentation of the DBN class is missing.

### Your environment
* version of pgmpy
0.1.2
* Operating System
Ubuntu 16.04
### Steps to reproduce
Click on DynamicBayesianNetwork class in the index.

### Expected behaviour
Redirect to DBN class documentation

### Actual behaviour
Redirect to FactorGraph class documentatio

[2017-10-17 20:58] julian-ramos commented on #869
I'm seeing the same error not sure if it is for the same reason though. However to give more light into the issue in my end, I have 3 columns and 1511 rows and I get `ValueError: Values array must be of size: 1452.` Debugging, I found that I have 1430 rows however the reason for this is that on my data are not observed all of the possible variable triplets cardinality(22,3,22). For the way I'm usi

[2017-10-18 02:30] julian-ramos commented on #869
I checked again after switching to the dev-branch and the issue is gone so at least for me it has been solved.

Best,

[2017-10-18 08:38] ankurankan commented on #913
I get it now. We don't already have anything like this implemented in pgmpy yet but I think it shouldn't be very hard to do.

[2017-10-23 15:29] lohani2280 commented on #548
@ankurankan Regarding :: `models/DynamicBayesianNetwork.py: # TODO: fix bugs in this` .
I think in the implementation of `get_cpds`  method of DBN we should add `initialize_initial_state` method in the beginning. This way the user can get cpds of those nodes with time_slice other than 0.
Although this way we would be stuck in an infinite loop. But still i thought some discussions over this would l

[2017-10-24 00:34] lohani2280 opened #919 "Add tests for TabularCPD.__str__"
Add tests for the issue below:

---------------------------------------------------------------------

### Subject of the issue
Error while printing CPD.

### Your environment
* version of pgmpy-0.1.6
* OS-Ubuntu 16.04

### Steps to reproduce
[code]
### Expected behaviour

A tabular representation of A_cpd.

### Actual behaviour

----------  ---------
('C', 0)_0  0.0714286
('C', 0)_1  0.307143
('C

[2017-10-24 07:50] khalibartan commented on #919
@lohani2280 It is running fine on my system(ubuntu 16.04), which is using latest dev. Here is the output
[code]

[2017-10-24 08:07] lohani2280 commented on #919
@khalibartan I don't know what's happening but i am still getting the same error.

[2017-10-24 18:42] atena2019 commented on #698
I have this issue as well. the exception
IndexError: index 3 is out of bounds for axis 0 with size 3
has been  raised. I installed the current version of pgmpy. how can i fix it? should i choose a special name for my columns?
Some of my column data is between 0 and 9. some other between 0 and 5 and etc.

[2017-10-25 07:15] lohani2280 commented on #919
@ankurankan Can you please cross-check once on your system too? .

[2017-10-25 14:20] ankurankan commented on #919
@lohani2280 @khalibartan This happened because I recently updated tabulate (https://github.com/pgmpy/pgmpy/commit/9a543e860b29772b3680952d6282477fced90b33) and it has breaking back support. I have fixed it now, give it a try.

[2017-10-25 14:24] ankurankan commented on #698
@atena2019 Can you please share your code for us to reproduce the issue ? Yes, the column names need  to be exactly same as the variable names that they are representing.

[2017-10-25 14:31] ankurankan commented on #548
@lohani2280 I am not sure if that would be a great idea. While implementing DBNs we had decided to keep the representation as short as possible and that's why we had decided to represent it using one and a half model and in my opinion that much information should be enough for anyone to understand the structure of the model. Even if we implement returning `get_cpds` for different time slices we wo

[2017-10-25 14:32] ankurankan commented on #917
@JavierLordi815 Thanks for reporting this. I will fix this ASAP.

[2017-10-25 15:01] lohani2280 commented on #548
@ankurankan Yes, i agree with you. But  can you please point me out what exactly is the bug in this method as its tagged with a `TODO` label.

[2017-10-25 15:18] lohani2280 commented on #919
@ankurankan  Printing the CPD works fine now . However, while printing `factors` created using `DiscreteFactor` class , i found they are not being properly tabulated.

[2017-10-25 15:25] ankurankan commented on #919
@lohani2280 Could you please create another issue for that ?

[2017-10-25 15:27] lohani2280 commented on #919
@ankurankan Yeah sure

[2017-10-25 15:36] ankurankan commented on #548
@lohani2280 I don't really know :D. And I don't think anyone knows (as @khalibartan has also mentioned in a previous comment). But my best guess would be https://github.com/pgmpy/pgmpy/issues/664.

And that's why we need to write better messages everywhere explaining things. This one is on me:
[code]

[2017-10-25 15:42] lohani2280 commented on #548
@ankurankan  Okay, will try to look into it :+1:

[2017-10-25 20:29] atena2019 commented on #698
Thanks dear @ankurankan. I shared my code in issue #916

[2017-10-25 21:18] atena2019 commented on #698
I found that when i test the predict method for data that have non- binary columns, if the test data contain the maximum value of the data, the exception is raised. for example for a column that can have 4 values( i.e. 0,1,2,3), when the test data has 3 in the features values, the exception is raised. I think the decorators should change.

[2017-10-26 06:21] lohani2280 opened #920 "Add tests for DiscreteFactor.__str__"
Add tests for `__str__` method of `DiscreteFactor`. Make sure to cover the below reported issue.

--------------------

### Subject of the issue
Printing factors created using DiscreteFactor class ,are not being properly tabulated.

### Your environment
* version of pgmpy-0.1.6
* OS-Ubuntu 16.04

### Steps to reproduce
[code]

### Expected behaviour
[code]

### Actual behaviour
[code]

[2017-10-26 07:18] lohani2280 commented on #877
@ankurankan I ran the same code and got the same error.Moreover, if you run the same code repetitively then sometimes the error doesn't appear. After digging deeper into it , i think i found the bug.
The bug is actually here https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/models/DynamicBayesianNetwork.py#L515
When we call `initialize_initial_state` method, it creates 2 variables `parents` and `evide

[2017-10-26 07:49] ankurankan commented on #877
@lohani2280 Great, these are the hardest bugs to find. Please go ahead and send a PR.

[2017-10-26 10:04] #917 closed, assigned to ankurankan

[2017-10-26 11:06] lohani2280 commented on #877
@ankurankan Thank you . I will send the PR ASAP.

[2017-10-26 19:39] lohani2280 opened #921 "Adding get_cardinality method for DynamicBayesianNetwork"
Currently, pgmpy doesn't have `get_cardinality` method for `DynamicBayesianNetwork` class.
### Your environment
* pgmpy version=0.1.6

[2017-10-26 20:28] lohani2280 opened #922 "Write test for remove_cpds method of DynamicBayesianNetwork class"
### Subject of the issue
Currently, we don't have test cases written for `remove_cpds` method of DBN.
### Your environment
* pgmpy version==0.1.6

[2017-10-27 18:56] atena2019 commented on #698
dear @ankurankan  did you check the issue? am i right?

[2017-10-28 09:46] lohani2280 commented on #557
@khalibartan I am not able to reproduce the first error, i.e.
[code]
Could you please check this once more and explain?

[2017-10-28 09:51] lohani2280 commented on #557
@khalibartan I just saw that this issue was fixed in PR https://github.com/pgmpy/pgmpy/pull/663. I think this can be safely closed now.

[2017-10-30 16:45] MrManager17 opened #927 "TypeError: object of type 'dict_keyiterator' has no len()"
### Subject of the issue
The ExactInference.py file in line 592 references len(subtree.neighbors(x).  This method is of the subtree which is a JunctionTree object.  the neighbors method returns an iterator from the networkx package which doesn't have length.

### Your environment
* pgmpy version 0.1.6
* Python version 3.6.3
* Operating System Windows 10

### Steps to reproduce
Tell us how to repro

[2017-10-31 12:34] lohani2280 commented on #683
@ankurankan  I also agree that it should return an empty dict when no variables specified .I want to work on this issue . What is your views on this?

[2017-11-01 19:32] atena2019 commented on #698
I found the answer. the problem was because of my data, not pgmpy. Thanks for opening the issue. it can be closed.
Best regards

[2017-11-03 01:48] ankurankan commented on #683
@lohani2280 Please go ahead. Should be a simple fix.

[2017-11-03 15:59] jonadsimon commented on #889
I am encountering this same error when trying to do a basic inference with evidence.

It's an extremely simple model:

[code]

Evidence-free inference works:

[code]

But if I include any evidence, I get an error. For example, this query:

[code]

I am using the latest version of pgmpy which I cloned from the github repo [here](https://github.com/pgmpy/pgmpy)

[2017-11-03 19:33] MichaelNecio commented on #927
I was having this error, but was able to fix it by making sure I was using networkx 1.11. Somewhere I had updated to networkx 2.0 which caused this error.

[2017-11-04 23:28] ankurankan commented on #927
Yes, this is an issue with the latest version of networkx. Closing this.

[2017-11-04 23:28] #927 closed, assigned to nobody

[2017-11-04 23:29] ankurankan commented on #916
Closing this. Issue with the data not pgmpy. ref #698

[2017-11-04 23:29] #916 closed, assigned to nobody

[2017-11-04 23:29] #698 closed, assigned to nobody

[2017-11-05 00:01] ankurankan commented on #889
@StarvingMathematician I think the error is because there's a typo in your code. In the query method you have used `next_state` instead of `new_state`. I tried running the code on random data using `new_state` and it works fine.

[2017-11-05 00:24] ankurankan opened #930 "Add tests for to_junction_tree method of MarkovModel"
`to_junction_tree` needs more tests covering the issue #889. It has been fixed in #929.

[2017-11-05 09:05] #889 closed, assigned to nobody

[2017-11-06 00:30] ankurankan opened #933 "Correct docstring of get_cpds of BayesianModels"
The docstring of `get_cpds` in `BayesianModel` doesn't specify that it returns a TabularCPD object when `node` is not `None. Specify this in the docstrings and also need to improve doctests.

[2017-11-06 05:36] ankurankan opened #935 "Add tests for map_query"
Add tests for dealing with the case in #863. Got fixed in #934.

[2017-11-06 06:30] khalibartan commented on #935
@ankurankan I guess you can write the test case in your PR. I'm not in favour of having pending tests.

[2017-11-06 07:30] ankurankan commented on #935
@khalibartan I think writing tests are very good entrance issues, so I am leaving this open. And since this is not a major change, in my opinion it's fine to not have tests for it for a while. Also, I did test my changes locally (same as what I would write in tests).

[2017-11-06 08:20] #863 closed, assigned to nobody

[2017-11-07 10:44] davenza opened #936 "Reading a XML BIF with isolated nodes"
The XMLBIFReader class doesn't allow to return the model from a BIF XML file where there are isolated nodes.

I can create the XMLBIFReader:
`bif = pgmpy.readwrite.XMLBIF.XMLBIFReader('diabetes.xml')`

but when trying to return the model:
`bif_model = bif.get_model()`

It returns an exception because is trying to load the CPD of the isolated node, but this node is not included in the BayesianModel

[2017-11-07 19:21] ankurankan opened #938 "Add tests for reading and writing files with disconnected nodes"
### Subject of the issue
Ref #936 for the complete issue. Got fixed in #937.
Need to add tests for this specific case as well as tests for writing networks with disconnected nodes for all supported formats.

[2017-11-07 19:34] ankurankan commented on #936
@davenza Thanks a lot for reporting the issue. I have fixed it in #937. If you would like you can pull that PR and it should work for your network. Or you can wait for it to be merged and then update your installation of pgmpy.

[2017-11-07 21:50] atena2019 opened #939 "How can i speedup my trainnig?"
### Your environment
* pgmpy version: 0.1.6
* Python version: 3.5
* Operating System: Windows 10

Hi.
I have a dataset which contain about 137000 samples and 29 features. When i try to create a Bayesian network model, the time it need to fit model is really high. Now it is around 33 hours that my code is runnig, but the model is not created yet. Here is my code:

[code]

[2017-11-07 21:56] atena2019 commented on #939
The data.csv file is uploaded here: https://www.dropbox.com/s/dpvuc0cyl31xivl/data.csv?dl=0

[2017-11-08 07:14] #936 closed, assigned to nobody

[2017-11-08 15:35] ankurankan opened #940 "Parallelize _legal_operations method of HillClimbSearch"
### Subject of the issue
Since this method tests all the possible edges and compares scores for which ones to keep, this can be easily done in parallel.

[2017-11-09 08:34] khalibartan opened #942 "Sampling methods in discrete case don't use state_names in provided in CPD"
Currently, sampling methods don't use state names if provided in CPD which makes it difficult to understand the output.

[2017-11-10 16:39] huisophiewang opened #945 "Joint Distribution over multiple variables using VariableElimination"
### Your environment
* pgmpy version: 0.1.6
* Python version: 2.7
* Operating System: Windows

### Steps to reproduce
VariableElimination query function
For example, if I want to get Pr(A,B,C|D,E), it returns 3 factors, which I assume are marginalized probabilities. I think returning one joint probability makes more sense. We can get compute marginal probability from joint probability but not vice

[2017-11-10 16:42] ankurankan commented on #945
@sophiewxh Thanks for reporting this. Yes, it makes more sense to return a joint distribution instead of marginals for each variable and we still need to fix this. I will try to get this done ASAP

[2017-11-11 21:32] MichaelNecio opened #946 "AttributeError: 'list' object has no attribute 'scope'"
### Subject of the issue
When using a BayesianModel to try to predict more than 1 variable, I encounter an error in inference/base.py

[code]

### Your environment
* pgmpy version - 0.1.6
* Python version - 3.5.2
* Operating System - Ubuntu on Windows Subsystem for Linux

### Steps to reproduce
Attempt to use BayesianModel's predict method to predict more than one variable.

### Expected behaviour

[2017-11-26 14:40] faeahi opened #949 "writing Bayesian model in a file and read it later"
### Subject of the issue
I am using pgmpy package for learning Bayesian Network from data and predicting using it.
I want to save learned Bayesian Network in a file and use it for predicting in another time.
I saw your example on pgmpy_notebook but i understood that ProbModelXMLWriter did not work correctly.
Is there another approach for doing this work?

Thanks.

### Your environment
* pgmpy vers

[2017-11-26 23:43] faeahi commented on #949
I tested this with BifReader but i got this error:
Traceback (most recent call last):

  File "<ipython-input-35-4eda98cedf73>", line 1, in <module>
    runfile('D:/f/tez/py/ff/mankoli/man.py', wdir='D:/f/tez/py/ff/mankoli')

  File "C:\Users\Asus\Anaconda2\lib\site-packages\spyder\utils\site\sitecustomize.py", line 866, in runfile
    execfile(filename, namespace)

  File "C:\Users\Asus\Anaconda2

[2017-11-27 03:11] khalibartan commented on #949
@faeahi Can you share the model and exact procedure that you are using to save the model?

I want to save learned Bayesian Network in a file and use it for predicting in another time.
I saw your example on pgmpy_notebook but i understood that ProbModelXMLWriter did not work correctly.

That notebook hasn't been updated, so there might be some errors (import error for TabularCPD).

[2017-11-27 07:30] faeahi commented on #949
@khalibartan Thanks for your reply.
This is my code for creating Bayesian model and writing it:
[code]

[2017-11-27 07:39] khalibartan commented on #949
@faeahi Can you share the data too? It will help us to reproduce the bug. Also, you can try XMLBIF reader and writer class.

[2017-11-27 11:18] faeahi commented on #949
I tested  XMLBIF reader and writer class.
I can predict data with the saved model now but the small issue that exist is that. the saved model predicts the state of data in  the shape of "state0" instead of 0.

this is complete code:
[code]
train.xlsx and test.xlsx files are uploader here:
https://www.dropbox.com/s/x7cz3a3pra80fqu/test.xlsx?dl=0
https://www.dropbox.com/s/dtb74bnbsndbfp7/train.xlsx?

[2017-11-27 20:35] MrManager17 commented on #848
Is there any word on this functionality?  It would be incredibly useful for me.

[2017-12-01 09:32] njwhite opened #950 "Example Incorrect?"
https://github.com/pgmpy/pgmpy/blob/3959d60562fb07121441bfd36b2cd536882325cb/pgmpy/models/BayesianModel.py#L747 should be `train_data`?

[2017-12-01 13:08] AlessandroPozzi opened #951 "Uniform CPDs with BayesianEstimator"
### Subject of the issue
The CPDs that I obtain with `BayesianEstimator.estimate_cpd` are all uniform:
I tested this with different dataset, variables and methods, and I always get similar results. I really don't know what's going on.

[code]

### Details
I am using a pandas dataframe like the following:
[code]
All variables can only assume 0 or 1 values. The number of recors can range from 100 to

[2017-12-03 01:16] harishkashyap opened #952 "Doesn't work well with low probability values"
### Subject of the issue
It doesnt work well with low probability values. For this repository to be used for applications such as fraud modeling, then we have to work with low values. Any value beyond 1e-5 is treated as 0.

### Your environment
* pgmpy version: latest
* Python version : python 3
* Operating System : Mac OS

### Steps to reproduce
I will provide the example code.

### Expected beha

[2017-12-04 08:37] ankurankan commented on #952
@harishkashyap Could you please share your code so that we can reproduce this?

This seems like a really difficult thing to solve, since lower values would always go towards 0 when multiplied with other small values. Only possible way I can think of dealing with this would be to scale all the probability values before doing any operations on it. @khalibartan @yashu-seth Thoughts ?

[2017-12-04 08:40] ankurankan commented on #951
@AlessandroPozzi Would it be possible for you to share your data set ? It would help us in reproducing the results that you are getting.

[2017-12-04 08:46] ankurankan commented on #950
@njwhite Thanks for reporting this. You are right, it should be `train_data` instead of `values`. If you would like to create a PR for this, we would be happy to accept that. :smile:

[2017-12-04 08:50] ankurankan commented on #848
@srskoch15 I am working on this. Should be fixed in the next couple of weeks.
In the meanwhile, if you would like to have a temporary solution, you can simply multiply the specific states of the CPDs in the network.

[2017-12-04 10:53] AlessandroPozzi commented on #951
Of course! This is one of my data sets:

[pgmpy_issue_data.zip](https://github.com/pgmpy/pgmpy/files/1526708/pgmpy_issue_data.zip)

[2017-12-04 11:50] ankurankan commented on #951
@AlessandroPozzi I am not able to reproduce this on the dataset that you shared. I tried it on both python 2.7 and 3.4. Here are my results:
[code]
Guessing from your output, I think you are not using the same dataset. Could you please check that the number of different states in the dataset are not equal ? Otherwise I think the results should be correct.

[2017-12-04 12:37] ankurankan opened #953 "Add progress bars to time consuming methods"
Some of the learning, estimating and sampling algorithms might take hours to run on large networks. So, it would be really useful to add a progress bar to keep a track on the running method.

We could possibly use tqdm: https://github.com/tqdm/tqdm for this. Has a really simple API and wouldn't require much changes on our end.

[2017-12-04 12:45] AlessandroPozzi commented on #951
The dataset I uploaded has been generated by processing another bigger dataset. During the processing I can select the number of variables to use, how to generate the samples and so on. I have many datasets, that's why I may have used different variables in my first post. Anyway, every dataset has always returned that strange probability distribution.
I also double checked by executing your code w

[2017-12-04 18:24] harishkashyap commented on #952
@ankurankan firstly, great job on this! I am using this for a workshop since no other library seems close enough. However, it is critical to get this working for low probability values as if it is rounded off to 0 then we run the risk of other values. Esp, in fraud modeling you would have 1e-7/1e-9 where the values though are low to begin with will end up making sense later. I would suggest using

[2017-12-05 14:00] mannou08 opened #955 "Error using predict_probability"
### Subject of the issue
Hello,

I have learned a Bayesian Network structure from data. Now I am using this model to estimate some probabilities. For this I am using a pandas data frame for the training data and the function predict_probability. But I get the following error:
"values: must contain tuples or array-like elements of the form (hashable object, type int)"
What could be the problem with

[2017-12-06 00:33] ankurankan commented on #952
@harishkashyap Yeah, I was suggesting log scaling as well. I checked the PR that you created and the values aren't that small in the example there. Could you please share the code where the values are getting rounded ? Because that shouldn't actually happen, since our `DiscreteFactor` and `TabularCPD` classes use `float64`, numpy should be able to support values till `2.22044604925e-16`, which is

[2017-12-06 00:42] ankurankan commented on #955
@mannou08 Thanks for reporting the issue. I tried running this with random data and it works for me. Would it be possible for you to share your model and data, so that we can reproduce the issue ?

[2017-12-06 00:59] ankurankan commented on #951
@AlessandroPozzi I can't think of any possible reason why this might be happening. Also I can see that for `Node4`, the CPD is not uniform. Could you try installing the latest version of pgmpy (dev branch on github) ? Also if possible, could you check with the versions as mentioned in `requirements.txt` (because if I remember correctly some things should break for higher versions).

The versions o

[2017-12-06 02:45] laugek commented on #951
I had a simliar experience.
Was solved by re-instillation and following the installation guideline method: clone from git.
Hope it helps.

[2017-12-06 08:50] mannou08 commented on #955
[issue.zip](https://github.com/pgmpy/pgmpy/files/1534415/issue.zip)
@ankurankan Thanks a lot for your reply!
Here is the code and the data. Hope you could help me :)

[2017-12-06 20:30] harishkashyap commented on #952
@ankurankan I updated the code. Let me know if I am doing something wrong. I am using a Macbook Pro latest version

[2017-12-07 10:08] AlessandroPozzi commented on #951
@ankurankan @laugek Thank you, I finally solved this issue. I think the problem was just the version of the libraries. Downgrading scipy from 1.0.0 to 0.18.1 was producing errors that I was able to fix only by switching to anaconda.

[2017-12-07 10:08] #951 closed, assigned to nobody

[2017-12-10 22:30] harishkashyap commented on #704
hey @khalibartan, this isn't resolved still?

[2017-12-11 08:49] mannou08 commented on #955
hey,
any idea where the error is coming from?
I think that the method has problems dealing with float values because the same model works with random integer values. But with random float values, I get the same error.

[2017-12-11 23:59] harishkashyap opened #956 "Markov Blanket does not return parents of child nodes for bayesian network"
### Subject of the issue
Markov Blanket consists of parents, children and children's parents for a bayesian network. However it only returns its adjacent nodes.

### Your environment
* pgmpy version : latest
* Python version : 3.5
* Operating System: mac os

### Steps to reproduce
from pgmpy.models import MarkovModel
mm = MarkovModel()
mm.add_nodes_from(['OL', 'PH', 'IR', 'IL', 'CR'])
mm.add_edges

[2017-12-14 15:17] mannou08 commented on #955
hey,
could you reproduce the issue?
please I need some help...

[2017-12-14 17:55] #956 closed, assigned to nobody

[2017-12-18 16:48] lohani2280 commented on #565
@ankurankan I think no one is working on this issue, so I would like to work on this one.
I looked into the issue and i think that we need to implement a `to_cpd` method inside `DiscreteFactor` class and call `add_cpds` in the following way -
` bm.add_cpds(*[factor.to_cpd() for factor in self.factors])`
after this line https://github.com/pgmpy/pgmpy/blob/3e52f503ba037f5ada8a301568a10c4b2735ce2a/pg

[2017-12-20 01:05] brindakrish opened #960 "Self looping not allowed and other queries"
### Subject of the issue
Thank you for this amazing library. It is very useful. I am trying to use pgmpy to generate markov and hidden markov models. I have tried using MarkovModel() to create a basic markov model with three nodes and I want to add a self-loop in a node.

### Your environment
* pgmpy version: latest
* Python version: python 3
* Operating System: mac OS

### Steps to reproduce
stud

[2017-12-20 09:44] theUltraMarine19 opened #961 "Variable naming inconsistency?"
### Subject of the issue
In line 54, 55 of pgmpy/pgmpy/models/LinearGaussianBayesianNetwork.py, cpd.variables has been checked for, whereas, line 66 of  pgmpy/pgmpy/factors/continuous/LinearGaussianCPD.py has self.variable specified and not variables. Hence, I think that this error is being raised. Highly obliged if you look into it.

### Your environment
* pgmpy version : 0.1.6
* Python version :

[2017-12-20 10:01] theUltraMarine19 commented on #961
Error corrected : On line 78, 79 of LinearGaussianCPD.py, please put self.variables instead of variables.
All other things remaining the same.
If you grant permission, I can commit and push.

[2017-12-20 13:56] ankurankan commented on #960
@brindakrish I am guessing that you want to create a `MarkovChain` not a `MarkovModel`. Please have a look at `pgmpy.models.MarkovChain`.

[2017-12-20 14:53] ankurankan commented on #961
@Arijit-hydrated Thanks for reporting this. Sure, if you would like to fix this, please create a pull request.

[2017-12-21 03:42] brindakrish commented on #960
@ankurankan Thanks for your immediate response. I am trying to use MarkovChain. But the documentation is not very clear on how the probabilities are assigned. I still cannot add observation probabilities to create hidden markov models. In the transition_model code below, what does 0, 1, and 2 represent? Are 'intel' and 'diff' states or the system producing states 0,1,2?

Add transition models

Tha

[2017-12-21 08:14] khalibartan commented on #960
@brindakrish For modelling you can use Dynamic Bayesian Network class, since HMMs are a special case of DBNs, I think there shouldn't be any problem in that.

[2017-12-23 03:07] brindakrish commented on #960
Thanks. I will look into this.

[2017-12-23 03:07] #960 closed, assigned to nobody

[2018-01-05 01:50] shivariyer opened #965 "Dependency conflict with python 3.6.x (x = 2,3,4)"
### Subject of the issue
pgmpy installation using conda doesn't work when version of python is 3.6.2 or 3.6.3 or 3.6.4

### Your environment
* Python version
3.6.2, 3.6.3, 3.6.4
* Operating System
GNU/Linux (Ubuntu)

### Steps to reproduce
Create a new environment for installing pgmpy with python 3.6.4 (replace with 3.6.2 or 3.6.3 for same results)
`conda create -n pgm python=3.6.4`
Install pgmpy

[2018-01-05 15:05] javadpeyman commented on #951
I had the same problem. the reason was pandas version. try pandas==0.19.2. it's ok.

[2018-01-05 15:50] AlessandroPozzi commented on #951
@javadpeyman You're right, I can't believe I didn't figure it out. I thought it was scipy because I was able to install scipy 0.18.1 only with anaconda's distribution of python. It seems that also pandas 0.20.3 works correctly since it's the version I was using right now in anaconda.

[2018-01-06 16:01] ankurankan commented on #965
@shivariyer That's happening because we haven't uploaded conda packages for python > 3.5. I will try to do that ASAP. In the meanwhile if you would like to use pgmpy on python 3.6, you can simply build from the source.

[2018-01-07 03:13] ryan112358 opened #966 "MarkovModel to_junction_tree hardcodes DiscreteFactor"
I created my own Factor class, inheriting from DiscreteFactor but with overwritten implementations of all the key functions like product, sum, reduce, marginalize, etc.  which would be more convenient to work with for my application.  I then created a MarkovModel using this new class and attempted to do belief propagation on it, but when I ran it the clique beliefs were no longer members of this c

[2018-01-07 05:36] shivariyer commented on #965
Thanks @ankurankan ! I am happy using Python 3.5 for now. Just wanted to bring this up.

[2018-01-07 06:50] lohani2280 commented on #890
@ankurankan Duplicate issue. Look https://github.com/pgmpy/pgmpy/issues/961 . I think this could be safely closed.

[2018-01-07 09:35] lohani2280 commented on #938
@ankurankan I have gone through the file `XMLBIF.py` and I want to work on this issue. We need to add test for reading and writing network file in XMLBIF format(initially, for this specific case) with disconnected nodes. I see a `TEST_FILE` in `test_XMLBIF.py` file and using them all the tests are performed. However, it doesn't contain disconnected nodes. So shall i use another `TEST_FILE` inside

[2018-01-07 18:37] theUltraMarine19 commented on #890
I agree with @lohani2280

[2018-01-11 19:17] atena2019 opened #968 "exception: KeyError: '2' when using HillClimbSearch.estimate"
i installed pgmpy from the feature/cache branch: https://github.com/ankurankan/pgmpy/tree/feature/cache
when i want to learn structure using this code:
[code]
i get this exception:
[code]
what is the problem?

[2018-01-11 19:37] atena2019 commented on #968
I understand that in some cases, the r[0] = '2' and the  op_dict = {'1': '+', '-1': '-', '0': 'flip'} does not have key=2

[2018-01-15 03:17] ankurankan commented on #938
@lohani2280 I don't think you will find any real world models with disconnected nodes since having disconnected nodes doesn't make much sense. So, I would just suggest you to add a new disconnected node to the current network file and write tests based on that.

[2018-01-15 18:53] lohani2280 commented on #938
@ankurankan Thanks for your reply. I will try to follow as you suggested and will soon send a PR

[2018-01-24 04:00] ankurankan commented on #938
Fixed in #970

[2018-01-24 04:00] #938 closed, assigned to nobody

[2018-01-24 12:39] #898 closed, assigned to nobody

[2018-01-26 02:04] chaonan99 opened #971 "Example in LinearGaussianBayesianNetwork.add_cpds doesn't work"
### Subject of the issue
Example code in the docstring of `LinearGaussianBayesianNetwork.add_cpds` doesn't work.

### Your environment
* pgmpy version: 0.1.6
* Python version: 3.6
* Operating System: Ubuntu 14.04

### Steps to reproduce
        Examples
        --------

                print(cpd)

This cause error `AttributeError: 'LinearGaussianCPD' object has no attribute 'variables'`, which is

[2018-01-26 02:13] chaonan99 commented on #971
Actually the same issue with https://github.com/pgmpy/pgmpy/issues/961

[2018-01-26 02:13] #971 closed, assigned to nobody

[2018-02-07 20:53] ankurankan opened #972 "Issue with dirichlet prior for bayesian learning"
The issue is with Bayesian Estimator.
http://pgmpy.org/estimators.html#bayesian-estimator
 The prior type can be one of the following: ‘dirichlet’, ‘BDeu’, ‘K2’
My issue is with the dirichlet, and the parameter: "pseudo_counts". It seems like pgmpy only allows for ONE set of pseudo counts-(a0...ak) where k is the range of states for the target variable (the variable in the rows of the cpd). Howeve

[2018-02-08 11:02] pjbqb commented on #955
I have the same problem:  models.BayesianNetwork supports the different states as text but DiscreteFactor reduce does not. They're passed from BNs to reduce in inference.ExactInference.VariableElimination when you have evidence:

        # Dealing with evidence. Reducing factors over it before VE is run.
        if evidence:
            for evidence_var in evidence:
                for factor in w

[2018-02-08 13:41] #972 closed, assigned to nobody

[2018-02-09 19:16] RishabGoel opened #974 "MLE for Markov Network"
### Subject of the issue
Is there MLE for Markov Model? If not, is there some place where I can get the code for the same?

[2018-02-11 17:44] mannou08 opened #975 "BicScore Question?"
Hey :)

Does the BicScore implemented in pgmpy minimize the negative log Likelihood function or maximize the
log Likelihood function? In other words: if I have two models with the scores -100 and -150, respectively.
Which model fits the data better?

Thanks in advance for your help :D

[2018-02-13 10:18] ankurankan commented on #975
@mannou08 If I remember correctly it should be minimizing the negative log likelihood.

[2018-02-13 10:28] ankurankan commented on #974
@RishabGoel No we don't have support for learning in `Markov Models` yet.

I am not sure about that and it will depend on your application. But you can look into: https://github.com/jmschrei/pomegranate

[2018-02-13 10:28] #974 closed, assigned to nobody

[2018-02-20 09:47] AmitaiPerlstein commented on #965
@ankurankan thak you for your reply.
I get a similar behaviour when trying to create an environment with python 2.7. The conflict I get is with six 1.11.0 py36h372c433_1
I see though that six is a package for python 2 - 3 compatability utilities. May I build the whole environment without it, given that I wish the environment to be 2.7 ?

[2018-02-20 10:25] ankurankan commented on #965
@AmitaiPerlstein There shouldn't be any problem in running on python 2.7. Could you please share the whole traceback of the error you are getting ?

[2018-02-20 10:42] AmitaiPerlstein commented on #965
@ankurankan I'm afraid I haven't explained myself properly.
I use Ananconda3. I try to create an environment, named 'Detectron', that will run software with python2.7:

[code]

[2018-02-20 12:50] PeterFromMunich opened #977 "'ContinuousFactor' object has no attribute 'variables'"
### Subject of the issue
Belief Propagation doesn't work with continuous factor

### Your environment
* pgmpy version   0.1.6
* Python version   3.6 with spyder
* Operating System  Win7

### Steps to reproduce
Tell us how to reproduce this issue. Please provide the complete code if possible.
I ran the program:
-----------------------------------------------------
from pgmpy.models import FactorGra

[2018-02-20 18:35] theUltraMarine19 commented on #977
I believe this issue is the same as with #961. Correct me if I'm wrong.

[2018-02-24 12:49] KIMGEONUNG opened #978 "HillClimbSearch.estimate() error"
### Subject of the issue

Hi.
I was just following the example for BN structure learning, and when I operate the exact same code, an error occurs

[code]

The line having problem is [ best_model = hc.estimate() ]

The error message was as following

"TypeError :+1:  unsupported operand type(s) for += 'OutEdgeView' and 'list'

How can I solve this problem..?

* pgmpy version : 0.1.6
* Python versio

[2018-02-26 17:43] ankurankan commented on #978
@KIMGEONUNG I just tried running your code on my machine and it works fine. Could you please try updating pgmpy from github and check if that fixes the issue for you ?

[2018-02-28 09:16] fcole90 opened #979 "Typo: Monte Hall should be Monty Hall"
### Subject of the issue
The text at [https://github.com/pgmpy/pgmpy/blob/dev/examples/Monte%20Hall%20Problem.ipynb](https://github.com/pgmpy/pgmpy/blob/dev/examples/Monte%20Hall%20Problem.ipynb
) should say *Monty Hall* not *Monte Hall*.
### Your environment
* pgmpy version
* Python version
* Operating System

### Steps to reproduce
Go to [https://github.com/pgmpy/pgmpy/blob/dev/examples/Monte%20

[2018-02-28 09:42] fcole90 opened #981 "Broken link in documentation"
### Subject of the issue
If you go on [http://pgmpy.org/](http://pgmpy.org/) and click on *Learning Bayesian Networks from data* you find the link to be broken.

The correct link should be: [https://github.com/pgmpy/pgmpy_notebook/blob/master/notebooks/9.%20Learning%20Bayesian%20Networks%20from%20Data.ipynb](https://github.com/pgmpy/pgmpy_notebook/blob/master/notebooks/9.%20Learning%20Bayesian%20N

[2018-03-02 00:47] thierryherrmann commented on #978
@KIMGEONUNG I had the same issue. Done some tests and it turns out I had a version of networkx that was too recent. I've reverted it back to version 1.11 and it worked fine. At some point in the networkx versions, we get an OutEdgeView object, and this doesn't support the '+' operation. Earlier version of networkx returned a list, so pgmpy worked when concatenate those with '+'.
Dependencies are m

[2018-03-08 09:34] TMorville opened #983 "Issue with Inference in Bayesian Networks.ipynb: "IndexError: list index out of range""
### Subject of the issue
I get a `IndexError: list index out of range` when running `asia_model = reader.get_model()`in the Inference in Bayesian Networks notebook.

### Your environment
* pgmpy==0.1.6
* python==2.7
* osX Sierra (10.12.6 (16G1212))

### Steps to reproduce
Run the code in [the example notebook](https://github.com/pgmpy/pgmpy/blob/dev/examples/Inference%20in%20Bayesian%20Networks.ip

[2018-03-08 10:39] khalibartan commented on #983
@TMorville Can you share the code sample? In your error message this line seems wrong.
`reader = BIFReader('asia.bif.gz')`
Did you extract the file first?

[2018-03-08 10:43] TMorville commented on #983
You are right, I was pointing to the archived data. Haven't had my coffee yet...

[2018-03-08 10:43] #983 closed, assigned to nobody

[2018-03-08 16:50] #979 closed, assigned to nobody

[2018-03-09 10:04] ankurankan commented on #981
@fcole90 Thanks for reporting this. I will fix this ASAP.

[2018-03-09 10:05] ankurankan commented on #977
@PeterFromMunich @Arijit-hydrated We don't have complete support for continuous variables yet. And the inference algorithms won't work with continuous factors.

[2018-03-10 22:05] JustinTervala opened #984 "Incorrect notebook link in documentation"
### Subject of the issue
The link for the Exact Inference in Graphical Models notebook in the documentation points to the Markov Model notebook

### Your environment
All of them

### Steps to reproduce
Click the link in the documentation for Exact Inference in Graphical Models

### Expected behaviour
You should be directed to <https://github.com/pgmpy/pgmpy_notebook/blob/master/notebooks/4.%20Exac

[2018-03-11 00:03] #984 closed, assigned to nobody

[2018-03-17 15:49] gnerzic commented on #927
in networkx 2.0 you will get this error with code like this:
len(_somegraph_.neighbors(_somenode_))
You fix it like this:
len(list(_somegraph_.neighbors(_somenode_)))

As discussed here:
https://networkx.github.io/documentation/stable/release/migration_guide_from_1.x_to_2.0.html

[2018-03-24 23:26] crazysal commented on #299
Nope. This really has not been fixed.

[2018-03-25 01:37] JustinTervala opened #986 "Typo and broken link in docs for Monty Hall Problem"
###Subject of the issue

If you go on http://pgmpy.org/ and click on Monte Hall Problem from data you find the link to be broken. Also, the example should be called the *Monty* Hall Problem.

The correct link should be:
https://github.com/pgmpy/pgmpy/blob/dev/examples/Monty%20Hall%20Problem.ipynb

###Steps to reproduce
Go on http://pgmpy.org/ and click on Monte Hall Problem and you find the link t

[2018-03-25 01:43] JustinTervala opened #988 "Typos in docstrings"
### Subject of the issue
There are multiple typos in the docstrings as identified by PyCharm

### Steps to reproduce
Read the documentation or run a spell checker over the documentation

[2018-03-25 01:55] JustinTervala opened #990 "Can't construct GaussianDistribution from ContinuousFactor"
### Subject of the issue
According to the source code, I should be able to construct a GaussianDistribution directly in the ContinuousFactor constructor. However, an error occurs on initialization when the pdf parameter is set to "gaussian"

### Your environment
* pgmpy version: dev branch
* Python version: 2.7, 3.4+
* Operating System: Linux, Windows

### Steps to reproduce
Attempt to construct a

[2018-03-25 02:05] JustinTervala commented on #977
I am attempting to use the LinearGaussianBayesianNetwork, and the example given in the docstring for that class won't work because of this error. The "variables" is apparently determined in the constructor for ContinuousFactor. Is there a reason why we couldn't just set that to `self.variables`?

[2018-03-25 02:59] theUltraMarine19 commented on #977
I know that. Check #961 .  I couldn;t write the unittests yet so my PR is not accepted yet..

[2018-03-26 14:55] Mestrace opened #993 "Belief Propagation gives an NotImplemented Error at factors/base.py"
### Subject of the issue
When I was doing a belief propagation on a bayesian model, it gives the following error.
I found this similar to issue #889 but I am not sure if the problem had been fixed, since in issue #889 the error happens in version 0.1.3.

### Your environment
pgmpy : 0.1.6
python : 3.5.5 from anaconda
os : Windows 10 home build 16299

### Steps to reproduce
[Download Model](http://

[2018-03-26 18:15] khalibartan commented on #993
@Mestrace @ankurankan  I'm getting a different error altogether on latest dev.
[code]
This error is caused in python3.x because networkx.Graph.neighbors returns an iterator and not a list. In python2 it is working correctly as expected.

@Mestrace Could you check that you are using the latest dev? Also it woudl be great if you can send a PR to fix this issue. Its just a simple fix, you have to con

[2018-03-28 08:29] mellesies opened #994 "[For newer version of pandas] BaseEstimator.state_counts() erroneously reports zero for nodes with a single parent"
### Subject of the issue
When computing state counts for nodes with a single parent, the function `BaseEstimator.state_counts()` erroneously reports zero.

### Your environment
* pgmpy version: commit [f9be170]; also reproduced in 0.1.6
* Python version: Python 3.6.4
* Operating System: macOS High Sierra (10.13.3)

### Steps to reproduce
[code]

### Expected behaviour
[code]

### Actual behaviour

[2018-03-28 08:33] mellesies commented on #994
The following patch should fix the issue. I'll open a pull request in a second.
[code]

[2018-03-29 01:36] Mestrace commented on #993
@khalibartan I tried to reinstall the package from the github download and the problem persists.
From the stack trace that we have, it seems like we are having different issues. Mines happens in calculating the clique potential and yours happens in triangulating the graph, which seems to be just the python 2/3 issues.  I'll tried to look at the code, and see how I could deal with the problem. Than

[2018-03-29 01:43] Mestrace commented on #993
@khalibartan On the environment side, I actually used `networkx == 1.11` instead of the newest ver. 2.1. I found that using the 1.11 will resolve the problem of having the `dict_keyiterator` Typeerror there.

[2018-03-30 02:42] JustinTervala opened #999 "Errors running tests on fresh clone"
### Subject of the issue
I encounter a lot of errors running the tests on the dev branch on a fresh clone of the project Python 2.7
I get 92 errors and 34 failures and 8 skips.

### Your environment
* dev branch
* 2.7, but could be on other versions too
* Ubuntu 16.04

### Steps to reproduce
Clone the repo and run the tests

### Expected behaviour
I expect the tests to pass, so I know if a feature

[2018-03-30 05:19] VSSILPA opened #1000 "Issue in pgmpy/models/MarkovModel.py"
Issue in reference to pull request   #998 .

https://github.com/pgmpy/pgmpy/blob/f9be1709328551450ad6a782b0f49b49d8886a93/pgmpy/models/MarkovModel.py#L265-L296

In line 295, shouldn't it be factor instead of factor_node? Shouldn't the factor node be of type  <class 'pgmpy.factors.discrete.DiscreteFactor.DiscreteFactor'> ? Now on converting Markov Model to factor graph using the above function, fac

[2018-03-30 05:38] khalibartan commented on #999
@JustinTervala I'm not seeing any errors. Yes, we are skipping 8 tests, but I don't see any test failures or errors while running tests on python2.7. Can you please check your env dependencies.

[2018-03-30 06:11] khalibartan commented on #1000
@VSSILPA Yes you are correct. We should add factors instead of factor_nodes.

[2018-03-30 09:32] harishkashyap commented on #772
@ankurankan, @yashu-seth  I am taking a look at this Isn't the better way to have LinearGaussianCPD take in values of x instead of beta parameters? MLE learns beta parameters. If you are having beta parameters as arguments, then there is no need to estimate them. However, if x-values are fed, then you can use them as priors. I haven't seen use cases where beta params need to be re-estimated or use

[2018-03-30 14:10] JustinTervala commented on #981
If this issue is resolved, can we close it?

[2018-03-30 14:19] #981 closed, assigned to ankurankan

[2018-03-30 14:20] khalibartan commented on #981
Resolved in #992

[2018-03-31 12:17] ankurankan commented on #999
@JustinTervala Could you share the output of `pip freeze` ?

[2018-03-31 12:21] ankurankan commented on #1000
@VSSILPA @khalibartan If I remember correctly, the current implementation was done so that all the models could be consistently accessed from higher level APIs. If we switch the nodes with Factor objects, we will need to add checks everywhere to handle it because `FactorGraph` would be the only model having nodes as Factor objects. That's why we were using `phi_` as the suffix for representing fac

[2018-03-31 12:26] VSSILPA commented on #1000
But then , getting factor nodes using get_factor_nodes() in a factor graph will always raise Value error on checking the model.

[2018-03-31 12:27] VSSILPA commented on #1000
If factor cannot be node, modifying the code where factors are checked to be an instance of DicsreteFactor should be a solution right?

[2018-03-31 12:30] khalibartan commented on #1000
@ankurankan But if that's the case then current implementation is buggy. FactorGraph is expecting factor_nodes to be a factor everywhere, even in docstring this is evident.

[2018-04-01 17:34] shouldsee opened #1003 "[broken link] on pgmpy.org"
# Subject of the issue
There is a broken link on the [pgmpy.org](http://pgmpy.org/)

[Monte-Hall-Problem.ipynb](https://github.com/pgmpy/pgmpy/blob/dev/examples/Monte%20Hall%20Problem.ipynb)

Suggest change to
[Monty-Hall-Problem.ipynb](https://github.com/pgmpy/pgmpy/blob/dev/examples/Monty%20Hall%20Problem.ipynb)

[2018-04-02 12:32] mellesies commented on #994
My bad. Seems this issue is caused by using pandas >= 0.21. That also explains all the errors I saw when running the unittests.

Should have read the requirements a little better. Sorry ..

Would be nice to see pgmpy support the latest versions of pandas/numpy, though.

[2018-04-03 05:50] chaconne70 opened #1004 "ConstraintBasedEstimator, example code showed ValueError"
### Subject of the issue
ConstraintBasedEstimator - estimate(): example code showed ValueError

### Your environment
* pgmpy version: 0.1.6
  (pgmpy-dev.zip, from https://github.com/pgmpy/pgmpy/tree/dev)
* Python version: 3.6.4
* Operating System: Windows

### Steps to reproduce
I used the example code, shown in http://pgmpy.org/estimators.html,
estimate(significance_level=0.01)

import pandas as

[2018-04-03 11:33] chaconne70 opened #1005 "BayesianModel.fit() method gives conditional prob. = 0.5 if conditioned on single variable"
### Subject of the issue
After using .fit() method, **conditional probability conditioned on single variable, such as P(Z|X) is always 0.5**
**Conditioned on two variables, such as P(Z|X,Y) gives correct result.**

### Your environment
* pgmpy version 0.1.6
* Python version 3.6.4
* Operating System Windows

### Steps to reproduce
[example-1]
print ('\n Model-1: P(Z|X)')
from pgmpy.models import Ba

[2018-04-06 22:34] JustinTervala opened #1006 "PEP8 violation of module names"
### Subject of the issue
According to the "[Package and Module Names](https://www.python.org/dev/peps/pep-0008/#id40)" section of PEP8, "Modules should have short, all-lowercase names." This is standard across almost all Python style guides. Is there a reason this is violated in this codebase? Other than introducing aliased versions of the existing UpperCamelCase module names, I'm not sure how to

[2018-04-06 22:52] JustinTervala commented on #999
My pip freeze outputs
[code]
Edited after I installed requirements-dev.txt and got similar results

[2018-04-11 20:36] ankurankan commented on #1006
@JustinTervala There's no specific reason for it. We started the package like that and it just stuck and we never changed it after that. I don't think changing the module names would break anything because most of our `__init__.py` files directly import the classes, so I don't think the user really needs to explicitly specify the module name (other than some exceptions).

[2018-04-11 20:38] ankurankan commented on #994
@mehrtash Thanks for reporting the issue.

[2018-04-11 20:48] ankurankan commented on #1004
@chaconne70 Sorry for the late reply. Your code seems to be working for me. Could you please share the output of `pip freeze` in your environment?

[2018-04-11 20:57] ankurankan commented on #999
@JustinTervala The versions of requirements seem to be the same in my env. Could you share the errors that you were getting in the failing tests ?

[2018-04-11 21:00] ankurankan commented on #1005
@chaconne70 It seems to be working fine for me:
[code]
Could you share the output of `pip freeze` in your environment ?

[2018-04-11 21:13] ankurankan commented on #993
@Mestrace @khalibartan I am not getting any errors:
[code]
Could you please share the output of `pip freeze` ?

[2018-04-12 05:31] khalibartan commented on #993
@ankurankan I was using networkx==2.1that's why I was getting an error. It is working fine for me too.

[2018-04-13 18:34] danalvi opened #1009 "Using BaseEstimator class for learning parameters of DBN"
Hello!

Hope everyone in the pgmpy development team is doing great. It is a great tool which helped me a lot in my final year project.

pgmpy did not support structure learning Dynamic Bayesian Networks. However, it seems that if one wants to learn parameters, one can use BaseEstimator class and create an implementation of CPD estimation. I do not understand how that is possible and it would be gr

[2018-04-14 08:58] khalibartan commented on #1009
@DanishAmjadAlvi As of now pgmpy support structure learning and parameter learning for Discrete Bayesian Models (Bayesian Models with TabularCPD). You can look at the notebook at [here](https://github.com/pgmpy/pgmpy_notebook/blob/master/notebooks/9.%20Learning%20Bayesian%20Networks%20from%20Data.ipynb)

[2018-04-14 09:27] danalvi commented on #1009
I am very sorry, I entirely forgot mentioning that I am talking about Dynamic Bayesian Networks.

[2018-04-15 02:03] chaconne70 commented on #1005
Yes, the result should be like above... but, in my case, it shows different (0.5.)
Seems, something different in environment..
And, 'pip freeze' shows as follows:

click==6.7
Cython==0.27.3
decorator==4.2.1
et-xmlfile==1.0.1
Flask==0.12.2
graphviz==0.8.3.dev0
itsdangerous==0.24
jdcal==1.3
Jinja2==2.10
libpgm==1.3
MarkupSafe==1.0
networkx==1.11
numpy==1.14.1
openpyxl==2.5.1
pandas==0.22.0
pgmpy==0.

[2018-04-15 02:27] chaconne70 commented on #1004
related to some difference in environment, similar to #1004 issue? Anyway, I put the same pip freeze results here:
click==6.7
Cython==0.27.3
decorator==4.2.1
et-xmlfile==1.0.1
Flask==0.12.2
graphviz==0.8.3.dev0
itsdangerous==0.24
jdcal==1.3
Jinja2==2.10
libpgm==1.3
MarkupSafe==1.0
networkx==1.11
numpy==1.14.1
openpyxl==2.5.1
pandas==0.22.0
pgmpy==0.1.6
pyparsing==2.2.0
pyreadline==2.1
python-dateu

[2018-04-16 06:58] ankurankan commented on #1004
@chaconne70 It seems you are getting the error because of a higher version of pandas. If you downgrade it to 0.19.1, it should work.

[2018-04-16 07:01] ankurankan commented on #1005
@chaconne70 The error in this case is also because of the higher version of pandas. Downgrading it to `0.19.1` should fix this.

[2018-04-16 07:08] #993 closed, assigned to nobody

[2018-04-16 07:30] ankurankan commented on #1009
@DanishAmjadAlvi The `BaseEstimator` class basically gives you access to the variables of the network and some generic methods. You can have a look at it here: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/estimators/base.py#L9. And for writing a new estimator algorithm you will just need to extend the `BaseEstimator` class and you can write your methods using the variables and methods in BaseEsti

[2018-04-16 09:41] danalvi commented on #1009
Thank you so much @ankurankan. I will get back to you in case I have an issue writing the estimator.

[2018-04-16 11:41] chaconne70 commented on #1005
I changed pandas version to 0.19.2, and now it's working fine.
There's some problem with higher version of pandas. (but, I don't know from which version it has the problem.. anyway, pandas 0.19.2 works fine for conditional probability estimation.)
Thank you for your help!

[2018-04-16 11:41] #1005 closed, assigned to nobody

[2018-04-16 12:06] ankurankan opened #1010 "Support for pandas 0.2"
### Subject of the issue
pgmpy throws a lot of errors for pandas 0.2. Last stable version of pandas for pgmpy is 0.19.2
### Your environment
* pgmpy version: dev latest
* Python version: 2.7, 3.4, 3.5, 3.6
* Operating System: Linux, Windows, Mac

### Steps to reproduce
Run the tests.

### Expected behaviour
All the tests should pass

### Actual behaviour
Some failing tests:
[code]

[2018-04-16 12:08] chaconne70 commented on #1004
I tried, after changing pandas versions 0.19.2 and 0.19.1....
The 'ValueError' itself is resolved (no Error), and it estimates the correct structure for this simple case,
  sum = X + Y + Z.
But, if I simply add one more variable, sum2 = Y + Z, i.e. add
    data['sum2'] = data['Y'] + data['Z']
the estimated structured is completely different to what is expected.....

So, the initial issue raised (V

[2018-04-16 12:11] ankurankan opened #1011 "Support for networkx 2.1"
### Subject of the issue
Breaking changes in networkx from 1.11 to 2.1.

### Your environment
* pgmpy version: dev latest
* Python version: 2.7, 3.4, 3.5, 3.6
* Operating System: Linux, Mac, Windows

### Steps to reproduce
Run the tests

### Expected behaviour
All tests should pass

### Actual behaviour
93 errors and 33 fails

[2018-04-24 13:57] michalisfrangos opened #1012 "Learning parameters from data: Unexpected results of given example"
### Your environment
* pgmpy version : 0.1.6 (installed with conda)
* Python version: 3.5.5
* Operating System: windows

### Steps to reproduce
Run the last example given for learning the CPT from data [here](https://github.com/pgmpy/pgmpy/blob/dev/examples/Learning%20from%20data.ipynb)

This is the example for Learning with Bayesian Estimator using dirichlet prior for each variable.

### Expected

[2018-04-24 14:23] ankurankan commented on #1012
@michalisfrangos I think the values are correct. In the case of `L` the values are near to 0.5 as we have the prior at 0.5 and the data is randomly generated. In the case of `S` the change from the prior is not much (it does move slightly towards 0.5) because we are dealing with a variable having a parent because of which we have a smaller data for each state (remember that the prior is still with

[2018-04-24 14:49] michalisfrangos commented on #1012
Hi Ankan,

Thanks for the response. My concern is that these values remain exactly the same as the prior at numerical precision. This example is small enough , and I would have expected to see some changes (as shown in the results you've got on github).

Here is a screenshot to clarify...

![pgm](https://user-images.githubusercontent.com/17205240/39194711-3bdd1952-47d6-11e8-89a8-369e2d1aa28b.png)

[2018-04-27 10:32] michalisfrangos opened #1013 "Entering soft evidence in Bayesian networks (uncertain evidence)"
### Subject of the issue
How to entering soft (uncertain evidence) in discrete Bayesian networks?
###

Terminology definition:
Hard evidence: if we are 100% sure (this is observation True)
Soft evidence :  if we are 80% sure (this is 80% True and 20% False)

I am just wondering whether it is possible to enter uncertain evidence in discrete nodes in pgmpy. In Netica this is defined as likelihood ev

[2018-04-27 10:40] michalisfrangos commented on #1012
Hi Ankur,

I was just wondering, were you able to reproduce the results in the example above (with pgmpy 0.1.6, conda install) as given on your git ? Or do you get the same results as the ones I posted above?

Many thanks,
Michalis

[2018-05-09 09:07] Song-xx opened #1014 "[help!!!]a strange result from this package"
### Subject of the issue
a result is different from what I calculate by my hand (see below).

### Your environment
* pgmpy 0.1.6
* Python 3.6.3
* Ubuntu 17.04

### Steps to reproduce
[code]

### Expected behaviour
[code]
 because
[code]

### Actual behaviour
[('A', 'A', 0.5, 0.9)]

[2018-05-09 09:19] Song-xx commented on #1014
@linzhp  @sroecker @saketkc    thank you very much :)

[2018-05-09 09:28] Song-xx commented on #1014
@liquidmetal   @njwhite  thanks a lot

[2018-05-09 11:04] qillbel opened #1015 "[Error] Sum of probability of states"
### Subject of the issue
I tried to construct bayesian network, but the code keep saying the sum of probabilities  is not equal to 1
As far I know, all my probabilities values are equal to 1 already.

### Your environment
* pgmpy version = dev
* Python version = 3
* Operating System = Windows 8.1

Here is the code I wrote:
[code]

[2018-05-16 07:37] ankurankan commented on #1015
@qillbel Sorry for the late reply. I think you might have been using a wrong representation of the CPD. Each row of the CPD represents the state of the variable on which the CPD is defined and each column is a state of its parent. Therefore in the CPD, the sum of all the values on each column should be equal to 1. Hope this helps.

[2018-05-16 07:40] ankurankan commented on #1014
@fresh2tensorflow Has this been resolved ?

[2018-06-07 07:29] lqzmforer commented on #885
@tkanchin could you share your hacked code since no further release has been provided? the same issue to my case

[2018-06-11 16:07] jilongs commented on #856
@khalibartan @ankurankan Any updates on this?

I'm running into similar problem.
 Here is the code
[code]
And output
[code]
For the first inference, I'm expecting more like this:
[code]
I'm not sure if I'm mis-understanding something or using it wrong.

Thanks a lot.

[2018-06-11 16:30] tkanchin commented on #885
@lqzmforer  sorry for the late reply. The code below should work, look out for get_states() function

[code]

[2018-06-13 11:37] debadridtt opened #1016 "Plotting of the Graphical Model"
### Subject of the issue
How to plot the probabilistic graphical model

Is there anyway I can plot the pgm diagram in python?

[2018-06-13 14:11] cs224 commented on #856
I just started a new project: https://github.com/cs224/pybnl
This will be a python interface to the bnlearn R package.
At the moment I would say that this is the gold standard for bayesian networks.
I also would suggest to create unit tests that compare results from pgmpy to bnlearn results. This should increase the stability and correctness of both projects.

[2018-06-14 05:11] khalibartan commented on #1016
@debadridtt pgmpy uses networkx for graph structure, so you can use networkx for plotting the pgm graph.
[code]

[2018-06-21 20:11] pmplant opened #1017 "Error in GibbsSampling.sample()"
### Subject of the issue
GibbsSampling.sample() is non-functioning, provided example does not work.

### Your environment
* pgmpy version
Name: pgmpy
Version: 0.1.6

* Python version
Python 3.6.5

* Operating System
Linux
4.15.0-23-generic

### Steps to reproduce
Run the example code provided in the definition of GibbsSampling.sample()

[code]

### Expected behaviour
It should work

### Actual beh

[2018-07-17 19:25] EricMibu opened #1018 "Score-based Structure Learning: Error in Example"
### Subject of the issue

I tried to reproduce your exact Score-based Structure Learning "scoring functions" code here.

https://github.com/pgmpy/pgmpy_notebook/blob/master/notebooks/9.%20Learning%20Bayesian%20Networks%20from%20Data.ipynb

And this is the error that I got:
---------------------------------------------------------------------------
TypeError                                 Tracebac

[2018-07-21 12:00] alirezaomidi commented on #1011
Any plan to resolve this issue?

[2018-08-08 03:59] qillbel commented on #1015
thank you very much...

[2018-08-08 03:59] #1015 closed, assigned to nobody

[2018-08-08 04:17] qillbel opened #1020 "Belief Propagation over Factor Graph and its Factor Nodes from Markov Network"
### Subject of the issue
Dear Author(s),
I have 2 questions:
1. I searched in the book, but I failed to find how can I run Belief Propagation over a Factor Graph with pgmpy?
2. When we convert a Markov network into a Factor Graph (FG_Model = MarkovModel.to_factor_graph()), does it also carries the factors in Markov Network into factor nodes, in the Factor Graph?

Thank you very much.

### Your env

[2018-08-19 19:33] bridgettripp opened #1021 "Estimators for Parameter and Structure Learning: ConstraintBasedEstimator Error"
### Subject of the issue
I am following the Estimators for Parameter and Structure Learning example and encounter an error whenever a ConstraintBasedEstimator function is called.

### Your environment
* pgmpy 0.1.6
* Python 3.6
* Linux

### Steps to reproduce
I am following the Estimators for Parameter and Structure Learning example. http://pgmpy.org/estimators.html#hill-climb-search

The error st

[2018-08-19 19:48] ankurankan commented on #1021
@bridgettripp Downgrading networkx to 1.11 should fix the issue.

[2018-08-22 17:19] asdfgeoff opened #1022 "BIFReader function parsing model in unexpected way"
I am trying to follow the structure of the example notebook [Creating a Bayesian Network](https://github.com/pgmpy/pgmpy/blob/dev/examples/Creating%20a%20Bayesian%20Network.ipynb) using the [earthquake.bif](http://www.bnlearn.com/bnrepository/earthquake/earthquake.bif.gz) dataset. I am using the code below to load the model into a jupyter notebook.

[code]

It appears that `BIFReader` expects the

[2018-09-03 13:02] essie-chiang opened #1024 "ModuleNotFoundError: No module named 'pgmpy' in jupyter notebook"
### Subject of the issue
After I follow the instructions at page https://github.com/pgmpy/pgmpy/blob/dev/README.md
I open jupyter notebook, run code in example, get the error "ModuleNotFoundError: No module named 'pgmpy' "

### Your environment
* pgmpy version 0.1.6
* Python version 3.6 3.5 (I tried them both)
* Operating System macos High Sierra 10.13.6

### Steps to reproduce
Tell us how to repr

[2018-09-05 22:53] EricMibu opened #1025 "Getting pd_table indices"
### Subject of the issue
I have created a Bayesian model for my data, and I have added the cpds for each node to the model. Now, for each record, I would like to extract the likelihood of a variable’s value given the values of its parent nodes.

If I knew the indices (say i, j, and k) for my variable values in the CPD Table of that variable (say the cpd table has 3 indices, one for the variable it

[2018-09-11 14:26] ankurankan commented on #1025
Internally pgmpy implements `TabularCPD` as a subclass of `DiscreteFactor`. So, each `TabularCPD` class should have  `variables` (in case of `TabularCPD` variables = variable + evidence) and `values` attributes. The `values` is a multidimensional numpy array with each axis representing a variable in `variables`. And the variable axis is in the same order as in `variables`, so the first variable in

[2018-09-11 14:27] ankurankan commented on #1024
@sphinx-jiang Could you please give us more information on how did you install pgmpy?

[2018-09-11 14:32] ankurankan commented on #1022
@asdfgeoff pgmpy automatically assigns the first-mentioned state to be state 0 and then state 1. So, in this case pgmpy assigns 0 to True state and 1 to False state. If we consider that, I think the values of the CPD are correct.

[2018-09-12 02:09] essie-chiang commented on #1024
create --name pgm35 python=3.5
source activate pgm35
gift:pgmpy admin$ source activate pgm35
(pgm35) gift:pgmpy admin$ conda install -c ankurankan pgmpy
Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /Users/admin/anaconda3/envs/pgm35:

The following NEW packages will be INSTALLED:

    blas:            1.0-mkl              ht

[2018-09-12 16:47] EricMibu commented on #1025
Hey Ankur and team,
 
Thanks a lot for your response on this. Please allow me to clarify my question better.
 
Imagine my model has three dependent variables as follows: weight, height and bmi, and my graph at node bmi looks as follows: (weight -> bmi), (height -> bmi). That is, the bmi variable has two parents in the bayesian model: height and weight. That is, the distribution is P(bmi | weight,

[2018-09-14 04:52] cruyffturn opened #1027 "Documentation Small Typo"
Hello just wanted to correct a small typo,
In documentation ->Estimators for Parameter and Structure Learning->Contraint Based

In the title it is written as "Contraint Based", I think it should be "Constraint Based"
You can find the relevant section in the doc in the following link:

http://pgmpy.org/_modules/pgmpy/estimators/ConstraintBasedEstimator.html#ConstraintBasedEstimator

Thank you for t

[2018-09-14 15:08] harishkashyap commented on #772
@ankurankan this can be split up into parameter learning and structure learning cards. The parameter learning using MLE can be closed.

[2018-09-15 10:22] ankurankan commented on #1027
@cruyffturn Thanks for pointing it out. Would you like to open a pull request for that?

[2018-09-17 01:45] louMon commented on #936
which one is the library to XMLBIFWriter and XMLBIFReader?

[2018-09-26 18:25] marchezinixd opened #1028 "No sepset found between these two edges."
### Subject of the issue
I'm having a problem when running BeliefPropagation. I'm using a graph made by me, the CPD i got from the fit model using my base. But when i use BeliefPropagation i get the error:
ValueError: No sepset found between these two edges.
VariableElimination works fine, but my graph and data is to big, so it is taking too long to make inferences.

### Your environment
* pgmpy g

[2018-09-27 13:12] ankurankan commented on #1028
@marchezinixd Could you please also share your model structure?

[2018-09-27 17:06] marchezinixd commented on #1028
Well idk how to send you this, but i put the dict in the attached file:
[structure.txt](https://github.com/pgmpy/pgmpy/files/2425120/structure.txt)

[2018-09-27 21:30] marchezinixd commented on #825
Anyone can give me a status about this?
I really need to do approximate inference, but i didn't understood how to do it with gibbs sample, can anyone give an code example?
I'm dealing with 2 types of structures:
- 100 nodes and 300 edges
- 100 nodes and 900 edges
Latter i'll have to scale this:
- 6k nodes and ?? edges
so i need something pretty fast

[2018-10-01 16:32] marchezinixd commented on #848
Is there any word on this functionality? It would be incredibly useful for me.

[2018-10-02 19:26] zackxconti commented on #1013
I am also interested in this question regarding entering soft evidence. Are there any follow-ups?

Thank you
Zack

[2018-10-05 20:40] pdeoude opened #1030 "No documentation about contructing BayesianModel with ContinuousFactors"
### Subject of the issue
I would like to point out an issue in the documentation where Parameterizing with continuous variables is described. The documentation only shows how to specify ContinuousFactor, but there are no examples where the continuous factor are used in a BayesianModel (expect for LinearGaussianBayesianModel).  Moreover, the first section in this documentation suggests that you can

[2018-10-18 09:09] ankurankan opened #1031 "Add tests to cover #1019"

[2018-10-22 16:25] brunaw opened #1032 "Install using python 3.7"
### Subject of the issue
Is there a way I can install  `pgmpy` without having to downgrade python 3.7 to 3.5?
I really need to keep python 3.7 for some other specific reasons.

### Your environment
* pgmpy version: none yet
* Python version: 3.7
* Operating System: macOS

### Steps to reproduce
None yet

### Expected behaviour
Being able to install `pgmpy` using python 3.7

### Actual behaviour
I

[2018-10-22 16:34] brunaw commented on #1032
I changed the setup file.

[2018-10-22 16:34] #1032 closed, assigned to nobody

[2018-10-22 19:34] aditya1709 opened #1033 "Parameter learning in dynamic bayesian network"
I was wondering if there is a possibility to perform parameter learning in dynamic bayesian network ?
If not will I be able to unfold the DBN - treat each 2-TBN as a BN and use MLE iteratively to learn the parameters?

[2018-10-23 13:54] antocommi opened #1034 "to_junction_tree error"
### Problem using to_junction_tree on a BayesianModel

### Your environment
* pgmpy version 0.1.6
* Python version 3.7.0
* Operating System windows 10

### Steps to reproduce
Code:
`import pgmpy.readwrite.BIF
import matplotlib.pyplot as plt
import networkx as nx
from pgmpy.models import JunctionTree
from pgmpy.inference import BeliefPropagation

def main():
    reader = pgmpy.readwrite.BIF.BIFRead

[2018-10-23 14:00] sebhoerl opened #1035 "Probability estimation broken for pandas > 0.19.2"
The problem had already been reported here, but not solved unfortunately: #1005

With `pgmpy==0.1.6` the ML estimation of a BN works if `pandas==0.19.2` is installed, but not if the latest `pandas==0.23.4` is present.

Example code:
[code]

Output `pandas==0.19.2`:
![image](https://user-images.githubusercontent.com/647500/47365641-45620100-d6dc-11e8-903a-14a98531e2d8.png)

Output `pandas==0.23.4`:

[2018-10-23 21:37] antocommi commented on #1034
This example, taken from documentation is also incorrect. Probably there is a bug in class BayesianModel
`from pgmpy.models import BayesianModel
from pgmpy.factors.discrete import TabularCPD
from pgmpy.inference import BeliefPropagation

G = BayesianModel([('diff', 'grade'), ('intel', 'grade'),
                    ('intel', 'SAT'), ('grade', 'letter')])
diff_cpd = TabularCPD('diff', 2, [[0.2], [0.

[2018-10-25 08:29] nav9 commented on #1016
@khalibartan: Thanks for the code, but it does not seem to work anymore due to ishold being deprecated:

Do you know of a fix for Python 3.6?

[2018-10-25 08:46] khalibartan commented on #1016
@nav9 In that case you might need to look at the networkx documentation on how you can plot graph. Though documentation still show same way for networkx. I'm not aware of any other easy ways for doing this.

[2018-10-25 09:24] nav9 commented on #1016
Thanks. I just found the solution. It's due to a mismatch in the versions of networkx and matplotlib. It can also happen if there are multiple versions of matplotlib installed. If anyone else is facing the same issue, just uninstall all versions of matplotlib and networkx:
[code]
If you've installed networkx via other sources like mpip or conda, uninstall via those too.

Then install both of them:

[2018-10-25 13:05] nav9 opened #1036 "The pgmpy syntax and output needs to be documented more in detail"
When new users see code like this:
[code]
One of the first questions that come to their minds is what variable_card and evidence_card are. There is no documentation anywhere that explains the meaning of these. Why is the value of evidence card 2? Why is variable_card 2? Why is evidence for A written in a list ['A'] but B is written differently?
These are very obvious explanations that should have

[2018-10-25 14:21] khalibartan commented on #1036
We have thoroughly documented everything. You can have a look at pgmpy.org
for documentation. There you will see description what each fields in
function call means and their output. Same documentation is present in the
codebase.

On Thu, 25 Oct 2018, 18:35 nav9, <notifications@github.com> wrote:

[2018-10-26 05:10] khalibartan commented on #1036
We have thoroughly documented everything. You can have a look at pgmpy.org
for documentation. There you will see description what each fields in
function call means and their output. Same documentation is present in the
codebase.

If you want to see table representation of a cpd you can print the cpd. Simply do `print(cpd)` , it will give the table representation.  `evidence_card`  is cardinality

[2018-10-26 13:24] dddpt commented on #1034
Got the same error, trying to transform a BayesianModel into a junction tree. Only difference in setup is I'm using Mac OS 10.13.6.
The bug seems to come from the fact that when the BayesianModel is turned into a UndirectedGraph, a dict shows up in composite nodes' identifying tuples, making those unhashable.

[2018-10-26 15:04] nav9 commented on #1036
Thanks, but it was after seeing the documentation and many other online tutorials of pgmpy and the pdf's y'all have released, that I raised this issue.
For the example you just pointed to,
[code]
A user can eventually figure out what the 3 next to 'grade' is. But what is the `[2,3]` for? If anyone tries to figure out that `2` represents `'diff'` and `'intel'`, then is the `3` for matching it with

[2018-10-28 17:26] deplay opened #1037 "A suspicious error condition"
https://github.com/pgmpy/pgmpy/blob/6568e448a1f753364a89000f2c5394327c223267/pgmpy/models/BayesianModel.py#L283

Hi, guys.
I noticed that the line above may has a suspicious error condition:"if node:".
If I load or generate data which has no column labels,this library will employ integers as the names of nodes like [0,1,2,...].

if node==0 , the flow will go to the "else：" code block.But 0 is a va

[2018-11-05 09:52] #1036 closed, assigned to nobody

[2018-11-08 00:22] pievalentin opened #1038 "How to read a single result (phi) from query?"
### Subject of the issue
I would like to use pgmpy inside my pipeline of inference. Everything work fine, the inference work as expected.
instead of the complete table, now I would like to access a single data point (phi) from the query I make.
I did not find a way to pipe the output of queries to my other functions.

### Environment
* pgmpy version = 0.1.6
* Python version = 3.6
* Operating Syste

[2018-11-08 09:48] ankurankan opened #1039 "Implement a data class"
### Subject of the issue
Implement a base class for Data which should be the default input to all the methods asking for data in pgmpy. The main functionalities that this class should have are: fetching and loading popular datasets, discretizing continuous variables, independence testing, options for different independence tests. Later on, this can be integrated with the model classes to test the

[2018-11-09 20:06] ankurankan commented on #1038
@focom The `TabularCPD` has an attribute `values` where all the values of the CPD are stored. And the individual values can be accessed as:
[code]

[2018-11-09 20:08] pievalentin commented on #1038
Great! Maybe I should do a PR updating the example with it?

[2018-11-09 20:10] ankurankan commented on #1038
@focom Sure, that would be great. Thanks.

[2018-11-11 20:51] ghost commented on #1034
Worked around this by reverting to networkx 1.11.

[2018-11-15 09:57] ankurankan opened #1041 "Add conditional independence tests"
We currently only use the chi-squared test for testing independence conditions which only works for discrete values. We need to implement more independence tests to work in the case of continuous and hybrid datasets. We can start by implementing the tests used in the bnlearn package. A full list can be found here: http://www.bnlearn.com/documentation/man/bnlearn-package.html

[2018-11-15 10:57] ankurankan commented on #1037
@deplay Yes, you are right. Would you like to create a PR for fixing it?

[2018-11-15 11:28] deplay commented on #1037
Dear Ankur Ankan:
    It's a tiny error and the pull request process is a little complex. If you don't mind,just fix it in your next commits.
Deplay

[2018-11-15 18:55] ghost opened #1042 "BayesianEstimator pseudo_counts inconsistency using dirichlet prior"
pgmpy version: 0.1.6

[code]

Produces the error:
Unable to coerce to DataFrame, shape must be (2, 1): given (2, 4)

Apparently every combination of state has to be present in the data to estimate with bayesian estimator since this code works:
[code]

But gives a cpd table limited to A=1 and B=1, C from {0,1}.
However I would expect that the pseudo_count is used as prior to determine the probabili

[2018-11-20 05:00] jilongs commented on #1035
Same issue here, took me a morning debugging before I got here...

[2018-11-20 05:16] dynaryu opened #1043 "nosetests failed"
### Subject of the issue
nose tests failed at OS X

### Your environment
* pgmpy version 0.1.6
* Python version 3.5.5
* Operating System OS X

### Steps to reproduce
nosetests -v

### Actual behaviour

There were a bunch of numpy related error such as can not import name multiarray.

======================================================================
FAIL: test_add_edge_string (pgmpy.tests.test

[2018-11-22 02:57] liyucheng09 opened #1044 "Predict and predict_probability errors"
### Errors when I use predict and predict_probability

### My environment
* pgmpy 0.1.6
* Python 3.6
* Ubuntu 18.04

### predict function error

When fed the BayesianModel little evidence, the fellowing error happen:
[code]

my codes are as fellow:
[code]

my BayesianModel has nearly 230 nodes and nearly 300 edges.

When I fed Model more evidence, it goes well, no errors happen.

like:
[code]
This

[2018-11-28 19:20] UTUnex opened #1045 "pgmpy unhashable type: 'dict' when using BeliefPropagation"
### Subject of the issue
Describe your issue here.
When I try to use the  BeliefPropagation() to my Markov model, the error : unhashable type: 'dict' was produced.
### Your environment
* pgmpy version latest
* Python version latest
* Operating System windows 10

### Steps to reproduce
Tell us how to reproduce this issue. Please provide the complete code if possible.
#coding=utf-8
from pgmpy.models

[2018-11-28 20:07] ankurankan commented on #1045
@UTUnex Could you please double check if you are using networkx 1.11?

[2018-11-29 14:28] UTUnex commented on #1045
Hi, thank you so much that after downgrading to the 1.11 version, it does work now. I wonder whether you will update this great library to fit the newest networkx version in the future ? Anyway please keep updating if possible :)

[2018-11-29 14:28] #1045 closed, assigned to nobody

[2018-11-29 15:48] khalibartan commented on #1045
@UTUnex If you want to, then you can send in a PR for the change. I don't think it will too difficult change.

[2018-11-29 15:59] UTUnex commented on #1045
Hi, thank you very much for your reply but I 'm a newbie here and I feel sorry that I 'm not able to complete this update task. If possible, I hope that you can keep updating this. Anyway I will follow this great library and look forward for more updates :)

[2018-12-12 08:43] dddpt commented on #1034
Thanks for the workaround! It indeed allows BeliefPropagation to work.

Note however that it's only a workaround. In my case, 1.11 breaks usages of the networkx "nodes" attributes. Apparently BayesianModel.nodes is a bound method instead of an instance variable in networkx 1.11.

[2018-12-12 10:06] dddpt opened #1048 "BeliefPropagation yields wrong results on BayesianModel with undirected cycles"
### Environment
* pgmpy 0.1.6
* __networkx 1.11__ (needed for BeliefPropagation to work, see [issue 1034](https://github.com/pgmpy/pgmpy/issues/1034) )
* Python 3.7
* Mac OS 10.14.1

### The Bayesian network

I am using bayesian networks and pgmpy to do inference on someone's genes based on his relative's genes. Here is a drawing of the example network we'll study for this bug:
![2018-12-12 09 59

[2018-12-21 17:30] karnatapu opened #1049 "Hill climb search taking too long even after LRU cache"
### Subject of the issue
Hill climb search takes too long. My data set is 25k and 30 features. It took close to 4 hours even after it changed to LRU cache on Base, Bic files . Do we have any implementation of multithreading. Or do I have to set any method parameters?

data = pd.DataFrame(np.random.randint(0, 15, size=(25000, 30)))
hc = HillClimbSearch(data, scoring_method=BicScore(data))
best_mode

[2018-12-30 00:55] scottfleming commented on #1005
This is still a problem. It has to do with the change in the way that MultIndex behaves between older and newer pandas versions. I've illustrated that [here](https://github.com/scottfleming/pgmpy-examples/blob/master/pandas_versioning_issue_illustration.ipynb). Because the anaconda install of pgmpy automatically downloads pandas 0.23 with pgmpy this is going to be a persistent problem for new user

[2018-12-30 01:02] scottfleming commented on #1035
This is still an important problem. It has to do with a change in the way that the MultIndex function behaves between older and newer pandas versions. I've illustrated that [here](https://github.com/scottfleming/pgmpy-examples/blob/master/pandas_versioning_issue_illustration.ipynb). I would suggest that this be a high priority fix because (1) the issue affects core functionality of the package (fo

[2019-01-03 23:10] ankurankan commented on #1043
This is because of using a newer version of `networkx`. Please try downgrading it to 0.19.2 and it should work.

[2019-01-03 23:10] #1043 closed, assigned to nobody

[2019-01-04 04:08] marcotama commented on #1035
I tested a few versions of Pandas, and the earliest problem happens in 0.21.0.

[2019-01-04 05:27] marcotama commented on #1035
I believe the issue is caused by [this change](http://pandas.pydata.org/pandas-docs/stable/whatsnew.html#multiindex-constructor-with-a-single-level) introduced in Pandas 0.21.1:

I nailed down the problem to these lines in `BaseEstimator`: https://github.com/pgmpy/pgmpy/blob/fb90fb5db4884a7d4ce648c79247d928ffa94854/pgmpy/estimators/base.py#L115-L125

When state counts are calculated in line 117 th

[2019-01-04 15:13] ankurankan commented on #1035
https://github.com/pgmpy/pgmpy/pull/1050#issuecomment-451470998

[2019-01-10 10:50] #1035 closed, assigned to nobody

[2019-01-10 10:54] ankurankan commented on #1005
Fixed ref #1050

[2019-01-10 11:36] ankurankan commented on #1042
@hcl734 The error occurs because the data doesn't have all the possible states of variables. For variables `A` and `B` in the data the only state is `1` and pgmpy constructs the CPDs by counting the unique values in the data. But for missing states you can pass an extra parameter `state_name` to the estimator to consider missing states.

[code]

[2019-01-10 11:36] #1042 closed, assigned to nobody

[2019-01-10 11:38] ankurankan commented on #1044
@nine09 I am sorry, I am unable to reproduce the issue with the information you have provided. Can you share your complete code?

[2019-01-15 06:21] ankurankan commented on #1024
@sphinx-jiang This might be happening because you don't have jupyter installed in the environment. So, it falls back to the root jupyter. Please try installing jupyter in your pgm35 env.

[2019-01-15 06:21] #1024 closed, assigned to nobody

[2019-01-16 21:10] Yanjiayork commented on #1012
Hi , I have also met a similar problem today with the given example that I use MaximumLikelihoodEstimator to estimate the parameters of the Bayesian model (D, I, G, S, L). I randomly generated a (1000, 5) dataset. I always get the CPD for S and L are 0.5(see the pic below). Even I change to generate 100 or 10 or 10000 rows dataset, the CPDs for S and L never change.
<img width="681" alt="screen sh

[2019-01-16 21:26] ankurankan commented on #1012
@Yanjiayork The problem was because of using pandas > 0.2. This has been fixed in version 0.1.7 which you can install through pip or the dev branch.

[2019-01-16 21:26] #1012 closed, assigned to nobody

[2019-01-16 21:32] Yanjiayork commented on #1012
@ankurankan Hi Ankur, Thank you very much for the quick reply. I just tried to update the version by using $ git clone https://github.com/pgmpy/pgmpy
$ cd pgmpy/
$ pip install -r requirements.txt
$ python setup.py install
 but met the problem at the last step that _**Removing pgmpy 0.1.6 from easy-install.pth file
Adding pgmpy 0.1.7 to easy-install.pth file
error: [Errno 13] Permission denied: '/U

[2019-01-16 21:40] ankurankan commented on #1012
@Yanjiayork Seems like a permission issue with your system. So, either the user with which you are logged into the system doesn't have the permission to change the files or maybe you initially used sudo to install 0.1.6.

[2019-01-16 21:44] Yanjiayork commented on #1012
@ankurankan  I used **$** conda install -c ankurankan pgmpy **installed** it.  Is there a way that I can uninstall it and then install the latest version or there are some other options? Thanks.

[2019-01-16 21:52] ankurankan commented on #1012
@Yanjiayork I am not really sure how to fix it, posting on stackoverflow might help. The easiest way would be to create a new conda env and install there.

[2019-01-16 22:37] Yanjiayork commented on #1012
@ankurankan Hi ankurankan, thank you very much for the advice. I did just create a new conda environment and problem sorted. Thank you very much again.

[2019-01-16 23:12] Yanjiayork commented on #1042
sigh, since I installed the new pgmpy version: 0.1.7 today.
I met another problem that I tried and there's no problem in version 0.1.6.
When I try out the example
[code]
There is an error
[code]

somehow it seems can't use dirichlet prior any more.

[2019-01-17 00:42] ankurankan commented on #1042
@hcl734 As the error message says your `pseudo_counts` variable should be of shape (2, 1). Try passing `pseudo_counts={'coin': [[50], [50]]}`

[2019-01-17 13:27] Yanjiayork commented on #1042
@ankurankan  Hi Ankur, follow what you suggested, the problem  is sorted now. although I do notice that for the new version pgmpy version: 0.1.7, the way to pass pseudo_counts parameters is different from the old version. Anyway, I like the new version. Thank you very much for the help, appreciated. Yan

[2019-01-18 00:48] karnatapu opened #1051 "BN Inference takes huge memory and takes long"
### Inference takes enormous memory and takes a while

Hello, I do have a Bayesian model of 30 nodes and fitted with data using MLE. Each node cardinals ranges between 2-10 states, but most of them are 2 (60%). Am able to quickly get the the CPD for each node. However when a run the inference using Variable-Elimination by giving an evidence, it takes huge memory (in gigs ) and takes 3-10 minutes t

[2019-01-18 14:32] ankurankan commented on #1051
@karnatapu Internally we compute the joint distribution over all the variables that you pass in the query and at the end marginalize over the variables to give out the final result dict. We do that to save on computation (by using more memory) by not doing elimination on all the common variables from each of the variable passed in the query. In your case I would suggest you to do an explicit for l

[2019-01-18 14:32] #1051 closed, assigned to nobody

[2019-01-18 14:36] ankurankan opened #1052 "query methods should accept state names in evidence"
### Subject of the issue
query methods of inference algorithms only accept states as `int` in evidence. Instead, it should also accept state names.

### Your environment
* pgmpy version: 0.1.7
* Python version: All
* Operating System: All

[2019-01-18 14:39] #1021 closed, assigned to nobody

[2019-01-19 11:33] kbe206 commented on #1049
Why do I have problems when ruinning ‘best_model = hc.estimate()’，it shows that  'unsupported operand type(s) for +: 'OutEdgeView' and 'list''
Have you ever had a problem like this?? Thank you

[2019-01-19 16:37] shivani1401 opened #1053 "Bug in BIFReader function"
### Subject of the issue
There is a bug in the BIFReader function. I think while reading the CPD only the order  in which the states are specified is taken into account , not the actual values of the state.

e.g. variable Pollution {low high} **high - 1 low - 0**
variable Smoker {True False} **True - 0, False-1**

probability ( Cancer | Pollution, Smoker ) {
  (low, True) 0.03, 0.97;
  (high, True

[2019-01-20 04:09] ankurankan commented on #1053
@shivani1401 The int values to the states is given based on when it's encountered. So, if `low` comes before `high`, `low` get the value of 0 and `high` gets 1. With that, the reader seems to be working fine.

But ideally, we would like to keep the state names instead of assigning integers to them. I will create a new issue for that. Thanks for reporting this.

[2019-01-20 04:10] ankurankan opened #1054 "Read classes"
### Subject of the issue
Reader classes should keep the original state names instead of assigning integer values to the states.

### Your environment
* pgmpy version: 0.1.7
* Python version: all
* Operating System: all

### Steps to reproduce
Check #1053

[2019-01-20 04:45] shivani1401 commented on #1053
So the assignment to variable states is done based on when it is encountered. So, "variable Pollution {low high}" should assign **low - 0, high -1** and "variable Smoker {True False}" should assign **True - 0, False-1**. Now when, the following is encountered probability ( Cancer | Pollution, Smoker ) {
(low, True) 0.03, 0.97;
(high, True) 0.05, 0.95;
(low, False) 0.001, 0.999;
(high, False) 0.02,

[2019-01-20 04:48] shivani1401 commented on #1053
I think the order in which the following four lines are written shouldn't impact the reading once the int assignment to the variable states is done. Please let me know if there is something I am missing on.
(low, True) 0.03, 0.97;
(high, True) 0.05, 0.95;
(low, False) 0.001, 0.999;
(high, False) 0.02, 0.98

Thanks

[2019-01-23 01:03] nagaraja993 opened #1055 "ImportError: No module named 'pgmpy'"
ImportError Traceback (most recent call last)
in ()
1 # Defining the network structure
----> 2 from pgmpy.models import BayesianModel
3 valve_model = BayesianModel([('V0','V1'),
4 ('V1','V2'),
5 ('V2','V3')])

ImportError: No module named 'pgmpy'

I installed the pgmpy using the command conda install -c ankurankan pgmpy making sure I have all the requirements still I am getting the error

I also c

[2019-01-23 01:04] nagaraja993 commented on #1055
ImportError                               Traceback (most recent call last)
<ipython-input-1-88e4f1c33322> in <module>()
      1 # Defining the network structure
----> 2 from pgmpy.models import BayesianModel
      3 valve_model = BayesianModel([('V0','V1'),
      4                              ('V1','V2'),
      5                              ('V2','V3')])

ImportError: No module named 'pgmpy'

I

[2019-01-23 15:51] ankurankan commented on #1055
@nagaraja993 Could you double check if you are using jupyter in the same env as you installed pgmpy? Also, make sure that you need to install jupyter in the same env otherwise it will fallback to the default one (if you have one) in which case you won't be able to import. I can't really think of any other reason this might be happening.

[2019-01-24 02:31] #1055 closed, assigned to nobody

[2019-01-24 16:00] Erotemic commented on #1011
Does anyone have any idea how difficult this issue would be to address / how many places in pgmpy would need to be modified?

[2019-01-24 20:28] ankurankan commented on #1053
@shivani1401 Yeah, this seems to be a bug. I think the current code assumes the order of the values in the way the states are defined and doesn't really look at the states in each individual line. Thanks for pointing this out.

[2019-01-24 20:32] ankurankan commented on #1011
@Erotemic This isn't particularly hard but requires quite a bit of change. Most of the changes will be in the tests.

[2019-01-28 08:20] dddpt commented on #1048
Hello ankurankan, I've seen you've been adding labels to the issue. Just to know (no pressure, I understand it's basically volunteering ;-) ), is anyone working on the bug?

Thanks!

[2019-01-28 18:22] karnatapu commented on #1052
Just curious, is there any ETA on this issue. Hoping to be fixed soon.

[2019-01-28 20:04] Yanjiayork opened #1057 "Constraint based structure learning"
* pgmpy version. 0.1.7
* Python version. 3.5.2
* Operating System Mac

### Steps to reproduce

est = ConstraintBasedEstimator(train_data)
best_model4 = est.estimate(significance_level=0.05)
print(best_model4.edges())
est = ConstraintBasedEstimator(train_data)
best_model4 = est.estimate(significance_level=0.01)
print(best_model4.edges())

### Expected behaviour

when the significance_level is small

[2019-01-28 20:17] ankurankan commented on #1052
@karnatapu Not really. I don't have the bandwidth to work on this right now. But if someone else wants to give this a try, it shouldn't involve any major changes.

[2019-01-28 21:28] ankurankan commented on #1049
@karnatapu lru_cache improvement is merged to dev. Now it takes around 26s to run on my machine.

[2019-01-28 21:28] #1049 closed, assigned to nobody

[2019-01-28 21:30] ankurankan commented on #940
Ref #944

[2019-01-28 22:05] ankurankan commented on #1037
Not fixed in the c5ba23a

[2019-01-28 22:06] ankurankan commented on #1027
Fixed in c5ba23a8f7891c0f32df56b24fa2dc5fc0ddbc85

[2019-01-29 11:34] ankurankan commented on #1011
Fixed.

[2019-01-29 11:34] #1011 closed, assigned to nobody

[2019-01-29 11:35] ankurankan commented on #1048
@tartakower No, I don't think anyone is working on this at the moment.

[2019-01-29 11:38] #1037 closed, assigned to nobody

[2019-01-29 11:59] ankurankan commented on #1027
Fixed in 6568e44

[2019-01-29 11:59] #1027 closed, assigned to nobody

[2019-01-29 12:01] ankurankan commented on #1034
Fixed in #1056, 94ae440, d4761e5. Should work for latest networkx now.

[2019-01-29 12:01] #1034 closed, assigned to nobody

[2019-02-04 16:29] ankurankan opened #1058 "Make pgmpy.model.x objects immutable"
### Subject of the issue
Currently, most of the model classes have methods like add_nodes, add_edges, remove_nodes etc which basically allows the user to change a defined model. In my opinion, this functionality isn't used much and has a huge maintenance overhead. Because for any change in the base model representation, we need to make sure that these methods work correctly.

### Your environment

[2019-02-05 06:06] khalibartan commented on #755
@ankurankan I got this error on macOs machine. I tried but I'm not able to find any issues with the code. As per my understanding floating point calculations can vary on different platforms and complier settings and since may be we are aggregating results for 10000 samples, 1 ulp difference in floating point samples can effect the results. See [this](https://github.com/numpy/numpy/issues/9187) iss

[2019-02-05 12:53] #1053 closed, assigned to khalibartan

[2019-02-05 13:04] ankurankan commented on #1053
@shivani1401 This should be fixed now in the latest dev.

[2019-02-05 13:31] ankurankan commented on #755
@khalibartan I haven't looked into this code for a while, so correct me if I am wrong. In my opinion, our sampling values should be able to come very close to the simple gaussian distribution that we are trying to estimate. So, values like 3 (https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/tests/test_sampling/test_continuous_sampling.py#L136) and 0.4 (https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/te

[2019-02-05 13:41] ankurankan opened #1060 "Replace explicit gradient functions by autograd tools"
### Subject of the issue
We have some explicit gradient functions for gaussian distribution https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/sampling/base.py#L97. If we replace this with one of the auto grad tools (pytorch or tensorflow) it would allow us to extend our sampling algorithms to work on arbitrary distributions and also run on GPUs.

### Your environment
* pgmpy version: 0.1.7
* Python ve

[2019-02-06 11:07] khalibartan commented on #1060
@ankurankan Lemme try this with pytorch. I'm thinking we should have alternate computation backends like pymc.

[2019-02-06 11:26] ankurankan commented on #1060
@khalibartan Yeah, I would also suggest pytorch because the API is much cleaner. Also, I am already implementing Structural Equation Models using pytorch. Not sure about pymc because AFAIK it relies on theano which is no longer maintained.

[2019-02-08 06:56] sillydeedee commented on #1054
@khalibartan @ankurankan I want to work on this issue. Will send a PR in sometime.

[2019-02-13 16:15] daanknoope opened #1062 "Inconsistent naming of variables in Discrete TabularCPD"
### Subject of the issue
When a discrete CPD is learned (e.g. using MLE), the group to which a variable belongs is denoted using parenthesis behind the variable (for example `A(0)` for the case in which A=0), but when the `copy` function is used, this changes into underscores (i.e. `A_0`). This is inconsistent and makes it hard to work with the tables later on.

### Your environment
* pgmpy versio

[2019-02-13 17:11] khalibartan commented on #1062
@daanknoope The bug is pretty simple to fix. The `copy` method of `TabularCPD` is not using `state_names` while creating the CPD. If you want you can send a PR. Changes need to be done at [this  line](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/factors/discrete/DiscreteFactor.py#L682)

[2019-02-13 17:32] daanknoope commented on #1062
Thanks, will fix it!

[2019-02-14 10:28] yashu-seth commented on #1060
Hello everyone. Hope you are doing well. Where are we with this currently?

[2019-02-14 14:49] ankurankan commented on #1062
Fixed in #1063

[2019-02-14 14:49] #1062 closed, assigned to nobody

[2019-02-15 09:05] ankurankan opened #1064 "Refactor DirectedGraph class"
### Subject of the issue
`DirectedGraph` is currently the base class for all the DAG-based models. It should be renamed to `DAG` to be more explicit and all the DAG methods should be moved from `BayesianModel` to `DAG` as they are applicable to all DAG based models. The following changes need to be done (along with their tests):

- [x] Rename `DirectedGraph` to `DAG`
- [x] Add checks for cycles in

[2019-02-15 09:28] ankurankan opened #1065 "Inference in Causal Bayesian Networks"
### Subject of the issue
Add support for causal inference in Bayesian Networks. It should be a new class accepting all the models on which causal inference can be done (Bayesian Networks and SEM at the moment). A list of features that this class should have:
1. Back-door criterion
2. Front-door criterion
3. Finding Adjustment variables

References:
1. Basic intuitive intro to Causal Bayesian Netwo

[2019-02-15 10:39] ankurankan opened #1066 "Alternate algorithms for finding d-separation"
### Subject of the issue
The current implementation of finding d-connected nodes is based on [1] which is great when we want to find all the nodes which are d-connected to some given node. But is slow in the case when we want to just check if two nodes are d-connected or not. [2] and [3] propose faster algorithms (O(|E|) and O(|V|^2) respectively) for checking whether two nodes are d-connected. Im

[2019-02-15 11:27] shivani1401 opened #1067 "Error while reading BIF file"
### Subject of the issue
Error 'list assignment index out of range' obtained while trying to read the bif file.

### Your environment
* pgmpy version commit 9277002
* Python version 3.5
* Operating System Ubuntu16.04

### Steps to reproduce
[water.bif.zip](https://github.com/pgmpy/pgmpy/files/2869061/water.bif.zip)

The command:
reader = BIFReader('water.bif')

gives the following error:
   reader

[2019-02-15 11:31] ankurankan commented on #1060
@yashu-seth @khalibartan So, I was looking at our code for the sampling methods and seems like we are running HMC (and NUTS) on joint distributions instead of factorized distribution (according to Bayesian Networks). If we want to run these algorithms on full distributions, a better option would be to convert our models into pymc models and use their implementations.

Also, I can't find any specif

[2019-02-15 12:52] #1067 closed, assigned to nobody

[2019-02-15 12:53] ankurankan commented on #1067
@shivani1401 Thanks for reporting this. Should be fixed in latest dev.

[2019-02-16 04:54] shivani1401 opened #1068 "Error while variable elimination"
### Subject of the issue
Throws an error saying that the CPD values don't sum to 1 while they do in the input .bif file.

### Your environment
* pgmpy version commit b1ad5ec
* Python version 3.5
* Operating System ubuntu 16.04

### Steps to reproduce
reader = BIFReader('water.bif')
model = reader.get_model()
infer = VariableElimination(model)

[water.bif.gz](https://github.com/pgmpy/pgmpy/files/28

[2019-02-16 09:29] ankurankan commented on #1068
@shivani1401 pgmpy checks for each column of the CPD to sum to 1. I just checked and in this case not all of them sum to 1. For the CPD: `P(CBODD_12_15:4 | C_NI_12_00:4, CKNI_12_00:3, CBODD_12_00:4, CNOD_12_00:4, CBODN_12_00:4)`, here's the sum of values for each column:
[code]
And here are a couple of examples where the columns have only zeros:
[code]

[2019-02-22 10:12] mackeper commented on #1064
Hello, we are five people reading a course in software engineering and our current assignment is to solve a refactoring issue in an open-source project. We chose this one because it felt doable, it is nicely documented and we have prior knowledge about graphs.

We only have a few days to finish this so we might not be completely finished but we must announce that we are working on this issue as a

[2019-02-22 10:20] ankurankan commented on #1064
@mackeper Great. Let me know if you need any help with this.

[2019-02-22 13:09] gpihl commented on #1064
Hi @ankurankan I am also in the group who is going to be working on the issue. I'm just wondering two things:
- What should happen if the graph passed to the constructor has cycles?
- Would you perhaps be able to list the structure learning algorithms that are to be modified to use DAGs instead of BaysianModels?

Thanks!

[2019-02-22 13:18] mackeper commented on #1064
@ankurankan We have one question, what do you want  DAG.__init__ to do if a cycle is found?

[2019-02-22 15:33] ankurankan commented on #1064
@gpihl
* What should happen if the graph passed to the constructor has cycles?
This should just raise a `ValueError` and if possible the error message should also include the cycle.
* Would you perhaps be able to list the structure learning algorithms that are to be modified to use DAGs instead of BaysianModels?
1. `pgmpy.estimators.ConstraintBasedEstimator`
2. `pgmpy.estimators.ExhaustiveSearch`

[2019-02-22 15:40] gpihl commented on #1064
Perfect, thanks!

[2019-02-22 16:29] mackeper commented on #1064
@ankurankan When we rename `DirectedGraph` to `DAG` we no longer have a data structure to represent a PDAG, how would you like to handle this?

[2019-02-22 16:48] ankurankan commented on #1064
@mackeper As far as I remember the representation part of pdag is done in `ConstraintBasedEstimator` and shouldn't require any changes elsewhere. Could you point me to exactly where you are running into issues?

[2019-02-22 18:04] mackeper commented on #1064
@ankurankan The problem is with the function `pdag_to_dag(pdag)` which takes a DirectedGraph as input and now if we rename DirectedGraph to DAG here it does not make sense.

The issue can be solved by letting the function instead take a networkx.DiGraph as input and change the following test: [test_ConstraintBasedEstimator](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/tests/test_estimators/test_C

[2019-02-23 13:42] ankurankan commented on #1064
@mackeper I think the best solution would be to create a new class to represent PDAGs. Since PDAGs are a different data structure and have both directed and undirected edges. We have been representing PDAGs using directed graph by having edges in both directions to represent an undirected edge. This would also mean that the `ConstraintBasedEstimator.skeleton_to_pdag` method should return a PDAG in

[2019-02-24 13:48] adityalahiri opened #1069 "Shouldn't map_query return state of Maximum Probability?"
### Subject of the issue
In the example notebook, [here](https://github.com/pgmpy/pgmpy_notebook/blob/master/notebooks/2.%20Bayesian%20Networks.ipynb)
infer.map_query('G') returns 2. However, the probability of G_0 Is higher than G_2 when infer.query(['G']) ['G'] is printed. Isn't map_query supposed to return the most probable state of the Random Variable passed?
### Your environment
* pgmpy versi

[2019-02-25 09:18] ankurankan commented on #1069
@arrayslayer This works fine on my machine. Could you please try upgrading to the latest pgmpy version?

[2019-02-25 10:56] adityalahiri commented on #1069
Yes works. I installed pgmpy first from conda. Could you please update the version there too if possible?

Thanks!

[2019-02-25 10:56] #1069 closed, assigned to nobody

[2019-02-25 11:01] ankurankan commented on #1069
@arrayslayer Yes, I will do it as soon as possible.

[2019-02-26 10:51] khalibartan commented on #1060
@ankurankan When I was working on HMC and NUTS I couldn't find any papers of where these were being used in case of Bayesian Networks. But yeah, mathematically we should be able to gain performace improvement if we use bayesian networks to compute the log and gradient instead of using the full distribution. I believe performance gain would be noticeable difference. I'm not sure how we can use fact

[2019-02-26 13:55] #1068 closed, assigned to nobody

[2019-02-27 15:38] daanknoope opened #1071 "Wrong index for evidence in inference"
### Subject of the issue
When using evidence for a map_query in Variable Elimination, PGMPY interprets the evidence to be an array index instead of an observed variable. This causes out of bound errors as well as possible incorrect results (due to the selection of wrong evidence).

### Your environment
* pgmpy version 0.1.7
* Python version 3.7.1
* Operating System Ubuntu 18.04.2

### Steps to rep

[2019-02-28 15:24] daanknoope commented on #1071
I suspect that it is due to the following assumption in state_name.py (ln 147:152):
[code]

_This basically assumes that categories are always a string_, and that if they are not, they can be used as indices because they have already been transformed. Converting everything to strings does indeed fix the issue, but that is not a good fix, since PGMPY is otherwise fine with using ints for values eve

[2019-03-02 08:14] ankurankan commented on #1060
@khalibartan I am not so sure that we will have much performance improvements in the general case because we will be evaluating the same distribution just as a product of smaller distributions. We will definitely save some memory though because we will require fewer parameters to represent the same distributions and therefore fewer gradient values also. But I don't think it's a significant gain.

[2019-03-02 08:51] ankurankan commented on #1071
Related #1052

[2019-03-03 21:24] Bruschkov opened #1072 "[Question] Fitting a Hybrid Bayesian Network"
Hi,
I'm currently trying to build a hybrid Bayesian Network with continuous and discrete variables and learn the parameters from data.

The model structure is looking like this:
![mixture_model](https://user-images.githubusercontent.com/7838001/53701800-e8502780-3e00-11e9-8001-0029dd138955.png)

Where C_1 is a non-normal continuous distribution (i.e. a gamma distribution).
(C_2 | C_1) is a conditi

[2019-03-04 21:03] ankurankan commented on #1072
@Bruschkov Sorry, but continuous models aren't supported yet.

[2019-03-06 15:47] Tianyangg opened #1073 "Wrong cpt printing when Bayesian network read from bif files"
### Subject of the issue
The output table of bn.get_cpts('<node>') gives values in wrong order.

### Your environment
* pgmpy version 0.1.6?
* Python version 3.7
* Operating System macOS

### An example of the output
Read in file survey.bif from http://www.bnlearn.com/bnrepository/survey/survey.bif.gz
print(survey_model.get_cpds('E'))

this is the probability table
probability ( E | A, S ) {
  (yo

[2019-03-07 18:18] rkjulian opened #1074 "Future Warning: Using a non-tuple sequence for multidimensional indexing is deprecated;"
### Subject of the issue
Running examples throws a "Future Warning" in DiscreteFactor.py line 586

### Your environment
* pypgm 0.1.7
* python 3.7
* OS X

### The following example generates the warning in the program output:

[code]

FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interp

[2019-03-08 15:04] ankurankan commented on #1073
@txs799 I am actually getting correct values on my machine:

[code]
Could you please check that you have the latest `dev` branch installed?

[2019-03-08 15:09] ankurankan commented on #1074
@rkjulian Thanks for pointing it out. If you would like, you can open a pull request for the changes. Also, we have the same warning at a few other places (ref: https://travis-ci.org/ankurankan/pgmpy/jobs/500727849).

[2019-03-08 16:08] rkjulian commented on #1074
@ankurankan Thanks. I will get up to speed on the tests and then open a pull request.

[2019-03-12 09:01] sunny-lazydazz opened #1077 "conda installation issues"
### Subject of the issue
Describe your issue here.

### Your environment
pgmpy version (during channel install) 0.1.6
Python version 3.7
Operating System Ubuntu 18.04.2LTS

### Steps to reproduce

conda install -c defaults -c ankurankan pgmpy
or
conda install --channel https://conda.anaconda.org/ankurankan pgmpy

### Expected behaviour
Should install pgmpy and dependencies

### Actual behaviour
It

[2019-03-13 04:25] sunny-lazydazz commented on #1077
I created a virtual environment with python 3.5
First installed conda install --channel https://conda.anaconda.org/ankurankan pgmpy

It seemed to work, but woud have preferred to work in python 3.7

[2019-03-13 08:34] NoamGit opened #1078 "What are the scale limits of `pgmpy`?"
Hi,

I am about to have a relatively big dataset (100K rows) with about 200 features and lots of edges. I was considering pgmpy as the bayesnet constructor and engine.
Can it handle this about of data and features? What are its empirical limits? Are there any recommended substitutes for this task?

Thanks

[2019-03-13 08:43] khalibartan commented on #1078
Since pgmpy uses multi-dimensional numpy arrays for representing CPDs, if a CPD has more than 32 variables (31 parents) then you won't be able to use pgmpy.

[2019-03-13 09:01] ankurankan commented on #1078
@NoamGit It's really hard to come up with exact numbers for the limits. In general, the problems happen when there are a lot of parent nodes of some variable or if some variables have a lot of states (because of the exponential size of CPDs). In general, there are some methods to deal with these situations like parent divorcing or binning variable states.

Also as @khalibartan mentioned pgmpy does

[2019-03-13 09:13] ankurankan commented on #1077
@sunny-lazydazz Sorry about that, the package on conda hasn't been updated to 3.7. Please try installing using pip or the latest dev branch using:
[code]

[2019-03-13 09:13] #1077 closed, assigned to nobody

[2019-03-13 09:30] NoamGit commented on #1078
Thanks!
I know It would be tremendously harder, but do you think that using `pyMC3`, `pyro` (Uber) or `tensorflow-probalistic` (Edward) would enable to work this up?

Also, do you imply that we should consider building a network with a maximum of 31 parents per feature/node?

[2019-03-13 09:38] ankurankan commented on #1078
@NoamGit I assumed in my last comment that you are working with discrete variables. If you are working with continuous distributions, things will be much easier. You should be able to use pymc or tensorflow-probability (I don't have any idea about pyro), but since in both these cases you will have to work with joint distributions, you won't have other functionality of Bayesian Networks.

The numbe

[2019-03-13 11:17] #1073 closed, assigned to nobody

[2019-03-13 11:22] NoamGit commented on #1078
Thanks again,
Do you have an example of a mixed network, both with continuous and discrete?
Let's say that in a medical diagnosis model I have both the sex:`bool`, age_binned:`Discrete`, heart_rate:`Continous` and medication:`Discrete`, and I want to model some condition.

- Would it be wise to preprocess the data, s.t. it will have low cardinality per feature?
- Should I model the continuous vari

[2019-03-18 07:21] Fangwq opened #1079 "ImportError: cannot import name GibbsSampling"
I use the code Examples for GibbsSampling. But get the import error-- ImportError: cannot import name. What's the problem here? thank you!

my environment:
* pgmpy version: 0.1.6
* Python version: 2.7.10
* Operating System: macOS Sierra

The code is as follows:

from pgmpy.factors.discrete import TabularCPD
from pgmpy.models import BayesianModel
intel_cpd = TabularCPD('intel', 2, [[0.7], [0.3]])
s

[2019-03-18 07:47] Fangwq commented on #1079
I figure out the problem. Sorry to bother

[2019-03-18 07:48] khalibartan commented on #1079
Can you also send a PR? This [line](https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/sampling/Sampling.py#L262) in docs needs to be fixed.

[2019-03-18 12:34] Fangwq commented on #1079
just revise the first line of the code to be:
`from pgmpy.sampling import GibbsSampling`

[2019-03-18 15:48] #1079 closed, assigned to nobody

[2019-03-18 20:24] sunny-lazydazz commented on #1077
Thanks, it worked . Keep up the good work.

On Wed, Mar 13, 2019 at 5:13 AM Ankur Ankan <notifications@github.com>
wrote:

--
Anirban Das
3rd Year Grad Student
Department of Mathematics
Pennsylvania State University, UP
Office no- 402, MCcalister Building

[2019-03-19 08:51] ankurankan commented on #1078
@NoamGit Sorry for the late reply. pgmpy doesn't have support for continuous variables. And hybrid models (continuous + discrete variables) is one of the most difficult cases to deal with and in my experience even `bnlearn` has very limited support for it. So, a general workflow is usually to convert all the variables to either continuous (continuous is preferred because of nicer statistical prope

[2019-03-19 10:43] ankurankan commented on #1074
Fixed in #1076

[2019-03-19 10:43] #1074 closed, assigned to nobody

[2019-03-19 14:24] Fangwq opened #1080 "How to do inference with gbbis sampling?"
According to the example in **class GibbsSampling(MarkovChain)**, I write the code in the following. And the generated samples are changing every times. I am a little confused. It seems that it can't set the fixed evidence in gbbis sampling method. If it is true, then how to do inference with gbbis sampling? Can you show me some reference code?

Also, I do not understand the input variable **evide

[2019-03-20 08:27] ankurankan opened #1081 "Add argument to specify evidence to GibbsSampling"
### Subject of the issue
There is no way to specify evidence in `GibbsSampling` right now. The sample or init method should accept an argument for evidence.

To deal with the evidence, a network modification would be required before sampling. The modification should call `reduce` on all the child nodes of the evidence and remove (or make it single state) the evidence variable from the network.

[2019-03-20 08:29] ankurankan commented on #1080
@Fangwq Yeah, there is no option to set an evidence in `GibbsSampling` (I have created an issue for it now). Although a simple way to do it right now would be to modify the model (call `reduce` on all child nodes of the evidence and remove the evidence node from the model) and then do sampling on it.

Have a look at documentation here: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/factors/discrete

[2019-03-20 14:32] Fangwq commented on #1080
Ok, I will try it. Thank you for your answer.

[2019-03-21 03:00] Fangwq commented on #1080
I have question about parameter learning method. It seems that it can't set all the value a node variable can have, then the CPT of the node will be incomplete and it doesn't contain all the possible value of each node(**all possibilities**). So when I do inference(**likelihood_weighted_sample**) after learning parameter with the new data, if the node evidence  has new state value(for example: Sta

[2019-03-21 06:40] Fangwq opened #1082 "inference problem for new data"
I have question about parameter learning method. It seems that it can't set all the value a node variable can have, then the CPT of the node will be incomplete and it doesn't contain all the possible value of each node(**all possibilities**). So when I do inference(**likelihood_weighted_sample**) after learning parameter with the new data, if the node evidence  has new state value(for example: Sta

[2019-03-22 05:32] sunny-lazydazz commented on #1000
The problem lies in the following:
1. Here is a method in the MarkovModel class:

def to_factor_graph(self):

        from pgmpy.models import FactorGraph
        factor_graph = FactorGraph()

        if not self.factors:
            raise ValueError('Factors not associated with the random variables.')

        factor_graph.add_nodes_from(self.nodes())
        for factor in self.factors:

[2019-03-23 11:54] #1078 closed, assigned to nobody

[2019-03-23 12:05] NoamGit commented on #1078
Thanks!

Off topic newbie question -  (In case of moving to a continuous representation) **Given a dataset and a graph structure, how should I model the BN with probabilistic programming?** Are there any guidelines to decide the variable interactions for the joint probs when they are not CPT but CPD?

Are you familiar with an example to set the priors or the joint distribution? I didn't come acros

[2019-03-23 14:49] leidawt opened #1083 "Some thing wrong with ProbModelXMLWriter"
* pgmpy version 0.1.7
* Python version py3.5 jupyter notebook
* Operating System windows

Trying to save my BN model with:

from pgmpy.readwrite import ProbModelXMLReader,ProbModelXMLWriter,get_probmodel_data
model_data = get_probmodel_data(model)
writer = ProbModelXMLWriter(model_data=model_data)
writer.write_file('./titanic.pgmx')
#model = ProbModelXMLReader('./titanic.pgmx').get_model()

but th

[2019-03-26 08:29] ankurankan commented on #1083
@leidawt Thanks for reporting this. Could you please also share your model so that we can reproduce this error?

[2019-03-26 08:39] ankurankan commented on #1082
@Fangwq I am not sure if I exactly understand the issue but my best guess is that you are looking for `state_names` argument (https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/estimators/base.py#L26). You can specify all the possible states of the variable before learning in case some states don't appear in the data.

Could you please give a small example in case you weren't looking for the `state_nam

[2019-03-26 08:49] leidawt commented on #1083
@ankurankan
Thanks for your reply!
I built this BN model
*********
from pgmpy.models import BayesianModel
from pgmpy.estimators import BayesianEstimator

model = BayesianModel([('Age', 'Survived'), ('Sex', 'Survived'),('Fare','Pclass'),('Pclass','Survived'),('Cabin','Survived')])
**********
and filled the cpds useing the 'fit' function.This BN model works just fine, it could reach 77% accuracy in

[2019-03-26 08:52] ankurankan commented on #1078
@NoamGit Bayesian Networks represents a joint distribution which is the product of all the CPDs in the network. So, if you have the structure you can start by learning these CPDs (variable given it's parents). You will have to decide the learning method that you want to use (Maximum Likelihood, Bayesian Estimation etc). You wouldn't need any prior for Maximum Likelihood, but for Bayesian Estimatio

[2019-03-26 08:58] ankurankan commented on #1000
@sunny-lazydazz Thanks for pointing it out. Would you like to create a pull request with the fix? Else, I will try to fix it ASAP.

[2019-03-26 18:34] sunny-lazydazz commented on #1000
Fix it please..

On Tue, Mar 26, 2019 at 4:58 AM Ankur Ankan <notifications@github.com>
wrote:

--
Anirban Das
3rd Year Grad Student
Department of Mathematics
Pennsylvania State University, UP
Office no- 402, MCcalister Building

[2019-04-01 02:52] Fangwq commented on #1082
Yeah, that's what I mean. Thank you for your response!

[2019-04-01 05:46] Fangwq commented on #1082
It solves my problem. Thank you very much! @ankurankan

[2019-04-01 07:35] Fangwq opened #1084 "learn from continuous variable"
I have get some data from continuous variable. Can pgmpy learn structure and parameter from continuous variable just like discrete data? How to do it ? I don't find any reference. Thank you very much!

[2019-04-01 08:08] khalibartan commented on #1084
@Fangwq pgmpy currently doesn't support learning from continuous variables.

[2019-04-01 23:14] mrklees commented on #1065
Hi there, I haven't seen any movement on this feature [so I took a stab at the start of it](https://github.com/mrklees/pgmpy/tree/feature/causalmodel).  I've implemented the [CausalModel class](https://github.com/mrklees/pgmpy/blob/feature/causalmodel/pgmpy/models/CausalModel.py) as an extension of the BayesianModel class and have added some methods for identifying adjustment variables per the bac

[2019-04-02 07:30] Fangwq commented on #1084
OK, thank you very much!

[2019-04-03 07:44] ankurankan commented on #1065
@mrklees I just had a quick look at the implementation and it's a great start. I do have some suggestions for the implementation. In pgmpy, to keep things modular, we have tried to keep the model, inference, and learning separate and these parts communicate by passing model instances between each other. So, I would suggest to have the causal inference class accept a bayesian model at initializatio

[2019-04-03 08:07] ankurankan commented on #1083
@leidawt I am sorry I am still unable to reproduce it. Are you doing some kind of preprocessing on the dataset? I am also unable to access the notebook on the link. Would it be possible for you to share the full code (maybe on google colab, or github gist)?

[2019-04-03 08:45] leidawt commented on #1083
Sorry for the links. I re-uploaded the notebook and  data to google drive, here is the link:
https://drive.google.com/open?id=1sH96q9pVUXBRlJM4truAz21bIZO4FKMO

[2019-04-03 14:37] mrklees commented on #1065
I can do all of these things!  A PR will come soon :)

[2019-04-04 06:01] hatute opened #1086 "Get different results by the same code"
### Subject of the issue
Get the different junction tree by the same Bayesian model

### Your environment
* pgmpy version 0.1.7
* Python version 3.6
* Operating System macos

### Steps to reproduce
[code]

### Actual behaviour
Sometimes the reuslt is
[code]
other times:
[code]
or
[code]

I have no idea what leads to these random and false results.
The output also have a warning:

[2019-04-04 16:15] #1082 closed, assigned to nobody

[2019-04-06 00:32] namitjuneja commented on #945
Has this been implemented yet?

[2019-04-09 12:07] ankurankan commented on #1086
Related #1048

[2019-04-09 12:44] ankurankan commented on #945
Fixed in 94a59f4d631d27ebcb456a1f90b2d3017e33070b
@namitjuneja

[2019-04-09 12:44] #945 closed, assigned to ankurankan

[2019-04-13 08:55] ankurankan opened #1089 "Separate direct effect and total effect Instrumental variable"
### Subject of the issue
__This code is current not in dev.__
The current methods for finding conditional/ancestral Instrumental Variables (IVs) `SEMGraph.get_conditional_ivs` compute IVs for the parameter between the variables passed. Therefore the IV is valid only when the direct effect is being computed and would fail sometimes when total effect is needed. It will specifically fail in the case

[2019-04-14 07:46] ankurankan opened #1090 "Move fit methods to individual parameterization"
### Subject of the issue
Right now the estimator methods learn all the parametrization (CPD, DiscreteFactor) for a model. This estimation should be moved to individual parameterization and the estimator methods should call the fit method for each parameterization with data. This will help in making the code more modular and will allow users to add arbitrary functions as parameters (eg. deep neural

[2019-04-15 19:36] djinnome opened #1091 "Minor documentation error on ContinuousFactor.divide"
### Subject of the issue
The `divide` documentation claims contradictory information about the return type and the operation on the other factor.

`divide(other, inplace=True)`
Gives the ContinuousFactor divide with the other factor.
**Parameters: | other: ContinuousFactor**
       The ContinuousFactor to be ~~multiplied~~ (should be divided).
**Returns:** . ContinuousFactor or None:

[2019-04-16 09:34] ankurankan commented on #1091
@djinnome Thanks for pointing this out.

[2019-04-16 10:08] #1091 closed, assigned to nobody

[2019-04-17 05:33] shivani1401 opened #1093 "Error in reading .bif file"
### Subject of the issue
Error in reading .bif file
[alarm.bif.zip](https://github.com/pgmpy/pgmpy/files/3088052/alarm.bif.zip)

### Your environment
* pgmpy version pgmpy-0.1.7-py3.5.egg
* Python version python3.5
* Operating System ubuntu 16.04

### Steps to reproduce
reader = BIFReader('alarm.bif')
model = reader.get_model()
infer = VariableElimination(model)

### Expected behaviour
The model l

[2019-04-19 17:35] #1093 closed, assigned to nobody

[2019-04-19 17:35] ankurankan commented on #1093
@shivani1401 Thanks a lot for reporting this. This should be fixed in dev now. The problem was in the same code as with your last issue, I have now replaced it completely with simpler logic. So, I hope you wouldn't have any more problems with BIFReader.

[2019-04-30 23:13] zachguo commented on #955
@pjbqb I ran into the exact same problem, did you find a fix?

[2019-04-30 23:19] zachguo commented on #955
@pjbqb Nevermind, I converted text values to ints using `LabelEncoder` from `sklearn`.

[2019-05-01 03:05] zachguo commented on #955
It seemed to be working when I was using a small dataset, but it turned out to be a dead end(#1071 ) when I used real-world data.

[2019-05-04 08:58] ankurankan opened #1097 "Refactor state names"
### Subject of the issue
Currently the feature to support state names is implemented using decorators which adds a lot of limitations on where it can be used/called. Replace the implementation using a `StateNamesMixin` class which will be inherited by all the classes initializing any parameterization (`DiscreteFactor` and `TabularCPD` right now). The `StateNamesMixin` should handle storage of stat

[2019-05-07 13:22] ankurankan opened #1099 "Make state names more robust"
### Subject of the issue
The state names functionality is implemented using `pgmpy.utils.StateNameMixin` which handles the state names for `DiscreteFactor` and `TabularCPD`. But at the moment the variables are never deleted from `state_names` attribute. Ideally since some methods like `reduce` and `marginalize` remove variables from `DiscreteFactor` or `TabularCPD`, the `state_names` attribute sho

[2019-05-07 14:11] #1097 closed, assigned to ankurankan

[2019-05-07 14:11] #1071 closed, assigned to ankurankan

[2019-05-07 14:12] #1052 closed, assigned to ankurankan

[2019-05-07 14:12] #955 closed, assigned to nobody

[2019-05-07 17:21] zachguo commented on #511
For this part, shall we change it to
[code]

[2019-05-08 07:05] ankurankan commented on #511
@zachguo Not really, because its going to call the map query method individually for each data point. I was thinking of having some kind of way to directly work with the whole matrix of data (with matrix operations) instead of iterating over it. But I am not even sure if something like that would be possible because the computation depends on the data.

[2019-05-09 09:13] daanknoope opened #1101 "Name for pytorch in requirements.txt is wrong"
### Subject of the issue
In the requirements file, `pytorch` is mentioned, but pip throws an error that this should be `torch`.

### Your environment
* pgmpy version: 0.1.7 (72dbc78, DEV)
* Python version: 3.7.2
* Operating System: Ubuntu 18.04.2

### Steps to reproduce
1. Run `pip install -r requirements.txt`

### Expected behaviour
The required packages should be installed without error message.

[2019-05-09 09:18] daanknoope opened #1102 "Torch is not mentioned in requirements-dev.txt"
### Subject of the issue
Requirements-dev.txt misses a reference to torch, so unit testing wtih requirements-dev.txt installed alone does not work.

### Your environment
* pgmpy version: 0.1.7 (72dbc78, DEV)
* Python version: 3.7.2
* Operating System: Ubuntu 18.04.2

### Steps to reproduce
1. Run `pip install -r requirements-dev.txt`
2. Run `pytest`

### Expected behaviour
All tests should run and

[2019-05-09 09:40] #953 closed, assigned to nobody

[2019-05-09 10:36] ankurankan commented on #1102
@daanknoope Thanks for reporting this.

This is turning out to be a tricky one because conda package name for pytorch is `pytorch` but pip one is `torch`. Will either need to either have multiple versions of requirements or handle it in `setup.py`.

[2019-05-09 15:06] ankurankan opened #1104 "Optimize methods in causal inference"
### Subject of the issue
Some of the methods in causal inference right now iterate over all possible paths or all possible variable combinations for finding d-separation variables. This is computationally very expensive and not feasible in any large models. Replace this with nearest separator implemented in pgmpy.models.SEM.

[2019-05-09 20:40] ankurankan opened #1105 "Auto upload to anaconda and pypi on tag pushes"
### Subject of the issue
Automate the process of deploying to anaconda and pypi whenever any tags are pushed to the repo.

https://gist.github.com/zshaheen/fe76d1507839ed6fbfbccef6b9c13ed9

[2019-05-10 13:47] #965 closed, assigned to nobody

[2019-05-31 09:18] dekelio opened #1110 "Belief propagation for large networks. IndexError in product phi.values = phi.values[slice_]."
### Belief propagation error for large networks give IndexError in product phi.values = phi.values[slice_].
Hi, I'm using belief propagation with 2 evidence nodes and ~700 query nodes. My graph is acyclic and each node has single parent. When I reduce the size of the network to 20 nodes or less it works fine.

[This](https://github.com/pgmpy/pgmpy/issues/813) and [this](https://github.com/pgmpy/pg

[2019-05-31 22:52] marketneutral opened #1111 "New error in latest build: TypeError: 'DiscreteFactor' object is not subscriptable"
### Subject of the issue
I can no longer get a basic Bayesian Network to work. I recently updated to the latest dev build.

### Your environment
* pgmpy version: Latest dev (I did a git clone)
* Python 3.6.6 :: Anaconda, Inc.
* Linux Debian

### Steps to reproduce

[code]

[code]

[2019-06-01 10:14] MamtaVenugopal commented on #1111
I have the same issue. Is there any solution?

[2019-06-01 13:47] ankurankan commented on #1111
@marketneutral @MamtaVenugopal The behaviour of query methods has been changed. Now the query method returns a joint distribution on all the variables given in `variables`. To get the distribution of individual variables, you will need to call the method separately or marginalize the joint distribution. Something like:
[code]
or
[code]

[2019-06-01 14:30] MamtaVenugopal commented on #1111
query = fraud_infer.query(variables=['F'], evidence={'J': 0})
print(query['F'])
This is the query I ran and I am getting 'DiscreteFactor' object is not subscriptable'.

Additionally, how do I know what version of pgmpy has been installed in my system. Any suggestions would be helpful

[2019-06-01 18:47] ankurankan commented on #1111
@MamtaVenugopal Now it returns a single `DiscreteFactor` instance, so doing just `print(query)` would work. You can use `pgmpy.__version__` to check the version you are using.

[2019-06-02 10:53] ankurankan commented on #1110
@liorbracha I think this is happening because you have around 700 query variables and pgmpy internally computes the joint distribution over all the query variables and then returns the marginalized results over each variable. But since numpy has a limitation of 32 dimensional matrices, we cannot represent a CPD with more than 32 variables.

I think you can make it work by using `VariableEliminatio

[2019-06-02 17:44] marketneutral commented on #1111
I see... you changed the API for `query` in [this commit](https://github.com/pgmpy/pgmpy/commit/94a59f4d631d27ebcb456a1f90b2d3017e33070b). I think the best way to get back to the old API is simply to pass in `joint=False`. As in

[code]

and

[code]

With regard to the version, I also see some problems. `pgmpy.__version__` is not consistent with the `version` tag in `setup.py`. Currently, `pgmpy._

[2019-06-03 07:45] ankurankan commented on #1111
My bad, using the `joint` argument would be the simplest way. It totally slipped my mind.

Also, you are right about the version thing. I have fixed it now. Thanks for pointing it out.

[2019-06-03 09:27] MamtaVenugopal commented on #1111
First, I did git clone to install the package. It failed to install pytorch. Then, I installed pytorch. Then again I reinstalled pgympy and then it worked. Hope you can figure what went wrong.

[2019-06-03 16:29] marketneutral commented on #1111
Great. Thank you @ankurankan !

@MamtaVenugopal : There is a bug in the `requirements.txt` file. It lists `pytorch` as a dependency, but the package name for PyTorch from PyPI is `torch` (it's called `pytorch` on conda).

[2019-06-07 14:19] ankurankan opened #1117 "Implement Network Pruning for optimizing Inference"
### Subject of the issue
In some cases, some of the variables in the model do not effect the results of inference. The network can, therefore, be pruned before any inference is run on it. And since pruning would reduce the size of the network, it should make inference more efficient.

Example Implementation: https://github.com/ankurankan/pgmpy/blob/feature/optimize_ve/pgmpy/inference/ExactInferenc

[2019-06-08 08:46] #1111 closed, assigned to nobody

[2019-06-10 07:13] dekelio commented on #1110
Got it. Thanks for the quick reply!

[2019-06-10 09:24] #1110 closed, assigned to nobody

[2019-06-10 14:46] robbymeals opened #1118 "Handle missing data in BayesianModel predict methods"
### Subject of the issue
One of the advantages of the Bayesian network model is that it can handle missing data easily, but the predict methods in pgmpy fail entirely when a row in the input data frame contains `None` or `nan`. I have a couple simple changes that support missing data in these predict methods, I'll open a PR with this as the issue. I imagine there are better ways to do this, and I'

[2019-06-10 14:57] robbymeals opened #1120 "tqdm usage should be optional"
### Subject of the issue
I'm all for progress bars but having them enabled by default is pretty annoying. There should be a global on/off switch, at least. Preferably configurable verbosity levels. Output like this doesn't add much value, IMO...

[code]

Also thanks for all the work on this package. It's a wonderful tool!

[2019-06-11 04:39] yujianll commented on #906
I met the same MemoryError when fitting parameters of a large Bayesian Network. Is there any recommended solution?

[2019-06-12 10:09] davenza opened #1121 "ContinuousFactor normalize bug by typo"
### Subject of the issue

This line of `ContinuousFactor.normalize()` is wrong because of the typo.

https://github.com/pgmpy/pgmpy/blob/b2ea305e19779891f0d6543d1cbb3a1532a58c03/pgmpy/factors/continuous/ContinuousFactor.py#L303

Also, I don't know why it calls `phi.distribution.normalize()` with `inplace=False`. I think it would be better to call with `inplace=inplace`.

### Your environment
* pgm

[2019-06-13 10:16] apcode commented on #1036
User says documentation is not clear or even present. Developer tells him he's wrong and it is very well documented. Developer needs to listen to what users tell him. The documentation is meant to be of use to users, so when they don't find it or it is not clear to them, then it has failed.

I too find the documentation severely lacking.

Some examples in addition to those mentioned above:
Many de

[2019-06-13 11:53] ankurankan opened #1122 "Documentation of some methods need to be improved"
The documentation of some classes/methods is severely lacking. Here's a list of methods that needs more detailed documentation as has been pointed out by users:

- [x] `TabularCPD` doesn't clearly specify what the arguments are expected to be. Ref: #1036
- [x] `TabularCPD` methods need to describe in more detail what each of them does.
- [x] Make sure that `Return` section is available in each doc

[2019-06-13 11:55] ankurankan commented on #1036
@apcode Sorry about that. I have created a new issue (#1122) for listing all the shortcomings in the documentation. It would help us if you could add any other issues that you have been facing.

[2019-06-13 11:59] ankurankan commented on #1121
@davenza Yes, you are right. Would you like to open a Pull Request fixing this?

[2019-06-13 12:07] ankurankan commented on #906
@yujianll Would it be possible for you to share your code? The only possible reason I can think of is that one of the CPDs in your network is too big to fit in memory. Two of the common ways to deal with huge CPDs in Bayesian Networks is parent divorcing or binning of states.

[2019-06-13 12:12] ankurankan opened #1123 "Add a way to directly add state names to models"
Currently, state names are added to the parameterization object (TabularCPD or DiscreteFactor). This leads to repetition as the same state names would need to be added to all the CPDs/Factors for the model. This can be improved by specifying the state names with model definition instead. But we will still need to figure out a way to match the order of states in the parameterization and the model.

[2019-06-13 12:21] ankurankan commented on #1120
@robbymeals Thanks for the feedback. This is definitely not the intended behaviour (I would expect a single progress bar in this case).

Fixes:
- [x] Add argument for disabling progress bars.
- [x] For methods which call other methods with progress bars, disable generating multiple bars.

[2019-06-13 19:21] yujianll commented on #906
@ankurankan Thanks! The data file is large so it might not be convenient to share with you. But particularly, the model has a CPD for one node that has about 10^9 cells. And probably it is that table that runs out of memory.
For your advice, I get the idea of parent divorcing, but I have one question: assume I already know how should the new node be connected to the existing graph, then how should

[2019-06-14 15:01] karnatapu opened #1125 "HillClimbSearch - new install does not reflect changes"
Hello, When am doing the PIP install, its not reflecting the fixes to HIllClimbSaerch to boost performance using LRU-cache and also accepting "epsilon and max_iter" as part of estimate method.

here is the reference issue.
https://github.com/ankurankan/pgmpy/commit/e5558fca055ebd942cb75910bdbe3b3c31ab7689

https://github.com/pgmpy/pgmpy/pull/944

Surendra

[2019-06-14 15:10] karnatapu commented on #1049
Looks like LRU_cache improvements are not been merged into dev branch.

[2019-06-18 08:56] ankurankan commented on #1125
@karnatapu Yeah, LRU optimization hasn't been released yet and the pypi version is older. Try installing the `dev` branch to use it.

[2019-06-18 08:56] ankurankan commented on #1049
It's merged but hasn't been released yet. https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/estimators/base.py#L67

[2019-06-18 09:01] ankurankan commented on #906
@yujianll So, for the parent divorcing if you are adding an extra variable in the model, you will basically need to compute the values for that variable manually (based on it's parents in the graph) and add that to your dataset. Then you can learn the CPDs using the fit methods.

I can't think of any reason why BIFReader would throw errors (except MemoryError for CPDs that wouldn't fit in memory).

[2019-06-18 09:04] #1121 closed, assigned to nobody

[2019-06-18 09:45] khalibartan commented on #906
@ankurankan  @yujianll I think exception might be coming because the BIFReader loads the whole file in-memory.

[2019-06-18 15:10] yujianll commented on #906
@ankurankan Thank you so much! BIFReader didn't give me error traceback, but it took more than 10 hours and still couldn't load the .bif file, and I just terminated it.

[2019-06-18 15:15] yujianll commented on #906
@khalibartan Thanks! Yeah that might be the problem if BIFReader tries to read the whole file into memory at once (the .bif file is 25 GB). So is there any way to load such a big file?

[2019-06-19 08:21] ankurankan commented on #906
@khalibartan @yujianll If you are not getting a `MemoryError` while reading the file, it means that loading the file isn't really the problem. The problem would then be that the code is probably really slow if it's taking so much time. I will try to see if there's anything that we can optimize and update you.

[2019-06-19 09:50] hnoren commented on #889
I am encountering this error when I have a large number of evidence variables listed in the query.  I am using the most updated version of pgmpy.  Is this error related to the version of python being used or the version of any of pgmpy's dependencies?

`probability = bn_model_infer.query(['atHarmony_0', 'noop_atHarmony_0', 'moveHC_0', 'moveHD_0', 'atHarmony_1', 'noop_atHarmony_1', 'atColumbus_1',

[2019-06-19 14:36] yujianll commented on #906
Thanks!

[2019-06-19 18:27] karnatapu commented on #1125
kool, Thank you.
I did checked the dev branch code and the method Hillclimb.estimate does not have the additional parameter epsilon and max_iter.
Max iteration, will certainly useful to speed up the program. Thanks.

[2019-06-20 13:55] #1125 closed, assigned to nobody

[2019-06-20 13:56] ankurankan commented on #1125
@karnatapu I have added those two parameters to Hill Climb now. You can try it by installing the latest dev.

[2019-06-20 14:05] ankurankan commented on #906
@yujianll I have tried to optimize the Reader by parsing CPD values in parallel and have also added an argument to ignore any property data in the file.

But I don't think this is enough for your use case. I have tested it on the full munin network and it takes around 20s to generate the model on my system. Although the munin network is considered massive, it's filesize is only 1.2 MBs. So, I am n

[2019-06-20 14:12] ankurankan commented on #889
@hnoren I am not sure why this is happening. Could you share your code, so that I can reproduce this issue? Also, if you are using the latest pgmpy, it might be happening because of `networkx==1.11`. You can also try upgrading networkx and pgmpy to the latest dev.

[2019-06-20 14:21] karnatapu commented on #1125
Thank you. This helps.

[2019-06-21 08:04] marcotama opened #1130 "wrapt should be added to pgmpy requirements"
### Subject of the issue
The module `wrapt` is required (not having it yields an exception), and thus it should be added to requirements.txt and to `pgmpy` requirements.

### Your environment
* pgmpy version 0.1.7
* Python version 3.7
* Operating System MacOS 10.13 (High Sierra)

### Steps to reproduce
```from pgmpy.models import BayesianModel```
raises a `ModuleNotFoundError':
[code]

[2019-06-21 08:41] ankurankan commented on #1130
@marcotama Thanks for reporting this. This will be fixed in the next release as the codebase doesn't depend on wrapt anymore.

[2019-06-21 08:41] #1130 closed, assigned to nobody

[2019-06-27 05:11] Priyabrata017 opened #1134 "initialize state"
### Subject of the issue
Describe your issue here.

### Your environment
* pgmpy version
* Python version
* Operating System

### Steps to reproduce
Tell us how to reproduce this issue. Please provide the complete code if possible.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

[2019-06-27 05:11] #1134 closed, assigned to nobody

[2019-06-27 05:12] Priyabrata017 opened #1135 "dbnet.initialize_initial_state() is showing error while trying to do inference in Dynamic Bayesian Network"
### Subject of the issue
dbnet.initialize_initial_state() is showing error
error is-
  File "c:\python\python36\lib\site-packages\pgmpy\models\DynamicBayesianNetwork.py", line 510, in <genexpr>
    if all(x[1] == parents[0][1] for x in parents):

TypeError: 'dict_keyiterator' object is not subscriptable

### Your environment
* pgmpy version- latest
* Python version- 3.6
* Operating System- Windows

[2019-06-27 05:30] Priyabrata017 commented on #1135
def initialize_initial_state(self):
  for cpd in self.cpds:
            temp_var = (cpd.variable[0], 1 - cpd.variable[1])
            parents = self.get_parents(temp_var)
            if not any(x.variable == temp_var for x in self.cpds):
                if all(x[1] == parents[0][1] for x in parents):
                    if parents:
                        evidence_card = cpd.cardinality[:0:-1]

[2019-06-27 13:21] ankurankan commented on #1135
@Priyabrata017 Are you by any chance on networkx==1.x ?

[2019-06-27 18:03] Priyabrata017 commented on #1135
No, The error was because of the wrong values of cpds given in the examples.

        ...                                      [0.4,0.25,0.8,0.03],
        ...                                      [0.3,0.7,0.02,0.2]], [('I', 0),('D', 0)],[2,2])

Correct it.

[2019-06-27 18:03] #1135 closed, assigned to nobody

[2019-07-03 12:22] heldmoritz opened #1136 "example 'learning from data' not working under 0.1.7"
### Subject of the issue
following the example from **https://github.com/pgmpy/pgmpy/blob/dev/examples/Learning%20from%20data.ipynb**
I get an error message when I try to use the bayesian estimator [17].

### Your environment
* pgmpy 0.1.7
* Python 3.7
* Windows 10

### Steps to reproduce
The code in the example "Learning with Bayesian Estimator using dirichlet prior for each variable."

[code]

g

[2019-07-04 05:05] yujianll commented on #906
@ankurankan Oh great! Thanks! I haven't try the new reader. I successfully did parameter learning in pgmpy and stored the model through pickle. I'll try the reader.
BTW, I have another question for the Bayesian Model. Why do you use list to store cpds of the model rather than a dictionary? Is dict taking more memory or slower?

[2019-07-04 13:23] ankurankan commented on #906
@yujianll Hmm, I am not sure anymore why we went with using a list instead of dict and I can't think of any good reason for that now. I think a dict might be a better option since we access the CPDs by variable quite a bit. I will try to dig deeper and see if dict is a better option. Thanks for pointing this out.

[2019-07-04 13:24] ankurankan opened #1138 "Should the CPDs for BN be stored as a dict instead of list"
### Subject of the issue
Title

[2019-07-04 13:31] ankurankan commented on #1136
@heldmo Sorry, the notebook is a bit outdated. With the current version, you will need to provide the `pseudo_counts` such that it is exactly the same shape as the tabular CPD. Therefore, in this case, the shapes of pseudo counts should be: `D = (2, 1)`, `I = (2, 1)`, `G = (2, 4)`, `S=(2, 2)` and, `L=(2, 2)`. Each of these values should have the pseudo counts that you want to add to each specific

[2019-07-04 13:33] ankurankan opened #1139 "Update the "Learning form data" notebook"
### Subject of the issue
In the current version of pgmpy, the pseudo counts for BayesianEstimator are supposed to be the exact shape as the Tabular CPD but the examples in the notebook are from the older version.
Ref #1136 #1042

[2019-07-04 14:48] heldmoritz commented on #1139
pseudo_counts = {'D': [[300],[700]], 'I':[[500],[500]], 'G':[[800,200,300,500],[600,400,700,500]], 'L':[[500,300],[500,700]], 'S':[[400,700],[600,300]]}

This is a possible fix. You might want to adjust the exact numbers, I just made them up. Not sure if they make sense.

[2019-07-04 14:49] ankurankan commented on #1139
Yeah, these values look good. You can open a PR with these changes if you would like.

[2019-07-05 09:44] heldmoritz commented on #1139
I just noticed that the values for G should be switched, so you end up with the same number of prior counts for each cpd.
'G':[[800,600,300,500],[200,400,700,500]]

Apologies

[2019-07-05 09:49] #1136 closed, assigned to nobody

[2019-07-05 20:16] yujianll opened #1141 "state_name and state_no in reduce()"
### Subject of the issue
The value argument in reduce() function for TabularCPD and DiscreteFactor. It looks like right now the argument should be (var_name, var_state_name), but previously it's (var_name, var_state_no). However, in pre_compute_reduce() of Sampling.py, this for loop
[code]
seems to use (var_name, var_state_no) as argument.

### Your environment
* newest dev branch
* 3.6.8
* Ubuntu

[2019-07-06 13:28] ankurankan commented on #1139
@heldmo It shouldn't really be a problem as it will be interpreted as a ratio. But it would be nicer to have it sum to the same value. So, if you would like you can open another PR fixing it. Thanks.

[2019-07-06 13:35] ankurankan commented on #1141
@yujianll It should work with both state name and state numbers. Would it be possible for you to share your code so that I can reproduce this?

[2019-07-06 15:41] dongfeng951 opened #1142 "hidden variable"
Hi, how can I implement model with hidden variable such as LDA?
Thank you!

[2019-07-06 15:43] yujianll commented on #1141
@ankurankan  A simple reproducer:
[code]
reduce() function gives me key error.

[2019-07-09 15:50] mazensalous commented on #772
Hello @ankurankan,
this is a very interesting issue, it's exactly what I'm currently searching for (in addition: "Fitting a Hybrid Bayesian Network #1072"). I would like to ask whether those issues are now supported in pgmpy or not yet?

[2019-07-10 05:13] yujianll commented on #1141
@ankurankan Does the above code produce the error, or am I understanding the function wrong?

[2019-07-12 12:30] ankurankan commented on #772
@mazensalous Sorry, but both of these features are not supported yet.

[2019-07-12 12:31] ankurankan commented on #1142
@dongfeng951 Sorry, hidden variables aren't supported yet.

[2019-07-12 12:44] ankurankan commented on #1141
@yujianll Sorry for the late reply. I think there's some bug. I will try to figure it out why this is happening and will update you soon.

[2019-07-16 20:01] yujianll commented on #1141
@ankurankan Thanks! When you fix it, could you still keep the ability of reduce() to work on state_no? I think it's convenient to work with state_no because it's the index of the cps.values. And for many operations, it's more convenient to directly use index of arrays rather than converting from state_names.

[2019-07-23 17:57] thomast8 commented on #856
Is this solved in 0.1.7?

I noticed a problem when I saw that the MPE calculated by exporting with UAIWriter and then inputting to DAOOPT was different from the MPE calculated using map_query directly.

For example, this is the output of a test program I wrote:

_Number of lines before cleaning: 3217
Number of lines after cleaning: 2873
Building Bayesian Network ...
pgmpy {'mut17q21': 1, 'differen

[2019-07-25 03:12] yujianll commented on #1141
@ankurankan How's the fixing?
I encountered another problem. In VariableElimination of Bayesian Model, for variable `working_factors`, you use set to store the working factors. However, it's totally fine that two factors are the same (I met this case, which results in less elements in the set than expected). This could cause error to inference. Did you take this case into consideration?

[2019-07-28 04:48] ankurankan commented on #1141
@yujianll I haven't started working on this issue yet.
Regarding the other issue that you have pointed out, could you give me an example to reproduce? I am not sure how there can be two same intermediate factors.

[2019-08-02 15:36] Wesserg opened #1146 "Malfunctioning ipynb tutorials"
###  ipynb tutorials are not displaying correctly.
For some reason I can't view the ipynb tutorials related to Bayesian Nets:
Inference in Bayesian Networks.ipynb
Learning from data.ipynb
Monty Hall Problem.ipynb

Is it just me?

### My environment
No, env - just github page

### Steps to reproduce
Click on one of the above listed tutorials via the documentation link in pgmpy.org
### Expected beha

[2019-08-04 15:54] ankurankan commented on #1146
@Wesserg Are you using the links on the docs website? In that case it might just be a broken link. Otherwise just try the examples folder in the repo.

[2019-08-05 16:20] Wesserg commented on #1146
Hi @ankurankan. I tried both - both don't work.

[2019-08-06 01:05] ankurankan commented on #1146
@Wesserg Yeah, it's not working for me either. I am not sure why this has happened. Thanks for reporting this and in the meanwhile, you can try the notebooks at https://github.com/pgmpy/pgmpy_notebook, if that helps.

[2019-08-07 10:57] dynaryu opened #1147 "TypeError: Input graph is not a networkx graph type during test"
Two errors occurred during test as below:

======================================================================
ERROR: test_get_init_values (pgmpy.tests.test_estimators.test_SEMEstimator.TestSEMEstimator)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/home/hyeuk/miniconda3/envs/pgmpy/lib/python3.6/site-packages/networkx/convert.

[2019-08-14 09:43] lhzw commented on #763
Hi, I need this feature, then I can learn it online. Without this feature I have to calculate the count manually again and again, a little inconvenient. Any plan on this?

[2019-08-20 10:19] mazensalous commented on #724
Hello @ankurankan ,
is this now available in the latest version of pgmpy? Can we now fit a DBN from data? and then can we predict a variable in the DBN at a specific time-stamp?

[2019-08-28 22:39] yujianll commented on #1141
@ankurankan Here is an example.

[code]

`working_factos['C']` should have 3 elements, but it only has 2 elements after function `_get_working_factors()`.

[2019-08-29 20:07] yujianll commented on #1141
@ankurankan
I have another question. Why does every cpd and factor in BayesianModel have a copy of `name_to_no` and `no_to_name` (which contains state names for every node)? For large network, that takes a lot memory. Could it just hold one copy and reference it in other places?

[2019-08-30 03:34] FANGOD opened #1150 "Using predict function to compute same data is very slow"
### Subject of the issue
Using predict function to compute same data is very slow

### Your environment
* pgmpy version   pgmpy (0.1.6)
* Python version   3.7
* Operating System   ubuntu 16.04

### Steps to reproduce
[code]
Take a long time...
I don't think it should be so slow, should use a cache to speed it up.

[2019-09-05 11:02] ankurankan commented on #1150
@FANGOD Caching could be a good idea for speeding up in cases when predicting over datasets with repeated data points. But I am not sure if such cases happen enough that we should implement something like this.

[2019-09-05 11:12] ankurankan commented on #724
@mazensalous Sorry for the late reply. Unfortunately, we still don't have an implementation for this. Although for prediction you can look at: https://github.com/pgmpy/pgmpy/blob/dev/pgmpy/inference/dbn_inference.py#L9

[2019-09-05 11:19] ankurankan commented on #1147
@dynaryu I am not sure why this failing for you. I checked most of the dependencies and they are the same for me and it works on my machine.

[2019-09-05 16:43] pascal-schetelat commented on #1083
Hi,

I am stuck with the same issue :
- pgmpy version 'v0.1.8.dev36'
- Python version 3.6
- Operating System windows 7 64 bit

steps to reproduce (slightly adapted from notebook "2.Bayesian Network") :

[code]
Funy enought, using the definition of the asia model -(in the read write documentation notebook) does not lead to the same error.

I looked in get_probmodel_data and the issue is that nodes